//内页部分

/*公司简介====================================*/
.companySynopsis_banner{
  img{
    width: 100%;
    height: auto;
  }
}
.companySynopsis_ct{
  .container{
    .row{
      .companySynopsis_itmer{
        width: 100%;
        background:url(../images/page_bg_01.png) no-repeat center;
        h2{
          margin-top: 30px;
          text-align: center;
          line-height: 20px;
        }
        p{
          text-align: center;
          font-size: 20px;
          color: #707070;
        }
      }
    }
  }
}
.companySynopsis_content{
  margin-top: 40px;
  margin-bottom: 30px;
  .container{
    .row{
      height: 100%;
      .one_pic{
        width: 945px;
        height: 195px;
        img{
          min-width: 945px;
          max-width: 100%;
          min-height: 195px;
          max-height: 100%;
        }
      }

      .first_p{
        margin-top: 20px;
        text-indent: 2em;
        font-size: 18px;
        line-height: 30px;
        padding-left: 10px;
        color :#707070;
      }
      p{
        padding-left: 10px;
        font-size: 18px;
        line-height: 30px;
        color :#707070;
      }
    }
  }
}
//移动端
@media only screen and (min-width: 320px) and (max-width: 768px){
  //专栏
  p{
    font-size: 12px;
    color: #4F4F4F;
  }
  .column{
    margin-top: 15px;
    p{
      text-align: center;
      font-size: 20px;
      color: red;
      font-weight: 700;
    }
  }
  .column_ng{
    margin-bottom: 15px;
    p{
      text-align: center;
      font-size: 16px;
    }
  }
  .companySynopsis_content{

    margin-top: 0px;
    margin-bottom: 20px;
    .container{
      .row{
        .first_p{
          margin-top: 0px;
          text-indent: 2em;
          font-size: 12px;
          line-height: 20px;
          margin-bottom: 10px;
        }
        p{
          padding-left: 10px;
          font-size: 12px;
          line-height: 20px;
        }
      }
    }
  }

}




/*在线留言====================================*/
/*feedbac在线留言*/
.feedback_banner{
  img{
    width: 100%;
    height: auto;
  }
}
.feedback{
  .container{
    .row{
      .feedback_itmer{
        width: 100%;
        background:url(../images/page_bg_01.png) no-repeat center;
        h2{
          margin-top: 30px;
          text-align: center;
          line-height: 20px;
        }
        p{
          text-align: center;
          font-size: 20px;
          color: #707070;
        }
        p.last_p{
          margin-top: 5px;
          font-size: 14px;
        }
      }
    }
  }
}
.feedback{
  margin-top: 30px;
  .container{
    text-align: center;
    .row{
      .feedback_top{
        width: 566px;
        height: 65px;
        border: 1px solid #006DCA;
        margin: 37px auto;
        position: relative;
        .feedback_text{
          position: absolute;
          left: 30%;
          top: -61%;
          background-color: #fff;
          width: 240px;
          h3{
            font-size: 27px;
            font-weight: 700;
            color: #006DCA;
            display: inline-block;
          }
          p{
            font-size: 22px;
            color: #D3D3D3;
            display: inline-block;
          }

        }
      }
      .input-group-addon{
        padding: 6px 12px;
        font-size: 14px;
        font-weight: normal;
        line-height: 1;
        color: #555;
        text-align: center;
        background-color: #fff;
        border: none;
        border-radius: 4px;
      }
      .input-group{
        margin-bottom: 20px;
        #basic-addon6{
          padding-right: 26px;
        }
        .form-control{
          width: 34%;
        }
        .input_group_one{
          width: 98%;
        }
        .input_group_two{
          width: 70%;
        }

        .form-control.input-group-message{
          width: 100%;
        }
        a{
          width: 71px;
          height: 34px;
          display: inline-block;
          float: left;
          line-height: 34px;
          margin-left: 20px;
          button{
            background-color: #eee;
            color : blue;
            border: none;
            width: 100%;
            height: 80%;
            margin: 2% 0;
            line-height: 80%;
          }
        }
      }
      .btm_submit{
        background-color: #eee;
        height: 60px;
        margin-bottom: 20px;
        line-height: 60px;
        a{
          display: block;
          width: 171px;
          height: 40px;
          margin: 10px auto;

          button{
            display: block;
            margin: 0 auto;
            background-color: #0180D1;
            color : blue;
            border: none;
            width: 100%;
            height: 100%;
            color: #fff;
            font-size: 16px;
            line-height: 39px;
          }
        }
      }

    }
  }
}
@media only screen and (min-width: 320px) and (max-width: 768px){
  /*feedbac在线留言*/
  .feedback{
    .container{
      .row{
        //专栏
        p{
          font-size: 12px;
          color: #4F4F4F;
        }
        .column{
          margin-top: 15px;
          p{
            text-align: center;
            font-size: 20px;
            color: red;
            font-weight: 700;
          }
        }
        .column_ng{
          margin-bottom: 5px;
          p{
            text-align: center;
            font-size: 16px;
          }
        }
        .column_ng_mb{
          font-size: 12px;
        }
      }
    }
  }
  .feedback{
    margin-top: 20px;
    margin-bottom: 20px;
    .container{
      .row{
        .feedback_top{
          margin: 30px auto;
          margin-top: 35px;

          text-align: center;
          width: 100%;
          .feedback_text{
            left: 21%;
            top: -53%;
            width: 190px;
            height: 60px;
            h3{
              font-size: 24px;
            }
            p{
              font-size: 18px;
            }
          }
        }
        .input-group{
          margin-bottom: 20px;
          #basic-addon6{
            padding-right: 26px;
          }
          .form-control{
            width: 40%;
          }
          .input_group_one{
            width: 100%;
          }
          .input_group_two{
            width: 100%;
          }
          .input_group_three{
            width: 100%;
          }

          .form-control.input-group-message{
            width: 100%;
          }
        }
        .btm_submit{
          height: 40px;
          margin-bottom: 0px;
          line-height: 40px;
          a{
            float: none;
            width: 100px;
            height: 40px;
          }
        }
      }
    }
  }
}



/*企业动态====================================*/
.companyDyanmicc_banner{
  img{
    width: 100%;
    height: auto;
  }
}
.companyDyanmicc_top{
  .container{
    .row{
      .companyDyanmicc_itmer{
        width: 100%;
        background:url(../images/page_bg_01.png) no-repeat center;
        h2{
          margin-top: 30px;
          text-align: center;
          line-height: 20px;
        }
        p{
          text-align: center;
          font-size: 20px;
          color: #707070;
        }
        p.last_p{
          margin-top: 5px;
          font-size: 14px;
        }
      }
    }
  }
}
.companyDyanmicc{
  margin-top: 40px;
  margin-bottom: 30px;
  .container{
    .row{
      a.companyDyanmicc_top{
        display: block;
        width: 360px;
        height: 242px;
        margin-bottom: 15px;
        img{
          display: block;
          margin: 0 auto;
          min-width: 360px;
          max-width: 100%;
          min-height: 80%;
          max-height: 100%;
        }
      }

      a.reedMore{
        display: inline-block;
        float: left;
        width: 160px;
        height: 40px;
        font-size: 18px;
        border: 1px solid #eee;
        line-height: 40px;
        text-align: center;
        margin-top: 15px;
        color: #707070;
        margin-bottom: 30px;
      }
      .companyDyanmicc_ctn{
        height: 50px;
        overflow: hidden;
        color: #7b7b7b;
      }
    }
  }
}
@media only screen and (min-width: 320px) and (max-width: 768px){
  .companyDyanmicc{
    margin-top: 0px;
    margin-bottom: 10px;
    width: 100%;
    .container{
      .row{
        a.companyDyanmicc_top{
          display: block;
          width: 100%;
          height: 100px;
          margin-bottom: 0px;
          img{
            display: block;
            margin: 0 auto;
            min-width: 80%;
            min-width: 100%;
            min-height: 80%;
            max-height: 100%;
          }
        }
        h4{
          font-size: 12px;
          line-height: 18px;
          text-align: center;
          margin-top: 10px;
          margin-bottom: 15px;
          height: 20px;
          overflow: hidden;
        }

      }
    }
  }


}






/*公司案例====================================*/
.projectCase_banner{
  img{
    width: 100%;
    height: auto;
  }
}
.projectCase_top{
  .container{
    .row{
      .projectCase_itmer{
        width: 100%;
        background:url(../images/page_bg_01.png) no-repeat center;
        h2{
          margin-top: 30px;
          text-align: center;
          line-height: 20px;
        }
        p{
          text-align: center;
          font-size: 20px;
          color: #707070;
        }
        p.last_p{
          margin-top: 5px;
          font-size: 14px;
        }
      }
    }
  }
}

.projectCase{
  margin-top: 40px;
  margin-bottom: 30px;
  .container{
    .row{
      a{
        display: block;
        width: 360px;
        height: 250px;
        margin-bottom: 15px;
        img{
          display: block;
          margin: 0 auto;
          min-height: 90%;
          max-width: 100%;
          min-height: 90%;
          max-height: 100%;
        }
      }
      h4{
        text-align: center;
        font-size: 18px;
        padding: 10px 0px;
      }
    }
  }
}
@media only screen and (min-width: 320px) and (max-width: 768px){

  .projectCase{
    margin-top: 0px;
    margin-bottom: 20px;
    .container{
      .row{
        a{
          width: 100%;
          height: 95px;
          img{
            display: block;
            margin: 0 auto;
            min-height: 90%;
            max-width: 100%;
            min-height: 90%;
            max-height: 100%;
          }
        }
        h4{
          text-align: center;
          font-size: 12px;
          padding: 0px 0px;
        }
      }
    }
  }

}























