/* AB模版网 做最好的织梦整站模板下载网站 Www.AdminBuy.Cn */
/* QQ：9490489 */
/* 仿站：Fang.AdminBuy.Cn */
/* 素材：Sc.AdminBuy.Cn */
@charset "utf-8";
/*框架结构*/
body,html{ min-width:1300px; overflow-x:hidden; position:relative;}
.web{ width:1200px; margin:0 auto;}
.head{ min-width:1300px;}
/*head*/
.head{ position:absolute; left:0; top:0; height:80px; width:100%; z-index:2; background:#fff;}
.logo{ display:block; padding-left:42px; float:left; padding-right:56px;}
.searchBox{ float:right; padding-right:42px; background:url(../images/search01.png) left 20px no-repeat; width: 155px; height:41px; padding-top:21px; padding-left: 40px; margin-right:42px;}
.searchBox .searchinput{ font-size:14px; color:#999; line-height:38px; height:38px; width:179px; float:left;}
.searchBt{ background:none; width:42px; height:38px; float:left; cursor:pointer;}
.headNav{ padding-top:31px; float:left; z-index:9;}
.headNav h3{ position:relative; height:50px;}
.headNav h3 a{ font-size:16px; color:#000;}
.headNav h3 a:hover,.headNav h3.curr a,.headNav h3.cur a{ color:#62a064;}
.headNav li{ float:left; margin-right:54px; z-index:10;}
.headNav h3:hover em,.headNav h3.curr em{ position:absolute; left:50%; bottom:0; margin-left:-8px; background:url(../images/second01.png) no-repeat; width:17px; height:8px;}

.secondBox{ height:285px; width:100%; position:absolute; left:0; top:80px; z-index:9; background:url(../images/secondbg.png) repeat-x; display:none;}
.secondNav{ z-index:11; width:920px; height:233px;position:absolute; top:80px; left:50%; margin-left:-579px;display:none;}
.secondNav img{ float:left; display:block; width:311px; height:233px; margin-top:25px;}
.subNav{ padding-left:22px; width:558px; height:213px; font-size:12px; color:#333; line-height:21px; float:left; padding-top:20px; background:url(../images/second04.png) repeat; margin-top:25px;}
.subNav p{ height:42px; overflow:hidden;}
.subNavList{ padding-top:7px; border-top:1px solid #ccc; margin-top:16px;}
.subNavList a{ display:block; font-size:13px; color:#666; line-height:28px; background:url(../images/second03.png) left center no-repeat; padding-left:19px;}

/*foot*/
.foot{ height:106px; background:#373737;}
.footlogo{ float:left; width:159px; height:152px;}
.footRight{ float:right; width:920px;}
#share{ padding-top:26px; width:920px;}
#share a{ width:30px; height:30px; float:right; margin:0 10px 0 0;}
#share a.bds_twi{ background:url(../images/foot05.png) no-repeat; margin:0}
#share a.bds_fbook{ background:url(../images/foot04.png) no-repeat;}
#share a.bds_linkedin{ background:url(../images/foot03.png) no-repeat;}
#share a.bds_weixin{ background:url(../images/foot02.png) no-repeat;}
#share a.bds_tsina{ background:url(../images/foot01.png) no-repeat;}
.footBottom{ font-size:13px;color:#7c7c7c; padding-left:107px; padding-top:10px; width:813px;}
.footBottom a{ color:#7c7c7c;  margin: 0 13px;}
.footBottom p{ float:left;}

/*首页banner*/
.slideBox{ width:100%; height:877px; overflow:hidden; position:relative; z-index:1; }
.slideBox .bd{ position:relative; height:100%;width:1920px; left:50%; margin-left:-960px; position:absolute; top:0;}
.slideBox .bd li{ zoom:1; vertical-align:middle;}
.slideBox .bd ul{ height:877px;}
.slideBox .bd img{ height:877px; display:block;}
.slideBox .prev,.slideBox .next{ position:absolute;display:block; width:53px; height:53px; top:453px;}
.slideBox .prev{ background:url(../images/left.png) no-repeat; left:157px;}
.slideBox .next{ background:url(../images/right.png) no-repeat; right:157px;}

/*内页banner*/
.insideBanner{ position:relative; height:449px; width:100%; overflow:hidden; padding-top:81px;}
.insideBanner img{ width:1920px; height:449px; position:absolute; left:50%; margin-left:-960px; top:81px;}

/*index*/
.indexSolution .web{ z-index:2; position:relative; top:-130px; height:704px;}
.indexSolution a{ display:block;}
.indexSolution span.zooming{overflow:hidden; position:absolute;display:block; left:0; top:0; z-index:3;}
.Solution01,.Solution01 span.zooming{ width:301px; height:349px; }
.Solution02,.Solution02 span.zooming{ width:599px; height:349px; }
.Solution03,.Solution03 span.zooming,.Solution05,.Solution05 span.zooming{ width:300px; height:350px; }
.Solution04,.Solution04 span.zooming{ width:299px; height:350px;}
.SolutionTxt{ z-index:4; position:absolute; left:35px; top:38px;}
.SolutionTxt p{ color:#fff; background:url(../images/img19.png) no-repeat; width:92px; height:28px; line-height:28px; margin-top:41px; margin-left:3px; text-indent:24px; font-size:15px;}
.sunSolution{position:relative; float:left; }
.Solution03{ margin-top:130px;}
.Solution04{ margin-top:-131px; margin-left:301px;}
.Solution05{ margin-top:-131px;}

.indexPro{ background:#f1f1f1 url(../images/bg01.jpg) top center no-repeat; padding-top:109px; height:1017px;}
.indexPro h2,.indexNews h2{ text-align:center; padding-bottom:70px;}
.indexPro .subPro{ float:left; position:relative; font-size:13px; line-height:24px;}
.subPro span.zooming{overflow:hidden; position:relative;display:block; left:0; top:0; z-index:3;}
.subPro a{ display:block; color:#fff;}
.subPro p{ height:48px; overflow:hidden;}
.subPro h3{font-size:18px;padding:15px 0 18px; margin-bottom:15px;}
.subPro01,.subPro01 span.zooming{ width:672px; height:399px;}
.subPro02,.subPro02 span.zooming{ width:324px; height:399px;}
.subPro03,.subPro03 span.zooming{ width:406px; height:418px;}
.subPro04,.subPro04 span.zooming{ width:524px; height:291px;}
.subPro01 .subPtoTxt01{ background:url(../images/img21.png) 32px center no-repeat; padding-left:189px; position:absolute; z-index:4; left:0; top:118px; width:458px; height:214px;}
.subPro01 .subPtoTxt01 h3{ background:url(../images/img25.png) left bottom no-repeat; }
.subPro02 .subPtoTxt01,.subPro03 .subPtoTxt01{ background:url(../images/img22.png) 57px top no-repeat;width:254px; left:50%; margin-left:-127px; position:absolute; z-index:4; padding-top:157px; text-align:center; top:49px;}
.subPro02 .subPtoTxt01 h3{ background:url(../images/img25.png) center bottom no-repeat; }
.subPro03 .subPtoTxt01{ background:url(../images/img23.png) 57px top no-repeat; top:78px;}
.subPro03 .subPtoTxt01 h3{ background:url(../images/img25.png) center bottom no-repeat; }
.subPro03{ margin-left:267px;}
.subPro04 .subPtoTxt01{ background:url(../images/img24.png) 32px center no-repeat; padding-left:189px; position:absolute; z-index:4; left:0; top:75px; width:297px; height:214px;}
.subPro04 .subPtoTxt01 h3{ background:url(../images/img25.png) left bottom no-repeat; }

.indexNews{ background:url(../images/bg02.jpg) top center no-repeat; padding-top:109px; font-size:13px; caption-side:#999; height:1200px;}
.indexNews h2{ padding-bottom:66px;}
.subNews01{ position:relative; width:515px; float:left; margin-top:80px;}
.subNews01 .mask{ position:absolute; left:-1px; top:386px; background:url(../images/IMG27.png) no-repeat; width:516px; height:13px; display:block; z-index:9;}
.indexNews h3 a{ display:block; font-size:18px; color:#333; padding:35px 0 16px;}
.subNews02{ float:left; width:684px; position:relative;}
.subNews02 .mask{position:absolute; left:0; top:121px; background:url(../images/IMG28.png) no-repeat; width:684px; height:15px; display:block; z-index:9;}
.subNews02 h3 a{ padding:0 0 16px; text-indent:16px;}
.subNews02 p{ padding-left:16px;}
.subNews02 .zooming{ display:block; margin-top:30px;}
.subNews03{ float:left; position:relative; width:655px; height:322px;}
.subNews03 .mask{position:absolute; left:320px; top:0; background:url(../images/img29.png) no-repeat; width:15px; height:322px; display:block; z-index:9;}
.subNews03 a{ float:left;}
.subNews03 .fl{ width:283px; float:right; padding-top:70px;}

.indexUs{ background:#f1f1f1 url(../images/bg01.jpg) top center no-repeat; padding:296px 0 105px;}
.indexUs a{ display:block; color:#fff; font-size:18px; position:relative; width:506px;}
.subUs,.subUs01{ float:left;}
.indexUs a p{height:45px; line-height:45px; background:url(../images/img31.png) repeat; width:100%; position:absolute; left:0; bottom:0; text-indent:14px;}
.subUs a em,.subUs01 a em{ display:block; background:url(../images/img30.png) no-repeat; width:24px; height:24px; bottom:9px; right:11px; position:absolute; z-index:2;}
.indexUs .subUs01 a p{ width:485px;}
.subUs01{ margin-top:-126px;}
.subUs01 a{ width:484px;}
.subUsTxt h2{ margin-bottom:20px;}
.subUsTxt{ float:left; font-size:14px; color:#333; line-height:21px; padding-left:30px; width:663px; padding-top:42px;}


/*关于我们*/
.Introduction{ padding-bottom:78px;}
.Introduction h2{ padding-top:62px; text-align:center;}
.Introduction dl{ padding-top:63px;}
.Introduction dt{ float:left; width:466px; height:539px; margin-right:83px;}
.Introduction dd{ float:left; width:648px; font-size:14px; color:#666; line-height:32px; overflow:hidden;}
.introTitle{ border-bottom:1px solid #ddd; margin-bottom:14px;}
.Introduction dd h4{ font-size:13px; color:#6b933a; line-height:13px; padding:28px 0 3px;}
.Introduction dd h3{ font-size:24px; font-weight:bold; color:#6b933a; border-bottom:3px solid #6b933a; float:left; padding-bottom:14px; position:relative; top:1px; z-index:9}
.contactWay{ width:740px;}
.contactWay li{ float:left; width:366px; font-size:14px; color:#1a1a1a; line-height:24px; margin-top:25px;}
.contactWay li img{ position:relative; top:9px; margin-right:19px; margin-bottom:10px; float:left;}
.contactWay li.last img{ top:1px;}
.contactWay li p{ float:left;}

.shareholder{ background:#f1f1f1 url(../images/bg01.jpg) top center no-repeat; padding-top:144px; height:510px;}
.shareholder .web{ overflow:hidden;}
.shareholder h2{ text-align:center;}
.shareholder ul{ text-align:center; font-size:24px; color:#333; line-height:30px; padding-top:45px; padding-left:114px; width:1300px;}
.shareholder ul div{ padding-top:16px;}
.shareholder ul em{ color:#666; display:block; padding-top:4px; font-size:22px;}
.shareholder ul li{ float:left; margin-right:142px; width:204px;}
.shareholder ul li img{ display:block; margin:0 auto;}
.shareholder ul li img.hoverimg{ display:none;}

.orgnization{ background:url(../images/bg02.jpg) top center no-repeat; padding-top:177px; text-align:center;}

.technology{ background:#f1f1f1 url(../images/bg01.jpg) top center no-repeat; padding:150px 0 60px;}
.technology .web{ overflow:hidden;}
.technology h2{ text-align:center;}
.technologyIntro{ font-size:13px; color:#666; line-height:21px; width:804px; margin:36px auto 0; text-align:center;}
.technology ul{ padding:66px 0 45px; width:1300px;}
.technology ul li{ float:left; margin-right:12px; padding:10px 11px 0; background:#fff; height:390px; font-size:14px; color:#666; line-height:21px; width:269px;}
.technology ul li img{ width:269px; height:202px; display:block; position:relative; left:0;}
.technology ul li h3{ font-size:18px; color:#6b933a; padding:15px 0 9px;}
.contact{ width:71px; text-align:center; margin:0 auto; font-size:16px; color:#333; cursor:pointer;}
.contact img{ display:block; margin-bottom:6px;}

.career{ background:url(../images/bg02.jpg) top center no-repeat; padding:204px 0 119px;}
.career h2{ text-align:center; padding-bottom:45px;}
.career h3{ height:60px; line-height:60px; border-bottom:1px solid #e8e8e8; font-size:22px; color:#6b933a;}
.career li{ border-bottom:1px solid #e6e6e6;}
.career li h4{ height:60px; line-height:60px; font-size:16px; color:#4c4c4c; background:url(../images/img72.png) right bottom no-repeat; cursor:pointer;}
.career li.cur h4{ color:#6b933a; background:url(../images/img72.png) right top no-repeat;}
.careerDetail{ background:#fafafa; line-height:24px; font-size:13px; color:#4c4c4c; padding:25px 0 35px 35px; display:none;}
.careerDetail h5{ font-size:14px; font-weight:bold;}
.careerDetail a{ font-size:16px; color:#fff; width:120px; height:35px; line-height:35px; text-align:center; background:#6b933a; display:block; margin-top:22px;}

.masker{ position:fixed; height:100%; width:100%; background:url(../images/img75.png) repeat; z-index:99; left:0; top:0; display:none;}
.contactlayer{ position:fixed; padding-right:59px; width:1200px; left:50%; margin-left:-600px; height:764px; top:50%; margin-top:-382px; z-index:999; display:none;}
.close,.newsClose{ position:fixed; right:0; top:0; background:url(../images/img73.jpg) no-repeat; width:59px; height:57px; left: 50%; margin-left: 593px;}
.close{ position:absolute; margin-left:589px;}
.subContact{ background:#fff; padding:0 70px; height:764px;}
.subContact h2{ height:82px; line-height:82px; border-bottom:1px solid #ddd; padding-top:36px; text-align:center;}
.subContact .contactWay{ padding:8px 0 38px 188px;}
.subContact .iframe{ overflow:hidden;}

.aboutRight{ position:absolute; height:474px; top:660px; right:0; width:170px;}
.aboutRight a{ display:block; height:25px; width:170px; font-size:14px; color:#666; padding-top:70px; text-align:center;}
.aboutRight01{ background:url(../images/img47.png) top center no-repeat;}
.aboutRight02{ background:url(../images/img48.png) top center no-repeat;}
.aboutRight03{ background:url(../images/img49.png) top center no-repeat;}
.aboutRight04{ background:url(../images/img50.png) top center no-repeat;}
.aboutRight05{ background:url(../images/img60.png) top center no-repeat;}
.aboutRight01.cur{ background:url(../images/img47h.png) top center no-repeat; color:#6b933a;}
.aboutRight02.cur{ background:url(../images/img48h.png) top center no-repeat; color:#6b933a;}
.aboutRight03.cur{ background:url(../images/img49h.png) top center no-repeat; color:#6b933a;}
.aboutRight04.cur{ background:url(../images/img50h.png) top center no-repeat; color:#6b933a;}
.aboutRight05.cur{ background:url(../images/img60h.png) top center no-repeat; color:#6b933a;}

/*新闻中心*/
.news{ background:#f1f1f1; padding:60px 0 175px;}
.news .web{ overflow:hidden;}
.news h2{ padding-bottom:34px; text-align:center;}
.news ul{ width:1230px;}
.news ul li{ float:left; margin:26px 0 0 0; width:381px; font-size:14px; color:#666; line-height:24px; background:#fff; cursor:pointer; padding-bottom:55px;}
.news ul li img{ display:block; margin:0 auto 0; width:381px; height:286px;}
.news ul li div{ padding:0 17px 0; text-align:center;}
.news ul li h3{ font-size:18px; color:#333; height:40px; line-height:40px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; padding-top:30px; border-bottom:1px solid #ddd; margin-bottom:9px;}
.time{ font-size:12px; color:#999; display:block; padding-top:17px;}


.newsmasker{ position:fixed; left:0; top:0; width:100%; height:100%; z-index:99; background:url(../images/newsbg.png) repeat; display:none;}
.newsDetail{ position:fixed; width:100%;z-index:999; top:0; bottom:0px;display:none;}
.subDetailText{ padding:0 95px;}
.subDetail{ padding:30px 0 0; font-size:14px; color:#1a1a1a; line-height:24px; width:1200px; margin:0 auto; background:#fff;}
.subDetail h2{ height:110px; text-align:center; line-height:110px; font-size:28px; color:#1a1a1a; border-bottom:1px solid #e5e5e5; margin-bottom:33px;}
.DetailShare{ border-top:1px solid #e5e5e5; margin-top:45px; font-size:13px; color:#666; text-align:center; padding:10px 0 58px;}
#newsshare{ width:190px; margin:28px auto 0; height:30px;}
#newsshare a{ width:30px; height:30px; float:left; margin:0 10px 0 0;}
#newsshare a.bds_twi{ background:url(../images/newshare05.jpg) no-repeat; margin:0}
#newsshare a.bds_fbook{ background:url(../images/newshare04.jpg) no-repeat;}
#newsshare a.bds_linkedin{ background:url(../images/newshare03.jpg) no-repeat;}
#newsshare a.bds_weixin{ background:url(../images/newshare02.jpg) no-repeat;}
#newsshare a.bds_tsina{ background:url(../images/newshare01.jpg) no-repeat;}
#newsshare a.bds_twi:hover{ background:url(../images/newshare05h.jpg) no-repeat;}
#newsshare a.bds_fbook:hover{ background:url(../images/newshare04h.jpg) no-repeat;}
#newsshare a.bds_linkedin:hover{ background:url(../images/newshare03h.jpg) no-repeat;}
#newsshare a.bds_weixin:hover{ background:url(../images/newshare02h.jpg) no-repeat;}
#newsshare a.bds_tsina:hover{ background:url(../images/newshare01h.jpg) no-repeat;}

/*解决方案*/
.solutionsludge h2{ text-align:center; padding:60px 0 40px;}
.solutiontitle{ height:45px; line-height:45px; border-bottom:1px solid #d9d9d9;}
.solutiontitle span{ display:block; float:left; height:45px;width:70px; text-align:center; font-size:18px; color:#999; margin-right:20px; cursor:pointer;}
.solutiontitle span.cur{ color:#6b933a; border-bottom:2px solid #6b933a; height:43px;}
.solutionIntro{ margin-bottom:20px;}
.solutionTxt{ background:#f6f6f6;}
.subsolutionTxt{ position:relative; padding:28px 28px 33px;}
.solutionTxtL{ width:382px; height:286px; overflow:hidden; position:relative; float:left; border:1px solid #ddd;}
.solutionTxtL .hd{ height:10px; overflow:hidden; position:absolute; right:17px; bottom:16px; z-index:1; }
.solutionTxtL .hd ul li{ float:left; margin-right:10px;  width:10px; height:10px;cursor:pointer; background:url(../images/solution15.png) no-repeat; background-position:0 0;}
.solutionTxtL .hd ul li.on{ background-position:-20px 0; }
.solutionTxtL .bd{ position:relative; height:100%; z-index:0;   }
.solutionTxtL .bd li{ zoom:1; vertical-align:middle; }
.solutionTxtL .bd img{ width:382px; height:286px; display:block;  }
.solutionTxtR{ float:right; width:735px; font-size:14px; color:#666; line-height:24px; position:absolute; top:50%; right:28px;}
.solutionTxtR h4,.solutionTecTxt h4,.case h4{ font-size:16px; color:#6b933a; height:60px; line-height:60px; background:url(../images/solution23.jpg) left bottom no-repeat; margin-bottom:15px;}
.solutionTxt{ height:349px; overflow:hidden; position:relative;}
.solutionTechnology{ border-top:5px solid #ddd; font-size:14px; color:#666; line-height:24px; margin-bottom:10px;}
.solutionTechnology h3{ height:45px; font-size:18px; color:#2c2c2c; line-height:45px; border:1px solid #d9d9d9; border-top:none; background:#fff url(../images/solution07.png) right top no-repeat; text-indent:22px; cursor:pointer;}
.solutionTechnology.cur{border-top:5px solid #6b933a}
.solutionTechnology.cur h3{ background:#fff url(../images/solution06.png) right top no-repeat;}
.solutionTechnology.cur h3 a:hover{ color:#2c2c2c;}
.solutionTechnology h3 a{ display:block; color:#2c2c2c;}
.solutionTechnology h3 a:hover{ color:#2c2c2c;}
.solutionTecText{ padding-top:29px; width:1200px; overflow:hidden;}
.solutionTecNav{ padding-top:40px; border-bottom:1px solid #d9d9d9;}
.solutionTecNav span{ float:left; height:37px; line-height:37px; padding:0 17px; font-size:14px; color:#333; border:1px solid #d9d9d9; border-bottom:none; margin-right:4px; cursor:pointer; background:#fff;}
.solutionTecNav span.cur{ color:#fff; background:#6b933a;}
.subSolutionTec{ border:1px solid #d9d9d9; border-top:none; padding:0 28px 25px;}
.subSolutionTec .solutionTxtR h4,.solutionTecTxt h4{ font-weight:bold;}
.subSolutionTec .subsolutionTxt{ padding:30px 0 0;}
.subSolutionTec .solutionTxtR{ right:0;}
.solutionTecTxt{ padding-bottom:11px;}
.case h4{ font-weight:bold; background:none; border-bottom:1px solid #d9d9d9; margin:0;}
.case h4 span{ float:left; border-bottom:4px solid #6b933a; position:relative; top:1px; height:55px; line-height:55px;}
.case{ overflow:hidden; width:1142px; position:relative; margin:0 auto;}
.caseList{ overflow:hidden; width:1016px; margin:0 auto; padding-bottom:29px;}
.caseList ul{ width:9999px; padding-top:45px;}
.caseList ul li{ float:left; width:300px; padding-right:28px; border-right:1px solid #eee; margin-right:29px; text-align:center; cursor:pointer;}
.caseList ul li a{ color:#666;}
.caseList ul img{ width:300px; height:225px; display:block; margin-bottom:14px;}
.case .prev,.case .next{ position:absolute; display:block; width:38px; height:38px; top:200px;}
.case .prev{ background:url(../images/solution08.png) no-repeat; left:0;}
.case .next{ background:url(../images/solution09.png) no-repeat; right:0;}
.case .prev:hover{background:url(../images/solution08h.png) no-repeat;}
.case .next:hover{background:url(../images/solution09h.png) no-repeat;}
.solutionTecs{ background:#fff;}
.solutionsludge{ padding-bottom:120px;}

.solutionlakes{ background:#f1f1f1 url(../images/bg01.jpg) top center no-repeat; padding:174px 0 95px;}
.solutionlakes h2,.solutionrabish h2{ text-align:center; margin-bottom:40px;}
.solutionlakes .solutionTxt{ background:#fff;}

.solutionrabish{ background:url(../images/bg02.jpg) top center no-repeat; padding:194px 0 85px;}

.txts{ position:relative;}

.solutionRight01{ background:url(../images/solution10.png) top center no-repeat;}
.solutionRight02{ background:url(../images/solution11.png) top center no-repeat;}
.solutionRight03{ background:url(../images/solution12.png) top center no-repeat;}
.solutionRight04{ background:url(../images/solution13.png) top center no-repeat;}
.solutionRight05{ background:url(../images/solution14.png) top center no-repeat;}
.solutionRight01.cur{ background:url(../images/solution10h.png) top center no-repeat; color:#6b933a;}
.solutionRight02.cur{ background:url(../images/solution11h.png) top center no-repeat; color:#6b933a;}
.solutionRight03.cur{ background:url(../images/solution12h.png) top center no-repeat; color:#6b933a;}
.solutionRight04.cur{ background:url(../images/solution13h.png) top center no-repeat; color:#6b933a;}
.solutionRight05.cur{ background:url(../images/solution14h.png) top center no-repeat; color:#6b933a;}
.newsDetail01{ padding:0 95px; width:1010px;}


/*产品信息*/
.MobilePro{ padding-bottom:110px;}
.MobilePro h2{ text-align:center; padding:60px 0 55px;}
.MobilePro .subsolutionTxt{ background:#f6f6f6;}
.Proinformation{ margin-top:20px; border:1px solid #ddd; width:1198px; overflow:hidden; background:#fff;}
.informationNav{ width:1200px;}
.informationNav span{ display:block; float:left; font-size:18px; color:#666; height:60px; line-height:60px; text-align:center; border-bottom:1px solid #ddd; border-right:1px solid #ddd; width:199px; cursor:pointer;}
.informationNav span.cur{ color:#6b933a; border-bottom:2px solid #6b933a; height:58px;}
.informations{ line-height:24px; font-size:14px; color:#999;}
.subInformation{ padding:25px 28px 32px;}
.subInformation{ display:none;}
.InformationPics img{ width:100%; cursor:pointer;}
.subInformation .caseList ul{ padding-top:8px;}
.subInformation .caseList{ padding:0;}
.subInformation .prev,.subInformation .next{ top:102px;}
.subInformation table{ border:1px solid #ddd; border-bottom:none; border-right:none;}
.subInformation table td,.subInformation table th{ text-align:center; height:35px; border-bottom:1px solid #ddd; border-right:1px solid #ddd; font-size:14px; color:#666;}

.imagesWindowWrap{width:1200px; height:auto;position:fixed; left:50%; display:none;top:50%;z-index:9999; overflow:hidden; margin-left:-637px; padding:0 59px 0 36px;}
.closewindow{ background:url(../images/img73.jpg) no-repeat; z-index:99; position:absolute; top:0; right:0; width:59px; height:57px; display:block;}
.bigimages img{ display:block; margin:0 auto; width:100%;}
.listprev,.listnext{ position:absolute; width:70px; height:70px;top:50%; margin-top:-35px;}
.listprev{ background:url(../images/pro15.png) no-repeat; left:0px;}
.listnext{ background:url(../images/pro16.png) no-repeat; right:20px;}
.listprev:hover{ background:url(../images/pro15h.png) no-repeat;}
.listnext:hover{ background:url(../images/pro16h.png) no-repeat;}
.lazying{ position:absolute; display:none; width:100px; height:20px; left:50%; margin-left:-50px; top:50%; margin-top:-10px;}


.MobileSolid{ background:#f1f1f1 url(../images/bg01.jpg) top center no-repeat;}
.MobileSolid,.MobileDry{ padding-top:109px;}
.MobileSolid .subsolutionTxt{ background:#fff;}
.MobileDry{background:url(../images/bg02.jpg) top center no-repeat}


.proRight01{ background:url(../images/pro05.png) top center no-repeat;}
.proRight02{ background:url(../images/pro06.png) top center no-repeat;}
.proRight03{ background:url(../images/pro07.png) top center no-repeat;}
.proRight04{ background:url(../images/pro08.png) top center no-repeat;}
.proRight01.cur{ background:url(../images/pro05h.png) top center no-repeat; color:#6b933a;}
.proRight02.cur{ background:url(../images/pro06h.png) top center no-repeat; color:#6b933a;}
.proRight03.cur{ background:url(../images/pro07h.png) top center no-repeat; color:#6b933a;}
.proRight04.cur{ background:url(../images/pro08h.png) top center no-repeat; color:#6b933a;}

.zooming img{ display:block;}
.indexUs a .zooming{ position:relative; overflow:hidden; width:507px; height:543px; display:block;}
.indexUs .subUs01 a .zooming{ width:484px; height:272px;}

.subNews01 .zooming{ display:block; width:515px; height:399px; position:relative; overflow:hidden;}
.subNews02 .zooming{ display:block; width:684px; height:397px; position:relative; overflow:hidden;}
.subNews03 .zooming{ display:block; width:334px; height:322px; position:relative; overflow:hidden;}
.subPro01:hover .subPtoTxt01{ background:url(../images/img21h.png) 32px center no-repeat;}
.subPro02:hover .subPtoTxt01{ background:url(../images/img22h.png) 57px top no-repeat;}
.subPro03:hover .subPtoTxt01{ background:url(../images/img23h.png) 57px top no-repeat;}
.subPro04:hover .subPtoTxt01{ background:url(../images/img24h.png) 32px center no-repeat;}
body{ overflow-x:hidden; width:100%;}
.indexUs .indexSubUs{ position:relative;}

.hiddenbody{ overflow:hidden;}

.leftclose,.rightclose{ position:fixed; height:100%; top:0; background:none;}
.leftclose{ left:-8px;}
.rightclose{ right:8px;}
.close01{ margin-left:571px;}

/*20160317*/
.footshare{ height:56px; border-bottom:1px solid #4a4a4a; padding-bottom:14px; margin-bottom:6px;}
.foot{ height:152px; overflow:hidden;}
.p01{ margin-top:15px;}
.footBottom p{ float:right;}
.footBottom{ padding-left:0; float:right; width:820px;}
.hshtop{ background:url(../images/hsh02.png) top center no-repeat;;}
.aboutRight{ top:565px;}
.hshright{ position:fixed; width:170px; right:0; bottom:170px; text-align:center; display:none}
.hshright a{ height:25px; padding-top:70px; display:block; font-size:14px; color:#666;}
.hshleft{ position:fixed; left:0; bottom:200px; text-align:center; width:170px;}
.hshleft a{ background:url(../images/hsh01.png) top center no-repeat; width:80px;padding-top:70px; height:25px;font-size:14px; color:#666; display:block;}

/*20160405*/
.subNews01 .zooming img{ width:515px; height:399px;}
.subNews02 .zooming img{ width:684px; height:397px;}
.subNews03 .zooming img{ width:334px; height:322px;}

.footRight{ position:relative;}
.footshare a{ color:#7c7c7c;  margin: 0 13px;}
.footshare p{color:#7c7c7c; position:absolute; top:33px; left:170px;}
.footBottom{ padding:0; width:845px;}
.footRight{ width:845px;}
#share{ width:845px;}
.p01{ margin:10px 0;}
.slideBox .prev, .slideBox .next{ z-index:999; cursor:pointer;}

.subNews02 div{ height:91px;}