.banner{position:relative;width:100%;height:auto;overflow:hidden;margin-top:120px;background-size:100% auto;background-repeat:no-repeat;background-position:left 120px;background-attachment:fixed;}
.banner .bannerBg{ visibility:hidden;width:100%;height:auto;vertical-align:middle;}
.banner .bannerInfo{position:absolute;top:50%;left:0px;width:100%;height:220px;margin-top:-110px;text-align:center;color:#fff;}
.banner .bannerInfo .title{font-family:'MyriadPro-Bold_0';font-size:55px;line-height:60px;}
/*.banner .bannerInfo .titleCh{position:relative;top:24px;width:auto;font-size:33px;padding:8px 14px;border:3px solid #fff;}*/
.banner .bannerInfo .titleCh{position:relative;top:20px;border:3px solid #fff;padding:6px 24px 8px 24px;font-size:27px;font-weight:bold;color:#fff;text-align:center;}

.contactTable{position:relative;border-bottom:1px solid #d3d3d3;}
.contactTable .container{width:1161px;padding:70px 0 80px 0;}
.contactTable .left{width:580px;float:left;}
.contactTable .left .redTitle{padding:5px 0px;height:80px;line-height:80px;border-bottom:2px solid #0d6898;color:#0d6898;font-size:64px;font-family:'MyriadPro-Regular_0';}
.contactTable .left .sub{width:100%;height:2px;background:#0d6898;margin:24px 0 16px 0;}
.contactTable .left .title{color:#444;line-height:68px;padding:14px 0 6px 0;margin-bottom:8px;font-family:'Noto Sans S Chinese Light','NotoSansHans-Light','微软雅黑';font-weight:100;font-size:55px;border-bottom:1px solid #d3d3d3;}
.contactTable .left .footTitle{heihgt:40px;line-height:40px;font-size:26px;color:#444;margin:24px 0 6px 0;}
.contactTable .left .footTitle span{vertical-align:middle;}
.contactTable .left .footTitle .titleB{font-family:'FujitsuSansBold';font-size:34px;margin-right:5px;}
.contactTable .left .info{font-size:18px;color:#444;line-height:30px;}
.contactTable .left .contactTableTitle{color:#FF0000;font-size:22px;line-height:36px;margin-top:48px;}
.contactTable .left .contactTableInfo{line-height:28px;color:#434343;font-size:22px;margin-top:15px;}
.contactTable .left .contactTableInfo span{margin:0 16px;color:#c5c5c5;}
.contactTable .right{width:520px;float:right;}
.contactTable .right .title{font-size:30px;color:#444;padding-bottom:8px;}
.contactTable .right .line{padding:9px 0;}
.contactTable .right .line .inputText{color:#8D8D8D;font-size:18px;border:0px;background:#f3f3f3;padding:0 18px;width:480px;height:53px;margin:0px;font-family: "Microsoft YaHei" ,Helvetica Neue,Tahoma,Arial,"微软雅黑","宋体","黑体";}
.contactTable .right .line .textArea{color:#8D8D8D;font-size:18px;border:0px;background:#f3f3f3;padding:18px;width:480px;height:200px;margin:0px;font-family: "Microsoft YaHei" ,Helvetica Neue,Tahoma,Arial,"微软雅黑","宋体","黑体";}
.contactTable .right .line .inputBtn{width:515px;cursor:pointer;height:50px;background:#fff;color:#0d6898;font-size:22px;border:2px solid #0d6898;font-family: "Microsoft YaHei" ,Helvetica Neue,Tahoma,Arial,"微软雅黑","宋体","黑体";}
.contactTable .right .line .inputBtn{transition-duration: .5s;-ms-transition-duration: .5s;-moz-transition-duration: .5s; -webkit-transition-duration: .5s; }
.contactTable .right .line .inputBtn:hover{background:#0d6898;color:#fff;}

.contactIcon{position:relative;border-bottom:1px solid #d3d3d3;}
.contactIcon .container{width:1161px;padding:80px 0 30px 0;text-align:center;}
.contactIcon .child{width:336px;height:336px;border:1px solid #fff;float:left;margin:0 73px 50px 0;cursor: pointer;}
.contactIcon .child{transition-duration: .5s;-ms-transition-duration: .5s;-moz-transition-duration: .5s; -webkit-transition-duration: .5s;}
.contactIcon .child.threeChild{margin:0 0 50px 0;}
.contactIcon .child.on{border-color:#8f8f8f;}
.contactIcon .child:hover{border-color:#8f8f8f;}
.contactIcon .child .childImg{width:336px;height:272px;line-height:272px;}
.contactIcon .child .childImg img{ vertical-align:middle;}
.contactIcon .child .title{color:#434343;font-size:18px;}

.map{position:relative;padding:70px 0 0 0;text-align:center;}
.map .mapTitle{font-size:36px;color:#434343;line-height:36px;}
.map .mapSub{width:126px;height:2px;background:#0d6898;margin:40px auto;}
.map .mapInfo{color:#434343;font-size:16px;line-height:26px;width:1161px;margin:0px auto;}
.map .mapContent{height:720px;width:100%;margin-top:80px;}
@media  (max-width: 479px) {
.banner{margin-top:0px;background-position:center 74px; background-size:auto 230px;}
.banner .bannerBg{height:230px;}
.banner .bannerInfo{height:80px;margin-top:-40px;}
.banner .bannerInfo .title{font-size:20px;line-height:20px;}
.banner .bannerInfo .titleCh{width:auto;font-size:14px;padding:1px 4px 3px 4px;border:1px solid #fff;top:12px;}

.contactTable .container{width:80%;padding:20px 0;}
.contactTable .left{width:100%;float:none;padding-bottom:0px;}
.contactTable .left .redTitle{height:30px;line-height:30px;font-size:24px;}
.contactTable .left .title{line-height:27px;padding:7px 0 3px 0;margin-bottom:4px;font-size:22px;}
.contactTable .left .sub{width:100%;margin:9px 0 6px 0;}
.contactTable .left .footTitle{heihgt:16px;line-height:16px;font-size:14px;}
.contactTable .left .footTitle .titleB{font-size:16px;}
.contactTable .left .info{font-size:12px;line-height:18px;}
.contactTable .left .contactTableTitle{font-size:20px;line-height:20px;margin-top:16px;}
.contactTable .left .contactTableInfo{line-height:28px;font-size:12px;margin-top:0px;margin-bottom:14px;}
.contactTable .left .contactTableInfo span{margin:0 4px;}
.contactTable .right{width:100%;float:none;}
.contactTable .right .title{font-size:14px;}
.contactTable .right .line{padding:2px 0;}
.contactTable .right .line .inputText{width:94%;font-size:12px;height:40px;padding:0 3%;}
.contactTable .right .line .textArea{width:94%;height:100px;font-size:12px;padding:10px 3%;}
.contactTable .right .line .inputBtn{width:100%;font-size:14px;height:40px;line-height:38px; border-width:1px;}


.contactIcon .container{width:300px;padding:20px 0 5px 0;}
.contactIcon a{border:0px;}
.contactIcon .child{width:139px;height:156px;margin:0 18px 18px 0;border:0px;}
.contactIcon .child.threeChild{margin:0 18px 18px 0;}
.contactIcon .child.secondChild{margin:0 0 18px 0;}
.contactIcon .child:hover{border:1px solid #8f8f8f;}
.contactIcon .child .childImg{width:139px;height:112px;line-height:112px;}
.contactIcon .child .childImg img{width:58px;}
.contactIcon .child.codeChild img{width:73px;}
.contactIcon .child .title{font-size:12px;width:80%;margin:0px auto;}

.map{padding:20px 0 0 0;}
.map .mapTitle{font-size:20px;line-height:20px;}
.map .mapSub{margin:18px auto;height:1px;}
.map .mapInfo{font-size:12px;line-height:18px;width:80%;}
.map .mapContent{height:300px;margin-top:15px;}
}
@media (min-width: 480px) and (max-width: 639px) {
.banner{margin-top:74px;background-position:center 74px; background-size:auto 340px;}
.banner .bannerBg{height:340px;}
.banner .bannerInfo{height:120px;margin-top:-60px;}
.banner .bannerInfo .title{font-size:30px;line-height:30px;}
.banner .bannerInfo .titleCh{width:auto;font-size:20px;padding:2px 6px 5px 6px;border:1px solid #fff;top:16px;}
.contactTable .container .wms li{width:49%; margin:0;}
.contactTable .container .wms li:last-child{width:100%;}
.contactTable .container{width:450px;padding:30px 0;}
.contactTable .left{width:450px;float:none;padding-bottom:0px;}
.contactTable .left .redTitle{height:45px;line-height:45px;font-size:36px;}
.contactTable .left .title{line-height:40px;padding:10px 0 5px 0;margin-bottom:6px;font-size:30px;}
.contactTable .left .sub{width:100%;margin:15px 0 10px 0;}
.contactTable .left .footTitle{heihgt:24px;line-height:24px;font-size:20px;}
.contactTable .left .footTitle .titleB{font-size:22px;}
.contactTable .left .info{font-size:16px;line-height:26px;}
.contactTable .left .contactTableTitle{font-size:24px;line-height:24px;margin-top:24px;}
.contactTable .left .contactTableInfo{line-height:32px;font-size:16px;margin-top:0px;margin-bottom:20px;}
.contactTable .left .contactTableInfo span{margin:0 6px;}
.contactTable .right{width:450px;float:none;}
.contactTable .right .title{font-size:24px;}
.contactTable .right .line{padding:4px 0;}
.contactTable .right .line .inputText{width:414px;font-size:14px;}
.contactTable .right .line .textArea{width:414px;height:273px;font-size:14px;}
.contactTable .right .line .inputBtn{width:450px;font-size:17px;}

.contactIcon .container{width:450px;padding:30px 0 8px 0;}
.contactIcon .child{width:208px;height:208px;margin:0 30px 22px 0;}
.contactIcon .child.threeChild{margin:0 30px 22px 0;}
.contactIcon .child.secondChild{margin:0 0 22px 0;}
.contactIcon .child .childImg{width:208px;height:170px;line-height:170px;}
.contactIcon .child .childImg img{width:87px;}
.contactIcon .child.codeChild img{width:110px;}
.contactIcon .child .title{font-size:14px;}

.map{padding:30px 0 0 0;}
.map .mapTitle{font-size:26px;line-height:26px;}
.map .mapSub{margin:20px auto;}
.map .mapInfo{font-size:14px;line-height:22px;width:450px;}
.map .mapContent{height:270px;margin-top:20px;}
}
@media (min-width: 640px) and (max-width:1023px ) {
.banner{margin-top:74px;background-position:center 74px; background-size:auto 450px;}
.banner .bannerBg{height:450px;}
.banner .bannerInfo{height:160px;margin-top:-80px;}
.banner .bannerInfo .title{font-size:40px;line-height:40px;}
.banner .bannerInfo .titleCh{position:relative;top:16px;width:auto;font-size:26px;padding:2px 10px 6px 10px;border:2px solid #fff;}

.contactTable .container{width:600px;padding:40px 0;}
.contactTable .container .wms li{width:195px; margin:0 auto;}
.contactTable .left{width:600px;float:none;padding-bottom:40px;}
.contactTable .left .redTitle{height:60px;line-height:60px;font-size:48px;}
.contactTable .left .title{line-height:54px;padding:14px 0 6px 0;margin-bottom:8px;font-size:44px;}
.contactTable .left .sub{width:100%;margin:18px 0 12px 0;}
.contactTable .left .footTitle{heihgt:30px;line-height:30px;font-size:20px;}
.contactTable .left .footTitle .titleB{font-size:26px;}
.contactTable .left .info{font-size:14px;}
.contactTable .left .contactTableTitle{font-size:20px;line-height:28px;margin-top:36px;}
.contactTable .left .contactTableInfo{line-height:22px;font-size:17px;margin-top:12px;}
.contactTable .left .contactTableInfo span{margin:0 12px;}
.contactTable .right{width:600px;float:none;}
.contactTable .right .title{font-size:24px;}
.contactTable .right .line{padding:4px 0;}
.contactTable .right .line .inputText{width:564px;font-size:14px;}
.contactTable .right .line .textArea{width:564px;height:273px;font-size:14px;}
.contactTable .right .line .inputBtn{width:600px;font-size:17px;}


.contactIcon .container{width:600px;padding:40px 0 10px 0;}
.contactIcon .child{width:278px;height:278px;margin:0 40px 30px 0;}
.contactIcon .child.threeChild{margin:0 40px 30px 0;}
.contactIcon .child.secondChild{margin:0 0 30px 0;}
.contactIcon .child .childImg{width:278px;height:225px;line-height:225px;}
.contactIcon .child .childImg img{width:116px;}
.contactIcon .child.codeChild img{width:146px;}
.contactIcon .child .title{font-size:15px;}

.map{padding:40px 0 0 0;}
.map .mapTitle{font-size:30px;line-height:30px;}
.map .mapSub{margin:33px auto;}
.map .mapInfo{font-size:14px;line-height:22px;width:600px;}
.map .mapContent{height:360px;margin-top:30px;}
}
@media (min-width: 1024px) and (max-width:1199px ) {
.banner{margin-top:68px;background-position:left 68px;background-size: auto 300px;}
.banner .bannerBg{height: 300px;}
.banner .bannerInfo{transform-origin:center;-moz-transform-origin:center;-ms-transform-origin:center;-o-transform-origin:center;-webkit-transform-origin:center;}
.banner .bannerInfo{transform:scale(0.83);-moz-transform:scale(0.83);-ms-transform:scale(0.83);-o-transform:scale(0.83);-webkit-transform:scale(0.83);}
.banner .bannerInfo{height:160px;margin-top:-80px;}
.banner .bannerInfo .title{font-size:46px;line-height:48px;}
.banner .bannerInfo .titleCh{position:relative;top:16px;border:3px solid #fff;padding:5px 18px 6px 18px;font-size:20px;}

.contactTable{overflow:hidden;}
.contactTable .container:last-child{padding:0;}
.contactTable .container{transform-origin:center top;-moz-transform-origin:center top;-ms-transform-origin:center top;-o-transform-origin:center top;-webkit-transform-origin:center top;}
.contactTable .container .wm{width:200px;}
.contactTable .container{transform:scale(0.83);-moz-transform:scale(0.83);-ms-transform:scale(0.83);-o-transform:scale(0.83);-webkit-transform:scale(0.83);}
.contactTable .container{width:960px;}
.contactTable .left{width:500px;}
.contactTable .left .redTitle{height:60px;line-height:60px;font-size:56px;}
.contactTable .left .title{line-height:54px;padding:14px 0 6px 0;margin-bottom:8px;font-size:44px;}
.contactTable .left .sub{width:100%;margin:18px 0 12px 0;}
.contactTable .left .footTitle{heihgt:30px;line-height:30px;font-size:20px;}
.contactTable .left .footTitle .titleB{font-size:26px;}
.contactTable .left .info{font-size:14px;}
.contactTable .left .contactTableTitle{font-size:20px;line-height:28px;margin-top:36px;}
.contactTable .left .contactTableInfo{line-height:22px;font-size:17px;margin-top:12px;}
.contactTable .left .contactTableInfo span{margin:0 12px;}
.contactTable .right{width:400px;}
.contactTable .right .title{font-size:24px;}
.contactTable .right .line{padding:4px 0;}
.contactTable .right .line .inputText{width:364px;font-size:14px;}
.contactTable .right .line .textArea{width:364px;height:188px;font-size:14px;}
.contactTable .right .line .inputBtn{width:400px;font-size:17px;}

.contactIcon{height:623px;overflow:hidden;}
.contactIcon .container{transform-origin:center top;-moz-transform-origin:center top;-ms-transform-origin:center top;-o-transform-origin:center top;-webkit-transform-origin:center top;}
.contactIcon .container{transform:scale(0.83);-moz-transform:scale(0.83);-ms-transform:scale(0.83);-o-transform:scale(0.83);-webkit-transform:scale(0.83);}
.contactIcon .container{width:960px;padding:80px 0 30px 0;}
.contactIcon .child{width:278px;height:278px;margin:0 60px 40px 0;}
.contactIcon .child.threeChild{margin:0 0 40px 0;}
.contactIcon .child .childImg{width:278px;height:225px;line-height:225px;}
.contactIcon .child .childImg img{width:116px;}
.contactIcon .child.codeChild img{width:146px;}
.contactIcon .child .title{font-size:15px;}

.map{padding:70px 0 0 0;}
.map .mapTitle{transform-origin:center top;-moz-transform-origin:center top;-ms-transform-origin:center top;-o-transform-origin:center top;-webkit-transform-origin:center top;}
.map .mapTitle{transform:scale(0.83);-moz-transform:scale(0.83);-ms-transform:scale(0.83);-o-transform:scale(0.83);-webkit-transform:scale(0.83);}
.map .mapTitle{font-size:30px;line-height:30px;}
.map .mapSub{transform-origin:center top;-moz-transform-origin:center top;-ms-transform-origin:center top;-o-transform-origin:center top;-webkit-transform-origin:center top;}
.map .mapSub{transform:scale(0.83);-moz-transform:scale(0.83);-ms-transform:scale(0.83);-o-transform:scale(0.83);-webkit-transform:scale(0.83);}
.map .mapSub{margin:33px auto;}
.map .mapInfo{transform-origin:center top;-moz-transform-origin:center top;-ms-transform-origin:center top;-o-transform-origin:center top;-webkit-transform-origin:center top;}
.map .mapInfo{transform:scale(0.83);-moz-transform:scale(0.83);-ms-transform:scale(0.83);-o-transform:scale(0.83);-webkit-transform:scale(0.83);}
.map .mapInfo{font-size:14px;line-height:22px;width:960px;}
.map .mapContent{height:494px;margin-top:54px;}
}
@media (min-width: 1200px) and (max-width:1439px ) {
.banner{margin-top:68px;background-position:left 68px;}
.banner .bannerInfo{transform-origin:center;-moz-transform-origin:center;-ms-transform-origin:center;-o-transform-origin:center;-webkit-transform-origin:center;}
.banner .bannerInfo{transform:scale(0.83);-moz-transform:scale(0.83);-ms-transform:scale(0.83);-o-transform:scale(0.83);-webkit-transform:scale(0.83);}
.banner .bannerInfo{height:160px;margin-top:-80px;}
.banner .bannerInfo .title{font-size:46px;line-height:48px;}
.banner .bannerInfo .titleCh{position:relative;top:16px;border:3px solid #fff;padding:5px 18px 6px 18px;font-size:20px;}

.contactTable{height: 600px;overflow:hidden;}
.contactTable .container{transform-origin:center top;-moz-transform-origin:center top;-ms-transform-origin:center top;-o-transform-origin:center top;-webkit-transform-origin:center top;}
.contactTable .container{transform:scale(0.83);-moz-transform:scale(0.83);-ms-transform:scale(0.83);-o-transform:scale(0.83);-webkit-transform:scale(0.83);}
.contactTable .container{width:960px;}
.contactTable .left{width:500px;}
.contactTable .left .redTitle{height:60px;line-height:60px;font-size:48px;}
.contactTable .left .title{line-height:54px;padding:14px 0 6px 0;margin-bottom:8px;font-size:44px;}
.contactTable .left .sub{width:100%;margin:18px 0 12px 0;}
.contactTable .left .footTitle{heihgt:30px;line-height:30px;font-size:20px;}
.contactTable .left .footTitle .titleB{font-size:26px;}
.contactTable .left .info{font-size:14px;}
.contactTable .left .contactTableTitle{font-size:20px;line-height:28px;margin-top:36px;}
.contactTable .left .contactTableInfo{line-height:22px;font-size:17px;margin-top:12px;}
.contactTable .left .contactTableInfo span{margin:0 12px;}
.contactTable .right{width:400px;}
.contactTable .right .title{font-size:24px;}
.contactTable .right .line{padding:4px 0;}
.contactTable .right .line .inputText{width:364px;font-size:14px;}
.contactTable .right .line .textArea{width:364px;height:180px;font-size:14px;}
.contactTable .right .line .inputBtn{width:400px;font-size:17px;}

.contactIcon{height:623px;overflow:hidden;}
.contactIcon .container{transform-origin:center top;-moz-transform-origin:center top;-ms-transform-origin:center top;-o-transform-origin:center top;-webkit-transform-origin:center top;}
.contactIcon .container{transform:scale(0.83);-moz-transform:scale(0.83);-ms-transform:scale(0.83);-o-transform:scale(0.83);-webkit-transform:scale(0.83);}
.contactIcon .container{width:960px;padding:80px 0 30px 0;}
.contactIcon .child{width:278px;height:278px;margin:0 60px 40px 0;}
.contactIcon .child.threeChild{margin:0 0 40px 0;}
.contactIcon .child .childImg{width:278px;height:225px;line-height:225px;}
.contactIcon .child .childImg img{width:116px;}
.contactIcon .child.codeChild img{width:146px;}
.contactIcon .child .title{font-size:15px;}

.map{padding:70px 0 0 0;}
.map .mapTitle{transform-origin:center top;-moz-transform-origin:center top;-ms-transform-origin:center top;-o-transform-origin:center top;-webkit-transform-origin:center top;}
.map .mapTitle{transform:scale(0.83);-moz-transform:scale(0.83);-ms-transform:scale(0.83);-o-transform:scale(0.83);-webkit-transform:scale(0.83);}
.map .mapTitle{font-size:30px;line-height:30px;}
.map .mapSub{transform-origin:center top;-moz-transform-origin:center top;-ms-transform-origin:center top;-o-transform-origin:center top;-webkit-transform-origin:center top;}
.map .mapSub{transform:scale(0.83);-moz-transform:scale(0.83);-ms-transform:scale(0.83);-o-transform:scale(0.83);-webkit-transform:scale(0.83);}
.map .mapSub{margin:33px auto;}
.map .mapInfo{transform-origin:center top;-moz-transform-origin:center top;-ms-transform-origin:center top;-o-transform-origin:center top;-webkit-transform-origin:center top;}
.map .mapInfo{transform:scale(0.83);-moz-transform:scale(0.83);-ms-transform:scale(0.83);-o-transform:scale(0.83);-webkit-transform:scale(0.83);}
.map .mapInfo{font-size:14px;line-height:22px;width:960px;}
.map .mapContent{height:494px;margin-top:54px;}
}
@media (min-width: 1440px) and (max-width:1920px ) {
.banner{margin-top:82px;background-position:left 82px;}
.banner .bannerInfo{height:160px;margin-top:-80px;}
.banner .bannerInfo .title{font-size:46px;line-height:48px;}
.banner .bannerInfo .titleCh{position:relative;top:16px;border:3px solid #fff;padding:5px 18px 6px 18px;font-size:24px;}

.contactTable .container{width:960px;}
.contactTable .left{width:500px;}
.contactTable .left .redTitle{height:60px;line-height:60px;font-size:48px;}
.contactTable .left .title{line-height:54px;padding:14px 0 6px 0;margin-bottom:8px;font-size:44px;}
.contactTable .left .sub{width:100%;margin:18px 0 12px 0;}
.contactTable .left .footTitle{heihgt:30px;line-height:30px;font-size:20px;}
.contactTable .left .footTitle .titleB{font-size:26px;}
.contactTable .left .info{font-size:14px;}
.contactTable .left .contactTableTitle{font-size:20px;line-height:28px;margin-top:36px;}
.contactTable .left .contactTableInfo{line-height:22px;font-size:17px;margin-top:12px;}
.contactTable .left .contactTableInfo span{margin:0 12px;}
.contactTable .right{width:400px;}
.contactTable .right .title{font-size:24px;}
.contactTable .right .line{padding:4px 0;}
.contactTable .right .line .inputText{width:364px;font-size:14px;}
.contactTable .right .line .textArea{width:364px;height:184px;font-size:14px;}
.contactTable .right .line .inputBtn{width:400px;font-size:17px;}


.contactIcon .container{width:960px;padding:80px 0 30px 0;}
.contactIcon .child{width:278px;height:278px;margin:0 60px 40px 0;}
.contactIcon .child.threeChild{margin:0 0 40px 0;}
.contactIcon .child .childImg{width:278px;height:225px;line-height:225px;}
.contactIcon .child .childImg img{width:116px;}
.contactIcon .child.codeChild img{width:146px;}
.contactIcon .child .title{font-size:15px;}

.map{padding:70px 0 0 0;}
.map .mapTitle{font-size:30px;line-height:30px;}
.map .mapSub{margin:33px auto;}
.map .mapInfo{font-size:14px;line-height:22px;width:960px;}
.map .mapContent{height:596px;margin-top:66px;}
/*
.banner{position:relative;width:100%;height:auto;overflow:hidden;margin-top:147px;background-size:100% 100%;background-repeat:no-repeat;background-position:left top;background-attachment:fixed;}
.banner .bannerBg{ opacity:0;width:100%;height:auto;vertical-align:middle;}
.banner .bannerInfo{position:absolute;top:50%;left:0px;width:100%;height:220px;margin-top:-110px;text-align:center;color:#fff;}
.banner .bannerInfo .title{font-family:'MyriadPro-Bold_0';font-size:55px;line-height:60px;}
.banner .bannerInfo .titleCh{margin:24px auto;width:370px;font-size:33px;padding:8px;border:3px solid #fff;}

.contactTable{position:relative;}
.contactTable .container{width:1161px;padding:70px 0 80px 0;border-bottom:1px solid #d3d3d3;}
.contactTable .left{width:580px;float:left;}
.contactTable .left .redTitle{padding:5px 0px;line-height:80px;color:#0d6898;font-size:81px;font-family:'MyriadPro-Regular_0';}
.contactTable .left .sub{width:348px;height:3px;background:#0d6898;margin:24px 0 16px 0;}
.contactTable .left .title{color:#444;line-height:68px;padding:14px 0 6px 0;margin-bottom:8px;font-family:'Noto Sans S Chinese Light','NotoSansHans-Light','微软雅黑';font-weight:100;font-size:58px;border-bottom:1px solid #d3d3d3;}
.contactTable .left .footTitle{heihgt:40px;line-height:40px;font-size:26px;color:#444;margin:24px 0 6px 0;}
.contactTable .left .footTitle span{vertical-align:middle;}
.contactTable .left .footTitle .titleB{font-family:'FujitsuSansBold';font-size:34px;margin-right:5px;}
.contactTable .left .info{font-size:18px;color:#444;line-height:30px;}
.contactTable .left .contactTableTitle{color:#FF0000;font-size:22px;line-height:36px;margin-top:48px;}
.contactTable .left .contactTableInfo{line-height:28px;color:#434343;font-size:22px;margin-top:15px;}
.contactTable .left .contactTableInfo span{margin:0 16px;color:#c5c5c5;}
.contactTable .right{width:520px;float:right;}
.contactTable .right .title{font-size:30px;color:#444;padding-bottom:8px;}
.contactTable .right .line{padding:9px 0;}
.contactTable .right .line .inputText{color:#8D8D8D;font-size:18px;border:0px;background:#f3f3f3;padding:0 18px;width:480px;height:53px;margin:0px;font-family: "Microsoft YaHei" ,Helvetica Neue,Tahoma,Arial,"微软雅黑","宋体","黑体";}
.contactTable .right .line .textArea{color:#8D8D8D;font-size:18px;border:0px;background:#f3f3f3;padding:18px;width:480px;height:328px;margin:0px;font-family: "Microsoft YaHei" ,Helvetica Neue,Tahoma,Arial,"微软雅黑","宋体","黑体";}
.contactTable .right .line .inputBtn{width:515px;cursor:pointer;height:50px;background:#fff;color:#FF0000;font-size:22px;border:2px solid #0d6898;font-family: "Microsoft YaHei" ,Helvetica Neue,Tahoma,Arial,"微软雅黑","宋体","黑体";}
.contactTable .right .line .inputBtn{transition-duration: .5s;-ms-transition-duration: .5s;-moz-transition-duration: .5s; -webkit-transition-duration: .5s; }
.contactTable .right .line .inputBtn:hover{background:#0d6898;color:#fff;}

.contactIcon{position:relative;}
.contactIcon .container{width:1161px;padding:80px 0 30px 0;border-bottom:1px solid #d3d3d3;text-align:center;}
.contactIcon .child{width:336px;height:336px;border:1px solid #fff;float:left;margin:0 73px 50px 0;}
.contactIcon .child{transition-duration: .5s;-ms-transition-duration: .5s;-moz-transition-duration: .5s; -webkit-transition-duration: .5s;}
.contactIcon .child.threeChild{margin:0 0 50px 0;}
.contactIcon .child.on{border-color:#8f8f8f;}
.contactIcon .child:hover{border-color:#8f8f8f;}
.contactIcon .child .childImg{width:336px;height:272px;line-height:272px;}
.contactIcon .child .childImg img{ vertical-align:middle;}
.contactIcon .child .title{color:#434343;font-size:18px;}

.map{position:relative;padding:70px 0 0 0;text-align:center;}
.map .mapTitle{font-size:36px;color:#434343;line-height:36px;}
.map .mapSub{width:126px;height:3px;background:#0d6898;margin:40px auto;}
.map .mapInfo{color:#434343;font-size:16px;line-height:26px;width:1161px;margin:0px auto;}
.map .mapContent{height:720px;width:100%;margin-top:80px;}
*/
}