
.banner{position:relative;width:100%;height:auto;overflow:hidden;margin-top:120px;}
.banner .bannerBtn{position:absolute;top:50%;height:148px;margin-top:-74px;cursor:pointer;z-index:2;}
.banner .bannerBtn.leftBtn{left:-100px;}
.banner .bannerBtn.rightBtn{right:-100px;}
.banner .contents{position:absolute;top:0px;left:0px;width:100%;height:100%;}
.banner .content{position:absolute;top:0px;width:100%;height:100%;background-size:100% auto;background-repeat:no-repeat;background-position:left 120px;background-attachment:fixed;text-align:center;}
/*.banner .content .bg{background-size:100% 100%;position:absolute;top:0;left:0;width:100%;height:100%;vertical-align:middle;}*/
.banner .contentInfo{position:absolute;top:50%;left:0px;width:100%;height:300px;margin-top:-150px;z-index:1;}
.banner .content .title1{padding-top: 46px;opacity:0;width:100%;font-family:'微软雅黑';font-size:44px;color:#fff;text-align:center;margin-top:0px;}
.banner .content .title2{ opacity:0;width:100%;font-family:'微软雅黑';font-size:60px;margin-bottom:20px;font-weight:100;color:#fff;text-align:center;}
.banner .content .title3{opacity:0;border:3px solid #fff;padding:6px 24px 8px 24px;font-size:27px;font-weight:bold;color:#fff;text-align:center;}
.banner .bannerNav{position:absolute;bottom:30px;width:100%;text-align:center;z-index:2;}
.banner .bannerNav img{width:80px;height:4px;margin:0px 3px;cursor:pointer;}
.banner .bannerBg{width:100%;height:auto;vertical-align:middle;}
.new_say .col-lg-4, .new_say .col-lg-8 {
    float: left;
}
.snh{width:1000px; margin:30px auto;overflow:hidden;}
.nbs li{float:left;}
.nbs li:first-child{text-align:right;}
.nbs li:last-child{text-align:left;}
.sv .mainInfo{display:block;width:100%;border:none;padding:20px 0;}
.sv .childTitle{display:block;overflow:hidden;}
.sv .child{width: 26.65%;
    margin: 0 1.8%;
    text-align: left;
    display: inline-block;border:2px solid #0d6898;text-align:center;}
.sv b{font-size:50px;color:#0d6898;line-height:90px;}
.sv .titleCh{font-size:18px;}
.sv .titleEn{font-size:18px;color:#0d6898;padding:10px 0;}
.Tis img{max-width:30%;text-align:center;margin:5% auto;}
.sv .childTitle {}
.Tisz .mainInfo{border:none;}
.Tisz .content{padding-top:10px !important;}
.Tisz .info{width:338px !important;margin:5% auto !important;}
.says .img{max-width:100% !important;}
.six{width:100%;margin:0 auto;text-align:center;}
.wn .mainSub{background:#fff !important;}
.wn .mainTitle{padding: 0px 0px;text-align: center; font-size: 24px;color: #434343;font-family: 'Noto Sans S Chinese Light','NotoSansHans-Light','微软雅黑';color:#fff;line-height:auto;}
.wn .mainSub{margin:5px auto;}
.wn .mainInfo{margin:5px auto;color:#fff;}
.new_news{margin:2% 0;}
.new_news a img{width: 26.65%;margin: 0 1.8%;}
#box1{width:0;border-right: 30px solid #fff;border-top: 52px solid transparent;border-bottom: 52px solid transparent;float: left;}
#box2{width: 104px;height: 104px;background-color: #086696;float: left;line-height: 104px;text-align:center;color:#fff;}
#box3{width:0;border-left: 30px solid #fff;border-top: 52px solid transparent;border-bottom: 52px solid transparent;float: left;}
#box4{width:0;border-right: 30px solid #fff;border-top: 52px solid transparent;border-bottom: 52px solid transparent;float: left;}
#box5{width: 104px;height: 104px;background-color: #086696;float: left;line-height: 104px;text-align:center;color:#fff;}
#box6{width:0;border-left: 30px solid #fff;border-top: 52px solid transparent;border-bottom: 52px solid transparent;float: left;}
.new_say .col-lg-8 {
    margin-top: 50px;
    width: 627px;
    margin-left: 30px;
}
.tit p {
    text-align: left!important;
}
.textnr {
    margin: 30px 0 !important;
    width: 500px !important;
}
.about{position:relative;background:#fff;padding:70px 0px 80px 0;text-align:center;border-bottom:1px solid #949494;}
.about .title{color:#444;font-size:55px;font-family:'Noto Sans S Chinese Light','NotoSansHans-Light','微软雅黑';}
.about .info{color:#444;font-size:18px;line-height:30px;width:877px;margin:0px auto;}
.about .content{padding-top:25px;}
.about .contentMun{height:300px;width:840px;margin:0px auto;}
.about .contentMun .child{padding-top:50px;height:250px;width:280px;text-align:center;float:left;}
.about .contentMun .child .mun{font-family:'DIN Condensed Bold';font-size:100px;color:#444;}
.about .contentMun .child p{font-family:'Noto Sans S Chinese Light','NotoSansHans-Light','微软雅黑';font-weight:100;font-size:24px;color:#444;}
.about .linkBtn{margin:0px auto;}

.work{padding:70px 0px 80px 0px;text-align:center;background:#fff;border-bottom:1px solid #949494;}
.work .content{padding-top:40px;width:100%;height:auto;width:100%;}
.work .content:after{content: "020"; display: block; height: 0; clear: both;visibility:hidden;}
.work .content .child{position:relative;float:left;width:20%;}
.work .content .child .childImg{width:100%;height:auto; vertical-align:middle;}
.work .content .child .childHide{display:none;position:absolute;top:0px;left:0px;width:100%;height:100%;background:#df1020;}
.work .content .child .childPointer{position:absolute;bottom:17px;right:20px;width:71px;}
.work .content .child .childTag{letter-spacing:0.1em;font-weight:100;font-stretch:condensed;padding:6%;position:absolute;top:0px;left:0px;width:88%;*width:60%;font-size:24px;font-family:'MyriadPro-LightCond';font-size:24px;color:#fff;text-align:left;}
.work .content .child .childTag .childSub{width:21px;height:2px;background:#fff;margin:10px 0px;}
.work .content .child .childContent{position:absolute;top:50%;left:0px;height:54px;width:100%;margin-top:-27px;}
.work .content .child .childContent .title{font-size:21px;color:#fff;width:50%;margin:0 auto;}
.work .content .child .childContent .info{color:#fff;font-size:16px;margin-top:10px;}
.work .linkBtn{margin:80px auto 0px auto;}

.customer{position:relative;padding:70px 0px 80px 0px;text-align:center;}
.ck{padding:70px 0px 20px 0px;}
.customer .container{width:1161px;}
.customer .customerBtn{position:absolute;top:270px;width:64px;cursor:pointer;}
.customer .customerBtn.leftBtn{left:-100px;}
.customer .customerBtn.rightBtn{right:-100px;}
.customer .contents{position:relative;margin:10px auto 30px auto;height:280px;overflow:hidden;}
.customer .contents .contentss{position:absolute;top:0px;left:0px;}
.customer .contents .content{position:absolute;left:0px;top:30px;width:1161px;}
.customer .contents .content img{border:1px solid #dbdbdb;width:215px;height:91px;margin:0 5px 45px 5px;}
.customer .contents .content img{transition-duration: .5s;-ms-transition-duration: .5s;-moz-transition-duration: .5s; -webkit-transition-duration: .5s; }
.customer .contents .content img:hover{-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
-o-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
-ms-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);}
.customer .linkBtn{margin:30px auto 0px auto;}
.say p {
    text-align: center;
}
.say{position:relative;width:100%;height:864px;overflow:hidden;}
.say .imgBg{position:absolute;top:0px;left:50%;width:100%;height:864px;margin-left:-50%;background:url(../images/index/say.jpg) no-repeat 75% bottom fixed; background-size:900px auto;}
.say .container{padding-top:107px;width:1161px;}
.say .sub{width:37px;height:2px;}
.say .sub1{margin:0px 0px 30px 0px;}
.say .sub2{margin:175px 0px 60px 0px;}
.say .title1{font-size:42px;font-family:'Noto Sans S Chinese Light','NotoSansHans-Light','微软雅黑';font-weight:100;color:#fff;}
.say .title{font-size:80px;font-family:'Noto Sans S Chinese Light','NotoSansHans-Light','微软雅黑';font-weight:100;color:#fff;line-height:85px;}
.say .title2{font-size:58px;font-family:'MyriadPro-Regular_0';color:#fff;line-height:62px;}

.advantage{position:relative;text-align:center;padding:70px 0px 80px 0px;border-bottom:1px solid #949494;}
.advantage .title{font-family:'Noto Sans S Chinese Light','NotoSansHans-Light','微软雅黑';font-size:55px;line-height:58px;color:#444;margin-top:40px;}
.advantage .info{font-size:18px;color:#444;margin:10px 0px;}
.advantage img{margin:70px 0px;max-width:80%;}
.im img{max-width:70% !important }
.im{background-size:100% !important ;}
.im{padding:50px 0;}
.advantage .linkBtn{margin:0px auto;}

.team{position:relative;text-align:center;padding:70px 0px 80px 0px;border-bottom:1px solid #949494;}
.team .content{padding-top:40px;}
.team .content:after{content: "020"; display: block; height: 0; clear: both;visibility:hidden;}
.team .child{width:300px;/*float:left;*/margin: 0 18px;display:inline-block;*display:inline;*zoom:1;
transform:perspective(600px);-webkit-transform:perspective(600px);-moz-transform:perspective(600px);-ms-transform:perspective(600px);-o-transform:perspective(600px);}
.team .child .childImg{position:relative;width:298px;height:311px;border:1px solid #a7a7a7;overflow:hidden;}
.team .child .childImg img{position:absolute;bottom:0px;left:0px;max-width:100%;height:auto;}
.team .titleEn{font-size:30px;font-family:'MyriadPro-Cond_0';color:#444;letter-spacing:0.12em;font-stretch: condensed;margin:16px 0;}
.team .title{font-size:18px;color:#444;}
.team .sub{width:40px;height:2px;margin:18px auto;background:#0d6898;}
.team .info{font-size:14px;color:#999;}
.team .info span{margin:0 10px;}
.team .foot{font-size:36px;color:#0d6898;margin-top:70px;}

.service{position:relative;text-align:center;padding:70px 0px 80px 0px;}
.service .content{padding-top:40px;}
.service .content .child{width:26.65%;margin:0 1.8%;text-align:left;display:inline-block;*display:inline;*zoom:1;}
.service .content .child .childTitle{position:relative;border:2px solid #0d6898;height:160px;}
.service .content .child .childTitle{transition-duration: .5s;-ms-transition-duration: .5s;-moz-transition-duration: .5s; -webkit-transition-duration: .5s; }
.service .content .child .childTitle .titleEn{margin:75px 0 2px 8%;font-size:30px;font-family:'MyriadPro-Regular_0';color:#0d6898;}
.service .content .child .childTitle .titleEn{transition-duration: .5s;-ms-transition-duration: .5s;-moz-transition-duration: .5s; -webkit-transition-duration: .5s; }
.service .content .child .childTitle .titleCh{margin:0 0 0 8%;font-size:20px;color:#444;}
.service .content .child .childTitle .titleCh{transition-duration: .5s;-ms-transition-duration: .5s;-moz-transition-duration: .5s; -webkit-transition-duration: .5s; }
.service .content .child .childContent{padding:30px 0 0 0;}
.service .content .child .childContent:after{content: "020"; display: block; height: 0; clear: both;visibility:hidden;}
.service .content .child .childContent ul{float:left;}
.service .content .child .childContent li{padding-left:25px;font-size:18px;color:#444;line-height:32px;}
.service .content .child .childContent li{transition-duration: .5s;-ms-transition-duration: .5s;-moz-transition-duration: .5s; -webkit-transition-duration: .5s; }
.service .content .child .childContent li:hover{color:#0d6898;}

.news{position:relative;width:100%;height:826px;background-color:#000;background-image:url(../images/index/news.jpg); background-attachment:fixed;background-repeat:no-repeat;background-position:top center;background-size:100% 100%;}
.news .container{padding-top:110px;width:1161px;}
.news .newsTitle{color:#fff;font-size:72px;font-family:'MyriadPro-LightCond';letter-spacing:0.04em;font-weight: 100;font-stretch: extra-condensed;}
.news .newsInfo{font-family:'Noto Sans S Chinese Light','NotoSansHans-Light','微软雅黑';font-size:30px;font-weight:100;color:#fff;}
.news .left{position:relative;float:left;width:50%;}
.news .left .content{position:relative;width:440px;height:440px;margin-top:30px;}
.news .left .content .quan{position:absolute;width:220px;height:220px;background:url(../images/index/quan.png) no-repeat;background-size:100% 100%;text-align:center;font-size:24px;color:#fff;}
.news .left .content .quan .titleEn{letter-spacing:0.12em;margin-top:84px;font-family:'MyriadPro-Cond_0'; font-weight:100; font-stretch:condensed;}
.news .left .content .quan .titleCh{font-family:'Noto Sans S Chinese Light','NotoSansHans-Light','微软雅黑';font-weight:100;}
#quan1{top:0px;left:180px;}
#quan2{top:160px;left:0px;}
#quan3{top:160px;left:180px;}
#quan4{top:90px;left:90px;}
.news .right{float:left;width:50%;}
.news .right .content{padding-top:30px;}
.news .right .child{margin:0 0 38px 0;position:relative;width:100%;}
.news .right .child:after{content: "020"; display: block; height: 0; clear: both;visibility:hidden;}
.news .right .child .childTime{float:left;width:22.1%;height:124px;border:3px solid #0d6898;text-align:center;color:#fff;}
.news .right .child .childTime .timeMonth{margin-top:10px;font-family:'MyriadPro-Cond_0';font-size:24px;font-weight:100;font-stretch:condensed;}
.news .right .child .childTime .timeDay{font-family:'MyriadPro-LightCond';font-size:72px;font-weight:100;font-stretch:condensed;}
.news .right .child .childInfo{float:left;width:71%;margin-left:5.3%;color:#fff;}
.news .right .child .childInfo .title{font-size:18px;font-weight:bold;margin-bottom:20px;width:100%;display: block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.news .right .child .childInfo .info{font-size:14px;color:#cecece;line-height:20px;}
.news .right .child .no{width:22.1%;height:50px;float:left;}
.news .right .child .moreBtn{position:relative;font-size:16px;padding-left:10px;margin-left:6px;width:157px;height:40px;line-height:40px;color:#fff;background:#0d6898 url(../images/rightIconOn.png) no-repeat 114px center;background-size:36px 18px;font-family:'黑体';}
.news .right .child .moreBtn span{font-size:16px;}
@media  (max-width: 479px) {
.banner{margin-top:0px;}
.banner .bannerBtn{height:38px;margin-top:-19px;}
.banner .bannerBtn.leftBtn{left:5px !important;}
.banner .bannerBtn.rightBtn{right:5px !important;}
.banner .contentInfo{height:100px;margin-top:-80px;}
.banner .content{background-size:auto 450px;background-position:center 74px;}
.banner .content .title1{font-size:30px;padding-top: 0px;}
.banner .content .title2{font-size: 32px;width: 80%;line-height: 34px;margin:14px auto 26px auto;}
.banner .content .title3{border:2px solid #fff;padding:3px 12px 4px 12px;font-size:17px;}
.banner .bannerNav{bottom:10px;}
.banner .bannerNav img{width:40px;height:2px;margin:0px 3px;}
.banner .bannerBg{width:100%;height:450px;}
.mks{display:none;}
.about{padding:20px 0px;}
.about .title{font-size:18px;margin-bottom:0px;padding-bottom:10px;}
.about .info{font-size:12px;line-height:18px;width:92%;}
.about .content{padding-top:10px;}
.about .contentMun{height:100px;width:330px;margin:0px auto;}
.about .contentMun .child{padding-top:18px;height:84px;width:110px;}
.about .contentMun .child .mun{font-size:30px;}
.about .contentMun .child p{font-size:12px;}

.work{padding:20px 0px;}
.work .content{padding-top:20px;width:100%;height:auto;width:100%;}
.work .content .child{width:50%;}
.work .content .child .childPointer{width:40px;bottom:10px;right:12px;}
.work .content .child .childTag{font-size:12px;}
.work .content .child .childTag .childSub{margin:3px 0;}
.work .content .child .childContent .title{font-size:14px;}
.work .content .child .info{display:none;}
.work .linkBtn {margin: 20px auto 0px auto;}

.customer{padding:20px 0px;}
.customer .container{width:300px;}
.customer .customerBtn{top:255px;width:16px;}
.customer .customerBtn.leftBtn{left:-40px;}
.customer .customerBtn.rightBtn{right:-40px;}
.customer .contents{margin:8px auto;height:367px;}
.customer .contents .content{left:0px;top:15px;width:300px;}
.customer .contents .content img{width:138px;height:60px;margin:0 5px 5px 5px;}
.customer .linkBtn{margin:20px auto 0px auto;}

.say{width:100%;height:350px;text-align:center;;}
.im{height:100px !important;}
.im .container{padding-top:0 !important}
.say .imgBg{display:none;}
.say .container{padding-top:53px;width:93.75%;}
.say .sub{width:37px;height:1px;background:#fff;}
.say .sub1{margin:0px auto 15px auto;}
.say .sub2{margin:24px auto 20px auto}
.say .title1{font-size:21px;}
.say .title{font-size:40px;line-height:42px;}
.say .title2{font-size:29px;line-height:31px;}

.advantage{padding:20px 0px;}
.advantage .title{font-size:16px;line-height:22px;margin-top:20px;}
.advantage .info{font-size:12px;margin:5px 0px;}
.advantage img{margin:20px 0px;max-width:80%;}
.advantage .linkBtn{margin:0px auto;}

.team{padding:20px 0px;}
.team .content{padding-top:0px;}
.team .child{width:300px;margin:0px auto;padding:20px 0 0 0;display:block;*display:block;}
.team .child .childImg{width:298px;height:311px;}
.team .titleEn{font-size:16px;margin:8px 0;}
.team .title{font-size:12px;}
.team .sub{width:40px;height:1px;margin:9px auto;}
.team .info{font-size:12px;}
.team .info span{margin:0 5px;}
.team .foot{font-size:20px;margin-top:20px;}

.service{padding:20px 0px;display:none;}
.service .content{padding-top:20px;}
.service .content .child{width:86%;margin:0 1.8%;}
.service .content .child .childTitle{border:2px solid #0d6898;height:120px;}
.service .content .child .childTitle .titleEn{margin:50px 0 2px 8%;font-size:26px;}
.service .content .child .childTitle .titleCh{margin:0 0 0 8%;font-size:16px;}
.service .content .child .childContent{padding:20px 0 0 0;}
.service .content .child .childContent li{padding-left:18px;font-size:14px;line-height:28px;}

.news{height:auto; background:#464646 url(../images/index/news.jpg) no-repeat center top;background-size:auto 470px;}
.news .container{padding-top:55px;width:93.75%;}
.news .newsTitle{font-size:36px;text-align:center;}
.news .newsInfo{font-size:16px;text-align:center;}
.news .left{position:relative;float:none;width:100%;height:406px;text-align:center;}
.news .left .content{width:300px;height:330px;margin:20px auto 0 auto;}
.news .left .content .quan{width:160px;height:160px;font-size:20px;}
.news .left .content .quan .titleEn{margin-top:60px;}
#quan1{top:0px;left:73px;}
#quan2{top:120px;left:0px;}
#quan3{top:120px;left:135px;}
#quan4{top:73px;left:73px;}
.news .right{float:none;width:90%;margin:0px auto;padding:55px 0 8px 0;}
.news .right .content{padding-top:30px;}
.news .right .child{margin:0 0 19px 0;}
.news .right .child .childTime{width:22.1%;height:110px;border:1px solid #0d6898;}
.news .right .child .childTime .timeMonth{margin-top:24px;font-size:14px;}
.news .right .child .childTime .timeDay{font-size:42px;}
.news .right .child .childInfo{width:69%;margin-left:7.3%;}
.news .right .child .childInfo .title{font-size:14px;margin-bottom:6px;}
.news .right .child .childInfo .info{font-size:12px;line-height:20px;}
.news .right .child .no{width:22.1%;height:20px;}
.news .right .child .moreBtn{font-size:14px;padding-left:6px;width:90px;height:30px;line-height:30px;background:#0d6898 url(../images/rightIconOn.png) no-repeat 70px center;background-size:18px 9px;display:none;}

}
@media (min-width: 480px) and (max-width: 639px) {
.banner{margin-top:74px;}
.banner .bannerBtn{height:38px;margin-top:-19px;}
.banner .bannerBtn.leftBtn{left:5px !important;}
.banner .bannerBtn.rightBtn{right:5px !important;}
.banner .contentInfo{height:100px;margin-top:-80px;}
.banner .content{background-size:auto 450px;background-position:center 74px;}
.banner .content .title1{font-size:30px;padding-top: 0px;}
.banner .content .title2{font-size: 32px;width: 80%;line-height: 34px;margin:14px auto 26px auto;}
.banner .content .title3{border:2px solid #fff;padding:3px 12px 4px 12px;font-size:17px;}
.banner .bannerNav{bottom:10px;}
.banner .bannerNav img{width:40px;height:2px;margin:0px 3px;}
.banner .bannerBg{width:100%;height:450px;}
.mks{display:none;}
.about{padding:20px 0px;}
.im img {
    max-width: 50% !important;
}
.about .title{font-size:18px;margin-bottom:0px;padding-bottom:10px;}
.about .info{font-size:12px;line-height:18px;width:92%;}
.about .content{padding-top:10px;}
.about .contentMun{height:100px;width:330px;margin:0px auto;}
.about .contentMun .child{padding-top:18px;height:84px;width:110px;}
.about .contentMun .child .mun{font-size:30px;}
.about .contentMun .child p{font-size:12px;}
.im{height:100px !important;}
.im .container{padding-top:0 !important}
.work{padding:20px 0px;}
.work .content{padding-top:20px;width:100%;height:auto;width:100%;}
.work .content .child{width:50%;}
.work .content .child .childPointer{width:40px;bottom:10px;right:12px;}
.work .content .child .childTag{font-size:12px;}
.work .content .child .childTag .childSub{margin:3px 0;}
.work .content .child .childContent .title{font-size:14px;}
.work .content .child .info{display:none;}
.work .linkBtn {margin: 20px auto 0px auto;}

.customer{padding:20px 0px;}
.customer .container{width:300px;}
.customer .customerBtn{top:255px;width:16px;}
.customer .customerBtn.leftBtn{left:-40px;}
.customer .customerBtn.rightBtn{right:-40px;}
.customer .contents{margin:8px auto;height:367px;}
.customer .contents .content{left:0px;top:15px;width:300px;}
.customer .contents .content img{width:138px;height:60px;margin:0 5px 5px 5px;}
.customer .linkBtn{margin:20px auto 0px auto;}

.say{width:100%;height:350px;text-align:center;background:#FF000B;}
.say .imgBg{display:none;}
.say .container{padding-top:53px;width:93.75%;}
.say .sub{width:37px;height:1px;background:#fff;}
.say .sub1{margin:0px auto 15px auto;}
.say .sub2{margin:24px auto 20px auto}
.say .title1{font-size:21px;}
.say .title{font-size:40px;line-height:42px;}
.say .title2{font-size:29px;line-height:31px;}

.advantage{padding:20px 0px;}
.advantage .title{font-size:16px;line-height:22px;margin-top:20px;}
.advantage .info{font-size:12px;margin:5px 0px;}
.advantage img{margin:20px 0px;max-width:80%;}
.advantage .linkBtn{margin:0px auto;}

.team{padding:20px 0px;}
.team .content{padding-top:0px;}
.team .child{width:300px;margin:0px auto;padding:20px 0 0 0;display:block;*display:block;}
.team .child .childImg{width:298px;height:311px;}
.team .titleEn{font-size:16px;margin:8px 0;}
.team .title{font-size:12px;}
.team .sub{width:40px;height:1px;margin:9px auto;}
.team .info{font-size:12px;}
.team .info span{margin:0 5px;}
.team .foot{font-size:20px;margin-top:20px;}

.service{padding:20px 0px;display:none;}
.service .content{padding-top:20px;}
.service .content .child{width:86%;margin:0 1.8%;}
.service .content .child .childTitle{border:2px solid #0d6898;height:120px;}
.service .content .child .childTitle .titleEn{margin:50px 0 2px 8%;font-size:26px;}
.service .content .child .childTitle .titleCh{margin:0 0 0 8%;font-size:16px;}
.service .content .child .childContent{padding:20px 0 0 0;}
.service .content .child .childContent li{padding-left:18px;font-size:14px;line-height:28px;}

.news{height:auto; background:#464646 url(../images/index/news.jpg) no-repeat center top;background-size:auto 470px;}
.news .container{padding-top:55px;width:93.75%;}
.news .newsTitle{font-size:36px;text-align:center;}
.news .newsInfo{font-size:16px;text-align:center;}
.news .left{position:relative;float:none;width:100%;height:406px;text-align:center;}
.news .left .content{width:300px;height:330px;margin:20px auto 0 auto;}
.news .left .content .quan{width:160px;height:160px;font-size:20px;}
.news .left .content .quan .titleEn{margin-top:60px;}
#quan1{top:0px;left:73px;}
#quan2{top:120px;left:0px;}
#quan3{top:120px;left:135px;}
#quan4{top:73px;left:73px;}
.news .right{float:none;width:90%;margin:0px auto;padding:55px 0 8px 0;}
.news .right .content{padding-top:30px;}
.news .right .child{margin:0 0 19px 0;}
.news .right .child .childTime{width:22.1%;height:110px;border:1px solid #0d6898;}
.news .right .child .childTime .timeMonth{margin-top:24px;font-size:14px;}
.news .right .child .childTime .timeDay{font-size:42px;}
.news .right .child .childInfo{width:69%;margin-left:7.3%;}
.news .right .child .childInfo .title{font-size:14px;margin-bottom:6px;}
.news .right .child .childInfo .info{font-size:12px;line-height:20px;}
.news .right .child .no{width:22.1%;height:20px;}
.news .right .child .moreBtn{font-size:14px;padding-left:6px;width:90px;height:30px;line-height:30px;background:#0d6898 url(../images/rightIconOn.png) no-repeat 70px center;background-size:18px 9px;display:none;}

/*.banner{margin-top:74px;}
.banner .bannerBtn{height:38px;margin-top:-19px;}
.banner .bannerBtn.leftBtn{left:5px !important;}
.banner .bannerBtn.rightBtn{right:5px !important;}
.banner .contentInfo{height:100px;margin-top:-50px;}
.banner .content{background-size:auto 100%;background-position:center 74px;}
.banner .content .title1{font-size:14px;padding-top: 0px;}
.banner .content .title2{ font-size:22px;margin-bottom:10px;}
.banner .content .title3{border:2px solid #fff;padding:3px 12px 4px 12px;font-size:12px;}
.banner .bannerNav{bottom:10px;}
.banner .bannerNav img{width:40px;height:2px;margin:0px 3px;}
.banner .bannerBg{width:100%;height:450px;}

.about{padding:20px 0px;}
.about .title{font-size:18px;margin-bottom:0px;}
.about .info{font-size:12px;line-height:18px;width:300px;}
.about .content{padding-top:10px;}
.about .contentMun{height:100px;width:300px;margin:0px auto;}
.about .contentMun .child{padding-top:10px;height:90px;width:100px;}
.about .contentMun .child .mun{font-size:30px;}
.about .contentMun .child p{font-size:12px;}

.work{padding:20px 0px;}
.work .content{padding-top:20px;width:100%;height:auto;width:100%;}
.work .content .child{width:50%;}
.work .content .child .childPointer{width:40px;bottom:10px;right:12px;}
.work .content .child .childTag{font-size:12px;}
.work .content .child .childTag .childSub{margin:3px 0;}
.work .content .child .childContent .title{font-size:14px;}
.work .content .child .info{display:none;}
.work .linkBtn {margin: 20px auto 0px auto;}

.customer{padding:20px 0px;}
.customer .container{width:300px;}
.customer .customerBtn{top:216px;width:16px;}
.customer .customerBtn.leftBtn{left:0px;}
.customer .customerBtn.rightBtn{right:0px;}
.customer .contents{margin:8px auto;height:294px;}
.customer .contents .content{left:0px;top:15px;width:300px;}
.customer .contents .content img{width:107px;height:46px;margin:0 3px 5px 3px;}
.customer .linkBtn{margin:20px auto 0px auto;}

.say{width:100%;height:410px;text-align:center;background:#FF000B;}
.say .imgBg{display:none;}
.say .container{padding-top:53px;width:93.75%;}
.say .sub{width:37px;height:2px;background:#fff;}
.say .sub1{margin:0px auto 15px auto;}
.say .sub2{margin:60px auto 30px auto;}
.say .title1{font-size:21px;}
.say .title{font-size:40px;line-height:42px;}
.say .title2{font-size:29px;line-height:31px;}

.advantage{padding:20px 0px;}
.advantage .title{font-size:16px;line-height:22px;margin-top:20px;}
.advantage .info{font-size:12px;margin:5px 0px;}
.advantage img{margin:20px 0px;max-width:80%;}
.advantage .linkBtn{margin:0px auto;}

.team{padding:20px 0px;display:none;}
.team .content{padding-top:0px;}
.team .child{width:300px;margin:0px auto;padding:20px 0 0 0;display:block;*display:block;}
.team .child .childImg{width:298px;height:311px;}
.team .titleEn{font-size:16px;margin:8px 0;}
.team .title{font-size:12px;}
.team .sub{width:40px;height:3px;margin:9px auto;}
.team .info{font-size:12px;}
.team .info span{margin:0 5px;}
.team .foot{font-size:20px;margin-top:20px;}

.service{padding:20px 0px;}
.service .content{padding-top:20px;}
.service .content .child{width:86%;margin:0 1.8%;}
.service .content .child .childTitle{border:2px solid #0d6898;height:120px;}
.service .content .child .childTitle .titleEn{margin:50px 0 2px 8%;font-size:26px;}
.service .content .child .childTitle .titleCh{margin:0 0 0 8%;font-size:16px;}
.service .content .child .childContent{padding:20px 0 0 0;}
.service .content .child .childContent li{padding-left:18px;font-size:14px;line-height:28px;}

.news{height:auto; background:#464646 url(../images/index/news.jpg) no-repeat center top;background-size:auto 412px;}
.news .container{padding-top:55px;width:93.75%;}
.news .newsTitle{font-size:36px;text-align:center;}
.news .newsInfo{font-size:16px;text-align:center;}
.news .left{position:relative;float:none;width:100%;height:356px;text-align:center;}
.news .left .content{width:200px;height:220px;margin:20px auto 0 auto;}
.news .left .content .quan{width:110px;height:110px;font-size:14px;}
.news .left .content .quan .titleEn{margin-top:42px;}
#quan1{top:0px;left:45px;}
#quan2{top:80px;left:0px;}
#quan3{top:80px;left:90px;}
#quan4{top:45px;left:45px;}
.news .right{float:none;width:90%;margin:0px auto;padding:55px 0;}
.news .right .content{padding-top:30px;}
.news .right .child{margin:0 0 19px 0;}
.news .right .child .childTime{width:22.1%;height:110px;border:2px solid #0d6898;}
.news .right .child .childTime .timeMonth{margin-top:24px;font-size:14px;}
.news .right .child .childTime .timeDay{font-size:42px;}
.news .right .child .childInfo{width:69%;margin-left:7.3%;}
.news .right .child .childInfo .title{font-size:14px;margin-bottom:6px;}
.news .right .child .childInfo .info{font-size:12px;line-height:20px;}
.news .right .child .no{width:22.1%;height:20px;}
.news .right .child .moreBtn{font-size:14px;padding-left:6px;width:90px;height:30px;line-height:30px;background:#0d6898 url(../images/rightIconOn.png) no-repeat 70px center;background-size:18px 9px;display:none;}
*/
}
@media (min-width: 640px) and (max-width:1023px ) {
.banner{margin-top:74px;}
.banner .bannerBtn{height:74px;margin-top:-37px;}
.banner .bannerBtn.leftBtn{left:10px !important;}
.banner .bannerBtn.rightBtn{right:10px !important;}
.banner .contentInfo{height:100px;margin-top:-80px;}
.banner .content{background-size:auto 600px;background-position:center 74px;}
.banner .content .title1{font-size:30px;padding-top: 0px;}
.banner .content .title2{font-size: 32px;width: 80%;line-height: 34px;margin:14px auto 26px auto;}
.banner .content .title3{border:2px solid #fff;padding:6px 24px 8px 24px;font-size:18px;}
.banner .bannerNav{bottom:10px;}
.banner .bannerNav img{width:80px;height:4px;margin:0px 3px;}
.banner .bannerBg{width:100%;height:600px;}
.about{padding:40px 0px;}
.about .title{font-size:30px;margin-bottom:20px;}
.about .info{font-size:16px;line-height:24px;width:500px;}
.about .content{padding-top:30px;}
.about .contentMun{height:180px;width:600px;margin:0px auto;}
.about .contentMun .child{padding-top:20px;height:160px;width:200px;}
.about .contentMun .child .mun{font-size:60px;}
.about .contentMun .child p{font-size:18px;}
.im{height:160px !important;}
.im .container{padding-top:10px !important}
.ssx ul li{width:25%;}
.im img{    max-width: 60% !important;}
.work{padding:40px 0px;}
.work .content{padding-top:40px;width:100%;height:auto;width:100%;}
.work .content .child{width:50%;}
.work .content .child .info{display:none;}

.customer{padding:40px 0px;}
.customer .container{width:600px;}
.customer .customerBtn{top:425px;width:30px;}
.customer .customerBtn.leftBtn{left:0px;}
.customer .customerBtn.rightBtn{right:0px;}
.customer .contents{margin:15px auto;height:580px;}
.customer .cnma{height:250px;margin:0 auto;}
.customer .contents .content{left:0px;top:30px;width:600px;}
.customer .contents .content img{width:215px;height:91px;margin:0 5px 10px 5px;}
.customer .cnma .content img{width:143px;height:auto;margin:0 auto;}
.customer .linkBtn{margin:20px auto 0px auto;}

.say{width:100%;height:610px;text-align:center;}
.say .imgBg{display:none;}
.say .container{padding-top:60px;width:93.75%;}
.say .sub{width:37px;height:2px;background:#fff;}
.say .sub1{margin:0px auto 30px auto;}
.say .sub2{margin:40px auto 40px auto;}
.say .title1{font-size:42px;}
.say .title{font-size:80px;line-height:85px;}
.say .title2{font-size:58px;line-height:62px;}

.advantage{padding:40px 0px;}
.advantage .title{font-size:30px;margin-top:30px;}
.advantage .info{font-size:16px;margin:10px 0px;}
.advantage img{margin:70px 0px;max-width:80%;}
.advantage .linkBtn{margin:0px auto;}

.team{padding:40px 0px 30px 0px;}
.team .content{padding-top:40px;}
.team .child{width:300px;margin:0px auto;padding:20px 0;display:block;*display:block;}
.team .child .childImg{width:298px;height:311px;}
.team .titleEn{font-size:30px;margin:16px 0;}
.team .title{font-size:18px;}
.team .sub{width:40px;height:3px;margin:18px auto;}
.team .info{font-size:14px;}
.team .info span{margin:0 10px;}
.team .foot{font-size:36px;margin-top:0px;}

.service{padding:40px 0px;display:none;}
.service .content{padding-top:40px;}
.service .content .child{width:50%;margin:0 1.8%;}
.service .content .child .childTitle{border:2px solid #0d6898;height:160px;}
.service .content .child .childTitle .titleEn{margin:75px 0 2px 8%;font-size:30px;}
.service .content .child .childTitle .titleCh{margin:0 0 0 8%;font-size:20px;}
.service .content .child .childContent{padding:30px 0 0 0;}
.service .content .child .childContent li{padding-left:25px;font-size:18px;line-height:32px;}

.news{height:auto; background:#464646 url(../images/index/news.jpg) no-repeat center top;background-size:auto 700px;}
.news .container{padding-top:60px;width:93.75%;}
.news .newsTitle{font-size:72px;text-align:center;}
.news .newsInfo{font-size:30px;text-align:center;}
.news .left{position:relative;float:none;width:100%;height:650px;text-align:center;}
.news .left .content{width:400px;height:440px;margin:40px auto 0 auto;}
.news .left .content .quan{width:220px;height:220px;background-size:100% 100%;text-align:center;font-size:24px;}
.news .left .content .quan .titleEn{margin-top:84px;}
#quan1{top:0px;left:180px;}
#quan2{top:160px;left:0px;}
#quan3{top:160px;left:180px;}
#quan4{top:90px;left:90px;}
.news .right{float:none;width:520px;margin:0px auto;padding:60px 0;}
.news .right .content{padding-top:60px;}
.news .right .content>.child{display:none;}
.news .right .child{margin:0 0 38px 0;}
.news .right .child .childTime{width:22.1%;height:124px;border:3px solid #0d6898;}
.news .right .child .childTime .timeMonth{margin-top:10px;font-size:24px;}
.news .right .child .childTime .timeDay{font-size:72px;}
.mks{display:none;}
.news .right .child .childInfo{width:69%;margin-left:7.3%;}
.news .right .child .childInfo .title{font-size:18px;margin-bottom:20px;}
.news .right .child .childInfo .info{font-size:14px;line-height:20px;}
.news .right .child .no{width:22.1%;height:50px;}
.news .right .child .moreBtn{padding-left:10px;width:157px;height:40px;line-height:40px;background:#0d6898 url(../images/rightIconOn.png) no-repeat 114px center;background-size:36px 18px;display:none;}

}
@media (min-width: 1024px) and (max-width:1199px ) {
.banner .contentInfo{transform-origin:center;-moz-transform-origin:center;-ms-transform-origin:center;-o-transform-origin:center;-webkit-transform-origin:center;}
.banner .contentInfo{transform:scale(0.83);-moz-transform:scale(0.83);-ms-transform:scale(0.83);-o-transform:scale(0.83);-webkit-transform:scale(0.83);}
.banner{margin-top:68px;}
.banner .bannerBtn{height:90px;margin-top:-45px;}
.banner .bannerBtn.leftBtn{left:-100px;}
.banner .bannerBtn.rightBtn{right:-100px;}
.xss{display:none;}
.banner .contentInfo{height:180px;margin-top:-90px;}
.banner .content{background-position:left 68px;}
.banner .content .title1{font-size:30px;padding-top:22px;}
.banner .content .title2{ font-size:52px;margin-bottom:16px;}
.banner .content .title3{border:3px solid #fff;padding:5px 18px 6px 18px;font-size:20px;}
.banner .bannerNav{bottom:23px;}
.banner .bannerNav img{width:100px;height:3px;margin:0px 3px;}
.im{height:250px !important;}
.im .container{padding-top:30px !important}
.about{padding:58px 0px 66px 0;}
.about .title{font-size:35px;}
.about .info{font-size:12px;line-height:20px;width:573px;}
.about .content{padding-top:16px;}
.about .contentMun{height:187px;width:523px;}
.about .contentMun .child{padding-top:32px;height:156px;width:174px;}
.about .contentMun .child .mun{font-size:66px;}
.about .contentMun .child p{font-weight:100;font-size:15px;}

.work{padding:58px 0px 66px 0;}
.work .content{padding-top:33px;}
.work .content .child .childPointer{bottom:10px;right:13px;width:44px;}
.work .content .child .childTag{font-size:15px;}
.work .content .child .childTag .childSub{width:13px;height:1px;margin:6px 0px;}
.work .content .child .childContent{height:33px;margin-top:-30px;}
.work .content .child .childContent .title{font-size:14px;}
.work .content .child .childContent .info{font-size:12px;margin-top:5px;}
.work .linkBtn{margin:50px auto 0px auto;}


.customer .customerBtn{top:216px;width:34px;}
.customer .container{width:796px;}
.customer .customerBtn{top:188px;width:34px;}
.customer .customerBtn.leftBtn{left:-83px;}
.customer .customerBtn.rightBtn{right:-83px;}
.customer .contents{margin:8px auto 25px auto;height:160px;}
.customer .contents .contentss{top:0px;left:0px;}
.customer .contents .content{left:0px;top:25px;width:796px;}
.customer .contents .content img{width:143px;height:60px;margin:0 5px 5px 4px;}
.customer .linkBtn{margin:66px auto 0px auto;}
.customer .cnmas{width:934px;}
.customer .cnmas .customerBtn{top:70px !important;}
.customer .cnma .content img{height:auto;}
.say{height:564px;}
.say .imgBg{height:564px;background-size:560px auto;}
.say .container{padding-top:88px;width:796px;}
.say .sub1{margin:0px 0px 19px 0px;}
.say .sub2{margin:109px 0px 37px 0px;}
.say .title1{font-size:26px;}
.say .title{font-size:50px;line-height:53px;}
.say .title2{font-size:36px;line-height:40px;}

.advantage{padding:58px 0px 66px 0;}
.advantage .title{font-size:36px;line-height:36px;margin-top:33px;}
.advantage .info{font-size:12px;margin:6px 0px;}
.advantage img{margin:44px 0px;width:60%;}

.team{padding:58px 0px 66px 0;}
.team .content{padding-top:33px;}
.team .child{width:248px;margin: 0 8px;}
.team .child .childImg{width:246px;height:258px;}
.team .titleEn{font-size:25px;margin:13px 0;}
.team .title{font-size:15px;}
.team .sub{width:33px;height:2px;margin:15px auto;}
.team .info{font-size:12px;}
.team .info span{margin:0 8px;}
.team .foot{font-size:23px;margin-top:41px;}


.service{padding:58px 0px 66px 0;}
.service .content{padding-top:33px;}
.service .content .child{width:31.3%;margin:0 0.8%;}
.service .content .child .childTitle{height:132px;}
.service .content .child .childTitle .titleEn{margin:62px 0 2px 8%;font-size:19px;}
.service .content .child .childTitle .titleCh{font-size:13px;}
.service .content .child .childContent{padding:25px 0 0 0;}
.service .content .child .childContent li{padding-left:21px;font-size:12px;line-height:20px;}
.new_say .col-lg-8 {
    margin-top: 50px;
    width: 407px;
    margin-left: 10px;
}
.news{height:685px;}
.news .container{padding-top:91px;width:796px;}
.news .newsTitle{font-size:44px;}
.news .newsInfo{font-size:19px;}
.news .left .content{width:365px;height:365px;margin-top:25px;}
/*.news .left .content .quan{width:220px;height:220px;font-size:18px;}*/
.news .left .content .quan .titleEn{margin-top:70px;}
.news .left .content .quan {width: 183px;height: 183px;font-size: 20px;}
#quan1{top:0px;left:75px;}
#quan2{top:132px;left:0px;}
#quan3{top:133px;left:150px;}
#quan4{top:75px;left:75px;background:none;}

.news .right .child{margin:0 0 31px 0;}
.news .right .child .childTime{width:22.1%;height:108px;border:2px solid #0d6898;}
.news .right .child .childTime .timeMonth{margin-top:8px;font-size:20px;}
.news .right .child .childTime .timeDay{font-size:60px;}

.news .right .child .childInfo .title{font-size:15px;margin-bottom:16px;}
.news .right .child .childInfo .info{font-size:12px;line-height:18px;}
.news .right .child .no{height:41px;}
.news .right .child .moreBtn{padding-left:8px;width:130px;height:33px;line-height:33px;background:#0d6898 url(../images/rightIconOn.png) no-repeat 94px center;background-size:30px 15px;}

}
@media (min-width: 1200px) and (max-width:1439px ) {
.banner .contentInfo{transform-origin:center;-moz-transform-origin:center;-ms-transform-origin:center;-o-transform-origin:center;-webkit-transform-origin:center;}
.banner .contentInfo{transform:scale(0.83);-moz-transform:scale(0.83);-ms-transform:scale(0.83);-o-transform:scale(0.83);-webkit-transform:scale(0.83);}
.banner{margin-top:68px;}
.banner .bannerBtn{height:90px;margin-top:-45px;}
.banner .bannerBtn.leftBtn{left:-100px;}
.banner .bannerBtn.rightBtn{right:-100px;}
.xss{display:none;}
.banner .contentInfo{height:180px;margin-top:-90px;}
.banner .content{background-position:left 68px;}
.banner .content .title1{font-size:30px;padding-top: 28px;}
.banner .content .title2{ font-size:52px;margin-bottom:16px;}
.banner .content .title3{border:3px solid #fff;padding:5px 18px 6px 18px;font-size:20px;}
.banner .bannerNav{bottom:23px;}
.banner .bannerNav img{width:60px;height:3px;margin:0px 3px;}


.about{padding:58px 0px 66px 0;}
.about .title{font-size:35px;}
.about .info{font-size:12px;line-height:20px;width:573px;}
.about .content{padding-top:16px;}
.about .contentMun{height:187px;width:523px;}
.about .contentMun .child{padding-top:32px;height:156px;width:174px;}
.about .contentMun .child .mun{font-size:66px;}
.about .contentMun .child p{font-weight:100;font-size:15px;}

.work{padding:58px 0px 66px 0;}
.work .content{padding-top:33px;}
.work .content .child .childPointer{bottom:10px;right:13px;width:44px;}
.work .content .child .childTag{font-size:15px;}
.work .content .child .childTag .childSub{width:13px;height:1px;margin:6px 0px;}
.work .content .child .childContent{height:33px;margin-top:-30px;}
.work .content .child .childContent .title{font-size:14px;}
.work .content .child .childContent .info{font-size:12px;margin-top:5px;}
.work .linkBtn{margin:50px auto 0px auto;}
.im{height:100px !important;}
.im .container{padding-top:0 !important}

.customer .customerBtn{top:216px;width:34px;}
.customer .container{width:796px;}
.customer .customerBtn{top:200px;width:34px;}
.customer .customerBtn.leftBtn{left:-83px;}
.customer .customerBtn.rightBtn{right:-83px;}
.customer .contents{margin:8px auto 25px auto;height:232px;}
.customer .contents .contentss{top:0px;left:0px;}
.customer .contents .content{left:0px;top:25px;width:796px;}
.customer .contents .content img{width:143px;height:60px;margin:0 5px 37px 4px;}
.customer .linkBtn{margin:66px auto 0px auto;}
.customer .cnmas{width:934px;}
.customer .cnmas .customerBtn{top:100px !important;}
.customer .cnma .content img{height:auto;}

.say{height:564px;}
.say .imgBg{height:564px;background-size:560px auto;}
.say .container{padding-top:88px;width:796px;}
.say .sub1{margin:0px 0px 19px 0px;}
.say .sub2{margin:109px 0px 37px 0px;}
.say .title1{font-size:26px;}
.say .title{font-size:50px;line-height:53px;}
.say .title2{font-size:36px;line-height:40px;}

.advantage{padding:58px 0px 66px 0;}
.advantage .title{font-size:36px;line-height:36px;margin-top:33px;}
.advantage .info{font-size:12px;margin:6px 0px;}
.advantage img{margin:44px 0px;width:60%;}

.team{padding:58px 0px 66px 0;}
.team .content{padding-top:33px;}
.team .child{width:248px;margin: 0 8px;}
.team .child .childImg{width:246px;height:258px;}
.team .titleEn{font-size:25px;margin:13px 0;}
.team .title{font-size:15px;}
.team .sub{width:33px;height:2px;margin:15px auto;}
.team .info{font-size:12px;}
.team .info span{margin:0 8px;}
.team .foot{font-size:23px;margin-top:41px;}


.service{padding:58px 0px 66px 0;}
.service .content{padding-top:33px;}
.service .content .child{width:31.3%;margin:0 0.8%;}
.service .content .child .childTitle{height:132px;}
.service .content .child .childTitle .titleEn{margin:62px 0 2px 8%;font-size:19px;}
.service .content .child .childTitle .titleCh{font-size:13px;}
.service .content .child .childContent{padding:25px 0 0 0;}
.service .content .child .childContent li{padding-left:21px;font-size:12px;line-height:20px;}

.news{height:685px;}
.news .container{padding-top:91px;width:796px;}
.news .newsTitle{font-size:44px;}
.news .newsInfo{font-size:19px;}
.news .left .content{width:365px;height:365px;margin-top:25px;}
/*.news .left .content .quan{width:220px;height:220px;font-size:18px;}*/
.news .left .content .quan .titleEn{margin-top:70px;}
.news .left .content .quan {width: 183px;height: 183px;font-size: 20px;}
#quan1{top:0px;left:75px;}
#quan2{top:132px;left:0px;}
#quan3{top:133px;left:150px;}
#quan4{top:75px;left:75px;background:none;}

.news .right .child{margin:0 0 31px 0;}
.news .right .child .childTime{width:22.1%;height:108px;border:2px solid #0d6898;}
.news .right .child .childTime .timeMonth{margin-top:8px;font-size:20px;}
.news .right .child .childTime .timeDay{font-size:60px;}

.news .right .child .childInfo .title{font-size:15px;margin-bottom:16px;}
.news .right .child .childInfo .info{font-size:12px;line-height:18px;}
.news .right .child .no{height:41px;}
.news .right .child .moreBtn{padding-left:8px;width:130px;height:33px;line-height:33px;background:#0d6898 url(../images/rightIconOn.png) no-repeat 94px center;background-size:30px 15px;}


}
@media (min-width: 1440px) and (max-width:1920px ) {

.banner{margin-top:82px;}
.banner .bannerBtn{height:112px;margin-top:-56px;}
.banner .bannerBtn.leftBtn{left:-100px;}
.banner .bannerBtn.rightBtn{right:-100px;}

.banner .contentInfo{height:220px;margin-top:-110px;}
.banner .content{background-position:left 82px;}
.banner .content .title1{font-size:36px;padding-top:36px;}
.banner .content .title2{ font-size:50px;margin-bottom:16px;}
.banner .content .title3{border:3px solid #fff;padding:5px 18px 6px 18px;font-size:24px;}
.banner .bannerNav{bottom:23px;}
.banner .bannerNav img{width:80px;height:4px;margin:0px 3px;}
.xss{display:none;}

.about{padding:70px 0px 80px 0;}
.about .title{font-size:44px;}
.about .info{font-size:14px;line-height:26px;width:690px;}
.about .content{padding-top:20px;}
.about .contentMun{height:225px;width:630px;}
.about .contentMun .child{padding-top:38px;height:188px;width:210px;}
.about .contentMun .child .mun{font-size:80px;}
.about .contentMun .child p{font-weight:100;font-size:18px;}

.work{padding:70px 0px 80px 0px;}
.work .content{padding-top:40px;}
.work .content .child .childPointer{bottom:13px;right:16px;width:54px;}
.work .content .child .childTag{font-size:18px;}
.work .content .child .childTag .childSub{width:16px;height:2px;margin:8px 0px;}
.work .content .child .childContent{height:40px;margin-top:-20px;}
.work .content .child .childContent .title{font-size:16px;}
.work .content .child .childContent .info{font-size:12px;margin-top:6px;}
.work .linkBtn{margin:60px auto 0px auto;}


/*.customer .customerBtn{position:absolute;top:260px;width:42px;}*/
.customer .customerBtn{top:260px;width:42px;}
.customer .container{width:930px;}
.customer .cnma{width:934px;}
.customer .cnmas .customerBtn{top:100px !important;}
.customer .cnma .content img{width:219px;height:auto;margin:0 4px 45px 4px;}
.customer .customerBtn{top:235px;width:52px;}
.customer .customerBtn.leftBtn{left:-100px;}
.customer .customerBtn.rightBtn{right:-100px;}
.customer .contents{margin:10px auto 30px auto;height:280px;}
.customer .contents .contentss{top:0px;left:0px;}
.customer .contents .content{left:0px;top:30px;width:930px;}

.customer .linkBtn{margin:0px auto 0px auto;}

.say{height:645px;}
.say .imgBg{height:645px;background-size:645px auto;}
.say .container{padding-top:205px;width:930px;}
.say .sub1{margin:0px 0px 23px 0px;}
.say .sub2{margin:131px 0px 45px 0px;}
.say .title1{font-size:32px;}
.say .title{font-size:60px;line-height:64px;}
.say .title2{font-size:44px;line-height:48px;}

.advantage{padding:70px 0px 80px 0px;}
.advantage .title{font-size:44px;line-height:44px;margin-top:40px;}
.advantage .info{font-size:14px;margin:8px 0px;}
.advantage img{margin:53px 0px;}

.team{padding:70px 0px 80px 0px;}
.team .content{padding-top:40px;}

.team .foot{font-size:28px;margin-top:50px;}

.service{padding:70px 0px 80px 0px;}
.service .content{padding-top:40px;}
.service .content .child .childTitle{height:160px;}
.service .content .child .childTitle .titleEn{margin:75px 0 2px 8%;font-size:23px;}
.service .content .child .childTitle .titleCh{font-size:16px;}
.service .content .child .childContent{padding:30px 0 0 0;}
.service .content .child .childContent li{padding-left:25px;font-size:14px;line-height:24px;}

.news{height:826px;}
.news .container{padding-top:110px;width:930px;}
.news .newsTitle{font-size:54px;}
.news .newsInfo{font-size:23px;}
.news .left .content{width:440px;height:440px;margin-top:30px;}
/*.news .left .content .quan{width:220px;height:220px;font-size:18px;}*/
.news .left .content .quan .titleEn{margin-top:84px;}
#quan1{top:0px;left:180px;}
#quan2{top:160px;left:0px;}
#quan3{top:160px;left:180px;}
#quan4{top:90px;left:90px;}
.titleCh{z-index:9990;}
.news .container{width:1107px;}
.news .right .child{margin:0 0 38px 0;}
/*.news .right .child .childTime{height:116px;}
.news .right .child .childTime .timeMonth{margin-top:10px;font-size:18px;*font-size:14px;_font-size:14px;font-size:14px\0;}
.news .right .child .childTime .timeDay{font-size:54px;}*/
.news .right .child .childInfo .title{font-size:18px;margin-bottom:20px;}
.news .right .child .childInfo .info{font-size:12px;line-height:20px;}
.news .right .child .no{height:50px;}
.news .right .child .moreBtn{padding-left:10px;width:157px;height:40px;line-height:40px;background:#0d6898 url(../images/rightIconOn.png) no-repeat 114px center;background-size:36px 18px;}


}
.say .title {
    padding-top: 100px;
}
.say .tits {
    padding-top: 0px;
}
.say img{
	max-width:100%;
}

