.banner{position:relative;width:100%;height:auto;overflow:hidden;margin-top:120px;background-size:100% auto;background-repeat:no-repeat;background-position:left 120px;background-attachment:fixed;}
.banner .bannerBg{ visibility:hidden;width:100%;height:auto;vertical-align:middle;}
.banner .bannerInfo{position:absolute;top:50%;left:0px;width:100%;height:220px;margin-top:-110px;text-align:center;color:#fff;}
.banner .bannerInfo .title{font-family:'MyriadPro-Bold_0';font-size:55px;line-height:60px;}
.banner .bannerInfo .titleCh{position:relative;top:20px;border:3px solid #fff;padding:6px 24px 8px 24px;font-size:27px;font-weight:bold;color:#fff;text-align:center;}
.nnns{background:#086696;padding:10px 30px;margin:2% 0;line-height:38px;border:2px solid #086696;display:block;}
.nnns span{color:#fff; line-height:24px;display:block;}
.coss{width:150px; margin:0 auto;}
.main{position:relative;}
.coss .nnns:hover{background:#fff;border:2px solid #086696}.coss .nnns:hover span{color:#086696;}
.main .child{padding:70px 0 80px 0;border-bottom:1px solid #949494;text-align:center;}
.main .child .mainsTitle{color:#434343;font-size:55px;line-height:55px;font-family:"NotoSansHans-Light";}
.main .child .mainSub{width:126px;height:2px;margin:44px auto;}
.main .child .mainsInfo{color:#434343;font-size:18px;line-height:30px;}
#child1 .titleEn{color:#444;font-size:36px;line-height:36px;font-family:"NotoSansHans-Light";}
#child1 .title{color:#434343;font-size:55px;line-height:66px;font-family:"NotoSansHans-Light";}
#child1 .info{color:#434343;font-size:18px;line-height:30px;}
#child2 img{margin-top:50px;}
#child3 img{margin-top:50px;}
#child4 img{margin-top:50px;}
#child5 img{margin-top:50px;}
#child6 .contentChild{ vertical-align:top;width:230px;margin:32px 36px 0 36px;display:inline-block;*display:inline;*zoom:1;}
#child6 .contentChild .childHead{width:230px;height:230px;background-image:url(../images/model/quan.png);background-repeat:no-repeat;background-position:center;background-size:cover;}
#child6 .contentChild .childHead .childTitleEn{padding-top:65px;line-height:50px;color:#086696;font-size:36px;font-family:"MyriadPro-Cond_0";font-weight:bold;}
#child6 .contentChild .childHead .childTitle{color:#086696;font-size:24px;line-height:40px;}
#child6 .contentChild .childInfo{margin-top:26px;color:#434343;font-size:18px;line-height:30px;}
@media  (max-width: 479px) {
.banner{margin-top:0px;background-position:center 74px; background-size:auto 230px;}
.banner .bannerBg{height:230px;}
.banner .bannerInfo{height:80px;margin-top:-40px;}
.banner .bannerInfo .title{font-size:20px;line-height:20px;}
.banner .bannerInfo .titleCh{width:auto;font-size:14px;padding:1px 4px 3px 4px;border:1px solid #fff;top:12px;}

.main .container{width:80%;}
.main .child{padding:20px 0;}
.main .child .mainsTitle{font-size:21px;line-height:22px;}
.main .child .mainSub{width:63px;height:1px;margin:14px auto;}
.main .child .mainsInfo{font-size:12px;line-height:18px;margin-top:10px;}
#child1 .titleEn{font-size:14px;line-height:14px;margin-top:10px;}
#child1 .title{font-size:16px;line-height:24px;}
#child1 .info{font-size:12px;line-height:16px;}
#child1 img{width:300px;}
#child2 img{margin-top:18px;max-width:100%;}
#child3 img{margin-top:18px;width:232px;}
#child4 img{margin-top:18px;width:186px;}
#child5 img{margin-top:18px;width:200px;}
#child6 .contentChild{width:83px;margin:11px 8px 0 8px;}
#child6 .contentChild .childHead{width:83px;height:83px;}
#child6 .contentChild .childHead .childTitleEn{padding-top:32px;line-height:18px;font-size:14px;}
#child6 .contentChild .childHead .childTitle{font-size:12px;line-height:18px;display:none;}
#child6 .contentChild .childInfo{margin-top:9px;font-size:12px;line-height:18px;display:none;}
}
@media (min-width: 480px) and (max-width: 639px) {
.banner{margin-top:74px;background-position:center 74px; background-size:auto 340px;}
.banner .bannerBg{height:340px;}
.banner .bannerInfo{height:120px;margin-top:-60px;}
.banner .bannerInfo .title{font-size:30px;line-height:30px;}
.banner .bannerInfo .titleCh{width:auto;font-size:20px;padding:2px 6px 5px 6px;border:1px solid #fff;top:16px;}

.main .container{width:80%;}
.main .child{padding:20px 0;}
.main .child .mainsTitle{font-size:18px;line-height:22px;}
.main .child .mainSub{width:63px;height:2px;margin:14px auto;}
.main .child .mainsInfo{font-size:12px;line-height:18px;padding-top:10px;}
#child1 .titleEn{font-size:14px;line-height:14px;}
#child1 .title{font-size:16px;line-height:24px;}
#child1 .info{font-size:12px;line-height:16px;}
#child1 img{width:100%;}
#child2 img{margin-top:18px;max-width:100%;}
#child3 img{margin-top:18px;width:232px;}
#child4 img{margin-top:18px;width:186px;}
#child5 img{margin-top:18px;width:200px;}
#child6 .contentChild{width:83px;margin:11px 8px 0 8px;}
#child6 .contentChild .childHead{width:83px;height:83px;}
#child6 .contentChild .childHead .childTitleEn{padding-top:23px;line-height:18px;font-size:14px;}
#child6 .contentChild .childHead .childTitle{font-size:12px;line-height:18px;}
#child6 .contentChild .childInfo{display:none;margin-top:9px;font-size:12px;line-height:18px;}
}
@media (min-width: 640px) and (max-width:1023px ) {
.banner{margin-top:74px;background-position:center 74px; background-size:auto 450px;}
.banner .bannerBg{height:450px;}
.banner .bannerInfo{height:160px;margin-top:-80px;}
.banner .bannerInfo .title{font-size:40px;line-height:40px;}
.banner .bannerInfo .titleCh{position:relative;top:16px;width:auto;font-size:26px;padding:2px 10px 6px 10px;border:2px solid #fff;}

.main .container{width:80%;}
.main .child{padding:40px 0;}
.main .child .mainsTitle{font-size:24px;line-height:42px;}
.main .child .mainSub{width:126px;height:2px;margin:27px auto;}
.main .child .mainsInfo{font-size:14px;line-height:22px;text-align:left}
#child1 .titleEn{font-size:14px;line-height:26px;}
#child1 .title{font-size:24px;line-height:48px;}
#child1 .info{font-size:14px;line-height:22px;}
#child1 img{width:100%;}
#child2 img{margin-top:36px;max-width:100%;}
#child3 img{margin-top:36px;width:463px;}
#child4 img{margin-top:36px;width:371px;}
#child5 img{margin-top:36px;width:396px;}
#child6 .contentChild{width:166px;margin:22px 16px 0 16px;}
#child6 .contentChild .childHead{width:166px;height:166px;}
#child6 .contentChild .childHead .childTitleEn{padding-top:46px;line-height:36px;font-size:26px;}
#child6 .contentChild .childHead .childTitle{font-size:17px;line-height:26px;}
#child6 .contentChild .childInfo{display:none;margin-top:18px;font-size:14px;line-height:22px;}
}
@media (min-width: 1024px) and (max-width:1199px ) {
.banner{margin-top:68px;background-position:left 68px;background-size: auto 300px;}
.banner .bannerBg{height: 300px;}
.banner .bannerInfo{transform-origin:center;-moz-transform-origin:center;-ms-transform-origin:center;-o-transform-origin:center;-webkit-transform-origin:center;}
.banner .bannerInfo{transform:scale(0.83);-moz-transform:scale(0.83);-ms-transform:scale(0.83);-o-transform:scale(0.83);-webkit-transform:scale(0.83);}
.banner .bannerInfo{height:160px;margin-top:-80px;}
.banner .bannerInfo .title{font-size:46px;line-height:48px;}
.banner .bannerInfo .titleCh{position:relative;top:16px;border:3px solid #fff;padding:5px 18px 6px 18px;font-size:20px;}
.main .container{width:796px;}
.main .child{padding:58px 0px 66px 0;}
.main .child .mainsTitle{font-size:24px;line-height:41px;}
.main .child .mainSub{width:104px;height:2px;margin:26px auto;}
.main .child .mainsInfo{font-size:13px;line-height:21px;text-align:left;}
#child1 .titleEn{font-size:16px;line-height:25px;}
#child1 .title{font-size:25px;line-height:46px;}
#child1 .info{font-size:13px;line-height:21px;}
#child1 img{width:667px;}
#child2 img{margin-top:35px;max-width:100%;}
#child3 img{margin-top:35px;width:452px;}
#child4 img{margin-top:35px;width:362px;}
#child5 img{margin-top:35px;width:386px;}
#child6 .contentChild{width:162px;margin:22px 24px 0 24px;}
#child6 .contentChild .childHead{width:162px;height:162px;}
#child6 .contentChild .childHead .childTitleEn{padding-top:45px;line-height:34px;font-size:25px;}
#child6 .contentChild .childHead .childTitle{font-size:16px;line-height:25px;}
#child6 .contentChild .childInfo{margin-top:18px;font-size:13px;line-height:21px;}
}
@media (min-width: 1200px) and (max-width:1439px ) {
.banner{margin-top:68px;background-position:left 68px;}
.banner .bannerInfo{transform-origin:center;-moz-transform-origin:center;-ms-transform-origin:center;-o-transform-origin:center;-webkit-transform-origin:center;}
.banner .bannerInfo{transform:scale(0.83);-moz-transform:scale(0.83);-ms-transform:scale(0.83);-o-transform:scale(0.83);-webkit-transform:scale(0.83);}
.banner .bannerInfo{height:160px;margin-top:-80px;}
.banner .bannerInfo .title{font-size:46px;line-height:48px;}
.banner .bannerInfo .titleCh{position:relative;top:16px;border:3px solid #fff;padding:5px 18px 6px 18px;font-size:20px;}
.main .container{width:796px;}
.main .child{padding:58px 0px 66px 0;}
.main .child .mainsTitle{font-size:24px;line-height:41px;}
.main .child .mainSub{width:104px;height:2px;margin:26px auto;}
.main .child .mainsInfo{font-size:13px;line-height:21px;text-align:left;}
#child1 .titleEn{font-size:16px;line-height:25px;}
#child1 .title{font-size:25px;line-height:46px;}
#child1 .info{font-size:13px;line-height:21px;}
#child1 img{width:667px;}
#child2 img{margin-top:35px;max-width:100%;}
#child3 img{margin-top:35px;width:452px;}
#child4 img{margin-top:35px;width:362px;}
#child5 img{margin-top:35px;width:386px;}
#child6 .contentChild{width:162px;margin:22px 24px 0 24px;}
#child6 .contentChild .childHead{width:162px;height:162px;}
#child6 .contentChild .childHead .childTitleEn{padding-top:45px;line-height:34px;font-size:25px;}
#child6 .contentChild .childHead .childTitle{font-size:16px;line-height:25px;}
#child6 .contentChild .childInfo{margin-top:18px;font-size:13px;line-height:21px;}
}
@media (min-width: 1440px) and (max-width:1920px ) {
.banner{margin-top:82px;background-position:left 82px;}
.banner .bannerInfo{height:160px;margin-top:-80px;}
.banner .bannerInfo .title{font-size:46px;line-height:48px;}
.banner .bannerInfo .titleCh{position:relative;top:16px;border:3px solid #fff;padding:5px 18px 6px 18px;font-size:24px;}

.main .container{width:960px;}
.main .child{padding:70px 0 80px 0;}
.main .child .mainsTitle{font-size:24px;line-height:44px;}
.main .child .mainSub{width:126px;height:2px;margin:32px auto;}
.main .child .mainsInfo{font-size:16px;line-height:26px; text-align:left;}
#child1 .titleEn{font-size:16px;line-height:30px;}
#child1 .title{font-size:44px;line-height:56px;}
#child1 .info{font-size:16px;line-height:26px;}
#child1 img{width:804px;}
#child2 img{margin-top:20px;max-width: 100%;}
#child3 img{margin-top:43px;width:545px;}
#child4 img{margin-top:43px;width:437px;}
#child5 img{margin-top:43px;width:466px;}
#child6 .contentChild{width:196px;margin:27px 30px 0 30px;}
#child6 .contentChild .childHead{width:196px;height:196px;}
#child6 .contentChild .childHead .childTitleEn{padding-top:55px;line-height:42px;font-size:30px;}
#child6 .contentChild .childHead .childTitle{font-size:20px;line-height:30px;}
#child6 .contentChild .childInfo{margin-top:22px;font-size:16px;line-height:26px;}
}