.banner{position:relative;width:100%;height:auto;overflow:hidden;margin-top:120px;background-size:100% auto;background-repeat:no-repeat;background-position:left 120px;background-attachment:fixed;}
.banner .bannerBg{ visibility:hidden;width:100%;height:auto;vertical-align:middle;}
.banner .bannerInfo{position:absolute;top:50%;left:0px;width:100%;height:220px;margin-top:-110px;text-align:center;color:#fff;}
.banner .bannerInfo .title{font-family:'MyriadPro-Bold_0';font-size:55px;line-height:60px;}
.banner .bannerInfo .titleCh{position:relative;top:20px;border:3px solid #fff;padding:6px 24px 8px 24px;font-size:27px;font-weight:bold;color:#fff;text-align:center;}
.ssx li{width:50%;display:inline-block;    float: left;}
.ssx li img{max-width:100%;}
.main{position:relative;text-align:center;border-bottom:1px solid #949494;}
.main .mainChild{padding:70px 0 80px 0;text-align:center;}
.main .mainChild .mainsTitle{color:#434343;font-size:55px;line-height:55px;font-family:"NotoSansHans-Light";}
.main .mainChild .mainSub{width:126px;height:2px;margin:26px auto 20px auto;}
.main .mainChild .mainsInfo{color:#434343;font-size:18px;line-height:30px;}
.main .mainChild .linkBtn{margin:0 auto;}
#mainChild1 .mainsTitleRed{color:#086696;font-size:36px;line-height:44px;margin-bottom:26px;font-family:"NotoSansHans-Light";}
#mainChild1 .content{padding:50px 0 80px 0;}
#mainChild1 .content .child{border:2px solid #B9B8B8;width:224px;height:322px;margin:0 18px;display:inline-block;*display:inline;*zoom:1;}
#mainChild1 .content .child{transition-duration: .5s;-ms-transition-duration: .5s;-moz-transition-duration: .5s; -webkit-transition-duration: .5s; }
#mainChild1 .content .child .childTitle{color:#434343;font-size:24px;line-height:46px;margin-top:28px;}
#mainChild1 .content .child .childTitleEn{line-height:36px;color:#434343;font-size:24px;font-family: 'MyriadPro-Regular_0';}
#mainChild1 .content .child .childSub{width:52px;height:2px;background:#086696;margin:136px auto 22px auto;}
#mainChild1 .content .child .childMun{line-height:32px;color:#434343;font-size:18px;}
#mainChild1 .content .child:hover{border:2px solid #086696;background:#086696;}
#mainChild1 .content .child:hover .childTitle{color:#fff;}
#mainChild1 .content .child:hover .childTitleEn{color:#fff;}
#mainChild1 .content .child:hover .childSub{background:#fff;}
#mainChild1 .content .child:hover .childMun{color:#fff;}
#mainChild2{background-color:#000;position:relative;width:100%;height:864px;background-repeat:no-repeat; background-attachment:fixed; background-position:center bottom;background-size:1348px 864px;}
#mainChild2 .content{position:absolute;top:50%;margin-top:-100px;width:100%;height:200px;text-align:center;}
#mainChild2 .content .title{font-family: 'MyriadPro-Bold_0';font-size:141px;color:#fff;text-align:center;}
#mainChild2 .content .info{font-family: 'NotoSansHans-Light';font-size:43px;color:#fff;text-align:center;}
#mainChild3 .content .child{margin:30px 30px 0 0;width:345px;height:240px;display:inline-block;*display:inline;*zoom:1;}
#mainChild3 .content .child.no{margin:30px 0 0 0;}
#mainChild3 .content .child img{width:100%;height:100%;}
#mainChild3 .foot{text-align:center;}
#mainChild3 .foot .title{padding:66px 0 22px 0;line-height:86px;color:#434343;font-size:55px;font-family: 'NotoSansHans-Light';}
#mainChild3 .foot .child{width:760px;height:103px;border:1px solid #686868;margin:0 auto;color:#434343;font-size:18px;}
#mainChild3 .foot .child .one{line-height:103px;}
#mainChild3 .foot .child .two{height:64px;line-height:32px;margin-top:18px;}
#mainChild3 .foot .pointer{margin:30px 0 20px 0;}

@media  (max-width: 479px) {
.banner{margin-top:0px;background-position:center 74px; background-size:auto 230px;}
.banner .bannerBg{height:230px;}
.banner .bannerInfo{height:80px;margin-top:-40px;}
.banner .bannerInfo .title{font-size:20px;line-height:20px;}
.banner .bannerInfo .titleCh{width:auto;font-size:14px;padding:1px 4px 3px 4px;border:1px solid #fff;top:12px;}
.container{width:80%;}
.main .mainChild{padding:20px 0;}
.main .mainChild .mainsTitle{font-size:21px;line-height:21px;}
.main .mainChild .mainSub{width:45px;height:1px;margin:9px auto 7px auto;}
.main .mainChild .mainsInfo{font-size:12px;line-height:18px;}

#mainChild1 .mainsTitleRed{font-size:14px;line-height:16px;margin-bottom:9px;}
#mainChild1 .content{padding:18px 0 29px 0;}
#mainChild1 .content .child{border:1px solid #B9B8B8;border-right:0px solid #B9B8B8;width:80px;height:80px;margin:5px 0px 0 0px;}
#mainChild1 .content a:nth-child(4) .child{border-right:1px solid #B9B8B8;}
#mainChild1 .content .child .childTitle{font-size:12px;line-height:20px;margin-top:10px;}
#mainChild1 .content .child .childTitleEn{line-height:20px;font-size:16px;display:none;}
#mainChild1 .content .child .childSub{width:20px;height:2px;margin:20px auto 8px auto;}
#mainChild1 .content .child .childMun{line-height:20px;font-size:12px;display:none;}
#mainChild1 .content .child:hover{border:1px solid #086696;}

#mainChild2{height:312px;background-size:487px 312px;background-attachment: initial;}
#mainChild2 .content{margin-top:-36px;height:72px;}
#mainChild2 .content .title{font-size:51px;}
#mainChild2 .content .info{font-size:15px;}
#mainChild3 .content{ padding-top: 20px;}
#mainChild3 .content .child{margin:2%;width:46%;height:auto;}
#mainChild3 .content .child.no{margin:5px;}
#mainChild3 .foot .title{padding:24px 0 8px 0;line-height:31px;font-size:21px;}
#mainChild3 .foot .child{width:100%;height:90px;font-size:12px;}
#mainChild3 .foot .child .one{width:80%;line-height:18px;margin:28px auto 0 auto;}
#mainChild3 .foot .child .two{width:80%;height:54px;line-height:18px;margin:9px auto 0 auto;  padding-top: 18px;}
#mainChild3 .foot .child .two1{margin:2px auto 0 auto;padding-top: 16px;}
#mainChild3 .foot .pointer{margin:11px 0 7px 0;width:36px;}
}
@media (min-width: 480px) and (max-width: 639px) {
.banner{margin-top:74px;background-position:center 74px; background-size:auto 340px;}
.banner .bannerBg{height:340px;}
.banner .bannerInfo{height:120px;margin-top:-60px;}
.banner .bannerInfo .title{font-size:30px;line-height:30px;}
.banner .bannerInfo .titleCh{width:auto;font-size:20px;padding:2px 6px 5px 6px;border:1px solid #fff;top:16px;}

.container{width:80%;}
.main .mainChild{padding:20px 0;}
.main .mainChild .mainsTitle{font-size:21px;line-height:21px;}
.main .mainChild .mainSub{width:45px;height:1px;margin:9px auto 7px auto;}
.main .mainChild .mainsInfo{font-size:12px;line-height:18px;}

#mainChild1 .mainsTitleRed{font-size:14px;line-height:16px;margin-bottom:9px;}
#mainChild1 .content{padding:18px 0 29px 0;}
#mainChild1 .content .child{border:1px solid #B9B8B8;border-right:0px solid #B9B8B8;width:80px;height:80px;margin:5px 0px 0 0px;}
#mainChild1 .content a:nth-child(4) .child{border-right:1px solid #B9B8B8;}
#mainChild1 .content .child .childTitle{font-size:12px;line-height:20px;margin-top:10px;}
#mainChild1 .content .child .childTitleEn{line-height:20px;font-size:16px;display:none;}
#mainChild1 .content .child .childSub{width:20px;height:2px;margin:20px auto 8px auto;}
#mainChild1 .content .child .childMun{line-height:20px;font-size:12px;display:none;}
#mainChild1 .content .child:hover{border:1px solid #086696;}

#mainChild2{height:312px;background-size:487px 312px;background-attachment: initial;}
#mainChild2 .content{margin-top:-36px;height:72px;}
#mainChild2 .content .title{font-size:51px;}
#mainChild2 .content .info{font-size:15px;}
#mainChild3 .content{ padding-top: 20px;}
#mainChild3 .content .child{margin:2%;width:46%;height:auto;}
#mainChild3 .content .child.no{margin:5px;}
#mainChild3 .foot .title{padding:24px 0 8px 0;line-height:31px;font-size:21px;}
#mainChild3 .foot .child{width:100%;height:90px;font-size:12px;}
#mainChild3 .foot .child .one{width:80%;line-height:18px;margin:28px auto 0 auto;}
#mainChild3 .foot .child .two{width:80%;height:54px;line-height:18px;margin:9px auto 0 auto;  padding-top: 18px;}
#mainChild3 .foot .child .two1{margin:2px auto 0 auto;padding-top: 16px;}
#mainChild3 .foot .pointer{margin:11px 0 7px 0;width:36px;}
}
@media (min-width: 640px) and (max-width:1023px ) {
.banner{margin-top:74px;background-position:center 74px; background-size:auto 450px;}
.banner .bannerBg{height:450px;}
.banner .bannerInfo{height:160px;margin-top:-80px;}
.banner .bannerInfo .title{font-size:40px;line-height:40px;}
.banner .bannerInfo .titleCh{position:relative;top:16px;width:auto;font-size:26px;padding:2px 10px 6px 10px;border:2px solid #fff;}

.main .container{width:80%;}
.main .mainChild{padding:40px 0;}
.main .mainChild .mainsTitle{font-size:42px;line-height:42px;}
.main .mainChild .mainSub{width:90px;height:2px;margin:18px auto 14px auto;}
.main .mainChild .mainsInfo{font-size:14px;line-height:22px;}

#mainChild1 .mainsTitleRed{font-size:26px;line-height:31px;margin-bottom:18px;}
#mainChild1 .content{padding:36px 0 28px 0;}
#mainChild1 .content .child{width:161px;height:233px;margin:18px 18px;border:1px solid #B9B8B8;}
#mainChild1 .content .child .childTitle{font-size:22px;line-height:34px;margin-top:20px;}
#mainChild1 .content .child .childTitleEn{line-height:26px;font-size:17px;}
#mainChild1 .content .child .childSub{width:38px;height:2px;margin:98px auto 15px auto;}
#mainChild1 .content .child .childMun{line-height:23px;font-size:14px;}
#mainChild1 .content .child:hover{border:1px solid #086696;}

#mainChild2{height:624px;background-size:974px 624px;}
#mainChild2 .content{margin-top:-72px;height:144px;}
#mainChild2 .content .title{font-size:102px;}
#mainChild2 .content .info{font-size:30px;}
#mainChild3 .content{padding-top:40px;}
#mainChild3 .content .child{margin:2%;width:46%;height:auto;}
#mainChild3 .content .child.no{margin:10px;}
#mainChild3 .foot .title{padding:48px 0 15px 0;line-height:62px;font-size:42px;}
#mainChild3 .foot .child{width:550px;height:74px;font-size:14px;}
#mainChild3 .foot .child .one{line-height:74px;}
#mainChild3 .foot .child .two{height:46px;line-height:23px;margin-top:13px;}
#mainChild3 .foot .pointer{margin:22px 0 14px 0;}
}
@media (min-width: 1024px) and (max-width:1199px ) {
.banner{margin-top:68px;background-position:left 68px;background-size: auto 300px;}
.banner .bannerBg{height: 300px;}
.banner .bannerInfo{transform-origin:center;-moz-transform-origin:center;-ms-transform-origin:center;-o-transform-origin:center;-webkit-transform-origin:center;}
.banner .bannerInfo{transform:scale(0.83);-moz-transform:scale(0.83);-ms-transform:scale(0.83);-o-transform:scale(0.83);-webkit-transform:scale(0.83);}
.banner .bannerInfo{height:160px;margin-top:-80px;}
.banner .bannerInfo .title{font-size:46px;line-height:48px;}
.banner .bannerInfo .titleCh{position:relative;top:16px;border:3px solid #fff;padding:5px 18px 6px 18px;font-size:20px;}
.main .container{width:796px;}
.main .mainChild{adding:58px 0px 66px 0;}
.main .mainChild .mainsTitle{font-size:41px;line-height:41px;}
.main .mainChild .mainSub{width:88px;height:2px;margin:18px auto 14px auto;}
.main .mainChild .mainsInfo{font-size:13px;line-height:21px;}

#mainChild1 .mainsTitleRed{font-size:25px;line-height:30px;margin-bottom:18px;}
#mainChild1 .content{padding:34px 0 56px 0;}
#mainChild1 .content .child{border:1px solid #949494;width:157px;height:227px;margin:0 12px;}
#mainChild1 .content .child .childTitle{font-size:21px;line-height:33px;margin-top:20px;}
#mainChild1 .content .child .childTitleEn{line-height:24px;font-size:16px;}
#mainChild1 .content .child .childSub{width:36px;height:2px;margin:96px auto 15px auto;}
#mainChild1 .content .child .childMun{line-height:22px;font-size:13px;}
#mainChild1 .content .child:hover{border:1px solid #086696;}

#mainChild2{height:609px;background-size:951px 609px;}
#mainChild2 .content{margin-top:-70px;height:141px;}
#mainChild2 .content .title{font-size:99px;}
#mainChild2 .content .info{font-size:30px;}
#mainChild3 .content .child{margin:20px 20px 0 0;width:243px;height:169px;}
#mainChild3 .content .child.no{margin:20px 0 0 0;}
#mainChild3 .foot .title{padding:46px 0 15px 0;line-height:60px;font-size:40px;}
#mainChild3 .foot .child{width:536px;height:73px;font-size:13px;}
#mainChild3 .foot .child .one{line-height:73px;}
#mainChild3 .foot .child .two{height:44px;line-height:22px;margin-top:12px;}
#mainChild3 .foot .pointer{margin:21px 0 14px 0;}

}
@media (min-width: 1200px) and (max-width:1439px ) {
.banner{margin-top:68px;background-position:left 68px;}
.banner .bannerInfo{transform-origin:center;-moz-transform-origin:center;-ms-transform-origin:center;-o-transform-origin:center;-webkit-transform-origin:center;}
.banner .bannerInfo{transform:scale(0.83);-moz-transform:scale(0.83);-ms-transform:scale(0.83);-o-transform:scale(0.83);-webkit-transform:scale(0.83);}
.banner .bannerInfo{height:160px;margin-top:-80px;}
.banner .bannerInfo .title{font-size:46px;line-height:48px;}
.banner .bannerInfo .titleCh{position:relative;top:16px;border:3px solid #fff;padding:5px 18px 6px 18px;font-size:20px;}
.main .container{width:796px;}
.main .mainChild{adding:58px 0px 66px 0;}
.main .mainChild .mainsTitle{font-size:41px;line-height:41px;}
.main .mainChild .mainSub{width:88px;height:2px;margin:18px auto 14px auto;}
.main .mainChild .mainsInfo{font-size:13px;line-height:21px;}

#mainChild1 .mainsTitleRed{font-size:25px;line-height:30px;margin-bottom:18px;}
#mainChild1 .content{padding:34px 0 56px 0;}
#mainChild1 .content .child{border:1px solid #949494;width:157px;height:227px;margin:0 12px;}
#mainChild1 .content .child .childTitle{font-size:21px;line-height:33px;margin-top:20px;}
#mainChild1 .content .child .childTitleEn{line-height:24px;font-size:16px;}
#mainChild1 .content .child .childSub{width:36px;height:2px;margin:96px auto 15px auto;}
#mainChild1 .content .child .childMun{line-height:22px;font-size:13px;}
#mainChild1 .content .child:hover{border:1px solid #086696;}

#mainChild2{height:609px;background-size:951px 609px;}
#mainChild2 .content{margin-top:-70px;height:141px;}
#mainChild2 .content .title{font-size:99px;}
#mainChild2 .content .info{font-size:30px;}
#mainChild3 .content .child{margin:20px 20px 0 0;width:243px;height:169px;}
#mainChild3 .content .child.no{margin:20px 0 0 0;}
#mainChild3 .foot .title{padding:46px 0 15px 0;line-height:60px;font-size:40px;}
#mainChild3 .foot .child{width:536px;height:73px;font-size:13px;}
#mainChild3 .foot .child .one{line-height:73px;}
#mainChild3 .foot .child .two{height:44px;line-height:22px;margin-top:12px;}
#mainChild3 .foot .pointer{margin:21px 0 14px 0;}


}
@media (min-width: 1440px) and (max-width:1920px ) {
.banner{margin-top:82px;background-position:left 82px;}
.banner .bannerInfo{height:160px;margin-top:-80px;}
.banner .bannerInfo .title{font-size:46px;line-height:48px;}
.banner .bannerInfo .titleCh{position:relative;top:16px;border:3px solid #fff;padding:5px 18px 6px 18px;font-size:24px;}
.main .container{width:960px;}
.main .mainChild{padding:70px 0 80px 0;}
.main .mainChild .mainsTitle{font-size:44px;line-height:44px;}
.main .mainChild .mainSub{width:107px;height:2px;margin:22px auto 17px auto;}
.main .mainChild .mainsInfo{font-size:16px;line-height:26px;}

#mainChild1 .mainsTitleRed{font-size:30px;line-height:37px;margin-bottom:22px;}
#mainChild1 .content{padding:42px 0 68px 0;}
#mainChild1 .content .child{border:1px solid #949494;width:190px;height:274px;margin:0 15px;}
#mainChild1 .content .child .childTitle{font-size:26px;line-height:40px;margin-top:24px;}
#mainChild1 .content .child .childTitleEn{line-height:30px;font-size:20px;}
#mainChild1 .content .child .childSub{width:44px;height:2px;margin:116px auto 18px auto;}
#mainChild1 .content .child .childMun{line-height:27px;font-size:16px;}
#mainChild1 .content .child:hover{border:1px solid #086696;}

#mainChild2{height:734px;background-size:1146px 734px;}
#mainChild2 .content{margin-top:-85px;height:170px;}
#mainChild2 .content .title{font-size:120px;}
#mainChild2 .content .info{font-size:36px;}
#mainChild3 .content .child{margin:25px 25px 0 0;width:293px;height:204px;}
#mainChild3 .content .child.no{margin:25px 0 0 0;}
#mainChild3 .foot .title{padding:56px 0 18px 0;line-height:73px;font-size:44px;}
#mainChild3 .foot .child{width:646px;height:88px;font-size:16px;}
#mainChild3 .foot .child .one{line-height:88px;}
#mainChild3 .foot .child .two{height:54px;line-height:27px;margin-top:15px;}
#mainChild3 .foot .pointer{margin:26px 0 17px 0;}

}