.banner{position:relative;width:100%;height:auto;overflow:hidden;margin-top:120px;background-size:100% auto;background-repeat:no-repeat;background-position:left 120px;background-attachment:fixed;}
.banner .bannerBg{visibility:hidden;width:100%;height:auto;vertical-align:middle;}
.banner .bannerInfo{position:absolute;top:50%;left:0px;width:100%;height:220px;margin-top:-110px;text-align:center;color:#fff;}
.banner .bannerInfo .title{font-family:'MyriadPro-Bold_0';font-size:55px;line-height:60px;}
.banner .bannerInfo .titleCh{position:relative;top:20px;border:3px solid #fff;padding:6px 24px 8px 24px;font-size:27px;font-weight:bold;color:#fff;text-align:center;}

.main{position:relative;text-align:center;}
.main .mainChild .sub{width:178px;height:2px;margin:20px auto;background:#086696;}
.main .mainChild .mainChildTitle{font-family: 'NotoSansHans-Light';line-height:100px;color:#434343;font-size:55px;}
.main .mainChild .mainChildTitle2{font-family: 'NotoSansHans-Light';font-size:36px;color:#fff;line-height:60px;}
#mainChild1{padding:60px 0 80px 0;}
#mainChild1 .info{color:#434343;font-size:18px;line-height:28px;padding-bottom:36px;}
#mainChild1 .contentMun{height:210px;width:840px;margin:0px auto;}
#mainChild1 .contentMun .child{padding-top:30px;height:180px;width:280px;text-align:center;float:left;}
#mainChild1 .contentMun .child .mun{font-family:'DIN Condensed Bold';font-size:100px;color:#444;}
#mainChild1 .contentMun .child p{font-family:'Noto Sans S Chinese Light','NotoSansHans-Light','微软雅黑';font-weight:100;font-size:24px;color:#444;}
#mainChild2{background-color:#dfddde;height:800px;}
#mainChild2 .container{height:800px;background-repeat:no-repeat;background-position:center bottom;}

.mainChildList{border-bottom:1px solid #949494;text-align:left;}
.mainChildList .wapImg{display:none;text-align: center;}
.mainChildList .wapImg img{max-width:100%;}
.mainChildList .head{padding:20px 0;border-bottom:2px solid #086696;}
.mainChildList .title{line-height:68px;color:#434343;font-size:55px;font-family:'NotoSansHans-Light';}
.mainChildList .titleEn{line-height:66px;color:#434343;font-size:55px;font-family: 'MyriadPro-Regular_0';}
.mainChildList .content{padding:26px 0;}
.mainChildList .content p{color:#434343;font-size:18px;line-height:28px;}
.mainChildList .left{float:left;}
.mainChildList .right{float:right;}
.mainChildList .linkBtn{margin-top:34px;}

#mainChild3 .left{width:420px;}
#mainChild3 .left img{width:100%;vertical-align:middle;}
#mainChild3 .right{width:670px;padding-top:80px;}
#mainChild4 .right{width:420px;}
#mainChild4 .right img{width:100%;vertical-align:middle;}
#mainChild4 .left{width:670px;padding-top:80px;}

#mainChild5{position:relative;border-bottom:1px solid #949494;padding:70px 0 0 0;}
#mainChild5 .mainChildTitle{line-height:60px;}
#mainChild5 .sub{margin:30px auto 34px auto;}
#mainChild5 .info{color:#434343;font-size:18px;line-height:28px;}
#mainChild5 .contents{position:relative;margin-top:40px;width:100%;height:620px;overflow:hidden;}
#mainChild5 .contents .content{position:absolute;top:0px;width:100%;height:620px;}
#mainChild5 .contents .content img{width:100%;height:100%; vertical-align:middle;}
#mainChild5 .contents .mainChild5Btn{position:absolute;top:50%;height:124px;margin-top:-62px;z-index:1;cursor:pointer;}
#mainChild5 .contents .mainChild5Btn.leftBtn{left:-100px;}
#mainChild5 .contents .mainChild5Btn.rightBtn{right:-100px;}
#mainChild5 .navbtns{position:relative;text-align:center;padding:37px 0 55px 0;}
#mainChild5 .navbtns img{width:73px;height:3px;margin:0 1px;cursor:pointer;}

#mainChild6{height:737px;background-position:center;background-size:cover; background-attachment:fixed;}
#mainChild6 .mainChildTitle{color:#fff;line-height:70px;padding-top:170px;}
#mainChild6 .sub{width:126px;margin-top:28px;}
#mainChild6 .mainChildTitle2{color:#fff;padding-bottom:34px;}
#mainChild6 .titleEn{font-family: 'MyriadPro-Bold_0';line-height:84px;color:#fff;font-size:90px;}

#mainChild7{padding:70px 0 80px 0;border-bottom:1px solid #949494;}
#mainChild7 .sub{margin:6px auto 11px auto;width:126px;}
#mainChild7 .mainChildTitle2{color:#E50012;padding-bottom:24px;}
#mainChild7 .info{color:#434343;font-size:18px;line-height:28px;}
#mainChild7 .content{position:relative;width:400px;height:410px;margin:48px auto 0 auto;}
#mainChild7 .content .quan{position:absolute;width:220px;height:220px;background:url(../images/index/quan.png) no-repeat;background-size:100% 100%;text-align:center;font-size:24px;color:#fff;}
#mainChild7 .content .quan .titleEn{letter-spacing:0.12em;margin-top:84px;font-family:'MyriadPro-Cond_0'; font-weight:100; font-stretch:condensed;}
#mainChild7 .content .quan .titleCh{font-family:'Noto Sans S Chinese Light','NotoSansHans-Light','微软雅黑';font-weight:100;}
#mainChild7 .content .quan#quan1{top:0px;left:90px;}
#mainChild7 .content .quan#quan2{top:160px;left:0px;}
#mainChild7 .content .quan#quan3{top:160px;left:180px;}
#mainChild7 .content .quan#quan4{top:90px;left:90px;background:none;}

@media  (max-width: 479px) {
.banner{margin-top:0px;background-position:center 74px; background-size:auto 230px;}
.banner .bannerBg{height:230px;}
.banner .bannerInfo{height:80px;margin-top:-40px;}
.banner .bannerInfo .title{font-size:20px;line-height:20px;}
.banner .bannerInfo .titleCh{width:auto;font-size:14px;padding:1px 4px 3px 4px;border:1px solid #fff;top:12px;}

.main .container{width:80%;}
.main .mainChild .sub{width:64px;height:1px;margin:8px auto;}
.main .mainChild .mainChildTitle{line-height:36px;font-size:21px;}
.main .mainChild .mainChildTitle2{font-size:14px;line-height:21px;}
#mainChild1{padding:21px 0 29px 0;}
#mainChild1 .info{font-size:12px;line-height:18px;padding-bottom:13px;}
/*#mainChild1 .contentMun{height:75px;width:304px;}
#mainChild1 .contentMun .child{padding-top:11px;height:65px;width:101px;}
#mainChild1 .contentMun .child .mun{font-size:36px;}
#mainChild1 .contentMun .child p{font-size:12px;}*/
#mainChild1 .contentMun{height:100px;width:100%;margin:0px auto;}
#mainChild1 .contentMun .child{padding-top:18px;height:84px;width:33%;}
#mainChild1 .contentMun .child .mun{font-size:30px;}
#mainChild1 .contentMun .child p{font-size:12px;}
#mainChild2{height:300px;}
#mainChild2 .container{width:100%;height:300px;background-size:auto 300px;}

.mainChildList .head{padding:7px 0;border-bottom:1px solid #086696;text-align:center;}
.mainChildList .wapImg{display:block;}
.mainChildList .title{line-height:34px;font-size:21px;}
.mainChildList .titleEn{line-height:26px;font-size:22px;}
.mainChildList .content{padding:9px 0;}
.mainChildList .content p{font-size:12px;line-height:18px;}
.mainChildList .linkBtn{margin:12px auto 0 auto;}

#mainChild3 .left{width:179px;display:none;}
#mainChild3 .right{width:100%;padding:0 0 29px 0;float:none;margin:0 auto;}
#mainChild4 .right{width:180px;display:none;}
#mainChild4 .left{width:100%;padding:0 0 29px 0;float:none;margin:0 auto;}

#mainChild5{padding:25px 0 0 0;}
#mainChild5 .mainChildTitle{line-height:21px;}
#mainChild5 .sub{margin:11px auto 12px auto;}
#mainChild5 .info{font-size:12px;line-height:18px;}
#mainChild5 .contents{margin-top:15px;height:190px;}
#mainChild5 .contents .content{height:190px;}
#mainChild5 .contents .mainChild5Btn{height:45px;margin-top:-23px;}
#mainChild5 .contents .mainChild5Btn.leftBtn{left:5px !important;}
#mainChild5 .contents .mainChild5Btn.rightBtn{right:5px !important;}
#mainChild5 .navbtns{padding:13px 0 20px 0;}
#mainChild5 .navbtns img{width:27px;height:2px;margin:0 1px;}

#mainChild6{height:266px;}
#mainChild6 .mainChildTitle{line-height:25px;padding-top:40px;}
#mainChild6 .sub{width:46px;margin-top:10px;}
#mainChild6 .mainChildTitle2{padding-bottom:13px;}
#mainChild6 .titleEn{line-height:37px;font-size:33px;}

#mainChild7{padding:26px 0 29px 0;}
#mainChild7 .sub{margin:2px auto 4px auto;width:46px;}
#mainChild7 .mainChildTitle2{padding-bottom:9px;}
#mainChild7 .info{font-size:12px;line-height:18px;}
/*#mainChild7 .content{width:200px;height:220px;margin:20px auto 0 auto;}
#mainChild7 .content .quan{width:110px;height:110px;font-size:14px;}
#mainChild7 .content .quan .titleEn{margin-top:42px;}
#mainChild7 .content .quan#quan1{top:0px;left:45px;}
#mainChild7 .content .quan#quan2{top:80px;left:0px;}
#mainChild7 .content .quan#quan3{top:80px;left:90px;}
#mainChild7 .content .quan#quan4{top:45px;left:45px;}*/


#mainChild7 .content{width:300px;height:330px;margin:20px auto 0 auto;}
#mainChild7 .content .quan{width:160px;height:160px;font-size:20px;}
#mainChild7 .content .quan .titleEn{margin-top:60px;}
#mainChild7 .content .quan#quan1{top:0px;left:73px;}
#mainChild7 .content .quan#quan2{top:120px;left:0px;}
#mainChild7 .content .quan#quan3{top:120px;left:135px;}
#mainChild7 .content .quan#quan4{top:73px;left:73px;}
}
@media (min-width: 480px) and (max-width: 639px) {
.banner{margin-top:74px;background-position:center 74px; background-size:auto 340px;}
.banner .bannerBg{height:340px;}
.banner .bannerInfo{height:120px;margin-top:-60px;}
.banner .bannerInfo .title{font-size:30px;line-height:30px;}
.banner .bannerInfo .titleCh{width:auto;font-size:20px;padding:2px 6px 5px 6px;border:1px solid #fff;top:16px;}

.main .container{width:93.75%;}
.main .mainChild .sub{width:64px;height:2px;margin:8px auto;}
.main .mainChild .mainChildTitle{line-height:36px;font-size:21px;}
.main .mainChild .mainChildTitle2{font-size:14px;line-height:21px;}
#mainChild1{padding:21px 0 29px 0;}
#mainChild1 .info{font-size:12px;line-height:18px;padding-bottom:13px;}
#mainChild1 .contentMun{height:75px;width:304px;}
#mainChild1 .contentMun .child{padding-top:11px;height:65px;width:101px;}
#mainChild1 .contentMun .child .mun{font-size:36px;}
#mainChild1 .contentMun .child p{font-size:12px;}

#mainChild2{height:300px;}
#mainChild2 .container{width:100%;height:300px;background-size:auto 300px;}

.mainChildList .head{padding:14px 0;border-bottom:2px solid #086696;text-align:center;}
.mainChildList .wapImg{display: block;}
.mainChildList .title{line-height:50px;font-size:42px;}
.mainChildList .titleEn{line-height:48px;font-size:38px;}
.mainChildList .content{padding:18px 0;}
.mainChildList .content p{font-size:14px;line-height:20px;}
.mainChildList .linkBtn{margin:24px auto 0 auto;}

#mainChild3 .left{width:179px;display:none;}
#mainChild3 .right{width:100%;padding:0 0 29px 0;float:none;margin:0 auto;}
#mainChild4 .right{width:180px;display:none;}
#mainChild4 .left{width:100%;padding:0 0 29px 0;float:none;margin:0 auto;}

#mainChild5{padding:25px 0 0 0;}
#mainChild5 .mainChildTitle{line-height:21px;}
#mainChild5 .sub{margin:11px auto 12px auto;}
#mainChild5 .info{font-size:12px;line-height:18px;}
#mainChild5 .contents{margin-top:15px;height:224px;}
#mainChild5 .contents .content{height:224px;}
#mainChild5 .contents .mainChild5Btn{height:45px;margin-top:-23px;}
#mainChild5 .contents .mainChild5Btn.leftBtn{left:5px !important;}
#mainChild5 .contents .mainChild5Btn.rightBtn{right:5px !important;}
#mainChild5 .navbtns{padding:13px 0 20px 0;}
#mainChild5 .navbtns img{width:27px;height:2px;margin:0 1px;}

#mainChild6{height:266px;}
#mainChild6 .mainChildTitle{line-height:25px;padding-top:40px;}
#mainChild6 .sub{width:46px;margin-top:10px;}
#mainChild6 .mainChildTitle2{padding-bottom:13px;}
#mainChild6 .titleEn{line-height:37px;font-size:33px;}

#mainChild7{padding:26px 0 29px 0;}
#mainChild7 .sub{margin:2px auto 4px auto;width:46px;}
#mainChild7 .mainChildTitle2{padding-bottom:9px;}
#mainChild7 .info{font-size:12px;line-height:18px;}
#mainChild7 .content{width:200px;height:220px;margin:20px auto 0 auto;}
#mainChild7 .content .quan{width:110px;height:110px;font-size:14px;}
#mainChild7 .content .quan .titleEn{margin-top:42px;}
#mainChild7 .content .quan#quan1{top:0px;left:45px;}
#mainChild7 .content .quan#quan2{top:80px;left:0px;}
#mainChild7 .content .quan#quan3{top:80px;left:90px;}
#mainChild7 .content .quan#quan4{top:45px;left:45px;}
}
@media (min-width: 640px) and (max-width:1023px ) {
.banner{margin-top:74px;background-position:center 74px; background-size:auto 450px;}
.banner .bannerBg{height:450px;}
.banner .bannerInfo{height:160px;margin-top:-80px;}
.banner .bannerInfo .title{font-size:40px;line-height:40px;}
.banner .bannerInfo .titleCh{position:relative;top:16px;width:auto;font-size:26px;padding:2px 10px 6px 10px;border:2px solid #fff;}


.main .container{width:80%;}
.main .mainChild .sub{width:128px;height:2px;margin:15px auto;}
.main .mainChild .mainChildTitle{line-height:72px;font-size:42px;}
.main .mainChild .mainChildTitle2{font-size:26px;line-height:42px;}
#mainChild1{padding:42px 0 58px 0;}
#mainChild1 .info{font-size:14px;line-height:20px;padding-bottom:26px;}
#mainChild1 .contentMun{height:180px;width:100%;}
#mainChild1 .contentMun .child{padding-top:22px;height:130px;width:33%;}
#mainChild1 .contentMun .child .mun{font-size:72px;}
#mainChild1 .contentMun .child p{font-size:17px;}
#mainChild2{height:578px;}
#mainChild2 .container{width:100%;height:578px;background-size:auto 578px;}

.mainChildList .head{padding:14px 0;border-bottom:2px solid #086696;text-align:center;}
.mainChildList .wapImg{display:block;}
.mainChildList .title{line-height:50px;font-size:42px;}
.mainChildList .titleEn{line-height:48px;font-size:40px;}
.mainChildList .content{padding:18px 0;}
.mainChildList .content p{font-size:14px;line-height:20px;}
.mainChildList .linkBtn{margin:24px auto 0 auto;}

#mainChild3 .left{width:357px;display:none;}
#mainChild3 .right{width:100%;padding:0 0 58px 0;float:none;margin:0 auto;}
#mainChild4 .right{width:357px;display:none;}
#mainChild4 .left{width:100%;padding:0 0 58px 0;float:none;margin:0 auto;}

#mainChild5{padding:50px 0 0 0;}
#mainChild5 .mainChildTitle{line-height:42px;}
#mainChild5 .sub{margin:22px auto 24px auto;}
#mainChild5 .info{font-size:14px;line-height:20px;}
#mainChild5 .contents{margin-top:30px;height:360px;}
#mainChild5 .contents .content{height:360px;}
#mainChild5 .contents .mainChild5Btn{height:90px;margin-top:-45px;}
#mainChild5 .contents .mainChild5Btn.leftBtn{left:10px !important;}
#mainChild5 .contents .mainChild5Btn.rightBtn{right:10px !important;}
#mainChild5 .navbtns{padding:26px 0 40px 0;}
#mainChild5 .navbtns img{width:53px;height:3px;margin:0 1px;}

#mainChild6{height:532px;}
#mainChild6 .mainChildTitle{line-height:50px;padding-top:80px;}
#mainChild6 .sub{width:91px;margin-top:20px;}
#mainChild6 .mainChildTitle2{padding-bottom:25px;}
#mainChild6 .titleEn{line-height:63px;font-size:65px;}

#mainChild7{padding:51px 0 58px 0;}
#mainChild7 .sub{margin:4px auto 8px auto;width:91px;}
#mainChild7 .mainChildTitle2{padding-bottom:17px;}
#mainChild7 .info{font-size:14px;line-height:20px;}
}
@media (min-width: 1024px) and (max-width:1199px ) {
.banner{margin-top:68px;background-position:left 68px;background-size: auto 300px;}
.banner .bannerBg{height: 300px;}
.banner .bannerInfo{transform-origin:center;-moz-transform-origin:center;-ms-transform-origin:center;-o-transform-origin:center;-webkit-transform-origin:center;}
.banner .bannerInfo{transform:scale(0.83);-moz-transform:scale(0.83);-ms-transform:scale(0.83);-o-transform:scale(0.83);-webkit-transform:scale(0.83);}
.banner .bannerInfo{height:160px;margin-top:-80px;}
.banner .bannerInfo .title{font-size:46px;line-height:48px;}
.banner .bannerInfo .titleCh{position:relative;top:16px;border:3px solid #fff;padding:5px 18px 6px 18px;font-size:20px;}
.main .container{width:796px;}
.main .mainChild .sub{width:124px;height:2px;margin:0px auto 14px auto;}
.main .mainChild .mainChildTitle{line-height:70px;font-size:41px;}
.main .mainChild .mainChildTitle2{font-size:25px;line-height:41px;}
#mainChild1{padding:60px 0 56px 0;}
#mainChild1 .info{font-size:13px;line-height:20px;padding-bottom:25px;}
#mainChild1 .contentMun{height:147px;width:592px;}
#mainChild1 .contentMun .child{padding-top:21px;height:127px;width:197px;}
#mainChild1 .contentMun .child .mun{font-size:70px;}
#mainChild1 .contentMun .child p{font-size:16px;}
#mainChild2{height:564px;}
#mainChild2 .container{height:564px;background-size:796px auto;}

.mainChildList .head{padding:14px 0;border-bottom:2px solid #086696;}
.mainChildList .title{line-height:48px;font-size:41px;}
.mainChildList .titleEn{line-height:46px;font-size:38px;}
.mainChildList .content{padding:18px 0;}
.mainChildList .content p{font-size:13px;line-height:20px;}
.mainChildList .linkBtn{margin-top:24px;}

#mainChild3 .left{width:296px;}
#mainChild3 .right{width:473px;padding-top:56px;}
#mainChild4 .right{width:296px;}
#mainChild4 .left{width:473px;padding-top:56px;}

#mainChild5{padding:50px 0 0 0;}
#mainChild5 .mainChildTitle{line-height:41px;}
#mainChild5 .sub{margin:21px auto 24px auto;}
#mainChild5 .info{font-size:13px;line-height:20px;}
#mainChild5 .contents{margin-top:28px;height:437px;}
#mainChild5 .contents .content{height:437px;}
#mainChild5 .contents .mainChild5Btn{height:87px;margin-top:-43px;}
#mainChild5 .contents .mainChild5Btn.leftBtn{left:-83px;}
#mainChild5 .contents .mainChild5Btn.rightBtn{right:-83px;}
#mainChild5 .navbtns{padding:25px 0 39px 0;}
#mainChild5 .navbtns img{width:51px;height:2px;margin:0 1px;}

#mainChild6{height:519px;}
#mainChild6 .mainChildTitle{line-height:50px;padding-top:119px;}
#mainChild6 .sub{width:88px;margin-top:20px;}
#mainChild6 .mainChildTitle2{padding-bottom:24px;}
#mainChild6 .titleEn{line-height:61px;font-size:58px;}

#mainChild7{padding:50px 0 56px 0;}
#mainChild7 .sub{margin:4px auto 7px auto;width:88px;}
#mainChild7 .mainChildTitle2{padding-bottom:16px;}
#mainChild7 .info{font-size:13px;line-height:20px;}
}
@media (min-width: 1200px) and (max-width:1439px ) {
.banner{margin-top:68px;background-position:left 68px;}
.banner .bannerInfo{transform-origin:center;-moz-transform-origin:center;-ms-transform-origin:center;-o-transform-origin:center;-webkit-transform-origin:center;}
.banner .bannerInfo{transform:scale(0.83);-moz-transform:scale(0.83);-ms-transform:scale(0.83);-o-transform:scale(0.83);-webkit-transform:scale(0.83);}
.banner .bannerInfo{height:160px;margin-top:-80px;}
.banner .bannerInfo .title{font-size:46px;line-height:48px;}
.banner .bannerInfo .titleCh{position:relative;top:16px;border:3px solid #fff;padding:5px 18px 6px 18px;font-size:20px;}
.main .container{width:796px;}
.main .mainChild .sub{width:124px;height:2px;margin:0px auto 14px auto;}
.main .mainChild .mainChildTitle{line-height:70px;font-size:41px;}
.main .mainChild .mainChildTitle2{font-size:25px;line-height:41px;}
#mainChild1{padding:60px 0 56px 0;}
#mainChild1 .info{font-size:13px;line-height:20px;padding-bottom:25px;}
#mainChild1 .contentMun{height:147px;width:592px;}
#mainChild1 .contentMun .child{padding-top:21px;height:127px;width:197px;}
#mainChild1 .contentMun .child .mun{font-size:70px;}
#mainChild1 .contentMun .child p{font-size:16px;}
#mainChild2{height:564px;}
#mainChild2 .container{height:564px;background-size:796px auto;}

.mainChildList .head{padding:14px 0;border-bottom:2px solid #086696;}
.mainChildList .title{line-height:48px;font-size:41px;}
.mainChildList .titleEn{line-height:46px;font-size:38px;}
.mainChildList .content{padding:18px 0;}
.mainChildList .content p{font-size:13px;line-height:20px;}
.mainChildList .linkBtn{margin-top:24px;}

#mainChild3 .left{width:296px;}
#mainChild3 .right{width:473px;padding-top:56px;}
#mainChild4 .right{width:296px;}
#mainChild4 .left{width:473px;padding-top:56px;}

#mainChild5{padding:50px 0 0 0;}
#mainChild5 .mainChildTitle{line-height:41px;}
#mainChild5 .sub{margin:21px auto 24px auto;}
#mainChild5 .info{font-size:13px;line-height:20px;}
#mainChild5 .contents{margin-top:28px;height:437px;}
#mainChild5 .contents .content{height:437px;}
#mainChild5 .contents .mainChild5Btn{height:87px;margin-top:-43px;}
#mainChild5 .contents .mainChild5Btn.leftBtn{left:-83px;}
#mainChild5 .contents .mainChild5Btn.rightBtn{right:-83px;}
#mainChild5 .navbtns{padding:25px 0 39px 0;}
#mainChild5 .navbtns img{width:51px;height:2px;margin:0 1px;}

#mainChild6{height:519px;}
#mainChild6 .mainChildTitle{line-height:50px;padding-top:119px;}
#mainChild6 .sub{width:88px;margin-top:20px;}
#mainChild6 .mainChildTitle2{padding-bottom:24px;}
#mainChild6 .titleEn{line-height:61px;font-size:58px;}

#mainChild7{padding:50px 0 56px 0;}
#mainChild7 .sub{margin:4px auto 7px auto;width:88px;}
#mainChild7 .mainChildTitle2{padding-bottom:16px;}
#mainChild7 .info{font-size:13px;line-height:20px;}
}
@media (min-width: 1440px) and (max-width:1920px ) {
.banner{margin-top:82px;background-position:left 82px;}
.banner .bannerInfo{height:160px;margin-top:-80px;}
.banner .bannerInfo .title{font-size:46px;line-height:48px;}
.banner .bannerInfo .titleCh{position:relative;top:16px;border:3px solid #fff;padding:5px 18px 6px 18px;font-size:24px;}

.main .container{width:960px;}
.main .mainChild .sub{width:150px;height:2px;margin:0px auto 17px auto;}
.main .mainChild .mainChildTitle{line-height:76px;font-size:44px;}
.main .mainChild .mainChildTitle2{font-size:30px;line-height:50px;}
#mainChild1{padding:72px 0 68px 0;}
#mainChild1 .info{font-size:16px;line-height:24px;padding-bottom:30px;}
#mainChild1 .contentMun{height:178px;width:714px;}
#mainChild1 .contentMun .child{padding-top:26px;height:153px;width:238px;}
#mainChild1 .contentMun .child .mun{font-size:85px;}
#mainChild1 .contentMun .child p{font-size:20px;}
#mainChild2{height:680px;}
#mainChild2 .container{height:680px;}

.mainChildList .head{padding:17px 0;border-bottom:2px solid #086696;}
.mainChildList .title{line-height:50px;font-size:44px;}
.mainChildList .titleEn{line-height:50px;font-size:44px;}
.mainChildList .content{padding:22px 0;}
.mainChildList .content p{font-size:16px;line-height:24px;}
.mainChildList .linkBtn{margin-top:29px;}

#mainChild3 .left{width:357px;}
#mainChild3 .right{width:570px;padding-top:68px;}
#mainChild4 .right{width:357px;}
#mainChild4 .left{width:570px;padding-top:68px;}

#mainChild5{padding:60px 0 0 0;}
#mainChild5 .mainChildTitle{line-height:50px;}
#mainChild5 .sub{margin:26px auto 29px auto;}
#mainChild5 .info{font-size:16px;line-height:24px;}
#mainChild5 .contents{margin-top:34px;height:527px;}
#mainChild5 .contents .content{height:527px;}
#mainChild5 .contents .mainChild5Btn{height:105px;margin-top:-52px;}
#mainChild5 .contents .mainChild5Btn.leftBtn{left:-100px;}
#mainChild5 .contents .mainChild5Btn.rightBtn{right:-100px;}
#mainChild5 .navbtns{padding:31px 0 47px 0;}
#mainChild5 .navbtns img{width:62px;height:3px;margin:0 1px;}

#mainChild6{height:626px;}
#mainChild6 .mainChildTitle{line-height:60px;padding-top:144px;}
#mainChild6 .sub{width:107px;margin-top:24px;}
#mainChild6 .mainChildTitle2{padding-bottom:29px;}
#mainChild6 .titleEn{line-height:74px;font-size:76px;}

#mainChild7{padding:60px 0 68px 0;}
#mainChild7 .sub{margin:5px auto 9px auto;width:107px;}
#mainChild7 .mainChildTitle2{padding-bottom:20px;}
#mainChild7 .info{font-size:16px;line-height:24px;}

}


@keyframes scaleOpacityAn{
0%{ transform:scale(0); opacity:0;}
80%{ transform:scale(1.05);}
100%{ transform:scale(1); opacity:1;}
}
@-moz-keyframes scaleOpacityAn{
0%{ -moz-transform:scale(0); opacity:0;}
80%{ -moz-transform:scale(1.05);}
100%{ -moz-transform:scale(1); opacity:1;}
}
@-webkit-keyframes scaleOpacityAn {
0%{ -webkit-transform:scale(0); opacity:0;}
80%{ -webkit-transform:scale(1.05);}
100%{ -webkit-transform:scale(1); opacity:1;}
}
@-o-keyframes scaleOpacityAn{
0%{ -o-transform:scale(0); opacity:0;}
80%{ -o-transform:scale(1.05);}
100%{ -o-transform:scale(1); opacity:1;}
}