.banner{position:relative;width:100%;height:auto;overflow:hidden;margin-top:120px;background-size:100% auto;background-repeat:no-repeat;background-position:left 120px;background-attachment:fixed;}
.banner .bannerBg{ visibility:hidden;width:100%;height:auto;vertical-align:middle;}
.banner .bannerInfo{position:absolute;top:50%;left:0px;width:100%;height:220px;margin-top:-110px;text-align:center;color:#fff;}
.banner .bannerInfo .title{font-family:'MyriadPro-Bold_0';font-size:55px;line-height:60px;}
.banner .bannerInfo .titleCh{position:relative;top:20px;border:3px solid #fff;padding:6px 24px 8px 24px;font-size:27px;font-weight:bold;color:#fff;text-align:center;}

.main{position:relative;text-align:center;}
#mainChild1{padding:72px 0 ;border-bottom:1px solid #949494;}
#mainChild1 .child{float:left;margin-right:40px;width:146px;height:133px;border:2px solid #B9B8B8;text-align:left;cursor:pointer;}
#mainChild1 .child{transition-duration: .5s;-ms-transition-duration: .5s;-moz-transition-duration: .5s; -webkit-transition-duration: .5s; }
#mainChild1 .child.no{margin-right:0px;}
#mainChild1 .child .title{color:#808080;font-size:30px;font-family:'MyriadPro-Regular_0';padding:22px 0 0 18px;line-height:28px;}
#mainChild1 .child .info{color:#808080;font-size:20px;line-height:28px;padding:16px 0 13px 18px;}
#mainChild1 .child .sub{margin-left:25px;height:2px;width:24px;background-color:#0d6898;}
#mainChild1 .child:hover{background-color:#0d6898;border:2px solid #0d6898;}
#mainChild1 .child:hover .title{color:#fff;}
#mainChild1 .child:hover .info{color:#fff;}
#mainChild1 .child:hover .sub{background-color:#fff;}

.mainChildList{border-bottom:1px solid #949494;text-align:left;}
.mainChildList .wapImg{display:none;text-align: center;}
.mainChildList .wapImg img{max-width:100%;}
.mainChildList .head{padding:20px 0;border-bottom:2px solid #0d6898;}
.mainChildList .title{line-height:68px;color:#434343;font-size:55px;font-family:'NotoSansHans-Light';}
.mainChildList .titleEn{line-height:66px;color:#434343;font-size:55px;font-family: 'MyriadPro-Regular_0';}
.mainChildList .content{padding:26px 0;}
.mainChildList .content p{color:#434343;font-size:18px;line-height:28px;}
.mainChildList .left{float:left;}
.mainChildList .right{float:right;}
.mainChildList .linkBtn{margin-top:34px;}

#mainChild2 .right{width:420px;}
#mainChild2 .right img{width:80%;vertical-align:middle;}
#mainChild2 .left{width:670px;padding-top:80px;}
#mainChild3 .left{width:420px;}
#mainChild3 .left img{width:100%;vertical-align:middle;}
#mainChild3 .right{width:670px;padding-top:80px;}

#mainChild4{height:754px;}
#mainChild4 .container{height:754px;background-position:center bottom;background-repeat:no-repeat; background-attachment:fixed;}
#mainChild4 .title{padding-top:300px;line-height:106px;color:#0d6898;font-size:80px;font-family: 'NotoSansHans-Light';}
#mainChild4 .info{color:#0d6898;font-size:40px;line-height:58px;font-family: 'NotoSansHans-Light';}
#mainChild4 .info2{color:#C0C0C0;font-size:52px;line-height:72px;font-family: 'NotoSansHans-Light';}


#mainChild5{position:relative;text-align:center;padding:70px 0px 80px 0px;background-color:#0d6898;}
#mainChild5 .title{font-family:'Noto Sans S Chinese Light','NotoSansHans-Light','微软雅黑';font-size:55px;line-height:58px;color:#fff;margin-top:40px;}
#mainChild5 .info{font-size:18px;color:#fff;margin:10px 0px;}
#mainChild5 img{margin:70px 0px;max-width:80%;}
#mainChild5 .linkBtn{margin:0px auto;border-color:#fff;color:#fff;background-image:url(../images/rightIconOn.png);}
#mainChild6{border-bottom:0;}
#mainChild6 .left{width:420px;}
#mainChild6 .left img{width:100%;vertical-align:middle;}
#mainChild6 .right{position: relative;left:-65px;width:620px;padding-top: 130px;}
#mainChild6 .title{padding-top:30px;}
#mainChild6 .content{padding:0;}

#mainChild7{border-bottom: 1px solid #949494;padding-bottom:60px;}
#mainChild7 .content .child{width:26.65%;margin:0 1.8%;text-align:left;display:inline-block;*display:inline;*zoom:1;}
#mainChild7 .content .child .childTitle{position:relative;border:2px solid #e70719;height:160px;}
#mainChild7 .content .child .childTitle{transition-duration: .5s;-ms-transition-duration: .5s;-moz-transition-duration: .5s; -webkit-transition-duration: .5s; }
#mainChild7 .content .child .childTitle .titleEn{margin:75px 0 2px 8%;font-size:30px;font-family:'MyriadPro-Regular_0';color:#0d6898;}
#mainChild7 .content .child .childTitle .titleEn{transition-duration: .5s;-ms-transition-duration: .5s;-moz-transition-duration: .5s; -webkit-transition-duration: .5s; }
#mainChild7 .content .child .childTitle .titleCh{margin:0 0 0 8%;font-size:20px;color:#444;}
#mainChild7 .content .child .childTitle .titleCh{transition-duration: .5s;-ms-transition-duration: .5s;-moz-transition-duration: .5s; -webkit-transition-duration: .5s; }
#mainChild7 .content .child:hover .childTitle{background:#0d6898;}
#mainChild7 .content .child:hover .childTitle .titleEn{color:#fff;}
#mainChild7 .content .child:hover .childTitle .titleCh{color:#fff;}
#mainChild7 .content .child .childContent{padding:30px 0 0 0;}
#mainChild7 .content .child .childContent:after{content: "020"; display: block; height: 0; clear: both;visibility:hidden;}
#mainChild7 .content .child .childContent ul{float:left;}
#mainChild7 .content .child .childContent li{padding-left:25px;font-size:18px;color:#444;line-height:32px;}
#mainChild7 .content .child .childContent li{transition-duration: .5s;-ms-transition-duration: .5s;-moz-transition-duration: .5s; -webkit-transition-duration: .5s; }
#mainChild7 .content .child .childContent li:hover{color:#e70719;}


#mainChild8{border-bottom: 1px solid #949494;padding:70px 0px 80px 0px;}
#mainChild8 .title{font-family:'Noto Sans S Chinese Light','NotoSansHans-Light','微软雅黑';font-size:55px;line-height:58px;color:#434343;}
#mainChild8 .info{font-size:18px;color:#434343;margin-top:38px;}
#mainChild8 .contentNav{width:400px;height:50px;margin:28px auto;}
#mainChild8 .contentNav .child{height:46px;width:196px;line-height:46px;border:2px solid #0d6898;color:#0d6898;text-align:center;float:left;cursor:pointer;}
#mainChild8 .contentNav .child.on{color:#fff;background: #0d6898;}
#mainChild8 .contents{padding-top:20px;}
#mainChild8 .contents .child{display:none;}
#mainChild8 .contents .child img{max-width:100%;height:auto;}
#mainChild8 .contents .child.on{display:block;}

#mainChild9{text-align:center;border-bottom: 1px solid #949494;padding:70px 0px 80px 0px;}
#mainChild9 .container{width:1161px;}
#mainChild9 .mun{padding-bottom:38px;}
#mainChild9 .title{font-family:'Noto Sans S Chinese Light','NotoSansHans-Light','微软雅黑';font-size:55px;line-height:58px;color:#434343;}
#mainChild9 .info{font-size:18px;color:#434343;margin:38px auto 0 auto;width:1107px;}
#mainChild9 .contents{position:relative;width:1161px;padding-top:76px;margin:0 auto;}
#mainChild9 .contents img{border:1px solid #dbdbdb;width:215px;height:91px;margin:0 5px 40px 5px;}
#mainChild9 .contents img{transition-duration: .5s;-ms-transition-duration: .5s;-moz-transition-duration: .5s; -webkit-transition-duration: .5s; }
#mainChild9 .contents img:hover{-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
-o-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
-ms-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);}
#mainChild9 .linkBtn{margin:40px auto 0 auto;}
@media  (max-width: 479px) {
.banner{margin-top:0px;background-position:center 74px; background-size:auto 230px;}
.banner .bannerBg{height:230px;}
.banner .bannerInfo{height:80px;margin-top:-40px;}
.banner .bannerInfo .title{font-size:20px;line-height:20px;}
.banner .bannerInfo .titleCh{width:auto;font-size:14px;padding:1px 4px 3px 4px;border:1px solid #fff;top:12px;}
.sv .titleCh {
    font-size: 14px;
}
.main .container{width:80%;}
#mainChild1{padding:34px 0 17px 0;text-align:center;display:none;}
#mainChild1 .child{margin:0 8px 10px 8px;width:53px;height:48px;float:none;display:inline-block;*display:inline;*zoom:1;border:1px solid #B9B8B8;}
#mainChild1 .child.no{margin:0 8px 10px 8px;}
#mainChild1 .child .title{font-size:12px;padding:8px 0 0 7px;line-height:20px;}
#mainChild1 .child .info{display:none;font-size:12px;line-height:18px;padding:6px 0 5px 8px;}
#mainChild1 .child .sub{margin-left:9px;height:2px;width:8px;}

.mainChildList .head{padding:7px 0;border-bottom:1px solid #0d6898;text-align:center;}
.mainChildList .wapImg{display:block;max-width:100%;text-align:center;margin-top:30px;}
.mainChildList .title{line-height:25px;font-size:21px;}
.mainChildList .titleEn{line-height:24px;font-size:20px;}
.mainChildList .content{padding:9px 0;}
.mainChildList .content p{font-size:12px;line-height:18px;}
.mainChildList .linkBtn{margin:12px auto 0 auto;}

#mainChild2 .right{width:179px;display:none;}
#mainChild2 .left{width:100%;padding:0 0 29px 0;float:none;margin:0 auto;}
#mainChild3 .left{width:179px;display:none;}
#mainChild3 .right{width:100%;padding:0 0 29px 0;float:none;margin:0 auto;}

#mainChild4{height:272px;}
#mainChild4 .container{height:272px;background-size: auto 272px;background-attachment: initial;}
#mainChild4 .title{padding-top:109px;line-height:39px;font-size:34px;}
#mainChild4 .info{font-size:16px;line-height:22px;}
#mainChild4 .info2{font-size:19px;line-height:26px;}


#mainChild5{padding:26px 0px 29px 0px;}
#mainChild5 .title{font-size:16px;line-height:22px;margin-top:20px;}
#mainChild5 .info{font-size:12px;margin:5px 0px;}
#mainChild5 img{margin:20px 0px;max-width:80%;}


#mainChild6 .left{width:179px;display:none;}
#mainChild6 .right{left: 0px;width:100%;padding-top:0px;float:none;margin:0 auto;}
#mainChild6 .title{line-height:41px;text-align:center;  padding-top: 0px}

#mainChild7{padding:26px 0;}
#mainChild7 .content .child{width:86%;margin:0 1.8%;display:none;}
#mainChild7 .content .child .childTitle{border:2px solid #e70719;height:120px;}
#mainChild7 .content .child .childTitle .titleEn{margin:50px 0 2px 8%;font-size:26px;}
#mainChild7 .content .child .childTitle .titleCh{margin:0 0 0 8%;font-size:16px;}
#mainChild7 .content .child .childContent{padding:20px 0 0 0;}
#mainChild7 .content .child .childContent li{padding-left:18px;font-size:14px;line-height:28px;}

#mainChild8{padding:20px 0px;}
#mainChild8 .title{font-size:21px;line-height:22px;}
#mainChild8 .info{font-size:12px;margin-top:14px;}
#mainChild8 .contentNav{width:146px;height:24px;margin:10px auto;}
#mainChild8 .contentNav .child{height:22px;width:71px;line-height:22px;border:1px solid #0d6898;}
#mainChild8 .contents{padding-top:7px;}
#mainChild8 .contents .child img{max-width:100%;}
#mainChild9{padding:20px 0px;}
#mainChild9 .container{width:80%;}
#mainChild9 .mun{padding-bottom:12px;}
#mainChild9 .mun img{width:100px;}
#mainChild9 .title{font-size:16px;line-height:22px;}
#mainChild9 .info{font-size:12px;margin-top:14px;width:100%;}
#mainChild9 .contents{width:350px;padding-top:27px;}
/*#mainChild9 .contents img{width:107px;height:46px;margin:0 3px 5px 3px;}
*/
#mainChild9 .contents img{width:138px;height:60px;margin:0 5px 5px 5px;}




#mainChild9 .linkBtn{margin:15px auto 0 auto;}
}
@media (min-width: 480px) and (max-width: 639px) {
.banner{margin-top:74px;background-position:center 74px; background-size:auto 340px;}
.banner .bannerBg{height:340px;}
.banner .bannerInfo{height:120px;margin-top:-60px;}
.banner .bannerInfo .title{font-size:30px;line-height:30px;}
.banner .bannerInfo .titleCh{width:auto;font-size:20px;padding:2px 6px 5px 6px;border:1px solid #fff;top:16px;}

.main .container{width:80%;}
#mainChild1{padding:34px 0 17px 0;text-align:center;display:none;}
#mainChild1 .child{margin:0 8px 10px 8px;width:53px;height:48px;float:none;display:inline-block;*display:inline;*zoom:1;border:1px solid #B9B8B8;}
#mainChild1 .child.no{margin:0 8px 10px 8px;}
#mainChild1 .child .title{font-size:12px;padding:8px 0 0 7px;line-height:20px;}
#mainChild1 .child .info{display:none;font-size:12px;line-height:18px;padding:6px 0 5px 8px;}
#mainChild1 .child .sub{margin-left:9px;height:2px;width:8px;}

.mainChildList .head{padding:7px 0;border-bottom:1px solid #0d6898;text-align:center;}
.mainChildList .wapImg{display:block;padding-top:30px;}
.mainChildList .title{line-height:25px;font-size:21px;}
.mainChildList .titleEn{line-height:24px;font-size:20px;}
.mainChildList .content{padding:9px 0;}
.mainChildList .content p{font-size:12px;line-height:18px;}
.mainChildList .linkBtn{margin:12px auto 0 auto;}

#mainChild2 .right{width:179px;display:none;padding-top:20px;}
.mainChildList .wapImg img{max-width:50%;}
#mainChild2 .left{width:100%;padding:0 0 29px 0;float:none;margin:0 auto;}
#mainChild3 .left{width:179px;display:none;}
#mainChild3 .right{width:100%;padding:0 0 29px 0;float:none;margin:0 auto;}

#mainChild4{height:272px;}
#mainChild4 .container{height:272px;background-size: auto 272px;background-attachment: initial;}
#mainChild4 .title{padding-top:109px;line-height:39px;font-size:34px;}
#mainChild4 .info{font-size:16px;line-height:22px;}
#mainChild4 .info2{font-size:19px;line-height:26px;}


#mainChild5{padding:26px 0px 29px 0px;}
#mainChild5 .title{font-size:16px;line-height:22px;margin-top:20px;}
#mainChild5 .info{font-size:12px;margin:5px 0px;}
#mainChild5 img{margin:20px 0px;max-width:80%;}


#mainChild6 .left{width:179px;display:none;}
#mainChild6 .right{left: 0px;width:100%;padding-top:0px;float:none;margin:0 auto;}
#mainChild6 .title{line-height:41px;text-align:center;  padding-top: 0px}

#mainChild7{padding:26px 0;}
#mainChild7 .content .child{width:86%;margin:0 1.8%;display:none;}
#mainChild7 .content .child .childTitle{border:2px solid #e70719;height:120px;}
#mainChild7 .content .child .childTitle .titleEn{margin:50px 0 2px 8%;font-size:26px;}
#mainChild7 .content .child .childTitle .titleCh{margin:0 0 0 8%;font-size:16px;}
#mainChild7 .content .child .childContent{padding:20px 0 0 0;}
#mainChild7 .content .child .childContent li{padding-left:18px;font-size:14px;line-height:28px;}

#mainChild8{padding:20px 0px;}
#mainChild8 .title{font-size:21px;line-height:22px;}
#mainChild8 .info{font-size:12px;margin-top:14px;}
#mainChild8 .contentNav{width:146px;height:24px;margin:10px auto;}
#mainChild8 .contentNav .child{height:22px;width:71px;line-height:22px;border:1px solid #0d6898;}
#mainChild8 .contents{padding-top:7px;}
#mainChild8 .contents .child img{max-width:100%;}
#mainChild9{padding:20px 0px;}
#mainChild9 .container{width:80%;}
#mainChild9 .mun{padding-bottom:12px;}
#mainChild9 .mun img{width:100px;}
#mainChild9 .title{font-size:16px;line-height:22px;}
#mainChild9 .info{font-size:12px;margin-top:14px;width:100%;}
#mainChild9 .contents{width:460px;padding-top:27px;}
/*#mainChild9 .contents img{width:107px;height:46px;margin:0 3px 5px 3px;}
*/
#mainChild9 .contents img{width:138px;height:60px;margin:0 5px 5px 5px;}
#mainChild9 .linkBtn{margin:15px auto 0 auto;}
}
@media (min-width: 640px) and (max-width:1023px ) {
.banner{margin-top:74px;background-position:center 74px; background-size:auto 450px;}
.banner .bannerBg{height:450px;}
.banner .bannerInfo{height:160px;margin-top:-80px;}
.banner .bannerInfo .title{font-size:40px;line-height:40px;}
.banner .bannerInfo .titleCh{position:relative;top:16px;width:auto;font-size:26px;padding:2px 10px 6px 10px;border:2px solid #fff;}


.main .container{width:80%;}
#mainChild1{padding:68px 0 34px 0;text-align:center;display:none;}
#mainChild1 .child{margin:0 15px 20px 15px;width:105px;height:96px;float:none;display:inline-block;*display:inline;*zoom:1;border:1px solid #B9B8B8;}
#mainChild1 .child.no{margin:0 15px 20px 15px;}
#mainChild1 .child .title{font-size:22px;padding:15px 0 0 14px;line-height:20px;}
#mainChild1 .child .info{font-size:15px;line-height:19px;padding:12px 0 9px 13px;}
#mainChild1 .child .sub{margin-left:18px;height:2px;width:17px;}

.mainChildList .head{padding:14px 0;border-bottom:2px solid #0d6898;text-align:center;}
.mainChildList .wapImg{display:block;padding-top:30px;}
.mainChildList .title{line-height:50px;font-size:42px;}
.mainChildList .titleEn{line-height:48px;font-size:40px;}
.mainChildList .content{padding:18px 0;}
.mainChildList .content p{font-size:14px;line-height:20px;}
.mainChildList .linkBtn{margin:24px auto 0 auto;}

#mainChild2 .right{width:357px;display:none;}
#mainChild2 .left{width:100%;padding:0 0 58px 0;float:none;margin:0 auto;}
#mainChild3 .left{width:357px;display:none;}
#mainChild3 .right{width:100%;padding:0 0 58px 0;float:none;margin:0 auto;}

#mainChild4{height:544px;}
#mainChild4 .container{height:544px;background-size:100% auto;}
#mainChild4 .title{padding-top:217px;line-height:77px;font-size:68px;}
#mainChild4 .info{font-size:29px;line-height:43px;}
#mainChild4 .info2{font-size:37px;line-height:52px;}


#mainChild5{padding:51px 0px 58px 0px;}
#mainChild5 .title{font-size:34px;line-height:44px;margin-top:0px;}
#mainChild5 .info{font-size:14px;margin:8px 0px;}
#mainChild5 img{margin:53px 0px;}

#mainChild6 .left{width:357px;display:none;}
#mainChild6 .right{left: 0px;width:100%;padding-top:0px;float:none;margin:0 auto;}
#mainChild6 .title{line-height:70px;text-align:center;padding-top: 10px;}

#mainChild7{padding:51px 0;}
#mainChild7 .content{display:none;}
#mainChild7 .content .child{width:50%;margin:0 1.8%;}
#mainChild7 .content .child .childTitle{border:2px solid #e70719;height:160px;}
#mainChild7 .content .child .childTitle .titleEn{margin:75px 0 2px 8%;font-size:30px;}
#mainChild7 .content .child .childTitle .titleCh{margin:0 0 0 8%;font-size:20px;}
#mainChild7 .content .child .childContent{padding:30px 0 0 0;}
#mainChild7 .content .child .childContent li{padding-left:25px;font-size:18px;line-height:32px;}

#mainChild8{padding:40px 0px;}
#mainChild8 .title{font-size:40px;line-height:44px;}
#mainChild8 .info{font-size:14px;margin-top:28px;}
#mainChild8 .contentNav{width:290px;height:38px;margin:20px auto;}
#mainChild8 .contentNav .child{height:34px;width:141px;line-height:34px;border:2px solid #0d6898;}
#mainChild8 .contents{padding-top:14px;}

#mainChild9{padding:40px 0px;}
#mainChild9 .container{width:93.75%;}
#mainChild9 .mun{padding-bottom:24px;}
#mainChild9 .mun img{width:200px;}
#mainChild9 .title{font-size:40px;line-height:44px;}
#mainChild9 .info{font-size:14px;margin-top:28px;width:100%;}
#mainChild9 .contents{width:600px;padding-top:54px;}
#mainChild9 .contents img{width:185px;height:91px;margin:0 5px 10px 5px;}
#mainChild9 .linkBtn{margin:30px auto 0 auto;}
}
@media (min-width: 1024px) and (max-width:1199px ) {
.banner{margin-top:68px;background-position:left 68px;background-size: auto 300px;}
.banner .bannerBg{height: 300px;}
.banner .bannerInfo{transform-origin:center;-moz-transform-origin:center;-ms-transform-origin:center;-o-transform-origin:center;-webkit-transform-origin:center;}
.banner .bannerInfo{transform:scale(0.83);-moz-transform:scale(0.83);-ms-transform:scale(0.83);-o-transform:scale(0.83);-webkit-transform:scale(0.83);}
.banner .bannerInfo{height:160px;margin-top:-80px;}
.banner .bannerInfo .title{font-size:46px;line-height:48px;}
.banner .bannerInfo .titleCh{position:relative;top:16px;border:3px solid #fff;padding:5px 18px 6px 18px;font-size:20px;}
.main .container{width:960px;}
#mainChild1 .container{transform-origin:top center;-moz-transform-origin:top center;-ms-transform-origin:top center;-o-transform-origin:top center;-webkit-transform-origin:top center;}
#mainChild1 .container{transform:scale(0.83);-moz-transform:scale(0.83);-ms-transform:scale(0.83);-o-transform:scale(0.83);-webkit-transform:scale(0.83);}
#mainChild1{padding:56px 0;height: 95px;overflow:hidden;}
#mainChild1 .child{margin-right:34px;width:124px;height:113px;border:1px solid #B9B8B8;}
#mainChild1 .child .title{font-size:26px;padding:18px 0 0 16px;line-height:24px;}
#mainChild1 .child .info{font-size:18px;line-height:22px;padding:14px 0 11px 15px;}
#mainChild1 .child .sub{margin-left:21px;height:2px;width:20px;}
#mainChild1 .child:hover{border:1px solid #0d6898;}

.mainChildList .head{padding:17px 0;border-bottom:2px solid #0d6898;}
.mainChildList .title{line-height:58px;font-size:50px;}
.mainChildList .titleEn{line-height:56px;font-size:46px;}
.mainChildList .content{padding:22px 0;}
.mainChildList .content p{font-size:16px;line-height:24px;}
.mainChildList .linkBtn{margin-top:29px;}
#mainChild2 .container{transform-origin:top center;-moz-transform-origin:top center;-ms-transform-origin:top center;-o-transform-origin:top center;-webkit-transform-origin:top center;}
#mainChild2 .container{transform:scale(0.83);-moz-transform:scale(0.83);-ms-transform:scale(0.83);-o-transform:scale(0.83);-webkit-transform:scale(0.83);}
#mainChild2{height:444px;overflow: hidden;}
#mainChild2 .right{width:357px;padding:68px 0;}
#mainChild2 .left{width:570px;padding-top:68px;}
#mainChild3 .container{transform-origin:top center;-moz-transform-origin:top center;-ms-transform-origin:top center;-o-transform-origin:top center;-webkit-transform-origin:top center;}
#mainChild3 .container{transform:scale(0.83);-moz-transform:scale(0.83);-ms-transform:scale(0.83);-o-transform:scale(0.83);-webkit-transform:scale(0.83);}
#mainChild3{height:444px;overflow: hidden;}
#mainChild3 .left{width:357px;}
#mainChild3 .right{width:570px;padding-top:68px;}

#mainChild4{height:530px;overflow:hidden;}
#mainChild4 .container{height:530px;background-size:100% auto;}
#mainChild4 .title{padding-top:216px;line-height:76px;font-size:60px;}
#mainChild4 .info{font-size:29px;line-height:42px;}
#mainChild4 .info2{font-size:38px;line-height:52px;}

#mainChild5 .container{transform-origin:top center;-moz-transform-origin:top center;-ms-transform-origin:top center;-o-transform-origin:top center;-webkit-transform-origin:top center;}
#mainChild5 .container{transform:scale(0.83);-moz-transform:scale(0.83);-ms-transform:scale(0.83);-o-transform:scale(0.83);-webkit-transform:scale(0.83);}
#mainChild5{padding:48px 0px 54px 0px;overflow:hidden;height: 480px;}
#mainChild5 .title{font-size:50px;line-height:50px;margin-top:34px;}
#mainChild5 .info{font-size:15px;margin:8px 0px;}
#mainChild5 img{margin:60px 0px;}

#mainChild6 .container{transform-origin:top center;-moz-transform-origin:top center;-ms-transform-origin:top center;-o-transform-origin:top center;-webkit-transform-origin:top center;}
#mainChild6 .container{transform:scale(0.83);-moz-transform:scale(0.83);-ms-transform:scale(0.83);-o-transform:scale(0.83);-webkit-transform:scale(0.83);}
#mainChild6{overflow:hidden;height: 444px;}
#mainChild6 .left{width:357px;}
#mainChild6 .right{width:570px;padding-top:130px;}
#mainChild6 .title{line-height:97px;}

#mainChild7 .container{transform-origin:top center;-moz-transform-origin:top center;-ms-transform-origin:top center;-o-transform-origin:top center;-webkit-transform-origin:top center;}
#mainChild7 .container{transform:scale(0.83);-moz-transform:scale(0.83);-ms-transform:scale(0.83);-o-transform:scale(0.83);-webkit-transform:scale(0.83);}
#mainChild7{padding-bottom:48px;  height: 266px;overflow:hidden;}
#mainChild7 .content .child .childTitle{height:160px;}
#mainChild7 .content .child .childTitle .titleEn{margin:75px 0 2px 8%;font-size:23px;}
#mainChild7 .content .child .childTitle .titleCh{font-size:16px;}
#mainChild7 .content .child .childContent{padding:30px 0 0 0;}
#mainChild7 .content .child .childContent li{padding-left:25px;font-size:14px;line-height:24px;}

#mainChild8 .container{transform-origin:top center;-moz-transform-origin:top center;-ms-transform-origin:top center;-o-transform-origin:top center;-webkit-transform-origin:top center;}
#mainChild8 .container{transform:scale(0.83);-moz-transform:scale(0.83);-ms-transform:scale(0.83);-o-transform:scale(0.83);-webkit-transform:scale(0.83);}
#mainChild8{border-bottom: 1px solid #949494;padding:56px 0px 64px 0px;overflow:hidden; height:490px;}
#mainChild8 .title{font-size:50px;line-height:50px;}
#mainChild8 .info{font-size:15px;margin-top:32px;}
#mainChild8 .contentNav{width:340px;height:44px;margin:24px auto;}
#mainChild8 .contentNav .child{height:40px;width:166px;line-height:40px;border:2px solid #0d6898;}
#mainChild8 .contents{padding-top:17px;}

#mainChild9 .container{transform-origin:top center;-moz-transform-origin:top center;-ms-transform-origin:top center;-o-transform-origin:top center;-webkit-transform-origin:top center;}
#mainChild9 .container{transform:scale(0.83);-moz-transform:scale(0.83);-ms-transform:scale(0.83);-o-transform:scale(0.83);-webkit-transform:scale(0.83);}
#mainChild9{padding:56px 0px 64px 0px;overflow:hidden;height:540px;}
#mainChild9 .container{width:960px;}
#mainChild9 .mun{padding-bottom:28px;}
#mainChild9 .title{font-size:50px;line-height:50px;}
#mainChild9 .info{font-size:15px;margin-top:32px;width:960px;}
#mainChild9 .contents{width:960px;padding-top:64px;}
#mainChild9 .contents img{width:172px;height:73px;margin:0 4px 40px 4px;}
#mainChild9 .linkBtn{margin:40px auto 0 auto;}
}
@media (min-width: 1200px) and (max-width:1439px ) {
.banner{margin-top:68px;background-position:left 68px;}
.banner .bannerInfo{transform-origin:center;-moz-transform-origin:center;-ms-transform-origin:center;-o-transform-origin:center;-webkit-transform-origin:center;}
.banner .bannerInfo{transform:scale(0.83);-moz-transform:scale(0.83);-ms-transform:scale(0.83);-o-transform:scale(0.83);-webkit-transform:scale(0.83);}
.banner .bannerInfo{height:160px;margin-top:-80px;}
.banner .bannerInfo .title{font-size:46px;line-height:48px;}
.banner .bannerInfo .titleCh{position:relative;top:16px;border:3px solid #fff;padding:5px 18px 6px 18px;font-size:20px;}
.main .container{width:960px;}
#mainChild1 .container{transform-origin:top center;-moz-transform-origin:top center;-ms-transform-origin:top center;-o-transform-origin:top center;-webkit-transform-origin:top center;}
#mainChild1 .container{transform:scale(0.83);-moz-transform:scale(0.83);-ms-transform:scale(0.83);-o-transform:scale(0.83);-webkit-transform:scale(0.83);}
#mainChild1{padding:56px 0;height: 95px;overflow:hidden;}
#mainChild1 .child{margin-right:34px;width:124px;height:113px;border:1px solid #B9B8B8;}
#mainChild1 .child .title{font-size:26px;padding:18px 0 0 16px;line-height:24px;}
#mainChild1 .child .info{font-size:18px;line-height:22px;padding:14px 0 11px 15px;}
#mainChild1 .child .sub{margin-left:21px;height:2px;width:20px;}
#mainChild1 .child:hover{border:1px solid #0d6898;}

.mainChildList .head{padding:17px 0;border-bottom:2px solid #0d6898;}
.mainChildList .title{line-height:58px;font-size:50px;}
.mainChildList .titleEn{line-height:56px;font-size:46px;}
.mainChildList .content{padding:22px 0;}
.mainChildList .content p{font-size:16px;line-height:24px;}
.mainChildList .linkBtn{margin-top:29px;}
#mainChild2 .container{transform-origin:top center;-moz-transform-origin:top center;-ms-transform-origin:top center;-o-transform-origin:top center;-webkit-transform-origin:top center;}
#mainChild2 .container{transform:scale(0.83);-moz-transform:scale(0.83);-ms-transform:scale(0.83);-o-transform:scale(0.83);-webkit-transform:scale(0.83);}
#mainChild2{height:444px;overflow: hidden;}
#mainChild2 .right{width:357px;padding:68px 0;}
#mainChild2 .left{width:570px;padding-top:68px;}

#mainChild3 .container{transform-origin:top center;-moz-transform-origin:top center;-ms-transform-origin:top center;-o-transform-origin:top center;-webkit-transform-origin:top center;}
#mainChild3 .container{transform:scale(0.83);-moz-transform:scale(0.83);-ms-transform:scale(0.83);-o-transform:scale(0.83);-webkit-transform:scale(0.83);}
#mainChild3{height:444px;overflow: hidden;}
#mainChild3 .left{width:357px;}
#mainChild3 .right{width:570px;padding-top:68px;}

#mainChild4{height:530px;overflow:hidden;}
#mainChild4 .container{height:530px;background-size:100% auto;}
#mainChild4 .title{padding-top:216px;line-height:76px;font-size:60px;}
#mainChild4 .info{font-size:29px;line-height:42px;}
#mainChild4 .info2{font-size:38px;line-height:52px;}

#mainChild5 .container{transform-origin:top center;-moz-transform-origin:top center;-ms-transform-origin:top center;-o-transform-origin:top center;-webkit-transform-origin:top center;}
#mainChild5 .container{transform:scale(0.83);-moz-transform:scale(0.83);-ms-transform:scale(0.83);-o-transform:scale(0.83);-webkit-transform:scale(0.83);}
#mainChild5{padding:48px 0px 54px 0px;overflow:hidden;height: 480px;}
#mainChild5 .title{font-size:50px;line-height:50px;margin-top:34px;}
#mainChild5 .info{font-size:15px;margin:8px 0px;}
#mainChild5 img{margin:60px 0px;}

#mainChild6 .container{transform-origin:top center;-moz-transform-origin:top center;-ms-transform-origin:top center;-o-transform-origin:top center;-webkit-transform-origin:top center;}
#mainChild6 .container{transform:scale(0.83);-moz-transform:scale(0.83);-ms-transform:scale(0.83);-o-transform:scale(0.83);-webkit-transform:scale(0.83);}
#mainChild6{overflow:hidden;height: 444px;}
#mainChild6 .left{width:357px;}
#mainChild6 .right{width:570px;padding-top:130px;}
#mainChild6 .title{line-height:97px;}

#mainChild7 .container{transform-origin:top center;-moz-transform-origin:top center;-ms-transform-origin:top center;-o-transform-origin:top center;-webkit-transform-origin:top center;}
#mainChild7 .container{transform:scale(0.83);-moz-transform:scale(0.83);-ms-transform:scale(0.83);-o-transform:scale(0.83);-webkit-transform:scale(0.83);}
#mainChild7{padding-bottom:48px;  height: 266px;overflow:hidden;}
#mainChild7 .content .child .childTitle{height:160px;}
#mainChild7 .content .child .childTitle .titleEn{margin:75px 0 2px 8%;font-size:23px;}
#mainChild7 .content .child .childTitle .titleCh{font-size:16px;}
#mainChild7 .content .child .childContent{padding:30px 0 0 0;}
#mainChild7 .content .child .childContent li{padding-left:25px;font-size:14px;line-height:24px;}

#mainChild8 .container{transform-origin:top center;-moz-transform-origin:top center;-ms-transform-origin:top center;-o-transform-origin:top center;-webkit-transform-origin:top center;}
#mainChild8 .container{transform:scale(0.83);-moz-transform:scale(0.83);-ms-transform:scale(0.83);-o-transform:scale(0.83);-webkit-transform:scale(0.83);}
#mainChild8{border-bottom: 1px solid #949494;padding:56px 0px 64px 0px;overflow:hidden; height:490px;}
#mainChild8 .title{font-size:50px;line-height:50px;}
#mainChild8 .info{font-size:15px;margin-top:32px;}
#mainChild8 .contentNav{width:340px;height:44px;margin:24px auto;}
#mainChild8 .contentNav .child{height:40px;width:166px;line-height:40px;border:2px solid #0d6898;}
#mainChild8 .contents{padding-top:17px;}

#mainChild9 .container{transform-origin:top center;-moz-transform-origin:top center;-ms-transform-origin:top center;-o-transform-origin:top center;-webkit-transform-origin:top center;}
#mainChild9 .container{transform:scale(0.83);-moz-transform:scale(0.83);-ms-transform:scale(0.83);-o-transform:scale(0.83);-webkit-transform:scale(0.83);}
#mainChild9{padding:56px 0px 64px 0px;overflow:hidden;height:540px;}
#mainChild9 .container{width:960px;}
#mainChild9 .mun{padding-bottom:28px;}
#mainChild9 .title{font-size:50px;line-height:50px;}
#mainChild9 .info{font-size:15px;margin-top:32px;width:960px;}
#mainChild9 .contents{width:960px;padding-top:64px;}
#mainChild9 .contents img{width:172px;height:73px;margin:0 4px 40px 4px;}
#mainChild9 .linkBtn{margin:40px auto 0 auto;}

}
@media (min-width: 1440px) and (max-width:1920px ) {
.banner{margin-top:82px;background-position:left 82px;}
.banner .bannerInfo{height:160px;margin-top:-80px;}
.banner .bannerInfo .title{font-size:46px;line-height:48px;}
.banner .bannerInfo .titleCh{position:relative;top:16px;border:3px solid #fff;padding:5px 18px 6px 18px;font-size:24px;}

.main .container{width:960px;}
#mainChild1{padding:72px 0;}
#mainChild1 .child{margin-right:34px;width:124px;height:113px;border:1px solid #B9B8B8;}
#mainChild1 .child .title{font-size:26px;padding:18px 0 0 16px;line-height:24px;}
#mainChild1 .child .info{font-size:18px;line-height:22px;padding:14px 0 11px 15px;}
#mainChild1 .child .sub{margin-left:21px;height:2px;width:20px;}
#mainChild1 .child:hover{border:1px solid #0d6898;}

.mainChildList .head{padding:17px 0;border-bottom:2px solid #0d6898;}
.mainChildList .title{line-height:50px;font-size:44px;}
.mainChildList .titleEn{line-height:50px;font-size:44px;}
.mainChildList .content{padding:22px 0;}
.mainChildList .content p{font-size:16px;line-height:24px;}
.mainChildList .linkBtn{margin-top:29px;}

#mainChild2 .right{width:357px;margin:68px auto;}
#mainChild2 .left{width:570px;padding-top:68px;}
#mainChild3 .left{width:357px;}
#mainChild3 .right{width:570px;padding-top:68px;}

#mainChild4{height:640px;}
#mainChild4 .container{height:640px;background-size:100% auto;}
#mainChild4 .title{padding-top:255px;line-height:90px;font-size:80px;}
#mainChild4 .info{font-size:34px;line-height:50px;}
#mainChild4 .info2{font-size:44px;line-height:61px;}


#mainChild5{padding:60px 0px 68px 0px;}
#mainChild5 .title{font-size:44px;line-height:44px;margin-top:34px;}
#mainChild5 .info{font-size:15px;margin:8px 0px;}
#mainChild5 img{margin:60px 0px;}

#mainChild6 .left{width:357px;}
#mainChild6 .right{width:570px;padding-top:130px;}
#mainChild6 .title{padding: 20px 0 10px 0;}


#mainChild7{padding-bottom:60px;}
#mainChild7 .content .child .childTitle{height:160px;}
#mainChild7 .content .child .childTitle .titleEn{margin:75px 0 2px 8%;font-size:23px;}
#mainChild7 .content .child .childTitle .titleCh{font-size:16px;}
#mainChild7 .content .child .childContent{padding:30px 0 0 0;}
#mainChild7 .content .child .childContent li{padding-left:25px;font-size:14px;line-height:24px;}

#mainChild8{border-bottom: 1px solid #949494;padding:70px 0px 80px 0px;}
#mainChild8 .title{font-size:44px;line-height:44px;}
#mainChild8 .info{font-size:15px;margin-top:32px;}
#mainChild8 .contentNav{width:340px;height:44px;margin:24px auto;}
#mainChild8 .contentNav .child{height:40px;width:166px;line-height:40px;border:2px solid #0d6898;}
#mainChild8 .contents{padding-top:17px;}

#mainChild9{padding:70px 0px 80px 0px;}
#mainChild9 .container{width:960px;}
#mainChild9 .mun{padding-bottom:28px;}
#mainChild9 .title{font-size:44px;line-height:44px;}
#mainChild9 .info{font-size:15px;margin-top:32px;width:960px;}
#mainChild9 .contents{width:960px;padding-top:64px;}
#mainChild9 .contents img{width:172px;height:73px;margin:0 4px 40px 4px;}
#mainChild9 .linkBtn{margin:40px auto 0 auto;}
}