

/*企业概况*/

.qiy_kaik{
	width: 100%; 
	position: relative;
	overflow: hidden;
}

.qiy_gaik_beij{
	height: 914px;
	position: relative;
	background: url(../images/beijing.jpg) no-repeat;
	left: 50%;
	margin-left: -960px;
}
.qiy_gaik_neir{
	width:75%;
	height: 914px;
	position: absolute;
	right: 0;
	background: rgba(0,0,0,0.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#8f000000,endColorstr=#8f000000);
}
.qiy_gaik_beij h2{
	position: absolute;
	left: 15%;
	top: 95px;
	color: #fff;
	writing-mode: tb-lr;
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
}
@media screen and (min-width: 1920px) {


}
.qiy_gaik_beij h2 p{
	font-size: 30px;
	letter-spacing: 8px; 
	line-height: 60px;
}
.qiy_gaik_beij h2 i{
	width: 3px;
	height: 44px;
	display: block;
	background: #fff;
	float: left;
	margin: 3px;
	filter:alpha(opacity=60);  
      -moz-opacity:0.6;  
      -khtml-opacity: 0.6;  
      opacity: 0.6;  
}
.qiy_gaik_beij h2 span{
	font-family: "宋体";
	font-size: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.qiy_gaik_erj_daoh{
	width: 36px; 
	position: absolute;
	left: -38px;
	top: 15%;
}
.qiy_gaik_erj_daoh .current{background: #fff; }
.qiy_gaik_erj_daoh .current a{
	color: #494949;
}
.qiy_gaik_erj_daoh li{
	width: 36px;
	text-align: center;
	margin: 2px 0;
	padding: 15px 0;
	background: rgba(0,0,0,0.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#8f000000,endColorstr=#8f000000);
}
.qiy_gaik_erj_daoh li a{
	color: #fff;
	display: inline-block;
	font-size: 18px;


	writing-mode:tb-lr;
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    


    font-family: "hany_font";
}
.qiy_gaik_erj_daoh li:hover{
	background: #fff;
}
.qiy_gaik_erj_daoh li:hover a{
	color: #494949;
}

.qiy_gaik_xiangq{
	width: 800px;
	height: 660px;
	overflow: auto;
	position: relative;
	top: 15%;
	left: 50px;
	text-align: justify;
	line-height: 30px;
	color: #fff;
}
/*滚动条垂直方向的宽度*/
.qiy_gaik_xiangq::-webkit-scrollbar
{
	width: 2px;
}
/* 垂直滚动条的滑动块 */
.qiy_gaik_xiangq::-webkit-scrollbar-thumb:vertical {
	border-radius: 4px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.01);
	background-color:rgba(166,166,166,0.5);
}

 
.qiy_gaik_xiangq::-webkit-scrollbar-track{  
        background: #E6E6E6;  
}  
.qiy_gaik_xiangq::-webkit-scrollbar-thumb{  
    background: #747474;  
    border-radius:2px;  
}  
.qiy_gaik_xiangq::-webkit-scrollbar-corner{  
    background: #E6E6E6;  
} 


 

/*公司团队开始了*/

.tuand_beij{
	background: transparent url(../images/tuand_beij.jpg) center top no-repeat;
    background-attachment: fixed;
}

.tuand_biaot{
	width: 1200px;
	margin:0 auto;
	height: 267px;
	text-align: center;
	color: #fff;
}
.tuand_biaot h1{text-transform: uppercase; font-size: 40px;line-height: 80px; padding: 30px 0 0 0; font-family: "Segoe UI Light";}
.tuand_biaot h2{font-size: 24px;line-height: 30px;padding: 0 0 30px 0;}
.tuand_biaot p{font-size: 14px;color: #bebebe;line-height: 25px;}

.tuand_lieb_beij{
	width: 1200px;
	margin:0 auto;  
	padding: 10px;
	background: #FFF;
}
.tuand_ul{
	position: relative;
	overflow: hidden;
	margin: 20px 25px;
}

.tuand_ul li{width: 330px; height: 433px; float: left; border: solid 1px #d9d9d9; position: relative; overflow: hidden; margin: 25px;}
.tuand_ul li h1{width: 330px;height: 377px;}

.tuand_mingz{padding:5px 10px;overflow: hidden;line-height: 35px;}
.tuand_mingz h2{display: inline-block; margin-right: 10px;}
.tuand_ul li:hover .neir_qieh{
	display: block;
}
.tuand_ul li:hover .tuand_mingz{
	display: none;
}
.neir_qieh{position: absolute;bottom:56px;
	padding:15px 10px;
	width: 310px;
	background: rgba(0,0,0,0.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#8f000000,endColorstr=#8f000000);
	color: #FFF;
	display: none;
}
.neir_qieh h2{display: inline-block; margin-right: 10px;}
.neir_qieh p{
	line-height: 25px;
	font-size: 14px;

}
.neir_qieh .ccc{
	color: #baa653;
}
.neir_qieh span{
	font-size: 14px;
}
.chak_xiangq_ann{
	width: 116px;
	height: 30px;
	position: absolute;
	bottom:-40px;
	right: 10px;
	background: #414141;
	text-align: center;
	line-height: 30px;

}

.reveal-modal-bg { position: fixed; height: 100%; width: 100%; z-index: 100; display: none; 
	top: 0; left: 0; background:rgba(00, 00, 00, 0.8) }
.reveal-modal { visibility: hidden; top: 150px; left: 50%; margin-left: -500px; width: 940px; height: 535px;
 position: absolute; z-index: 101;
 -moz-box-shadow: 0 0 10px rgba(0,0,0,.4); 
 -webkit-box-shadow: 0 0 10px rgba(0,0,0,.4); 
  -box-shadow: 0 0 10px rgba(0,0,0,.4); 
  background-color: #FFF; }

.wenz_jianj{width: 450px; overflow: auto; height: 470px;float: left;margin: 20px;padding: 0 20px 0 0;}
.wenz_jianj h2{
	border-bottom: solid 1px #ccc; padding: 15px 0; 
}
.wenz_jianj h2 span{padding-left:15px; font-size: 14px;}

.wenz_jianj .congy_shij{padding: 10px 0; font-size: 14px; line-height: 25px;}
.wenz_jianj .ger_jianj{padding: 10px 0; text-align: justify;}
.wenz_jianj .ger_jianj h3{font-size: 18px;line-height: 35px;}
.wenz_jianj .ger_jianj p{
	line-height: 25px;font-size: 14px;
}

.tup_jies{float: right;     margin: 60px 50px 0 0; width: 350px; height: 397px;}
.tup_jies img{width: 350px; height: 397px;}


.reveal-modal.small{ width: 200px; margin-left: -140px;}	
.reveal-modal.medium{ width: 400px; margin-left: -240px;}
.reveal-modal.large{ width: 600px; margin-left: -340px;}
.reveal-modal.xlarge{ width: 800px; margin-left: -440px;}
.reveal-modal .close-reveal-modal { font-size: 22px; line-height: 0.5; position: absolute; top: -25px; right: 0px; color: #fff;
 text-shadow: 0 -1px 1px rbga(0,0,0,.6);/* font-weight: bold;*/ cursor: pointer; 		} 



 /*工装案例*/

.gongz_anl{
	background: url(../images/gongz_anl_beij.jpg) center top no-repeat;
	
}
.anl_erj_daoh{
	width: 1200px;
	height: 542px;
	margin:0 auto;
	text-align: center;
}
.wenz_biaot_1{
	text-align: center;
	color:#fff;
	padding-top: 30px;
}
.wenz_biaot_1 h1{text-transform: uppercase; font-size: 40px;line-height: 80px; padding: 30px 0 0 0; font-family: "Segoe UI Light";}
.wenz_biaot_1 h2{font-size: 24px;line-height: 30px;padding: 0 0 30px 0;letter-spacing: 2px;}
.wenz_biaot_1 span{
	font-size: 14px;
	color: #b6b6b6;
}


.anl_erj_daoh ul{
	overflow: hidden;
	text-align: center;
	margin-top: 60px;
}

.anl_erj_daoh ul li{
	display: inline-block;
	margin: 5px 30px;
	position: relative;
	height: 200px;
    width: 123px;
}
.anl_erj_daoh ul li:hover .shang_2{
	display: block;
}
.anl_erj_daoh ul li:hover .shang_1{
	display: none;
}
.shang_1{position: absolute;top: 0;left: 0;}
.shang_2{position: absolute;top: 0;left: 0; display: none;}
.anl_erj_daoh ul li img{width: 123px;height: 124px;}
.anl_erj_daoh ul li span{display: block; font-size: 18px; font-family: "hany_font"; line-height: 40px; letter-spacing: 2px; }
.anl_erj_daoh ul li .beil{ color: #baa653;}
.anl_erj_daoh ul li .beid{ color: #fff;}


.anli_lieb{
	width: 1200px;
	margin:0 auto;
	position: relative;
}
.shuaix_beij{
	height: 50px;
	background: #4e4e4e;
	margin-top: 27px;
	line-height: 50px;
	padding:0 30px;
}
.shuaix_beij span{
	color: #fff;
	font-size: 14px;
	margin: 0 5px;
}

.shuaix_beij button{
	padding: 5px;
	margin: 0 5px;
	background: #fff;
	height: 25px;
	line-height: 25px;
}
.shuaix_beij .mor_dangq{
	background: #baa653;
}
.shuaix_beij select{
	background: #fff;
	padding: 5px 0;
	margin: 0 5px;
	height: 25px;
	
}
.shuaix_beij  .po{float: right;}
.text_red{
	color: #baa653;
}


.anli_lieb_jvz{
	width: 1200px;
	margin:0 auto;
}
.anli_lieb_ziy{

	position: relative;
	overflow: auto;
	margin: 15px 0;
	text-align: justify;
	width: 1240px;
}
.anli_lieb_ziy li{
	width: 374px;
	height: 360px;
	float: left;
	border: solid 1px #ccc;
	    margin: 17px 36px 17px 0;
	display: inline-block;
}
.anli_lieb_ziy li:hover{
	box-shadow: 0px 0px 5px #999;
	-moz-box-shadow: 0 0 5px #999;
	-webkit-box-shadow: 0 0 5px #999;
}

.anli_lieb_ziy li .anli_shej_s{
	position: relative;
}
.anli_lieb_ziy li .anli_shej_s h1{
	position: relative;
	width: 85px;
	height: 85px;
	top: -20px;
	float: left;
	left: 10px;
	overflow: hidden;
	z-index: 1;
	border-radius: 50%;
	-moz-border-radius: 50%; /* Firefox */
  -webkit-border-radius: 50%; /* Safari 和 Chrome http://www.manongjc.com/article/1214.html */
  behavior: url(ie-css3.htc); /* 通知IE浏览器调用脚本作用于'box'类 */
}
.anli_lieb_ziy li .anli_shej_s h1 img{
	width: 100%;
}
.anli_lieb_ziy li .anli_shej_s h2{
	padding: 10px 0 0 110px;
	line-height: 25px;
}
.anli_lieb_ziy li .anli_shej_s h2 span{
	font-size: 14px;
	display: block;
}

.paging {
    text-align: center;
    padding: 30px 0 50px 0;
    font-size: 14px;
}
.paging a {
    display: inline-block;
    padding: 0 10px;
    min-width: 13px;
    line-height: 33px;
    border: solid 1px #ddd;
    margin: 0 3px;
    background: #fff;
}

.paging a.active {
    background: #5f5f5f;
    color: #fff;
    border-color: #5f5f5f;
}

.anli_xiangq_biaot {
	height: 150px;
	text-align: center;
	line-height: 35px;
}
.anli_xiangq_biaot h1{
	margin-top: 80px;
	color: #414141 ;
	font-size: 24px;

}
.anli_xiangq_biaot span{
	font-size: 16px;
	color:#5f5f5f;
	padding-right: 20px;
}

.xiangq_beiq{
	background: url(../images/anli_ziy_beij.jpg) center top no-repeat;
	padding: 25px 0;
}

.xiangq_beiq_jvz{
	width: 1200px;
	margin:0 auto;
}
.anli_shux{
	 
	padding: 10px 0 35px 0;
	text-align: center;
	color: #fff;
	font-size: 16px;

}
.anli_shux p{
	display: inline-block;
	padding-right:80px; 
}

.qiehuan_kuang{
	width: 1160px;
	margin:0 auto;
	padding: 20px;
	border: solid 1px #999; 
}

#play{width:1100px;text-align:center;position:relative;overflow:hidden;margin:10px auto;    padding: 10px 0; background: #fff;}
#play .change_a{width:50%;height:100%;position:absolute;top:0;z-index:1;cursor:pointer;display:block;overflow:hidden;background:url(about:blank);}
#play .prev_a{left:0;}
#play .next_a{right:0}
#play .change_a span{width:24px;height:43px;display:block;position:absolute;top:50%;margin-top:-21px;display:none}
#play .prev_a span{background:url(../images/s_gallery_2012110702.png) no-repeat 0px -50px;left:0;}
#play .next_a span{background:url(../images/s_gallery_2012110702.png) no-repeat -30px -50px;right:0;}
#play .img_ul{position:relative;z-index:1;}
.img_hd {width:1100px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;background-color:#eee;overflow:hidden;height:66px;padding:2px 0;margin-top:15px;
	margin:5px auto;position:relative;}
.img_hd ul{position:absolute;z-index:1}
.img_hd ul li{float:left;width:80px;height:60px;border:3px solid #eee;cursor:pointer;margin:0 3px 0 1px;overflow:hidden;*display:inline;padding:1px;
	text-align:center}
.img_hd ul li img{height:60px;}
.img_hd ul li.on{border-color:rgb(45, 150, 233);}
.img_hd .bottom_a{background:url(../images/s_gallery_2012110702.png) no-repeat;width:22px;height:22px;position:absolute;display:block;top:50%;margin-top:-11px;
	cursor:pointer;z-index:10}
.img_hd .prev_a{background-position:0 -24px;left:5px;}
.img_hd .next_a{background-position:-30px -24px;right:5px;}


.anli_xiangq_jies{
	width: 1200px;
	margin:0 auto;
}
.shuom{
	padding: 40px 0;
	border-bottom: solid 1px #c4c4c4;
}
.shuom p{
	margin-top: 10px;
	line-height: 25px;
	font-size: 14px;
}

.fengx{
	margin:20px 0;
	position: relative;
}
.fengx #dingw{
	position: absolute; right: 0px;
	top: 0px;
	width: 300px;
}
.fengx #dingw span{
	float: left;
	line-height: 30px;
	padding-right: 2px; 
}
.fengx a{
	display: block;
	line-height: 38px;
	font-size: 14px; 
}

.xiangs_anli{
	height: 40px;
	background: #5f5f5f;
	padding:0 20px;
	line-height: 40px;
}
.xiangs_anli span{
	font-size: 16px;
	color: #dcdcdc;
}
.xiangs_anli a{
	color: #dcdcdc;
	float: right;
}

.zoyek{
	padding: 20px 0;
}
.picScroll_left_ziy .hd{ overflow:hidden;  height:30px; padding:0 10px;text-align: center;  }
.picScroll_left_ziy .hd .prev,.picScroll_left_ziy .hd .next{ display:block;  width:5px; height:9px; float:right; margin-right:5px; margin-top:10px;  overflow:hidden;
	 cursor:pointer; background:url("../images/arrow (2).png") no-repeat;}
.picScroll_left_ziy .hd .next{ background-position:0 -50px;  }
.picScroll_left_ziy .hd .prevStop{ background-position:-60px 0; }
.picScroll_left_ziy .hd .nextStop{ background-position:-60px -50px; }
.picScroll_left_ziy .hd ul{     /* float: right; */
    overflow: hidden;
    zoom: 1;
    /* margin-top: 10px; */
    zoom: 1;
    display: inline-block; }
.picScroll_left_ziy .hd ul li{ float:left;  width:9px; height:9px; overflow:hidden; margin-right:5px; text-indent:-999px; cursor:pointer; 
	background:url("../images/icoCircle.gif") 0 -9px no-repeat; }
.picScroll_left_ziy .hd ul li.on{ background-position:0 0; }








/*新闻中心开始了 */
.news_ziy_beij{
	background: url(../images/news_beij.jpg) center top no-repeat ;
	background-attachment: fixed;
}

.news_ziy_lieb_beij{
	width: 1200px;
	margin:0 auto;
	padding: 50px 0;
	background: #fff;
	position: relative;
}
.news_ziy_lieb_beij ul{
	text-align: left;
	overflow: hidden;
}
.news_ziy_lieb_beij ul li{
	width: 525px;
	height: 420px;
	float: left;
	margin-left: 50px;
	font-size: 16px;
	line-height: 25px;
}


.news_erji_daoh{
	width: 1200px;
	height: 460px;
	margin:0 auto;
	text-align: center;
}

.news_erji_daoh ul{
	overflow: hidden;
	text-align: center;
	margin-top: 60px;
}

.news_erji_daoh ul li{
	display: inline-block;
	margin: 5px 30px;
	position: relative;
	height: 150px;
    width: 123px;
}
.news_erji_daoh ul li:hover .shang_2{
	display: block;
}
.news_erji_daoh ul li:hover .shang_1{
	display: none;
}
.shang_1{position: absolute;top: 0;left: 0;}
.shang_2{position: absolute;top: 0;left: 0; display: none;}
.news_erji_daoh ul li span{display: block; font-size: 18px; font-family: "hany_font"; line-height: 40px; letter-spacing: 3px; }
.news_erji_daoh ul li .beil{ color: #baa653;}
.news_erji_daoh ul li .beid{ color: #fff;}


.jiaz_zhong{
	text-align: center;
	font-size: 16px;
}

.fanh_lieb{
	width: 140px;
	height: 40px;
	border-radius: 2px;
	line-height: 40px;
	position: absolute; 
	left: 20px;
	top: 25px;
	text-align: center;
	background:#414141 url(../images/xz.png) 10px center no-repeat;
}
.fanh_lieb a{
	color: #fff;
	font-size: 14px;
}

.news_xiangq_biaot{
	margin:0 20px;
	text-align: center;
	padding: 20px 0;
	line-height: 35px;
	border-bottom: solid 1px #c4c4c4;
}

.news_xiangq_neir{
	margin:0 20px;
	text-align: justify;
	font-size: 14px;
	padding: 20px 0;
	line-height: 25px;
	border-bottom: solid 1px #c4c4c4;
}
.news_xiangq_neir h1{text-align: center; padding: 20px;}

.fengx_news{
	margin: 20px;
}



/*联系我们*/

.lianx_wom_beij{
	width: 1200px;
	margin:0 auto;
	position: relative;
}
.wenz_biaot_2{
	color: #414141;
}

.ditu_beij{
	overflow: hidden;
	margin:80px 0;
}

.ditu{
	width: 560px;
	height: 420px;
	float: left;
}

.liuyan{
	width: 550px;
	float: right;
}
.liuyan h1{
	border-bottom: solid 3px #b9b9b9; 
	line-height: 40px;
}


.liuyan h3{
	padding: 20px 0;
}
.liuyan h3 p{
	line-height: 25px;
}
.liuy_biaod{
	width: 550px;
}
.liuy_biaod input{
	border: solid #afafaf 1px;
	width: 530px;
	height: 20px;
	padding: 5px;
	margin-top: 10px;
}
.liuy_biaod textarea{
	border: solid #afafaf 1px;
	width: 530px;
	padding: 5px;
	margin-top: 10px;
	height: 40px;

}

.liuy_biaod .yanzm{
	width: 400px;
}

.liuy_biaod .tij_liuyan{
	width:105px;
	height: 30px;
	border-radius: 2px;
	background: #828282;
	color: #fff;
	border: none;
	margin-top: 20px;
}