/* CSS Document */
*{margin:0; padding:0; font-family:"寰蒋闆呴粦"; font-size:14px; font-weight:100;}
body{overflow-x:hidden;}
a{text-decoration:none;}
a img{border:0;}
li{list-style:none;}
.cont{width:1200px; margin:0 auto;}
.clear{clear:both;}

/*header*/
.header{width:100%; height:auto;}
.hd_top{width:100%; height:40px; background:#333;}
.hd_top .welcome{float:left; width:50%; color:#fff; line-height:40px;} 
.hd_top_right{float:right;}
.hd_top_right span{background:url(../images/index_02.png) no-repeat center; width:114px; height:40px; color:#fff; text-align:center; display:block; line-height:40px; float:left;}
.hd_top_right a{float:left; display:block; margin-top:8px; margin-left:15px; color:#fff;}
.hd_top_right .dbdh{color:#fff; margin-right:10px;}
.hd_top_right a img{width:25px;}
.hd_wx{position:relative; }
.hd_wx:hover .wx_ewm{display:block;}
.wx_ewm{display:none; position:absolute; top:40px; width:80px !important;}
.hd_center{width:100%; height:125px;}
.hd_logo{width:260px; height:95px; overflow:hidden; margin-top:15px; float:left;}
.hd_rexian{float:right;}
.hd_rexian img{float:left; margin-top:50px; margin-right:10px;}
.hd_rexian p{float:left; line-height:125px; font-size:24px;}
.hd_rexian p span{font-size:25px; line-height:125px; color:#bf9759;}
.hd_nav{width:100%; margin:0 auto; height:66px; line-height:66px; background:#333;}
.hd_nav ul{width:1200px; margin:0 auto;}
.hd_nav li{width:12.5%; height:66px; float:left; text-align:center;}
.hd_nav li a{width:100%; height:66px; line-height:66px; font-size:16px; display:block; color:#fff;}
.hd_nav li a:hover{background:url(../images/index_06.png) no-repeat center;}

/*banner*/
.banner{width:100%; height:400px;}
.banner .bn{width:100%; height:400px;}

/*index*/
#solid{
	width:100%;
	height:400px;
	clear:both;
	position:relative;
}
#solid .solid0,#solid .solid1,#solid .solid2{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:400px;
	display:none;
}
#solid .solid0{
	background:#78c4db;
}
#solid .solid1{
	background:#c5c9db;
}
#solid .solid2{
	background:#e7dfd1;
}
#solid ul{
	margin:0px;
	padding:0px;
	list-style:none;	
}
#solid ul li{
	position:absolute;
	top:0px;
	width:905px;
	height:400px;
	display:none;
	cursor:pointer;
}
#solid #btt{
	width:905px;
	height:55px;
	top:350px;
	position:relative;
	left:20%;
}
#solid #btt span{
	position:absolute;
	top:15px;
	left:45%;
	display:block;
	width:30px;
	height:8px;
	margin:0 15px;	
	text-align:center;
	background:#3d3d3d;
	z-index:1000;
	cursor:pointer;
	filter:alpha(opacity=70); /*IE婊ら暅锛岄€忔槑搴�50%*/
	-moz-opacity:0.7; /*Firefox绉佹湁锛岄€忔槑搴�50%*/
	opacity:0.7;/*鍏朵粬锛岄€忔槑搴�50%*/
}
/*浼樺娍*/
.container{width:100%; height:auto; background:url(../images/bg_03.png) no-repeat center top;}
.youshi{width:100%; height:auto; padding-top:10px;}
.index_title{font-size:24px; text-align:center; color:#bf9759; line-height:30px; margin-top:10px;}
.index_fu_title{font-size:18px; text-align:center; color:#bf9759;line-height:30px; letter-spacing:1px;}
.xian{width:100%; height:2px; background:#333; overflow:hidden; margin-top:280px;}
.ys_cont{width:100%; height:auto; margin-top:125px; margin-bottom:80px;}
.youshi .one , .youshi .two , .youshi .three , .youshi .four , .youshi .five{float:left; text-align:center;}
.youshi .ys_title{font-size:16px; color:#000; line-height:24px;}
.youshi .ys_fu_title{font-size:14px; color:#646464; line-height:24px;}
.youshi .one{margin-left:20px;}
.youshi .two{margin-top:-13px; margin-left:220px;}
.youshi .three , .youshi .five{margin-top:-139px; margin-left:20px;}
.youshi .four{margin-top:-13px;  margin-left:20px;}
.youshi .one:hover, .youshi .two:hover , .youshi .three:hover , .youshi .four:hover , .youshi .five:hover{transform: rotateY(360deg); transform-style: preserve-3d; transition-duration:1s; }

.yewu{width:100%; height:auto;}
.yw_cont{width:100%; height:495px;}
.yw_cont p{ width:120px; text-align:center;}
.yw_left{width:230px; float:left; height:495px;}
.yw_center{width:545px; height:482px; float:left; margin:50px 90px;}
.yw_right{width:230px; float:right;}
.yw_title{font-size:16px; color:#000; line-height:24px; }
.yw_fu_title{font-size:14px; color:#646464; line-height:24px;}
.yw_right p{float:right;}
.yw_left div , .yw_right div{width:100%; height:95px; margin-bottom:80px;}
.yw_left div a , .yw_right div a{width:100%; height:75px; display:block; padding-top:20px;}
.yw_cont .guan a{background:url(../images/n1.png) no-repeat center right;}
.yw_cont .guan .on{background:url(../images/n1r.png) no-repeat center right;}
.yw_cont .wei a{background:url(../images/n2.png) no-repeat center right;}
.yw_cont .wei .on{background:url(../images/n2r.png) no-repeat center right;}
.yw_cont .yi a{background:url(../images/n3.png) no-repeat center right;}
.yw_cont .yi .on{background:url(../images/n3r.png) no-repeat center right;}
.yw_cont .shang a{background:url(../images/n4.png) no-repeat center left;}
.yw_cont .shang .on{background:url(../images/n4r.png) no-repeat center left;}
.yw_cont .ying a{background:url(../images/n5.png) no-repeat center left;}
.yw_cont .ying .on{background:url(../images/n5r.png) no-repeat center left;}
.yw_cont .xiao a{background:url(../images/n6.png) no-repeat center left;}
.yw_cont .xiao .on{background:url(../images/n6r.png) no-repeat center left;}
.yw_center li img{width:100%; height:auto;}

.liucheng{width:100%; height:auto;}
.lc_cont{width:100%; height:auto; margin-top:60px; text-align:center; margin-bottom:60px;}

.anli{width:100%; height:680px;  background:url(../images/albj.jpg) right; padding-top:20px;}
.anli .al_list{width:98%; margin:50px auto 0;}
.anli .al_list li{width:18.8%; height:500px; margin-right:1.5%; float:left; position:relative; overflow:hidden;}
.anli .al_list li:last-child{margin-right:0;}
.anli .al_list li img{width:100%; height:500px;}
.anli .al_list li a .zhegai{width:100%; height:500px; position:absolute; top:0; background:url(../images/anli_03.png) no-repeat center; display:none;}
.anli .al_list li a:hover .zhegai{display:block;}
.anli .al_list li a .zhegai .jieshao{margin-top:100px; text-align:center;}
.anli .al_list li a .zhegai .jieshao .gs_name{font-size:16px; color:#fff; line-height:24px;}
.anli .al_list li a .zhegai .jieshao .white{background:url(../images/white_03.png) no-repeat center; height:3px; margin:20px auto;}
.anli .al_list li a .zhegai .jieshao .gs_js{font-size:14px; color:#fff; line-height:24px;}

.xinwen{width:100%; height:auto;}
.xinwen .ns_list{width:400px; height:489px; background:url(../images/n-img-03.png) no-repeat center; padding-top:8px; float:left;}
.xinwen .ns_title{font-size:18px; color:#bf9759; text-align:center; line-height:24px; margin-top:30px;}
.xinwen .ns_fu_title{font-size:14px; color:#bf9759; text-align:center; line-height:24px;}
.xinwen ul{width:85%; margin:20px auto;}
.xinwen ul li{width:100%; height:70px; margin-bottom:30px;}
.xinwen ul li .ns_time{width:80px; height:70px; float:left; background:url(../images/time_21.png) no-repeat center;}
.xinwen ul li .ns_time .ns_day{font-size:24px; line-height:35px; color:#fff; text-align:center;}
.xinwen ul li .ns_time .ns_tm{font-size:14px; line-height:35px; color:#fff; text-align:center;}
.xinwen ul li .ns_right{float:right; width:70%;}
.xinwen ul li .n_title{font-size:14px; color:#000; width:100%; height:24px; overflow:hidden; line-height:24px; margin-bottom:10px;}
.xinwen ul li .n_cont{width:100%; height:40px; line-height:20px; overflow:hidden; font-size:12px; color:#646464;}
.xinwen .more{width:200px; height:40px; line-height:40px; border:1px solid #ccc; border-radius:40px; -webkit-border-radius:40px; text-align:center; font-size:14px; color:#646464; display:block; margin:0 auto;}

/*page_about*/
.place{width:100%; height:30px; line-height:30px; font-size:12px; overflow:hidden; color:#a2a2a2;}
.place a{font-size:12px; color:#a2a2a2;}
.ab_article{width:100%; height:auto;}
.ab_title{text-align:center; font-size:30px; font-weight:100; line-height:50px; margin-top:20px;}
.ab_fu_title{font-size:16px; color:#595959; line-height:24px; text-align:center;}
.ab_left{float:left;}
.ab_right{width:60%; float:right;}
.ab_right .ab_name{font-size:18px; color:#595959; text-align:center; margin-top:60px;}
.ab_right .ab_cont{font-size:14px; color:#595959; line-height:24px; text-indent:2em;}
.ab_at_img{width:100%; height:auto; margin:50px auto; }
.cont .fl{float:left;}
.cont .fr{float:right;}
.cont .ab_wz{width:60%;}
.cont .ab_img{margin-bottom:70px;}
.ab_wz_title{font-size:33px; color:#595959; line-height:50px; border-bottom:1px solid #bf9759; margin-top:110px;}
.ab_wz_cont{font-size:24px; color:#595959; margin-top:20px; line-height:35px;}
.ab_img1{text-align:center; margin-top:40px;}
.ab_title1{font-size:30px; text-align:center; line-height:50px; margin-top:50px;}
.ab_fw{width:100%; height:298px; background:url(../images/about_23.png) no-repeat center; margin-bottom:70px;}
.ab_lianxi{width:270px; margin-top:60px; float:left;}
.ab_lx_title{font-size:24px; color:#fff; text-align:center; margin-bottom:8px;}
.ab_lx_cont{font-size:14px; line-height:24px; color:#fff; text-indent:2em;}
.ab_ct{width:320px; float:right; margin-top:40px;}
.ab_ct table{width:100%;}
.ab_ct table tr td{line-height:20px; font-size:13px; color:#fff; padding:5px 3px;}
.ab_ct .ab_rexian{margin-left:50px; font-size:12px; color:#fff;}
.ab_ct .ab_rexian span{font-size:15px; color:#bf9759; font-weight:400; letter-spacing:1px;}

/*page_contact*/
.ct_cont{width:100%; height:700px; position:relative; overflow:hidden;}
.ditu{width:1200px !important; height:700px !important;}
.ditu img{width:100% !important; height:700px !important;}
.ct_cont1{width:100%; background:url(../images/contact_04.png) no-repeat right top; height:700px; position:absolute; top:0; z-index:9999;}
.ct_cont1 .ct{width:550px; float:right; margin-right:40px; display:inline; margin-top:200px;}
.ct .ct_title{font-size:24px; color:#fff; line-height:50px;  width:120px; float:right; text-align:center;}
.ct .ct_title span{font-size:24px; color:#fff; line-height:50px; border-bottom:2px solid #bf9759; display:block;}
.ct .ct_place{font-size:16px; color:#fff; text-align:right; margin-top:40px; line-height:30px;}
.ct .ct_place span{font-size:14px; color:#fff; display:block;}
.ct table{width:300px; margin-top:30px; float:right;}
.ct table tr td{font-size:18px; color:#fff; line-height:40px; padding:5px 3px;}
.ct table tr td span{font-size:24px; color:#fff; margin-left:70px;}

/*page_shangcheng*/
.xitong{width:100%; height:380px; background:#333; padding-top:5px;}
.ej_title{font-size:36px; color:#bf9759; text-align:center; line-height:50px; margin-top:20px; margin-bottom:10px; font-weight:400;}
.ej_fu_title{font-size:18px; color:#fff; line-height:24px; text-align:center; font-weight:400;}
.xt_list{width:100%; margin-top:60px;}
.xt_list li{width:33%; float:left; text-align:center;}
.xt_list li p{font-size:14px; color:#fff; margin-top:10px;}
.huang{color:#bf9759 !important;}
.lq_cont{width:950px; height:366px; margin:40px auto; background:url(../images/shangcheng_17.png) no-repeat center;}
.lq_cont ul{width:100%; height:auto;}
.lq_cont ul li{width:270px; float:left; margin-bottom:40px; }
.lq_cont ul li .lq_img{width:98px; height:98px; border:2px solid #bf9759; border-radius:90px; -webkit-border-radius:90px; text-align:center; float:left; margin-top:20px;}
.lq_cont ul li .lq_img:hover{-webkit-transform: rotateX(0deg) rotateY(360deg);
-webkit-transform-style: preserve-3d;
-webkit-backface-visibility: hidden;
-moz-transform: rotateX(0deg) rotateY(360deg);
-moz-transform-style: preserve-3d;
-moz-backface-visibility: hidden;
-o-transition: all .8s ease-in-out;
-ms-transition: all .8s ease-in-out;
-moz-transition: all .8s ease-in-out;
-webkit-transition: all .8s ease-in-out;
transition: all .8s ease-in-out;}
.lq_cont ul li .lq_img img{vertical-align:middle; margin-top:25px;}
.lq_cont ul li p{font-size:16px; color:#000; line-height:24px; width:150px; float:right;}
.lq_cont ul li p span{font-size:16px; color:#bf9759; display:block; margin-bottom:10px; font-weight:400;}
.lq_cont ul li:nth-child(2n){float:right; width:300px;}
.lq_cont ul li:nth-child(2n) p{float:left; width:180px}
.lq_cont ul li:nth-child(2n) .lq_img{float:right;}
.guanli{width:100%; height:255px; background:#333; padding-top:5px;}
.ej_list{width:100%; height:auto; margin-top:40px;}
.ej_list li{width:42%; margin:0 4% 50px; float:left;}
.ej_list li img{float:left;}
.ej_list li p{float:right; font-size:14px; color:#787878; width:54%; text-align:center; line-height:24px;}
.ej_list li p span{font-size:18px; color:#bf9759; width:100%; text-align:center; display:block;}
.yingxiao{height:235px;}
.qudao{width:100%; height:530px; background:#333; padding-top:5px;}
.ej_zx{width:100%; background:url(../images/shangcheng_51.png) no-repeat center; height:180px; padding-top:7px;}
.ej_zx h2{font-size:30px; margin:20px auto 40px; text-align:center; color:#bf9759; font-weight:400;}
.ej_zx .ej_ljzx{width:200px; height:35px; border:2px solid #bf9759; line-height:35px; color:#fff; display:block; margin:0 auto; border-radius:30px; -webkit-border-radius:30px; text-align:center; font-size:20px; font-weight:400;}

/*page_weixin*/
.wx_white{width:100%; height:580px;}
.wx_wz{width:50%;}
.wx_title{font-size:30px; color:#000; line-height:50px; font-weight:400; margin-top:180px; margin-bottom:20px;}
.wx_title span{font-size:30px; color:#bf9759; line-height:50px; font-weight:400;}
.wx_cont{font-size:20px; font-weight:400; line-height:24px; color:#000;}
.wx_gray{width:100%; background:#fafafa; height:580px;}
.wx_bottom{width:100%; height:auto; text-align:center;}

/*page_yidongduan*/
.yd_black{width:100%; height:647px; background:#1a1a1a;}
.yd_img{margin-top:80px;}
.yd_wz{width:45%;}
.yd_title{font-size:36px; margin-top:180px; color:#fff; margin-bottom:50px; font-weight:400;}
.yd_cont{font-size:18px; color:#fff; line-height:24px; font-weight:400;}
.yd_dz{width:170px; height:40px; background:#bf9759; line-height:40px; font-size:14px; display:block; border-radius:15x; -webkit-border-radius:15px; text-align:center; margin:100px auto; color:#fff;}
.yd_black1{width:100%; background:url(../images/ydd_04.jpg) no-repeat center; height:701px;}
.yd_black1 .yd_img{width:50%; margin-top:304px;}
.yd_black1 .yd_img img{width:100%;}
.yd_bottom{width:100%; height:870px; background:url(../images/yyd_05.png) no-repeat center; padding-top:10px;}
.ej_fu_title1{font-size:18px; text-align:center; color:#bebebe; font-weight:400;}
.yd_list{width:800px; margin:80px auto; height:440px;}
.yd_list li{float:left; margin-right:40px;}
.yd_list li:hover{-webkit-transform: rotateX(0deg) rotateY(360deg);
-webkit-transform-style: preserve-3d;
-webkit-backface-visibility: hidden;
-moz-transform: rotateX(0deg) rotateY(360deg);
-moz-transform-style: preserve-3d;
-moz-backface-visibility: hidden;
-o-transition: all .8s ease-in-out;
-ms-transition: all .8s ease-in-out;
-moz-transition: all .8s ease-in-out;
-webkit-transition: all .8s ease-in-out;
transition: all .8s ease-in-out;}
.yd_list li:nth-child(1){margin-top:150px;}
.yd_list li:nth-child(2){margin-top:50px;}
.yd_list li:nth-child(3){margin-top:60px;}
.yd_list li:nth-child(4){margin-top:30px;}
.yd_list li:nth-child(5){margin-top:150px;}
.yd_list li:nth-child(6){margin-top:60px;}
.yd_list li:nth-child(7){margin-top:40px; margin-left:50px;}
.yd_list li:nth-child(8){margin-top:10px; margin-left:100px;}

/*page_xiaochengxu*/
.xiaochengxu{width:100%; height:580px; padding-top:5px;}
.xcx_title{font-size:30px; text-align:center; margin-top:20px; color:#df9759; font-weight:400; margin-bottom:10px;}
.xcx_fu_title{font-size:16px; text-align:center; line-height:24px; font-weight:400; color:#df9759; background:url(../images/xian_05.png) no-repeat center left , url(../images/xian_07.png) no-repeat right;}
.xcx_list{width:100%; height:400px; margin:40px 0;}
.xcx_list li{width:23%; margin-right:2%; float:left; height:400px; border:1px solid #ccc;}
.xcx_list li:last-child{margin-right:0;}
.xcx_list li div{width:120px; height:120px; margin:40px auto; background-size:100% !important;}
.xcx_list li p{text-align:center; font-size:16px; color:#787878; line-height:24px;}
.xcx_list li p span{font-size:18px; color:#000; display:block; text-align:center; font-weight:400; margin-bottom:20px;}
.xcx_list li .jkjy_img{background:url(../images/xcx_1h.png) no-repeat center;}
.xcx_list li .jycb_img{background:url(../images/xcx_2h.png) no-repeat center;}
.xcx_list li .yyyd_img{background:url(../images/xcx_3h.png) no-repeat center;}
.xcx_list li .pmapp_img{background:url(../images/xcx_4h.png) no-repeat center;}
.xcx_list li:hover p span{color:#df9759;}
.xcx_list li:hover .jkjy_img{background:url(../images/xcx_1.png) no-repeat center;}
.xcx_list li:hover .jycb_img{background:url(../images/xcx_2.png) no-repeat center;}
.xcx_list li:hover .yyyd_img{background:url(../images/xcx_3.png) no-repeat center;}
.xcx_list li:hover .pmapp_img{background:url(../images/xcx_4.png) no-repeat center;}
.zhuce{width:100%; height:510px; padding-top:10px; background:#333;}
.zc_list{width:100%; height:auto;}
.zc_list li{width:230px; float:left; margin:20px 220px 40px 20px;}
.zc_list li:last-child{margin:20px 20px 0 0;}
.zc_list li div{width:220px; height:220px; margin:0 auto 20px;}
.zc_list li p{text-align:center; font-size:16px; line-height:24px; color:#fff;}
.zc_list li .lx_img{background:url(../images/zc_1b.png) no-repeat center;}
.zc_list li .fw_img{background:url(../images/zc_2b.png) no-repeat center;}
.zc_list li .pt_img{background:url(../images/zc_3b.png) no-repeat center;}
.zc_list li:hover p{color:#df9759;}
.zc_list li:hover .lx_img{background:url(../images/zc_1.png) no-repeat center;}
.zc_list li:hover .fw_img{background:url(../images/zc_2.png) no-repeat center;}
.zc_list li:hover .pt_img{background:url(../images/zc_3.png) no-repeat center;}
.xcx_dz{width:220px; height:40px; line-height:40px; font-size:18px; color:#df9759; text-align:center; border:1px solid #df9759; border-radius:10px; -webkit-border-radius:10px; margin:0 auto; display:block;}
.rh_list{width:100%; height:560px; background:url(../images/x_02.png) no-repeat center bottom; margin:60px auto;}
.rh_list li{float:left; margin-right:50px;}
.rh_list li:last-child{margin:50px 0 0;}
.rh_list li:nth-child(2){margin-top:50px;}
.xingxiang{width:100%; height:450px; background:#333; margin-top:20px; padding-top:10px;}
.xingxiang .xcx_fu_title{background-position:center left -120px , center right -120px;}
.xx_list{width:100%; height:auto; margin:40px auto;}
.xx_list li{width:140px; float:left; margin-right:65px; margin-bottom:40px;}
.xx_list li:last-child{margin-right:0;}
.xx_list li p{font-size:16px; line-height:24px; text-align:center; color:#fff; font-weight:400;}
.xx_list li div{width:120px; height:120px; margin:20px auto;}
.xx_list li .tg{background:url(../images/pp_1b.png) no-repeat center;}
.xx_list li .ly{background:url(../images/pp_2b.png) no-repeat center;}
.xx_list li .dh{background:url(../images/pp_3b.png) no-repeat center;}
.xx_list li .dw{background:url(../images/pp_4b.png) no-repeat center;}
.xx_list li .kf{background:url(../images/pp_5b.png) no-repeat center;}
.xx_list li .zf{background:url(../images/pp_6b.png) no-repeat center;}
.xx_list li:hover p{color:#bf9759;}
.xx_list li:hover .tg{background:url(../images/pp_1.png) no-repeat center;}
.xx_list li:hover .ly{background:url(../images/pp_2.png) no-repeat center;}
.xx_list li:hover .dh{background:url(../images/pp_3.png) no-repeat center;}
.xx_list li:hover .dw{background:url(../images/pp_4.png) no-repeat center;}
.xx_list li:hover .kf{background:url(../images/pp_5.png) no-repeat center;}
.xx_list li:hover .zf{background:url(../images/pp_6.png) no-repeat center;}
.yingyong .xcx_fu_title{background-position:center left -20px , center right -20px;}
.yy_list{width:100%; height:auto; margin:40px auto;}
.yy_list li{width:32%; float:left; margin-right:1.5%; border:1px solid #ccc; margin-bottom:20px}
.yy_list li:last-child{margin-right:0;}
.yy_list li .yy_img{width:100%; height:;}
.yy_list li .yy_img img{width:100%; height:auto;}
.yy_list li p{width:90%; margin:0 auto; height:40px; line-height:40px; font-size:16px; color:#333;}
.yy_list li .yy_leixing{border-bottom:1px solid #333;}
.yy_list li:hover p{color:#bf9759;}
.yy_list li:hover .yy_leixing{border-bottom:1px solid #bf9759;}

/*list_product*/
.ct_left{width:360px; height:auto; float:left; margin-top:20px;}
.fenlei{border:1px solid #ccc; box-shadow: darkgrey 0px 0px 5px 1px; margin-bottom:20px;}
.fl_title{width:100%; height:70px; background:#bf9759; font-size:18px; color:#fff; text-align:center; line-height:70px;}
.fl_list{width:100%; height:auto;}
.fl_list li{width:100%; height:68px; border:1px solid #bf9759; margin:10px auto;}
.fl_list li a{font-size:16px; text-align:center; color:#000; line-height:68px; display:block; width:100%; height:68px;}
.fl_list li a:hover{background:#333; color:#fff;}
.fl_title p{float:left; font-size:18px; color:#fff; line-height:70px; font-weight:400; margin-left:20px; display:inline;}
.fl_title a{float:right; font-size:18px; line-height:70px; margin-right:20px; display:inline; color:#fff;}
.rm_list{width:90%; margin:10px auto; height:auto;}
.rm_list li{width:100%; height:35px; border-bottom:1px dashed #ccc; background:url(../images/product_13.png) no-repeat center left;}
.rm_list li a{width:100%; text-indent:2em; height:35px; line-height:35px; font-size:12px; color:#000; display:block; overflow:hidden;}
.fenlei .lx_cont p{width:90%; margin:5px auto; height:24px; line-height:24px; font-size:14px;}
.fenlei .lx_cont p img{margin-right:10px;}
.ct_right{float:right; width:775px; margin-right:30px; display:inline; margin-top:20px;}
.cp_list{width:100%; height:auto;}
.cp_list li{width:32%; height:400px; margin-right:1.5%; float:left; position:relative; overflow:hidden; margin-bottom:20px;}
.cp_list li:nth-child(3n){margin-right:0;}
.cp_list li img{width:100%; height:500px;}
.cp_list li a .zhegai{width:100%; height:500px; position:absolute; top:0; background:url(../images/anli_03.png) no-repeat center; display:none;}
.cp_list li a:hover .zhegai{display:block;}
.cp_list li a .zhegai .jieshao{margin-top:100px; text-align:center;}
.cp_list li a .zhegai .jieshao .gs_name{font-size:16px; color:#fff; line-height:24px;}
.cp_list li a .zhegai .jieshao .white{background:url(../images/white_03.png) no-repeat center; height:3px; margin:20px auto;}
.cp_list li a .zhegai .jieshao .gs_js{font-size:14px; color:#fff; line-height:24px;}
.page{width:100%; margin:40px auto; text-align:center;}
.page a{padding:5px 15px; margin-right:10px; background:#e6e6e6; font-size:14px; color:#000; font-weight:400;}
.page a:hover{background:#bf9759; color:#fff;}

/*info_product*/
.cp_article{width:100%; height:auto;}
.cp_title{margin:40px auto; font-size:36px; color:#bf9759; text-align:center; font-weight:400;}
.cp_cont{width:100%; height:auto; background:#f0f0f0;}
.cp_cont div img{ margin:10px auto; }
.cp_cont div p{font-size:14px; color:#000; line-height:24px; margin-top:10px; padding:0 2%; text-indent:2em;}
.fanye{width:90%; margin:40px auto; height:40px;}
.fanye a{width:315px; height:30px; line-height:30px; font-size:12px; color:#000; text-indent:30px; display:block; border:1px solid #ccc; float:left; margin-left:30px;}
.fanye a span{font-size:12px; color:#8a8a8a; margin-left:5px;}

/*list_article*/
.news_list{width:100%; height:auto;}
.news_list li{height:155px; width:100%; margin-bottom:10px; border:1px solid #b5b5b5;}
.news_list li:hover{border:1px solid #bf9759;}
.news_list li a{display:block; padding:10px; color:#000; height:135px;}
.news_list li .news_left{width:175px; height:135px; overflow:hidden; background:#000; float:left;}
.news_list li .news_left img{width:100%; height:135px;}
.news_list li .news_right{width:550px; height:135px; float:right; margin-right:10px; display:inline;}
.news_list li .news_right .news_title{width:100%; height:30px; line-height:30px; font-size:18px; border-bottom:1px dotted #b5b5b5;}
.news_list li .news_right .news_cont{width:100%; line-height:24px; height:75px; overflow:hidden; margin-top:10px;}
.news_list li .news_right .news_fu{width:100%; height:30px;}
.news_list li .news_right .news_fu .laiyuan{float:left; background:url(../images/biaoqian.png) no-repeat center left; text-indent:15px; color:#b2b2b2;}
.news_list li .news_right .news_fu .news_time{float:right; color:#b2b2b2;}

/*info_article*/
.article{ width:100%; height:auto;}
.a_title{width:100%; border-bottom:1px solid #b5b5b5;}
.article h2{width:100%; height:40px; line-height:40px; text-align:center; overflow:hidden; font-size:24px;}
.a_fubiao{width:100%; height:30px; text-align:center;}
.a_fubiao span{color:#b8b8b8; margin-right:40px;}
.a_fubiao span a{color:#b8b8b8;}
.a_fubiao .bq{float:left; color:#b8b8b8; background:url(../images/biaoqian.png) no-repeat center left; text-indent:15px; display:block;}
.a_fubiao p{float:right; color:#b8b8b8;}
.a_fubiao p a{margin-right:3px;}
.fenxiang{float:right;}
.art_cont{margin-top:20px;}
.art_cont p{text-indent:2em; font-size:14px; line-height:24px;}

/*page_yingxiao*/
.yx_cont{width:100%; height:auto; background:url(../images/yxbj_02.png) no-repeat center top;}
.kunrao{width:100%; height:auto;}
.kr_left{margin-top:20px; float:left;}
.kr_right{float:right; width:50%;}
.kunrao .p1{font-size:18px; font-weight:400; margin:50px auto 60px;}
.kunrao .p2{font-size:36px; font-weight:400;}
.kunrao .p2 span{font-size:36px; font-size:400; color:#bf9759;}
.kunrao .p3{font-size:14px; color:#777; font-weight:400;}
.kunrao .p4{width:100%; height:80px; line-height:80px; background:#bf9759; text-align:center; font-size:28px; font-weight:400; color:#fff; border-radius:40px; -webkit-border-radius:40px; margin-top:50px;}

.ng_list{width:100%; height:auto; margin-top:40px;}
.ng_list li{width:22.2%; float:left; height:400px; margin-right:2%; border:1px solid #ccc; box-shadow: darkgrey 0px 0px 5px 1px; margin-bottom:50px;}
.ng_list li .ng_img{width:100%; height:120px; margin:80px auto;}
.ng_list li .ng_title{font-size:18px; color:#9c9c9c; text-align:center;}
.ng_list li .ng_cont{width:160px; height:40px; margin:70px auto 0; background:#ccc; line-height:40px; font-size:16px; color:#fff; text-align:center;}
.ng_list li .kh_img{background:url(../images/tp1_1.png) no-repeat center;}
.ng_list li .sc_img{background:url(../images/tp2_2.png) no-repeat center;}
.ng_list li .xl_img{background:url(../images/tp3_3.png) no-repeat center;}
.ng_list li .xq_img{background:url(../images/tp4_4.png) no-repeat center;}
.ng_list li .fe_img{background:url(../images/tp5_5.png) no-repeat center;}
.ng_list li .ys_img{background:url(../images/tp6_6.png) no-repeat center;}
.ng_list li .jz_img{background:url(../images/tp7_7.png) no-repeat center;}
.ng_list li .bb_img{background:url(../images/tp8_8.png) no-repeat center;}
.ng_list li:hover .ng_title{color:#bf9759;}
.ng_list li:hover .ng_cont{background:#bf9759;}
.ng_list li:hover .kh_img{background:url(../images/tp1.png) no-repeat center;}
.ng_list li:hover .sc_img{background:url(../images/tp2.png) no-repeat center;}
.ng_list li:hover .xl_img{background:url(../images/tp3.png) no-repeat center;}
.ng_list li:hover .xq_img{background:url(../images/tp4.png) no-repeat center;}
.ng_list li:hover .fe_img{background:url(../images/tp5.png) no-repeat center;}
.ng_list li:hover .ys_img{background:url(../images/tp6.png) no-repeat center;}
.ng_list li:hover .jz_img{background:url(../images/tp7.png) no-repeat center;}
.ng_list li:hover .bb_img{background:url(../images/tp8.png) no-repeat center;}
.ch_list{width:100%; height:auto; margin-top:40px;}
.ch_list li{width:22.2%; float:left; height:220px; margin-right:2%; background:#eaeaea;}
.ch_list li div{width:100%; height:120px; margin:20px auto;}
.ch_list li p{font-size:24px; color:#bf9759; text-align:center;}
.ch_list li .ye_img{background:url(../images/ch1.png) no-repeat center;}
.ch_list li .yun_img{background:url(../images/ch2.png) no-repeat center;}
.ch_list li .ying_img{background:url(../images/ch3.png) no-repeat center;}
.ch_list li .shi_img{background:url(../images/ch4.png) no-repeat center;}
.ch_list li:hover{background:#bf9759; border-radius:10px; -webkit-border-radius:10px;}
.ch_list li:hover p{color:#fff;}
.ch_list li:hover .ye_img{background:url(../images/ch1_1.png) no-repeat center;}
.ch_list li:hover .yun_img{background:url(../images/ch2_2.png) no-repeat center;}
.ch_list li:hover .ying_img{background:url(../images/ch3_3.png) no-repeat center;}
.ch_list li:hover .shi_img{background:url(../images/ch4_4.png) no-repeat center;}
.yxwz{width:100%; background:url(../images/yingxiao_06.png) no-repeat center; height:190px; padding-top:3px; margin-top:40px;}
.qiye_title1{font-size:36px; color:#fff; text-align:center; margin:15px auto; height:75px; line-height:75px; background:url(../images/xx_03.png) no-repeat center bottom; font-weight:400;}
.qiye_fu_title1{font-size:24px; text-align:center; color:#fff; font-weight:400;}

.jzq{width:100%; height:540px; background:url(../images/sjbj_02.png) no-repeat center;}
.yuhao{background:url(../images/yingxiao_10.png) no-repeat center; width:30px; height:30px; margin:20px auto; color:#fff; text-align:center; line-height:30px; font-size:1.8rem;}
.qiye_title{width:100%; font-size:36px; color:#000; text-align:center; margin:20px auto 10px; font-weight:400;}
.qiye_fu_title{width:100%; font-size:24px; color:#787878; text-align:center; margin-bottom:20px;}
.yxwz_list{width:100%; height:auto;}
.yxwz_list li{width:315px; height:350px; background:url(../images/bj_06.png) no-repeat center; padding-top:5px; float:left; margin-right:127px; margin-bottom:30px; text-align:center;}
.yxwz_list li:nth-child(3n){margin-right:0;}
.yxwz_list li:hover{background:url(../images/bj_03.png) no-repeat center;}
.yxwz_list .yxwz_td{width:85%; margin:30px auto 0;}
.yxwz_list .yxwz_title1{font-size:20px; color:#fff; margin:15px auto; font-weight:400;}
.yxwz_list .yxwz_cont1{font-size:14px; color:#fff; line-height:20px;}
.xianbj{width:100%; height:auto; background:url(../images/xx_02.png) repeat; padding:10px 0;}
.jz_list{width:100%; height:400px;}
.jz_list li{width:228px; height:320px; border:2px solid #333; text-align:center; margin:0 4px; float:left;}
.jz_list li:hover{border:2px solid #bf9759; padding:30px 0;}
.jz_list .jz_title{font-size:22px; color:#000; margin:20px auto; font-weight:400;}
.jz_list .jz_fu_title{font-size:18px; color:#bf9759; font-weight:400;}
.jz_list .jz_cont{width:80%; margin:20px auto; font-size:16px; color:#787878;}
.jz_list .jz_cont1{font-size:14px;}

.dz_list{width:260px; height:280px; float:left; margin-left:20px; margin-right:180px; margin-bottom:20px;}
.dz_list:last-child{margin-right:0;}
.dz_list .dz_title1 , .dz_title2 ,.dz_title3{width:100%; height:65px; line-height:65px; font-size:22px; color:#fff; margin-bottom:20px; text-align:center;background:url(../images/yyy_07.png) no-repeat center;}

.dz_list ul{width:100%; height:auto;}
.dz_list li{height:40px; line-height:40px; border-bottom:1px dashed #000; font-size:16px; background:url(../images/product_13.png) no-repeat center left 10px; text-indent:40px;}

/*page_guanwang*/
.zhizuo{width:100%; height:auto;}
.zz_list{width:1110px; height:130px; margin:40px auto 20px; background:url(../images/ppgw_06.png) no-repeat center;}
.zz_list li{width:16.6%; float:left; text-align:center; margin-top:10px;}
.zz_list li:hover{transform: rotateY(360deg); transform-style: preserve-3d; transition-duration:1s;}
.guoqu{width:100%; height:900px; padding-top:2px; background:url(../images/ppgw_09.png) no-repeat center; text-align:center;}
.guoqu img{margin-top:140px;}  
.xihuan{width:100%; height:auto; padding-top:10px; background:#333;}
.xihuan .ej_title span , .lianxi .ej_title span{font-size:36px; color:#fff; margin-left:10px; font-weight:400;}
.ej_fu_title2{font-size:24px; font-weight:400; color:#bf9759; text-align:center; margin:20px auto;}
.ej_fu_title3{font-size:18px; font-weight:400; color:#929292; text-align:center;}
.xh_list{width:90%; margin:50px auto 20px; height:auto;} 
.xh_list li{float:left; width:32%; margin-right:2%; margin-bottom:20px;}
.xh_list li img{width:100%; height:auto;}  
.xh_list li:last-child{margin-right:0;}
.fangbian{width:100%; height:auto; padding-top:10px;}
.fangbian .ej_title span{font-size:36px; color:#000; font-weight:400; margin-left:10px;}
.fb_img{width:100%; margin:50px auto; text-align:center;}
.lianxi{width:100%; padding-top:10px; background:#333;}
.lianxi .lx_list{ margin:40px auto; height:auto;}
.lx_list li{width:25%; height:220px; float:left; margin-bottom:40px; }
.lx_list li div{width:220px; height:220px; margin:0 auto;}
.lx_list li:last-child{margin-right:0;}
.lx_list li .wx_img{background:url(../images/wx_1.png) no-repeat center;}
.lx_list li:hover .wx_img{background:url(../images/wx_1_1.png) no-repeat center;}
.lx_list li .sw_img{background:url(../images/sw_2.png) no-repeat center;}
.lx_list li:hover .sw_img{background:url(../images/sw_2_2.png) no-repeat center;}
.lx_list li .qq_img{background:url(../images/qq_3.png) no-repeat center;} 
.lx_list li:hover .qq_img{background:url(../images/qq_3_3.png) no-repeat center;}
.lx_list li .dh_img{background:url(../images/dh_4.png) no-repeat center;}
.lx_list li:hover .dh_img{background:url(../images/dh_4_4.png) no-repeat center;}
.lx_cont{width:470px; margin:0 auto;}
.lx_dz , .lx_zx{width:220px; height:50px; line-height:50px; display:inline-block; font-size:16px; text-align:center; border-radius:10px; -webkit-border-radius:10px; color:#fff; background:#bf9759; margin-bottom:50px;}
.lx_zx{ margin-right:20px;}

/*info_article*/
.article h2{font-size:16px; height:24px; line-height:24px;}
.a_fubiao span{font-size:12px; margin-right:10px;}
.a_fubiao{margin:5px auto;}
.a_fubiao .bq{background-size:15% !important; text-indent:10px; font-size:12px;} 
.a_fubiao p{font-size:12px;}
.a_fubiao p a img{width:10%;}
.art_cont{margin-top:10px;}
.art_cont p{font-size:12px; line-height:25px;}

/*footer*/
.footer{width:100%; height:349px; background:url(../images/footbj.png) no-repeat center; padding-top:5px;}
.ft_left{width:680px; margin-top:30px; float:left;}
.ft_nav{width:100%; height:auto; margin-top:20px; border-bottom:1px solid #ccc;}
.ft_nav li{ padding:0 20px; line-height:50px; height:50px; float:left;}
.ft_nav li a{font-size:14px; line-height:40px; color:#fff;}
.ft_right{width:130px; height:160px; float:right; margin-right:100px; margin-top:20px;}
.ft_right .ft_ewm{width:130px; height:130px;}
.ft_right .ft_ewm img{width:100%; height:auto;}
.ft_right p{font-size:12px; line-height:30px; text-align:center; color:#fff;}
.footer .link{width:100%; height:60px; width:98%; margin:10px auto 10px;}
.footer .link p{font-size:12px; color:#fff;}
.footer .link p a{font-size:12px; color:#fff; margin-right:5px;}
.ft_banquan{font-size:12px; color:#fff; line-height:40px; text-align:center;}
.m_ft_nav{display:none;}