@charset "utf-8";
/* CSS Document */
body{
	font-family:"微软雅黑","Microsoft YaHei" !important;
	overflow-x:hidden;
	}



/***load***/

.load{
	width:100%;
	overflow:hidden;
	}
.load_zi1 .load_w_in{
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 24px;
	margin-left: -43px;
	}
	
.load_zi2 .load_w_r{
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 24px;
	left: 40px;
	}
.load_list1{
	width:100%;
	height:100%;
	position:absolute; top:0; left:0;
	z-index:9;
	
	}
.load_bg{
	width:100%;
	height:100%;
	background:#000;
	position:absolute; top:0; left:0;
	cursor:pointer;
	opacity:0.5;
    filter:alpha(opacity=50);
    -moz-opacity:0.5; 
    -khtml-opacity:0.5;
    -webkit-opacity:0.5;
	}	
.load_list1>ul{
	width:100%;
	padding:0;
	margin:0;
	position:absolute; top:-100%; left:0;
	cursor:pointer;
	}
.load_list1>ul>li{
	width:100%;
	
	}	
.load_1{
	background:url(../images/load1_1.jpg) center no-repeat;
	background-size:cover;
	}
.load_2{
	background:url(../images/load1.jpg) center no-repeat;
	background-size:cover;
	}				
.load_list2{
	width:100%;
	height:100%;
	position:absolute; top:0; left:50%;
	z-index:99;
	}
.load_list2>ul{
	width:100%;
	padding:0;
	margin:0;
	position:absolute; top:0%; left:0;
	cursor:pointer;
	}
.load_list2>ul>li{
	width:100%;
	}	
.load_3{
	background:url(../images/load2_1.jpg) center no-repeat;
	background-size:cover;
	}
.load_4{
	background:url(../images/load2.jpg) center no-repeat;
	background-size:cover;
	}	
.load_btn{
	width:90px;
	height:90px;
	position:absolute; top:50%; left:-45px;
	margin-top:-45px;
	cursor:pointer;
	}
.load_btn_box{
	width:100%;
	height:100%;
	position:absolute; top:0; left:0;
	-webkit-animation-name: load;
	-moz-animation-name: load;
	-ms-animation-name: load;
	-o-animation-name: load;
	animation-name: load;
	-webkit-animation-duration: 1000000ms;
	-moz-animation-duration: 1000000ms;
	-ms-animation-duration: 1000000ms;
	-o-animation-duration: 1000000ms;
	animation-duration: 1000000ms;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	-ms-animation-timing-function: linear;
	-o-animation-timing-function: linear;
	animation-timing-function: linear;
	}	
.load_btn1{
	width:50%;
	height:100%;
	position:absolute; top:0; left:0;
	z-index:2;
	overflow:hidden;
	}	
.load_btn1:before{
	width:200%;
	height:100%;
	border-radius:100%;
	content:'';
	border:7px solid #fff;
	position:absolute; top:0; left:0;
	z-index:-1;
	}	
.load_btn2{
	width:50%;
	height:100%;
	position:absolute; top:0; right:0;
	z-index:2;
	overflow:hidden;
	}
.load_btn2:before{
	width:200%;
	height:100%;
	border-radius:100%;
	content:'';
	border:7px solid #D71819;
	position:absolute; top:0; right:0;
	z-index:-1;
	}		
.load_btn span{
	display:inline-block;
	width:100%;
	height:100%;
	border-radius:100%;
	cursor:pointer;
	text-align:center;
	line-height:90px;
	color:#fff;
	font-size:24px;
	position:relative;
	z-index:999;
	}	
.load_btn span i{
	padding:0 10px;
	}	
.load_zi1{
	position:absolute; bottom:5%;
	left:-230px;
	opacity:0;
    filter:alpha(opacity=0);
    -moz-opacity:0; 
    -khtml-opacity:0;
    -webkit-opacity:0;
	}	
.load_zi1a{
	position:absolute;
	
	 bottom:-5%;
	left:-240px;
	opacity:0;
    filter:alpha(opacity=0);
    -moz-opacity:0; 
    -khtml-opacity:0;
    -webkit-opacity:0;
	}
.load_zi1a1{
	position:absolute; bottom:-5%;
	left:-130px;
	opacity:0;
    filter:alpha(opacity=0);
    -moz-opacity:0; 
    -khtml-opacity:0;
    -webkit-opacity:0;
	}	
.load_zi1a>a{
	display:inline-block;
	width:100px;
	line-height:40px;
	background:#fff;
	color:#000;
	text-transform:uppercase;
	letter-spacing:1px;
	font-weight:600;
	text-align:center;
    -webkit-box-shadow: 0px 0px 2px 0px #666666;
    -moz-box-shadow: 0px 0px 2px 0px #666666;
    box-shadow: 0px 0px 2px 0px #666666;
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-ms-transition: 0.5s ease;
	-o-transition: 0.5s ease;	
	transition: 0.5s ease;
	}
.load_zi1a1>a{
	display:inline-block;
	width:100px;
	line-height:40px;
	background:#fff;
	color:#000;
	text-transform:uppercase;
	letter-spacing:1px;
	font-weight:600;
	text-align:center;
    -webkit-box-shadow: 0px 0px 2px 0px #666666;
    -moz-box-shadow: 0px 0px 2px 0px #666666;
    box-shadow: 0px 0px 2px 0px #666666;
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-ms-transition: 0.5s ease;
	-o-transition: 0.5s ease;	
	transition: 0.5s ease;
	}
.load_zi1a>a:hover{
	background:#000;
	color:#fff;
	}

.load_zi1a1>a:hover{
	background:#000;
	color:#fff;
	}




.load_zi2a{
	position:absolute; bottom:-5%;
	left:30px;
	opacity:0;
    filter:alpha(opacity=0);
    -moz-opacity:0; 
    -khtml-opacity:0;
    -webkit-opacity:0;
	}	
.load_zi2a>a{
	display:inline-block;
	width:100px;
	line-height:40px;
	background:#fff;
	color:#000;
	text-transform:uppercase;
	letter-spacing:1px;
	font-weight:600;
	text-align:center;
    -webkit-box-shadow: 0px 0px 2px 0px #666666;
    -moz-box-shadow: 0px 0px 2px 0px #666666;
    box-shadow: 0px 0px 2px 0px #666666;
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-ms-transition: 0.5s ease;
	-o-transition: 0.5s ease;	
	transition: 0.5s ease;
	}
.load_zi2a>a:hover{
	background:#000;
	color:#fff;
	}
	
	
	
		
.load_zi2a1{
	position:absolute; bottom:-5%;
	left:140px;
	opacity:0;
    filter:alpha(opacity=0);
    -moz-opacity:0; 
    -khtml-opacity:0;
    -webkit-opacity:0;
	}	
.load_zi2a1>a{
	display:inline-block;
	width:100px;
	line-height:40px;
	background:#fff;
	color:#000;
	text-transform:uppercase;
	letter-spacing:1px;
	font-weight:600;
	text-align:center;
    -webkit-box-shadow: 0px 0px 2px 0px #666666;
    -moz-box-shadow: 0px 0px 2px 0px #666666;
    box-shadow: 0px 0px 2px 0px #666666;
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-ms-transition: 0.5s ease;
	-o-transition: 0.5s ease;	
	transition: 0.5s ease;
	}
.load_zi2a1>a:hover{
	background:#000;
	color:#fff;
	}	
	
.load_zi1 h5{
	font-family:PingHei-light;
	font-size:50px;
	color:#fff;
	letter-spacing:1px;
	text-transform:uppercase;
	font-weight:600;
	}

.load_zi2{
	position:absolute; bottom:5%;
	left:35px;
	opacity:0;
    filter:alpha(opacity=0);
    -moz-opacity:0; 
    -khtml-opacity:0;
    -webkit-opacity:0;
	}	
.load_zi2 h5{
	font-family:PingHei-light;
	font-size:50px;
	color:#fff;
	letter-spacing:1px;
	text-transform:uppercase;
	font-weight:600;
	}
.load_top{
	width:100%;
	position:absolute; top:0px; left:0px;
	z-index:9999;
	padding:10px;
	}
.load_top:before{
	width:100%;
	height:100%;
	content:'';
	position:absolute; top:0; left:0;
	z-index:-1;
	background:#fff;
	opacity:0.9;
    filter:alpha(opacity=90);
    -moz-opacity:0.9; 
    -khtml-opacity:0.9;
    -webkit-opacity:0.9;
	}	
.load_logo{
	}

.load_p{
	width:100%;
	position:absolute; bottom:2%; left:-50%;
	z-index:9999;
	text-align:center;
	color:#fff;
	font-size:15px;
	letter-spacing:1px;
	margin-bottom:0;
	opacity:0;
    filter:alpha(opacity=0);
    -moz-opacity:0; 
    -khtml-opacity:0;
    -webkit-opacity:0;
	}	

@keyframes load
{
0% {transform: rotate(0deg);}
50% {transform: rotate(-36000deg);}
100% {transform: rotate(0deg);}
}

@-webkit-keyframes load
{
0% {-webkit-transform: rotate(0deg);}
50% {-webkit-transform: rotate(-36000deg);}
100% {-webkit-transform: rotate(0deg);}
}	

@-moz-keyframes load
{
0% {-moz-transform: rotate(0deg);}
50% {-moz-transform: rotate(-36000deg);}
100% {-moz-transform: rotate(0deg);}
}

@-ms-keyframes load
{
0% {-ms-transform: rotate(0deg);}
50% {-ms-transform: rotate(-36000deg);}
100% {-ms-transform: rotate(0deg);}
}

@-o-keyframes load
{
0% {-o-transform: rotate(0deg);}
50% {-o-transform: rotate(-36000deg);}
100% {-o-transform: rotate(0deg);}
}


.load_bottom{
	width:200px;
	height:60px;
	position:absolute; bottom:40px; left:50%;
	margin-left:-100px;
	z-index:9999999;
	text-align:center;
	display:none;
	}
.load_bottom:before{
	width:100%;
	height:100%;
	content:'';
	position:absolute; top:0; left:0;
	z-index:-1;
	background:#000;
	opacity:0.6;
    filter:alpha(opacity=60);
    -moz-opacity:0.6; 
    -khtml-opacity:0.6;
    -webkit-opacity:0.6;
	}	
.load_bottom a{
	display:inline-block;
	width:100%;
	line-height:60px;
	color:#fff;
	font-size:15px;
	letter-spacing:1px;
	text-transform:uppercase;
	position:relative; top:-4px;
	-webkit-animation-name: click;
	-moz-animation-name: click;
	-ms-animation-name: click;
	-o-animation-name: click;
	animation-name: click;
	-webkit-animation-duration: 1200ms;
	-moz-animation-duration: 1200ms;
	-ms-animation-duration: 1200ms;
	-o-animation-duration: 1200ms;
	animation-duration: 1200ms;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	-ms-animation-timing-function: linear;
	-o-animation-timing-function: linear;
	animation-timing-function: linear;
	}


@keyframes click
{
0% {top:-4px;}
50% {top:4px;}
100% {top:-4px;}
}

@-webkit-keyframes click
{
0% {top:-4px;}
50% {top:4px;}
100% {top:-4px;}
}	

@-moz-keyframes click
{
0% {top:-4px;}
50% {top:4px;}
100% {top:-4px;}
}

@-ms-keyframes click
{
0% {top:-4px;}
50% {top:4px;}
100% {top:-4px;}
}

@-o-keyframes click
{
0% {top:-4px;}
50% {top:4px;}
100% {top:-4px;}
}





.header{
	width:100%;
	padding-top:20px;
	position: fixed;
	z-index:10000;
	background:rgba(0, 0, 0, 0.8) none repeat scroll 0 0 !important;
    filter:Alpha(opacity=80); background:#000;
	}

.header_con{
	position:relative;
	}
.logo{
	position:absolute;
	top:0;
	left:0;
	width:180px;
	margin-top:20px;
	}
.submenu_img{
	width:50%;
	position: absolute;
	right:30px;
	top:30px;
	background:#f5f5f5;
	padding:30px;
}
.submenu_img h5{
	font-size:14px;
	font-weight:bold;
	font-family:"Microsoft YaHei","微软雅黑" ;
	text-align:center;
	}
.submenu_img p{
	font-size:12px;
	font-family:"Microsoft YaHei","微软雅黑" ;
	text-align:left !important;

	padding-top:10px;
	text-align:center;
	line-height:22px;
	margin-bottom:0;
	height:98px;
	overflow:hidden;
}
.submenu_img a{
	display:block;
	width:160px;
	margin:auto;
	margin-top:20px;
	line-height:35px !important;
	font-family:"微软雅黑","Microsoft YaHei" ;
	background:#333;
	color:#FFF !important;
	text-decoration:none !important;
	text-align:center;
	font-size:12px !important;
	letter-spacing:2px;
	text-transform:uppercase;
	font-weight:600;
	-webkit-transition: 0.3s linear;
	-moz-transition: 0.3s linear;
	-ms-transition: 0.3s linear;
	-o-transition: 0.3s linear;	
	transition: 0.3s linear;
	}
.submenu_img a:hover{
	background:#ccc;
	}		
	
.dh{
	width:60%;
	float:right;
	}	
.dh ul li{
	float:left;
	width:16.6%;
	text-align:right;
	position:relative;margin-top:10px;
	}
.dh>ul>li>a{
	font-family:"微软雅黑","Microsoft YaHei" ;
	font-size:16px;
	color:#ddd;
	line-height:80px;
	letter-spacing:2px;
	
	}	
	
.dh>ul>li>a:hover{
	color:#ddd;
	text-decoration:none;
	}
.dh>ul>li>ul{
	position:absolute; 
	top:80px; 
	z-index:999;
	background:#fff;
	padding:30px 0;
	width:500px;
	height:430px;
	display:none;	
	}	
.ul_l{

	}
.ul_1{
    left:0 !important;
	}	
.ul_2{
    right:0 !important;
	}	
	

.ul_r{
	right:50%;
	margin-right:-63px !important;
	}		
.dh>ul>li>ul>li{
	position:relative;
	line-height:35px;
	float:inherit;
	padding:0 30px 0 30px;
	-webkit-transition: 0.3s linear;
	-moz-transition: 0.3s linear;
	-ms-transition: 0.3s linear;
	-o-transition: 0.3s linear;	
	transition: 0.3s linear;
	text-align:left;
	}
.dh>ul>li>ul>li>a{
	font-size:13px;
	font-family:"Microsoft YaHei","微软雅黑" ;
	color:#555;
	display:block;
	line-height:30px;
	white-space: nowrap;
	-webkit-transition: 0.3s linear;
	-moz-transition: 0.3s linear;
	-ms-transition: 0.3s linear;
	-o-transition: 0.3s linear;	
	transition: 0.3s linear;
	}	
.dh>ul>li>ul>li>ul>a{
	padding-left:10px !important;
	font-size:12px !important;
	font-family:"Microsoft YaHei","微软雅黑" ;
	color:#808080 !important;
	display:block;
	line-height:30px;
	white-space: nowrap;
	-webkit-transition: 0.3s linear;
	-moz-transition: 0.3s linear;
	-ms-transition: 0.3s linear;
	-o-transition: 0.3s linear;	
	transition: 0.3s linear;
	}	

.dh>ul>li>ul>li>a:hover{
	color:#999;
	padding-left:15px;
	}	
	
.dh>ul>li>ul>li>ul>a:hover{
	color:#999 !important;
	padding-left:25px !important;
	
	}	
	
.lion{
    height:3px;
	background:#D71819;
	position:absolute; bottom:0; left:0px;
	z-index:-1;
	}	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
.header_search{
	position:absolute;
	width:257px;
	right:0;
	top:-13px;
	}
.header_search i{
	width:50%;
	float:left;
	font-size:16px;
	margin-top:35px;
	line-height:1;
	}
.dh ul{
	position:relative;
    -webkit-padding-start: 0px;	
	margin-bottom:0;
	}
/*banner*/	
.banner{
	width:100%;
	position:relative;
	}	
.banner_list{
	padding:0;
	margin:0;
	width:100%;
	height:100%;
	position:absolute; top:0; left:0; z-index:5;
	}	
.banner_list>li{
	width:100%;
	height:100%;
	position:absolute; top:0; left:0;
	background-size:cover;
	}	
.bli1{
	background:url(../images/banner.jpg);
	display:block;
	position:relative;
	}
.bli2{
	background:url(../images/banner1.jpg);
	display:none;
	position:relative;
	}
.bli3{
	background:url(../images/banner2.jpg);
	display:none;
	position:relative;
	}			
.bli4{
	background:url(../images/banner3_z.jpg) ;
	display:none;
	position:relative;
	}			
.bli5{
	background:url(../images/banner4.jpg);
	display:none;
	position:relative;
	}
.bli1:before{
	width:100%;
	height:100%;
	position:absolute; 
	top:0; 
	left:0;
	content:'';
	background:#000;
	opacity:0.1;
	z-index:1;
	}
.bli2:before{
	width:100%;
	height:100%;
	position:absolute; 
	top:0; 
	left:0;
	content:'';
	background:#000;
	opacity:0.2;
	z-index:1;
	}
.bli3:before{
	width:100%;
	height:100%;
	position:absolute; 
	top:0; 
	left:0;
	content:'';
	background:#000;
	opacity:0.2;
	z-index:1;
	}
.bli4:before{
	width:100%;
	height:100%;
	position:absolute; 
	top:0; 
	left:0;
	content:'';
	background:#000;
	opacity:0.2;
	z-index:1;
	}
.bli5:before{
	width:100%;
	height:100%;
	position:absolute; 
	top:0; 
	left:0;
	content:'';
	background:#000;
	opacity:0.2;
	z-index:1;
	}

.banner_wenzi{
	width:760px;
	position:absolute;
	z-index:999;
	border:1px solid #fff;
	left:50%;
	top:58%;
	margin-top:-185px;
	margin-left:-350px;
	padding:40px 40px;
	border-bottom:none;
	}	
.banner_wenzi h3{
	font-family:"Microsoft YaHei","微软雅黑" ;
	font-size:60px;
	color:#fff;
	text-align: center;
	line-height:90px;
	letter-spacing:5px;
	}
.banner_wenzi a{
	font-family:"微软雅黑","Microsoft YaHei" ;
	font-size:14px;
	color:#fff;
	text-align:center;
	display:block;
	position:absolute;
	bottom:-20px;
	left:50%;
	margin-left:-120px;
	width:240px;
	height:40px;
	line-height:40px;
	}		
.banner_wenzi a:before{
	position:absolute;
	width:230px;
	top:20px;
	height:1px;
	left:-260px;
	content:'';
	background:#fff;
	}
.banner_wenzi a:after{
	position:absolute;
	width:230px;
	top:20px;
	height:1px;
	right:-260px;
	content:'';
	background:#fff;
	}		
		
.banner_num{
	padding:0;
	margin:0;
	width:230px;
	position:absolute;
    bottom:50px; 
	right:20%; 
	z-index:10;
	
	}	
.banner_num>li{
	width:45px;
	height:45px;
	float:left;
	position:relative;
	margin:0 0px;
	margin-right:1px;
	cursor:pointer;
	z-index:999;
	-webkit-transition:background 0.3s linear;
	-moz-transition:background 0.3s linear;
	-ms-transition:background 0.3s linear;
	-o-transition:background 0.3s linear;	
	transition:background 0.3s linear;
	}
.banner_num>li:before{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background:#fff;
	content:'';
	opacity:0.2;
	z-index:9;
	}
.banner_num>li:after{
	width:100%;
	height:0;
	position:absolute;
	top:0;
	left:0;
	background:#D71819;
	content:'';
	opacity:0;
	z-index:99;
	transition:all 0.3s;
	-moz-transition:all 0.3s;
	-ms-transition:all 0.3s;
	-o-transition:all 0.3s;
	-webkit-transition:all 0.3s;
	}	
.banner_num>li:hover:after{
	opacity:0.5;
	height:100%;
	}	
.banner_num>li>p{
	position:relative;
	width:100%;
	height:100%;
	line-height:45px;
	z-index:99999;
	text-align:center;
	color:#fff;
	transition:all 0.3s;
	-moz-transition:all 0.3s;
	-ms-transition:all 0.3s;
	-o-transition:all 0.3s;
	-webkit-transition:all 0.3s;
	}
.banner_num>li:hover p{
	color:#fff !important;
	}
.numon{
	background:#D71819 !important;
	}	
.banner_next{
	width:100px;
	height:100%;
	position:absolute; top:0%; right:30px; z-index:10;
	cursor:pointer;
	}
.banner_prev{
	width:100px;
	height:100%;
	position:absolute; top:0%; left:30px; z-index:10;
	cursor:pointer;
	}		
	
/*sec1*/
.sec1_con{
	}

.sec1_con h3{
	line-height:230px;
	text-align:center;
	color:#808080;
	font-size:28px;
	font-family:"微软雅黑","Microsoft YaHei" ;
	margin:0;
	background:#000;
	}

/********pro***********/
.pro_box {
	position: relative;
	overflow: hidden;
}

 
.show_list{
	width:85%;
	margin:0 auto;
	}	
.show_list1{
	float:left;
	position:relative;
	transition: box-shadow 0.3s ease-out;
	z-index:1;
	display: block;
    overflow: hidden;
	}
.show_list1:hover{
    z-index: 2;
    box-shadow: 0 0 28px 4px rgba(0,0,0,0.4);
}
.show_list1:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-left: 1px solid #ddd;
    z-index: 1;
}
.show_list1>img{
	-webkit-transition: 0.5s linear;
	-moz-transition: 0.5s linear;
	-ms-transition: 0.5s linear;
	-o-transition: 0.5s linear;
	transition: 0.5s linear;
	}	


/*	
	
.bg_text{
	position:absolute;
	top:40%;
	left:35%;
	text-align:center;
	color:#fff;
	z-index:999999999999;
	color:#fff;}
	
.bg_text1{
	position:absolute;
	top:40%;
	left:35%;
	text-align:center;
	color:#fff;
	z-index:999999999999;
	color:#fff;}
	
.bg_text>h3{
	opacity:0;
	top:-50px;
	position:relative;
	font-family:"PlayfairDisplay-Italic";
	}
	
.bg_text>p{
	opacity:0;
	bottom:-50px;
	font-size:18px;
	margin-top:10px;
	position:relative;
	font-family:"Didot-Bold";
	}
	


.bg_text1>h3{
	position:relative;
	font-family:"PlayfairDisplay-Italic";
	}
	
.bg_text1>p{
	font-size:18px;
	margin-top:10px;
	position:relative;
	font-family:"Didot-Bold";
	}*/
	
/*.show_list{
	margin-top:2%;}	
	
.show_list2{
	width:53%;
	margin:0 auto;
	padding-top:1%;}	
	*/

	
.show_list{
	width:100%;
	margin:0 auto;
	background:#212121;
	}
	
	
.show_list1_con, .show_list2_con, .show_list3_con, .show_list4_con, .show_list5_con{
	width:100%;
	position:relative;
	overflow:hidden;
	}
	
.show_list_con_bg{
	width:100%;
	height:100%;
	background:#000;
	opacity:0.5;
    filter:alpha(opacity=50); 
    -moz-opacity:0.5;  
    -khtml-opacity:0.5;
	display:block;
	position:absolute; top:0; left:0;
	}	
	

.show_list_shadow{
	z-index:9999;
	box-shadow: 0 0 28px 4px rgba(0,0,0,0.4) !important;
    -webkit-transition: 0.5s linear !important;
	-moz-transition: 0.5s linear !important;
	-ms-transition: 0.5s linear !important;
	-o-transition: 0.5s linear !important;
	transition: 0.5s linear !important;
	}
	
	
.show1_next{
	width:30px;
	height:30px;
	background:url(../images/jt.png) no-repeat;
	cursor:pointer; top:50%; right:15px;
	position:absolute;
	margin-top:-15px;
	z-index:10;
	}
	
.show1_prev{
	width:30px; height:30px;
	background:url(../images/jt_left.png) no-repeat;
	cursor:pointer;
	position:absolute; top:50%; left:15px;
	margin-top:-15px;
	z-index:10;
	}
	

.product1-qiehuan{
	position:absolute;
	left:0px; 
	top:0px; 
	width:100px; 
	height:60px;
	z-index:10;
	}


.product1-qiehuan p{
	color:#808080;
	display:block;
	margin-left:50px;
	font-size:16px;
	letter-spacing:2px;
	line-height:30px;
	margin-top:15px;
	font-weight:bold;
	
	}

	
.pro1_prev{
	width:50px;
	height:60px;
	cursor:pointer;
	position:absolute; 
	top:0px; 
	right:50px;
	z-index:10;
	background:#000;
	}	
.pro1_prev i{
	width:50px;
	color:#fff;
	font-size:24px;
	text-align:center;
	line-height:60px;
	}	
	
.pro1_next{
	width:50px;
	height:60px;
	cursor:pointer;
	top:0px; 
	right:0px;
	position:absolute;
	z-index:10;
	background:#D71819;
	
	}	
.pro1_next i{
	width:50px;
	color:#fff;
	font-size:24px;
	text-align:center;
	line-height:60px;
	}	
	
.show_list1_box, .show_list2_box, .show_list3_box, .show_list4_box, .show_list5_box
{
	width:100%;
	margin:0 auto;
	overflow:hidden;
	position:relative;
}
 	
	
.show_list{
	margin-top:2%;
	position:relative;
	}	
	
	
.pic_bg{
	width:100%;
	height:100%;
	background:#000;
	opacity:0;
    filter:alpha(opacity=0); 
    -moz-opacity:0; 
    -khtml-opacity:0;
	position:absolute; top:0; left:0;
	}
	

.pblank{
	height:260px;
	background:#FFF;
	position:absolute;
	z-index:10;
	bottom:0px;
	width:100%;
	padding:8%;
	}
	
	
.pblank p{
	font-size:14px;
	color:#666;
	line-height:25px;
	}	
	
.pblank a{
	color:#999;
	text-decoration:underline; 
	} 	


.pblank1{
	height:200px;
	background:#FFF;
	width:100%;
	padding:40px;
	text-align:center;
	}
	
	
.pblank1 p{
	font-family:"微软雅黑","Microsoft YaHei" ;
	font-size:22px;
	color:#666;
	line-height:25px;
	}	
	
.pblank1 a{
	color:#D71819;
	text-decoration:underline;;
	} 	


.contain{
	width:100%; 
	overflow:hidden; 
	background:#fff;
	
	}
.main_case{
	padding:60px 0;
	background:#f5f5f5;
	}
.main_case .case_title{
   font-size:36px;
   margin-bottom:50px;
	}
.boxleft{ float:left;}
.boxright{ float:right;}

.p1, .p4{ margin-top:15px;}
.p2, .p5{ margin-top:23px;}
.p3, .p6{ margin-top:30px;}
.p1, .p4{ font-family:"微软雅黑","Microsoft YaHei" ; font-size:14px; font-weight:bold;}
.p1 h1{
	font-size:20px;
	margin:20px 0 10px 0;
	}

.p4 h1{
	font-size:20px;
	margin:20px 0 10px 0;
	}

.p2, .p5{ font-family:"微软雅黑","Microsoft YaHei" ; font-size:12px; color:#737272;line-height:25px;
margin-top:0;}
.p31, .p61{ font-family:"微软雅黑","Microsoft YaHei" ; font-size:14px; font-weight:bold; color:#D71819;}
.p31, .p32, .p61, .p62{ float:left;}
.p32, .p62{ margin-left:20px;}
.clear30{ margin-top:30px;}
.clear18{margin-top:80px;}
.clear25{margin-top:25px;}
.clear21{ margin-bottom:80px;}
.clear{ clear:both;}
.team{
	width:100%;
	float:left;
	background:#fff;
	}
.team-left{
	width:33.2%; float:left;
	}
.team-center{
	width:33.2%;float:left;
	margin:0 0.2%;
	}
.team-center1{
	width:100%; overflow:hidden; background:#000;
	float:left;
	padding-bottom:40px;
	}
.team-right{
	width:33.2%; float:right;
	position:relative;
	}
.team-img7{
	width:360px;
	}
.new1{
	width:117px;
	height:50px;
	background:#fff;
	color:#000;
	position:absolute;
	top:127px;
	left:0;
	font-size:20px;
	line-height:50px;
	text-align:center;
	}
.team-img1,.team-img3,.team-img4{
	width:100%;
	float:left;
	}
.team-img2{
	width:100%;
	float:left;
	}
.team-img5{
	margin-right:15px;
	float:left;
	}
.team-img6{
	float:left;
	}
.team_qh{
	overflow:hidden;
	}
.team-top{
	float:left;
	padding:0 2%;
	overflow:hidden;
	margin:10px auto;
	}
.team-bottom{
	width:70px;
	height:25px;
	float:right;
	margin-top:25px;
	margin-right:20px;
	padding-bottom:28px;
		}
.team-h1{
	color:#fff;
	font-size:30px;
	margin:9% 0;
	}
.team-word{
	color:#fff;
	font-size:14px;
	text-indent:5px;
	line-height:30px;
	}
@media(min-width:992px) and (max-width:1400px){
.team-word{
height:90px;
overflow:hidden;
	}
	}
@media(min-width:1401px) and (max-width:1600px){
.team-word{
height:120px;
overflow:hidden;
	}
	}

.news{ 
    width: 93.6%;
    position: relative;
    overflow: hidden;
    padding: 0 60px;
    background: #fff;
	margin:auto;
		 }
.newsbox{
	width:100%;
	overflow:hidden;
	}
.new-h1{
	width:100%;
	padding-left:40px;
	margin-top:80px;
	margin-bottom:50px;
	}
.news-model{
	float:left;
	width:20.5%;
	margin:0 2.1%;
	}
.model-box{
	overflow:hidden;
	width:100%;
	}
.model1{
	line-height:25px;
	font-size:18px;
	height:25px;
	overflow:hidden;
	}
.model2{
	color:#aeaeae;
	}
.model3{
	color:#818080;
	font-size:13px;
	line-height:25px;
	height:100px;
	overflow:hidden;
	}
.model-bottom{
	float:left;
	width:100%;
	margin:20px 0;
	}
.model-sp{
	float:left;
	margin-right:5.4%;
	color:#D71819;
	font-weight:bold;
	font-size:12px;
	}
.model-img{
	float:left;
	}
	
.round{
	width:150px;
	height:38px;
	margin:0 auto;
	}
.round-left,.round-right,.round-center{
	float:left;
	}
.round-center{
	width:73px;
	}
.round-center ul{
	    -webkit-padding-start: 0px;
		}
.round-center li{
	float:left;
	width:15px;
	height:15px;
	margin:11px 4px;
	}
.news_banner{
	width:100%;
	position:relative;
	overflow:hidden;
	padding-bottom:100px;
	}	
.news_banner_list{
	padding:0;
	margin:0;
	position:relative; top:0; left:0; z-index:5;
	}	
.news_banner_list>li{
	width:100%;
	height:100%;
	float:left;
	background-size:cover;
	}	
.news_banli1{
	
	}
.news_banli2{
	
	}
.news_banli3{
	
	}			

.news_banner_num{
	padding:0;
	margin:0;
	width:66px;
	position:absolute; bottom:30px; left:50%; z-index:10;
	margin-left:-33px;
	}	
.news_banner_num>li{
	width:15px;
	height:15px;
	border-radius:12px;
	background:#e8e8e8;
	float:left;
	margin:0 3px;
/*	cursor:pointer;*/
	-webkit-transition:background 0.3s linear;
	-moz-transition:background 0.3s linear;
	-ms-transition:background 0.3s linear;
	-o-transition:background 0.3s linear;	
	transition:background 0.3s linear;
	}	
.news_numon{
	background:#D71819 !important;
	}	

	
.news_banner_next{
	width:38px;
	height:38px;
	background:url(../images/round1.png) center no-repeat;
	position:absolute; top:91%; right:45%; z-index:10;
	margin-top:-25px;
	cursor:pointer;
	margin-right:-35px;
	}
.news_banner_prev{
	width:38px;
	height:38px;
	background:url(../images/round.png) center no-repeat;
	position:absolute; top:91%; left:45%; z-index:10;
	margin-top:-25px;
	cursor:pointer;
	margin-left:-35px;
	}		

@media (min-width:1700px){
.news_banner_next{
	margin-right:-20px;
	}
.news_banner_prev{
	margin-left:-20px;
	}		

	}
input{ margin:0;padding:0;border:none;outline:none;}
img{ }
.footbox{ width:100%; background-color:#252525;}
.foot{ width:85%; margin:0 auto; overflow:hidden;}
.foot1{  margin-top:70px; float:left; color:#8c918b; font-size:12px; width:33%;
		 height:240px;}
.foot1 ul li{ line-height:16px; width:80%;}
.inputtext{ width:80%; height:44px; margin-top:20px; background-color:#696e6a;padding-left:10px;}
.foot2{  margin-top:70px; float:left; color:#8c918b; font-size:12px; width:33%;
		 height:240px;}
.foot2 ul li{ line-height:16px; width:80%;margin-bottom:5px;}
.foot3{  margin-top:70px; float:left; color:#8c918b; font-size:12px; width:33%;
		 height:240px;}
.foot3 ul li{ width:240px; line-height:16px;}
.foot1wen2 a{ float:left; padding-right:24px;width: 25%;}
.foot1wen3 *{ float:left;}
.foot1wen3 img{ margin-top:20px;}
.foot1wen3 a{ margin-left:10px;}
.foot1wen3{ margin-left:0px; float:left; line-height:40px;}
.foot_bottom{ width:100%;padding-bottom: 20px;}
.foot_bottom1{ width:100%; height:1px; background-color:#404040;}
.foot_bottom2{ width:85%; margin:0 auto; overflow:hidden;}
.foot_bottom2 li{ float:left; color:#8c918b;}
.foot_bottom2 li a{ padding-left:15px; padding-right:15px; color:#8c918b;
		line-height:80px; font-size:12px;}



	
 .copyright{
	text-align:center;
	font-size:12px;
	color:#666;
	letter-spacing:1px;
	margin-bottom:0;
	}
.unohacha{
	width:150px;
	margin:auto;
	}		




@media (max-width:678px){
.banner_wenzi h3{
	font-size:24px;
	text-align:center;
	}
.sec1_con h3{
	line-height:25px;
	font-size:18px;
	padding:20px 0;
	}
	
	}
@media (max-width:768px){	
	.load_zi1 .load_w_in{
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 16px;
	margin-left:-9px;
	}
	
.load_zi2 .load_w_r{
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 16px;
	}
.load_zi2{
	left:9px;
	}
	
.load_zi1 .load_w_h{
	font-size:20px;
	width:100%;
	text-align:center;
	}
	
.load_zi2 .load_w_h{
	font-size:20px;
	width:100%;
	text-align:center;
	}	
	
.load_zi1{
	left:-165px;
	}

.load_p{
	display:none;
	}
	
.load_zi1a>a{
	width:74px;
	letter-spacing:normal;
	}
	
.load_zi1a1>a{
	width:74px;
	letter-spacing:normal;
	}
	
.load_zi2a>a{
	width:74px;
	letter-spacing:normal;
	}
	
	
.load_zi2a1>a{
	width:74px;
	letter-spacing:normal;
	}
	
.load_zi1a{
	left:-172px;
	}
	
.load_zi1a1{
	left:-88px;
	}
.load_zi2a{
	left:16px;
	}
	
.load_zi2a1{
	left:99px;
	}
	
.warpper{
	width:100%;
	height:667px;
	overflow:hidden;
	}
	
.load_list1{
	height:667px!important;
	overflow: hidden;
	
	}

.load_list2{
	}	
}
	
	
/*contact*/	

.con_nr1{
	margin-bottom:80px;
	
	}
.con_nr1_bt{
	width:100%;
	margin:50px 0 80px 0;
	}
.con_nr1_bt h2{
	text-align:center;
	padding-bottom:30px;
	}
.con_nr1_bt h5{
	text-align:center;
	text-transform : uppercase
	}
.con1_text{
	margin-bottom:40px;
	}
.con1_text h4{
	margin-bottom:20px;
	color:#414042;
	font-weight:bold;
	}
.con1_text p{
	line-height:20px;
	}
.con1_text i{
	font-size:14px;
	padding-right:10px;
	color:#D71819;
	}


.con_nr2{
	padding:80px 0;
	background:#900000;
	}
.con_nr2_nr{
	
	}
/*job*/	
.ab2_list{
	float:left;
	
	}	
.ab2_qh{
	padding:60px 0 0 0;
	overflow:hidden;
	}
.ab2_honor	{
	padding-left:40%;
	}	
.ab2_list_nr{
	padding:0 5%;
	}
.ab2_list_img{
	position:relative;
	overflow:hidden;
	
	}
.ab2_list_img img{
	}			
.ab2_list_bg{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:40px;
	-webkit-transition: 0.8s linear;
	-moz-transition: 0.8s linear;
	-ms-transition: 0.8s linear;
	-o-transition: 0.8s linear;
	transition: 0.8s linear;
		}
.list2_bg{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background:#fff;
	opacity:0.6;
	filter:alpha(opacity=60);  
    -moz-opacity:0.6;  
    -khtml-opacity: 0.6;
	
	}
.ab2_list_bg h3{
	font-size:18px;
	color:#fff;
	font-family:"微软雅黑";
	letter-spacing:1px;
	line-height:40px;
	text-align:center;
	position:relative;
	margin:0;
	z-index:999;
	}
.ab2_list_bg1{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:40px;
	text-align:center;
	opacity:0;
	filter:alpha(opacity=0);  
    -moz-opacity:0;  
    -khtml-opacity: 0;
	-webkit-transition: 0.5s linear;
	-moz-transition: 0.5s linear;
	-ms-transition: 0.5s linear;
	-o-transition: 0.5s linear;
	transition: 0.5s linear;
	
	}	
.ab2_list_bg1 h3{
	font-size:18px;
	color:#fff;
	letter-spacing:1px;
	text-align:center;
	position:relative;
	margin:40% 0 0 0 ;
	z-index:999;
	font-weight:bold;
	opacity:0;
	filter:alpha(opacity=0);  
    -moz-opacity:0;  
    -khtml-opacity: 0;
	
	}	
.ab2_list_img:before{
	position:absolute;
	width:100%;
	height:40px;
	opacity:0;
	filter:alpha(opacity=0);  
    -moz-opacity:0;  
    -khtml-opacity: 0;
	bottom:0;
	content:'';
	background:#fff;
	-webkit-transition:height 0.5s linear;
	-moz-transition:height 0.5s linear;
	-ms-transition:height 0.5s linear;
	-o-transition:height 0.5s linear;
	transition:height 0.5s linear;
	
	
	}
.ab2_list:hover  .ab2_list_img:before{
	opacity:0.6;
	height:100%;
	}
.ab2_list:hover  .ab2_list_bg1{
	opacity:1;
	height:100%;
	}

.ab2_list:hover  .ab2_list_bg1 h3{
	opacity:1;
	}

.ab2_list:hover  .ab2_list_bg{
	display:none;
	}	
.ab2_btn{
	width:120px;
	margin-top:50px;
	margin-left:60px;
	}	
.ab2_prev{
	width:50px;
	height:50px;
	border:1px solid #333;
	border-radius:50px;
	margin-right:20px;
	float:left;
	text-align:center;
	line-height:50px;
	font-size:30px;
	font-weight:bold;
	color:#333;
	cursor:pointer;
	transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	-webkit-transition:0.4s linear;
	
	}	
.ab2_next{
	width:50px;
	height:50px;
	border:1px solid #333;
	border-radius:50px;
	float:left;
	text-align:center;
	line-height:50px;
	font-size:30px;
	font-weight:bold;
	cursor:pointer;
	transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	-webkit-transition:0.4s linear;
	}
.ab2_next:hover{
	background:#fff;
	border:1px solid #000;
	color:#000;
	}
.ab2_prev:hover{
	background:#fff;
	border:1px solid #000;
	color:#000;
	}	
/**/

/*feedback*/
.con_nr3{
	padding:80px 0;
	background: url(../images/feed_bg.jpg) repeat left top;
	}
.contact-form {
	margin:3em 0 0;
	padding-bottom: 2em;
}
.contact-form input[type="text"] {
	display: inline-block;
	background:#fff;
	border: 1.5px solid #CBCBCB;
	width:48.5%;
	outline: none;
	margin-right:calc(2% - 4px);
	padding: 10px 15px 10px 15px;
	font-size: 15px;
	font-weight: 400;
	color: #111111;
	letter-spacing: 0.5px;
	margin-bottom: 1.5em;
}
.contact-form input[type="email"] {
	display: inline-block;
	background:#fff;
	border: 1.5px solid #CBCBCB;
	width:49%;
	outline: none;
	padding: 10px 15px 10px 15px;
	font-size: 15px;
	font-weight: 400;
	color: #111111;
	letter-spacing: 0.5px;
}
.contact-form input[type="address"] {
	display: inline-block;
	background:#fff;
	border: 1.5px solid #CBCBCB;
	width:100%;
	float:left;
	margin-right:2%;
	outline: none;
	padding: 10px 15px 10px 15px;
	font-size: 15px;
	font-weight: 400;
	color: #111111;
	letter-spacing: 0.5px;
	margin-bottom: 1.5em;
}
.contact-form textarea {
	background:#fff;
	border: 1.5px solid #CBCBCB;
	width: 100%;
	display: block;
	height:200px;
	outline: none;
	font-size: 16px;
	color: #111111;
	font-weight: 400;
	resize: none;
	padding: 10px 15px 10px 15px;
	margin-bottom: 1em;
}
button.btn1.btn-1.btn-1b {
	color: #fff;
	border: none;
	background: #D71819;
	padding: 5px 19px;
	font-size: 1em;
	margin-bottom: 50px;
}
button.btn1.btn-1.btn-1b:hover {
	color: #fff;
	background: #333;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}


/*contact*/

/*about*/
.ab_nr1{
	margin-bottom:80px;
	}

.ab_sub1{
	padding:0 12%;
	}
.ab1_text{
	margin-top:30px;
	}
.ab1_text h4{
	line-height:25px;
	color:#D71819;
	font-weight:700;
	}
.ab1_text p{
	margin-top:20px;
	line-height:25px;
	font-size:12px;
	}

.ab_nr2{
	margin-bottom:80px;
	}
.ab_nr2_bt h2{
	background:#D71819;
	color:#fff;
	line-height:60px;
	padding:0 15px;
	}
.ab_nr2_bt h5{
	text-align:center;
	margin:50px 0;
	font-size:24px;
	font-weight:bold;
	text-transform : uppercase;
	line-height:35px;
	}


.jieduan{
	border-bottom:1px solid #ddd;
	border-top:1px solid #ddd;
	text-align:center;
	height:47px;
	}
.jieduan ul{
	display:inline-block;
	margin:0 auto;
	
	}
.jieduan ul li{
	float:left;
	line-height:45px;
	padding:0 30px;
	font-size:16px;
	position:relative;
	}
.jieduan_line{
	width:80px;
	height:2px;
	position:absolute;
	left:50%;
	margin-left:-40px;
	bottom:-1px;
	background:#D71819;
	}
.cover{
	border-bottom:2px solid #D71819;
	}



.cul_nr{
	padding:0 10%;
	margin-top:50px;
	}
.cul_xian{
	width:5px;
	margin:0 auto;
	background:url(../images/cul_line.jpg) repeat-y left top;
	}
.year{
	text-align:right;
	}
.cul_text{
	text-align:left;
	padding:20px 0;
	}





/*ab3*/
.ab_nr3{width: 100%;
    height:450px;
    background: url(../images/banner3.jpg) no-repeat fixed;
    background-size:cover ;
    --webkit-background-size: cover;
	}
	
	
.ab_nr6{
	margin-bottom:80px;
	}	
	
.hon_nr{
	border:1px solid #ddd;
	padding:15px;
	}	
	
.ab_nr6 p{
	text-align:center;
	line-height:35px;
	}		
	
	
/*about*/


/*research*/
.yanjiu_nr1{

	}

.yanjiu_sub1{
	padding:0 12%;
	}

.main_box1{
	overflow:hidden;
	}
	
.main_box1{
	width:100%;
	background-color:#D71819;
	margin:0 auto;
	}	
.main1_pic{
	width:100%;
	}
.main1_list1{
	float:left;
	position:relative;
	z-index:100;
	}
.main1_list2{
	float:left;
	color:#fff;
	padding-bottom:3%;
	text-align:left;
	}

.main1_left{
	width:50%;
	float:left;	
	position:relative; left:-120px;
	opacity:0;
    filter:alpha(opacity=0);
    -moz-opacity:0; 
    -khtml-opacity:0;
    -webkit-opacity:0;
	overflow:hidden;
	}
.main1_left_btn01{
	position:absolute;
	top:35%;
	left:44%;	
	z-index:9;
	}
.main1_left_btn02{
	position:absolute;
	bottom:10%;
	left:30%;	
	}
.main1_left_btn03{
	width:120px;
	color:#CCC;
	position:absolute;
	bottom:0%;
	left:20%;
	font-size:30px;
	z-index:99;
	}
.main1_left_btn03 .main1_prev{
	width:50px;
	height:50px;
	border-radius:50px;
	text-align:center;
	line-height:50px;
	float:left;
	cursor:pointer;
	background:#fff;
	color:#000;
	font-weight:bold;	
	transition:all 0.5s;
	-moz-transition:all 0.5s;
	-ms-transition:all 0.5s;
	-o-transition:all 0.5s;
	-webkit-transition:all 0.5s;
	margin-right:10px;
	}
.main1_prev:hover{
	background:#000;
	}	

.main1_left_btn03 .main1_next{
	width:50px;
	height:50px;
	border-radius:50px;
	text-align:center;
	line-height:50px;
	text-align:center;
	float:left;
	cursor:pointer;
	background:#fff;
	color:#000;
	font-weight:bold;
	transition:all 0.5s;
	-moz-transition:all 0.5s;
	-ms-transition:all 0.5s;
	-o-transition:all 0.5s;
	-webkit-transition:all 0.5s;
	}
.main1_next:hover{
	background:#000;
	}	

.main1_right{
	width:50%;
	float:right;
	overflow:hidden;
	position:relative; right:-120px;
	opacity:0;
    filter:alpha(opacity=0);
    -moz-opacity:0; 
    -khtml-opacity:0;
    -webkit-opacity:0;
	}
.main1_right img{
	margin-top:0%;
	}
.main1_right_text1{
	width:60%;
	line-height:30px;
	font-size:14px;
	padding-top:15%;
	margin:0 auto;
	}
	
.main1_img>img{
	-webkit-transition:all 0.5s linear;
	-moz-transition:all 0.5s linear;
	-ms-transition:all 0.5s linear;
	-o-transition:all 0.5s linear;	
	transition:all 0.5s linear;
	}
.main1_list1:hover  .main1_img>img{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
	}		
.main1_list1:before{
	width:100%;
	height:100%;
	content:'';
	position:absolute; top:0; left:0;
	z-index:5;
	background:#000;
	opacity:0;
    filter:alpha(opacity=0);
    -moz-opacity:0; 
    -khtml-opacity:0;
    -webkit-opacity:0;
	-webkit-transition: 0.3s linear;
	-moz-transition: 0.3s linear;
	-ms-transition: 0.3s linear;
	-o-transition: 0.3s linear;	
	transition: 0.3s linear;
	}
.main1_list1:hover:before{
	opacity:0.4;
    filter:alpha(opacity=40);
    -moz-opacity:0.4; 
    -khtml-opacity:0.4;
    -webkit-opacity:0.4;
	}		
	

.yanjiu_nr3{
	 width: 100%;
    height:800px;
	padding:50px 0;
    background: url(../images/yanjiu3_bg.jpg) no-repeat fixed;
    background-size:cover ;
--webkit-background-size: cover;
	}

.yanjiu3_l{
	position:relative;
	}
.video{
	width:66px;
	position:absolute;
	left:50%;
	margin-left:-33px;
	top:35%;
	}


/*case*/
.case1_l{
	position:relative;
	}
.case1_l_text{
	width:60%;
	height:60px;
	background:#f5f5f5;
	position:absolute;
	top:15%;
	right:0px;
	padding-left:30px;
	line-height:60px;
	font-size:24px;
	font-weight:bold;
	}
.case1_r{
	background:#f1f1f1;
	}

.case1_r_text{
	padding:5% 15% 5% 8%;
	}

.case1_r_text h2{
	font-size:50px;
	margin-bottom:3%;
	}
.case1_r_text h4{
	margin:5% 0;
	}
.case1_r_text p{
	padding-top:1%;
	}


/*PRODUCT*/
.pro_nr1{
	margin-bottom:80px;
	}

.pro1_js{
	background:#3d3935;
	}
.pro1_js h2{
	font-size:66px;
	text-align:center;
	color:#fff;
	padding:23% 5% 0 5%;
	margin-top:0px;
	text-transform : uppercase
	}

.pro1_dbt{
	background:#fff;
	}
.pro1_dbt_nr{
	padding-top:15%;
	}
.pro1_dbt_nr h3{
	margin: 0px auto 60px auto;
    padding: 20px 0;
    width: 145px;
    font-size: 26px;
    line-height:1.8;
    text-align: left;
    border-top: 1px solid #3d3934;
    border-bottom: 1px solid #3d3934;
	}
.pro1_dbt_nr h5{
	width:200px;
	margin:0 auto;
	text-align:center;
	text-transform : uppercase;
	font-weight:bold;
	color:#333;
	font-size:12px;
	letter-spacing:1px;
	}
.pro1_dbt_nr h5 a{
	color:#333;
	
	}	
.pro1_dbt_nr h5 img{
	padding-left:5px;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
	}		
.pro1_dbt_nr h5:hover img{
	margin-left:10px;
	
	}	
.pro1_sub{
	background:#fff;
	}

.pro1_sub_tu{
	position:relative;
	overflow:hidden;
	}

.pro1_sub_tu1{
	position: absolute;
	left:0px;
	top:0px;
	opacity:0;
	}












.pro1_sub_text{
	padding: 0 30px 30px 30px;
    border-right: 1px solid #e7e4e0;
	letter-spacing:2px;
	}
.pro1_sub_text h2{
	margin: 30px 0 10px 0;
    min-height: 0;
    font-size: 24px;
    line-height: 23px;
    text-align: center;
	}
.pro1_sub_text h2 a{
	color:#333;
	}
.pro1_sub_text h2 a:hover{
	color:#D71819;
	}
.pro1_sub_text p{
	text-align:center;
    min-height: 38px;
	color:#666;
	}
.pro1_sub_text p a{
	color:#666;
	}
.pro1_sub_text p a:hover{
	color:#D71819;
	}
.price_box{
	position: relative;
    text-align: right;
	}
.price_box:before{
	border-top: 1px solid #e7e4e0;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
	}
.price_box span{
	padding: 0 20px;
    position: relative;
    font-size: 18px;
    line-height: 22px;
	font-family:Georgia, "Times New Roman", Times, serif;
    font-weight: normal;
    color: rgb(61,57,51);
    color: rgba(61,57,51,0.66);
    background: #fff;
	
	}

/*产品inner切换*/
.pro_nr1_sub1{
	margin:0 10%;
	}
.pro_xx {
	width: 100%;
	background:#f5f5f5;
	padding-bottom:5%;
}
.pro_xximg {
	padding: 0;
	margin: 0;
	width: 100%;
	position: relative;
}
.pro_xximg>li {
	width:100%;
	position: absolute;
	top: 0;
	left:0%;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
	-webkit-transition: -webkit-transform 0s linear;
 -moz-transition: -moz-transform: 0s linear;
	-ms-transition: -ms-transform 0s linear;
	-o-transition: -o-transform 0s linear;
	transition: transform 0s linear;
	opacity: 0;
	z-index: 5;
}
.pro_xximg_z {
	z-index: 10 !important;
}
.pro_xximg_show {
	-webkit-transform: scale(1) !important;
	-moz-transform: scale(1) !important;
	-ms-transform: scale(1) !important;
	-o-transform: scale(1) !important;
	transform: scale(1) !important;
	-webkit-transition: -webkit-transform 0.3s linear !important;
	-moz-transition: -moz-transform 0.3s linear !important;
	-ms-transition: -ms-transform 0.3s linear !important;
	-o-transition: -o-transform 0.3s linear !important;
	transition: transform 0.3s linear !important;
	opacity: 1 !important;
}
.pro_xx_box {
	width: 70%;
	margin: 0 auto;
	margin-top: 5%;
	position: relative;
}
.pro_xx_s_box {
	width: 100%;
	overflow: hidden;
	padding: 1px 0;
}
.pro_xx_s {
	padding: 0;
	margin: 0;
	width: 100%;
	position: relative;
}
.pro_xx_s>li {
	float: left;
	margin: 0 6px;
	cursor: pointer;
	position: relative;
}
.pro_xx_son {
	border: 1px solid #D71819 !important;
}
.line_t {
	width: 0;
	height: 1px;
	background: #D71819;
	position: absolute;
	left: 0;
	top: -1px;
}
.line_r {
	width: 1px;
	height: 0;
	background: #D71819;
	position: absolute;
	right: -1px;
	top: 0px;
}
.line_b {
	width: 0;
	height: 1px;
	background: #D71819;
	position: absolute;
	right: 0;
	bottom: -1px;
}
.line_l {
	width: 1px;
	height: 0;
	background: #D71819;
	position: absolute;
	left: -1px;
	bottom: 0px;
}
.pro_xx_next {
	width: 20px;
	height: 20px;
	border: 10px solid;
	border-color: transparent transparent transparent #000;
	position: absolute;
	right: -50px;
	top: 30%;
	cursor: pointer;
}
.pro_xx_prev {
	width: 20px;
	height: 20px;
	border: 10px solid;
	border-color: transparent #000 transparent transparent;
	position: absolute;
	left: -50px;
	top: 30%;
	cursor: pointer;
}





.zoomy {
	position:absolute;
	display:none;
	background-repeat:no-repeat;
	-webkit-box-shadow:3px 3px 10px #000;
	-moz-box-shadow:3px 3px 10px #000;
	border:0;
	cursor:url(blank.gif), move;
	line-height:100px;
	text-align:center;
	background-position:center;
	background-color:#fff;
	z-index:1000;
}
.zoomy span {
	display:block;
	margin:10px auto;
	background:-webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0.50, rgba(255, 255, 255, 0)), to( rgba(255, 255, 255, .5)));
	background:-moz-linear-gradient(bottom center, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, .5) 100%);
}
.zoomy img {
	opacity:0;
	filter:alpha(opacity=0);
}
.zoomy a {
	color:#333;
	text-decoration:none;
}
/*产品inner切换*/

.pro_sub1 {
	background: #fff;
	margin-bottom: 30px;
}
.pro_sub {
	padding: 30px;
}
.pro_sub_bt{
	width:100%;
	}
.pro_sub_bt h2 {
	font-size:32px;
	letter-spacing:2px;
	text-transform: uppercase;
	float:left;
	width:80%;
	margin-top:0px;
}
.pro_sub_bt h4 {
	width:20%;
	font-size:28px;
	float:right;
	margin-top:0px;
}
.pro_xian {
	width: 100%;
	height:3px;
	background: #000;
	margin: 0px auto;
	margin-top:20px;
}
.pro_sub h5{
	font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
	color:#000;
	margin-bottom:12px;
	margin-top:0px;
	}
.pro_sub h5 span{
	color:#D71819;
	}
.pro_xian1 {
	width: 30px;
	height: 1px;
	background: #ddd;
	margin: 20px auto;
}
.pro_sub p {
	color: #666;
}
.tansuo{
	width:120px;
	margin:0 auto;
	line-height:35px;
	margin-top:15%;
	color:#000;
	text-align:center;
	border:1px solid #000;
	position:relative; z-index:2;
	}
.tansuo:before{
	width:0%;
	height:100%;
	content:'';
	position:absolute; left:0; top:0;
	background:#D71819;
	
	z-index:-1;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
	}
.tansuo:hover:before{
	width:100%;
	}
.tansuo a{
	color:#000;
	
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
	}	
.tansuo:hover a{
	color:#fff;
	text-decoration:none;
	
	}		

.pro_sub_down {
}
.pro_sub_more input{
	 background-color: #fff;
    max-width:80px;
	line-height:50px;
    display: block;
    margin: 15px 0;
    text-align: center;
    min-width: 80px;
}
.pro_sub_more1 a{
	display: inline-block;
    width: auto;
    text-align: center;
    padding: 13px 15px 15px 15px;
    border: 2px solid #262626;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #262626;
    line-height: 18px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    background-color: transparent;
    cursor: pointer;
    position: relative;
}
.pro_sub_more1 a:hover{
	background:#D71819;
	color:#fff;
	border: 2px solid #D71819;
}
.pro_sub_down_l {
	padding-top: 50%;
}
.pro_down {
	width: 100%;
	background: #f5f5f5;
	margin-top: 3%;
}
.pro_down1 {
	width: 73%;
	margin: 0 auto;
	padding: 20px 0;
}
.pro_down1_sub {
	border-left: 1px solid #bbb;
	padding: 10%;
	text-align: center;
}
.pro_down1_sub i {
	font-size: 24px;
	color: #000;
	padding-bottom: 20px;
}
.pro_down1 h2 {
	font-size: 18px;
}

	
.pro_inner_l{
	width:100%;background:#f5f5f5;
	}	
.pro_inner_l img{
	padding:6% 20%;
	text-align:center;
	margin:0 auto;
	
	}	
.pro_inner_r_fen{
	background:#f5f5f5;
	margin-top:20px;
	}	
.pro_inner_r_fen ul li{
	width:33.3%;
	float:left;
	line-height:30px;
	background:none;
	text-align:center;
	padding:10px 0 ;

	}		
.pro_inner_r_fen ul li a{
	color:#000;
	}	
	
.pro_inner_r_fen ul li a:hover{
	color:#000;
	}		
	
.pro_inner_r_fen1{
	margin-top:20px;
	display:none;
	}	
.pro_inner_r_fen1 p{
	line-height:25px;
	text-align:left;
	margin-bottom:0px;
	}	
	
.pro_inner_xian{
	width: 100%;
	height: 1px;
	background: #ddd;
	margin: 20px auto;
}	
.guige{
	padding-top:20px;
	}	
.guige_up{
	}	
	
.guige_up span{
	color:#000;
	}	
.guige_up ul{
	padding-left:0px;
	margin-top:15px;
	}	
	
.guige_up ul li{
	width:35px;
	height:35px;
	float:left;
	 background-color: #fff;
    color: #333;
    transform: scale(1.1);
	margin-right:10px;
    cursor: pointer;
    box-shadow: none;
	border:1px solid #000;
	}	
	
	
	
.guige_r_sub{
	padding:20px 0;
	background:#f5f5f5;
	}	
.guige_r{
	width:60%;
	margin:0 auto;
	
	}
.guige_r p{
	font-size:18px;
	color:#000;
	}
.guige_down{
	}
.guige_down_l{
	float:left;
	text-align:left;
	padding-right:8%;
	line-height:25px;
	}
.guige_down_m{
	width:41%;
	float:left;
	text-align:left;
	padding-right:8%;
	margin-top:2%;
	}
.pro_inner_fx{
	text-align:left;
	}
.pro_inner_fx ul{
	padding-left:0px;
	margin-top:15px;
	}
.pro_inner_fx ul li{
	float:left;
	font-size:14px;
	margin-right:5%;
	color:#000;
	}
.pro_inner_fx ul li i{
	font-size:20px;
	padding-right:10px;
	}

.pro_inner_tu{
	width:60%;
	margin:50px auto;
	}

.fanhui{
	width:120px;
	margin:0 auto;
	line-height:35px;
	margin-top:5%;
	color:#000;
	text-align:center;
	border:1px solid #000;
	position:relative; z-index:2;
	}
.fanhui:before{
	width:0%;
	height:100%;
	content:'';
	position:absolute; left:0; top:0;
	background:#D71819;
	
	z-index:-1;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
	}
.fanhui:hover:before{
	width:100%;
	}
.fanhui a{
	color:#000;
	
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
	}	
.fanhui:hover a{
	color:#fff;
	text-decoration:none;
	
	}	
	
.geren_l_xz {
	width:100%;
	color: #999;
	font-size: 16px;
	line-height:50px;
	border: 1px solid #ddd;
	padding: 3px 15px;
	cursor: pointer;
	position: relative;
}
.geren_l_xz>div {
	float: right;
	line-height:50px;
	
}
.geren_l_xz>ul {
	width: 100%;
	position: absolute;
	top: 100%;
	left: 0;
	padding: 0;
	margin: 0;
	border:1px solid #ddd;
	display: none;
	z-index:100;
}
.geren_l_xz>ul>li {]
display:block;
	line-height:50px;
	color:#999;
	font-size: 16px;
	text-align: center;
	-webkit-transition: all 0.3s ease-in-out;
	-khtml-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background: #fff;
}
.geren_l_xz>ul>li>a {
	color: #999;
}
.geren_l_xz>ul>li:hover {
	background: rgba(201,140,58,0.5);
}	
	
.pro_fanhui{
	width:130px;
	display:block;
	margin:50px auto;
	
	}
.pro_fanhui a{
	display: inline-block;
    width: auto;
    text-align: center;
    padding: 13px 25px 15px 25px;
    border: 2px solid #262626;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #262626;
    line-height: 18px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    background-color: transparent;
    cursor: pointer;
    position: relative;
}
.pro_fanhui a:hover{
	background:#D71819;
	color:#fff;
	border: 2px solid #D71819;
}


/*NEWS*/
.news_nr1{
	padding-bottom:80px;
	background:#f5f5f5
	}

.news_nr2{
	margin-bottom:80px;
	}
.news2_l{
	background: #fff;
    box-shadow: 0 0 5px rgba(132,132,132,0.5);
    text-align: center;
    margin-bottom: 30px;
	}

.news2_l_bt{
	background:#D71819;
	color:#fff;
	padding:5% 0;
	}
.news2_l_bt h4{
	font-size:16px;
	margin:5px 0;
	}

.news2_l_bt h2{
	font-size:24px;
	margin:0;
	}
.news2_l_text{
	padding:6%;
	}
.news2_l p{
	font-size:12px;
	
	line-height:25px;
	text-align:left;
	}









	
.clm{
	margin-left:0 !important;
	margin-right:0 !important;
	}	
.clp{
	padding-left:0 !important;
	padding-right:0 !important;
	}
.clm1{
	margin-left:-30px !important;
	margin-right:-30px !important;
    }
.clp1{
	padding-left:30px !important;
	padding-right:30px !important;
    }				
	
.clb{
	padding-left:7px !important;
	padding-right:7px !important;
    }	




