/* AB模版网 做最好的织梦整站模板下载网站 Www.AdminBuy.Cn */
/* QQ：9490489 */
/* 仿站：Fang.AdminBuy.Cn */
/* 素材：Sc.AdminBuy.Cn */
body{}
a{color:#333; /*主链接颜色*/}
a:hover,a:focus{color:#6eb83f; /*链接经过颜色*/}

/*COM 共用代码-Start*/
.wrapperny{width:1200px; /*网页宽度*/ margin:0px auto; position:relative;}

body .animated15{-webkit-animation-duration:1.5s;}
body .bounceIn1{-webkit-animation-duration:1s;}

.com_bgFA{background:#FAFAFA;}
.com_pd60{padding:60px 0px;}
.com_borbg{border:1px solid #EBEBEB; background:#FFF;}
.com_transition{transition:all 0.3s ease-in 0s;}
.com_main{background:#FAFAFA; padding:65px 0px 80px 0px;}
.com_footer{padding:70px 0px 0px 0px; border-top:1px solid #EBEBEB;}

.com_index_title{text-align:center;}
.com_index_title h2{background:url(../images/icon/line_01.png) no-repeat center bottom; height:64px; line-height:64px; font-size:36px; color:#4b3d2b;}
.com_index_title p{padding:15px 0px; font-size:14px;}

.com_banner{height:220px; text-align:center; color:#fafafa; padding:160px 0px 0px 0px; position:relative; z-index:1; position:absolute; left:0; top:0; right:0;}
.com_banner h2{height:108px; line-height:108px; font-family:"华文细黑","微软雅黑"; font-size:72px;}
.com_banner span{display:inline-block; zoom:1; *display:inline; width:153px; height:34px; line-height:34px; border:1px solid #7C7A72; font-size:18px;}
.ban_product{background:url(../images/footerBg.jpg) no-repeat center top;}
.ban_citylife{background:url(../images/background/banner_02.png) no-repeat center top;}
.ban_contactus{background:url(../images/background/banner_03.png) no-repeat center top;}
.ban_service{background:url(../images/background/banner_04.png) no-repeat center top;}
.ban_news{background:url(../images/background/banner_05.png) no-repeat center top;}
.ban_news span{border:1px solid #CCC;}
.ban_merchants{background:url(../images/background/banner_06.png) no-repeat center top;}
.ban_merchants span{border:1px solid #CCC;}

.com_page{height:30px; line-height:30px;}
.com_page ul{text-align:center;}
.com_page ul li{display:inline-block; zoom:1; *display:inline; margin:0px 5px; color:#666;}
.com_page ul li a{display:inline-block; zoom:1; *display:inline; width:28px; height:28px; line-height:28px; border:1px solid #EBEBEB; text-align:center; border-radius:3px; font-size:14px;}
.com_page ul li a img{width:28px; height:28px;}
/*.com_page ul li.prev a,
.com_page ul li.next a{background:url(../images/icon/prevnext_01.png) no-repeat;}
.com_page ul li.next{background-position:0px -28px;}*/

.com_left{width:123px; border:1px solid #EBEBEB;}
.com_left ul li{width:123px; height:74px; line-height:74px; border-bottom:1px solid #EBEBEB; font-size:14px; color:#666; text-align:center;}
.com_left ul li:last-child{border-bottom:none;}
.com_left ul li a{width:123px; height:74px; display:block; color:#666;}
.com_left ul li.cur a,
.com_left ul li a:hover{background:#6eb83f; color:#FFF; text-decoration:none;}
.com_right{width:945px; padding:16px 39px 100px 39px;}
.title{height:84px; line-height:84px; border-bottom:1px solid #EBEBEB; padding:0px 13px; font-size:24px;}

/*COM 共用代码-End*/
.desc{padding-top:20px;}
/* banner-Start */
.banner{width:100%; margin:0 auto; position:relative; z-index:1;}
.banner ul{width:100% !important;}
.banner ul li{width:100% !important; height:600px;}
.banner ul li a{width:100%; height:600px; display:block;}

/* banner-End */

/* footer-Start */
.footer{}
	.row_05{overflow:hidden;}
	.row_05 .wrapper{width:1220px;}
	.row_05 dl{width:248px; float:left; border:1px solid #F5F5F5; border-bottom:none; margin-left:-1px; *display:inline; padding:20px 25px; min-height:170px;}
	.row_05 dl dt{height:40px; line-height:40px; font-size:16px; color:#000;}
	.row_05 dl dt a{color:#000;}
	.row_05 dl dt span{font-size:12px; padding:0px 6px;}
	.row_05 dl dd{height:32px; line-height:32px; color:#666;}
	.row_05 dl dd a{color:#666;}
	.row_05 dl.last dd em{font-size:16px;}
	.row_05 dl.last dd b{font-size:30px;}
	.row_05 dl.last dd.link{padding:20px 0px 10px 0px;}
	.row_05 dl.last dd.link a{padding:0px 15px 0px 25px;}
	.row_05 dl.last dd.link a:hover{opacity:.7; filter:alpha(opacity=70);}
	.row_05 dl.last dd.link a.a1{background:url(../images/icon/icon_02.png) no-repeat;}
	.row_05 dl.last dd.link a.a2{background:url(../images/icon/icon_03.png) no-repeat;}
	.row_05 dl.last dd.link a.a3{background:url(../images/icon/icon_04.png) no-repeat;}
	
	.copyright{background:#333; padding:35px 0px 20px 0px; text-align:center;}
	.copyright img{width:236px; height:21px;}
	.copyright p{height:40px; line-height:40px; color:#fefefe;}

/* footer-End */

/* 中部区域-Start */
.main{}
	.row_01 .head p{line-height:8px; font-size:6px; color:#000; -webkit-transform:scale(0.7);}
	.row_01 .body ul li{width:576px; height:224px; padding:8px; background:#FFF; float:left; margin:0px 16px 0px 0px; *display:inline;}
	.row_01 .body ul li.mg0{margin:0px;}
	.row_01 .body .thumb{width:284px; height:224px;}
	.row_01 .body .thumb img{width:284px; height:224px;}
	.row_01 .body .desc{width:284px; height:224px;}
	.row_01 .body .desc a{display:block; width:284px; height:60px; text-align:center; padding:82px 0px; background:url(../images/background/bg_02.png) no-repeat;}
	.row_01 .body .desc h3{height:35px; line-height:35px; font-size:24px;}
	.row_01 .body .desc span{font-size:10px;}
	.row_01 .body .desc a:hover{text-decoration:none; opacity:.7; filter:alpha(opacity=70);}
	
	.row_02{background:url(../images/background/bg_03.jpg) no-repeat center top; border-top:1px solid #EBEBEB; border-bottom:1px solid #EBEBEB;}
	.row_02 .head h2{background:url(../images/icon/line_02.png) no-repeat center bottom; color:#FFF;}
	.row_02 .head p{color:#FFF;}
	.row_02 .body{padding:59px 0px 0px 0px;}
	.row_02 .body ul li{width:180px; float:left; margin:0px 60px; *display:inline; opacity:0; filter:alpha(opacity=0);/* opacity: 1; transform: scaleX(1) scaleY(1);*/ /*animation-duration:1.5s; -webkit-animation-duration:1.5s; -moz-animation-duration:1.5s; -ms-animation-duration:1.5s; -o-animation-duration:1.5s;*/}
	.row_02 .body ul li.bounceIn{opacity:1; filter:alpha(opacity=100);}
	.row_02 .body .thumb{width:170px; height:50px; line-height:50px; padding:90px 5px 30px 5px; background:url(../images/icon/icon_01.png) no-repeat center 0px; text-align:center; font-size:18px; color:#FFF;}
	.row_02 .body .i2 .thumb{background-position:center -170px;}
	.row_02 .body .i3 .thumb{background-position:center -340px;}
	.row_02 .body .i4 .thumb{background-position:center -510px;}
	.row_02 .body .desc{padding:10px 0px; height:66px; line-height:22px; color:#FFF; text-align:center;}
	
	
	
	.row_03{border-bottom:1px solid #EBEBEB;}
	.row_03 .body{padding:60px 0px 0px 0px; overflow:hidden;}
	.row_03 .body ul{width:1250px;}
	.row_03 .body ul li{width:350px; padding:14px; border:1px solid #EBEBEB; float:left; margin:0px 30px 0px 0px; *display:inline; position:relative;}
	.row_03 .body .thumb{width:350px; height:240px;}
	.row_03 .body .thumb img{width:350px; height:240px;}
	.row_03 .body .desc h3{height:50px; line-height:50px; font-size:14px; color:#666;}
	.row_03 .body .desc h3 a{color:#666;}
	.row_03 .body .desc .bd{height:72px; line-height:24px; color:#999;}
	.row_03 .body .desc .ft{padding:10px 0px;}
	.row_03 .body .desc .ft a{width:108px; height:36px; line-height:36px; display:block; background:url(../images/background/bg_04.png) no-repeat; color:#FFF; text-align:center;}
	.row_03 .body .desc .ft a:hover{text-decoration:none; opacity:.7; filter:alpha(opacity=70);}
	
	.row_04 .body .hd{padding:40px 0px; height:48px;}
	.row_04 .body .hd ul{text-align:center;}
	.row_04 .body .hd ul li{width:148px; height:46px; line-height:46px; display:inline-block; zoom:1; *display:inline; border:1px solid #EBEBEB; margin-left:-1px; text-align:center; font-size:14px; color:#666; cursor:pointer;}
	.row_04 .body .hd ul li.on{background:#F5F5F5;}
	.row_04 .body .bd ul{width:100%;}
	.row_04 .body .bd ul li{width:25%; *width:24.9%; float:left;}
	.row_04 .body .bd ul li img{width:100%;}

/* 中部区域-End */

/*产品中心*/
	
	.product .head{height:48px;}
	.product .head ul{text-align:center;}
	.product .head ul li{width:128px; height:48px; display:inline-block; zoom:1; *display:inline; margin:0 5px;}
	.product .head ul li a{width:128px; height:46px; line-height:46px; display:inline-block; zoom:1; *display:inline; border:1px solid #EBEBEB; margin-left:-1px; text-align:center; font-size:14px; color:#666;}
	.product .head ul li.cur a,.product .head ul li:hover a{background:#6eb83f; color:#fff; transition:all 0.3s ease;}
	.product .head ul li a:hover{text-decoration:none;}
	.product .list .hd{padding:30px 29px; overflow:hidden;}
	.product .list .hd ul{width:1200px;}
	.product .list .hd ul li{width:360px; float:left; margin:10px; *display:inline;}
	.product .list .hd .thumb{width:360px; height:265px; position:relative;}
	.product .list .hd .thumb img{width:360px; height:265px;}
	.product .list .hd .thumb .shadow{width:360px; height:265px; background:url(../images/background/bg_05.png) repeat; position:absolute; left:0px; top:0px; /*display:none;*/opacity:0; filter:alpha(opacity=0);transition:all 0.3s ease-in 0s; -webkit-transition:all 0.3s ease-in 0s; -moz-transition:all 0.3s ease-in 0s; -ms-transition:all 0.3s ease-in 0s; -o-transition:all 0.3s ease-in 0s;}
	.product .list .hd .thumb .shadow .icon{width:47px; height:47px; background:url(../images/icon/icon_05.png) no-repeat; position:absolute; left:50%; margin-left:-28px; top:50%; margin-top:-28px;}
	.product .list .hd .desc{height:49px; padding:18px 0px; background:#FAFAFA; text-align:center;}
	.product .list .hd .desc h3{height:26px; line-height:26px; font-size:18px; color:#666;}
	.product .list .hd .desc p{height:23px; margin:0 20px; line-height:23px; color:#b2b2b2;display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;}
	.product .list .hd ul li a:hover{text-decoration:none;}
	.product .list .hd ul li a:hover .shadow{/*display:block;*/opacity:1; filter:alpha(opacity=100);}
	.product .list .hd ul li a:hover .desc{background:#6eb83f;}
	.product .list .hd ul li a:hover .desc h3{color:#FFF;}
	.product .list .hd ul li a:hover .desc p{color:#FFF;}
	.product .list .bd{padding:20px 0px 60px 0px;}

/*产品中心-详细*/
	.product .detail{padding:82px 68px;}
	.product .detail .thumb{width:600px; height:400px;}
	.product .detail .thumb img{width:600px; height:400px;}
	.product .detail .desc{width:420px; height:400px; overflow:hidden;}
	.product .detail .desc .pad{padding:54px 0px 0px 0px;}
	.product .detail .desc h4{height:45px; line-height:45px; font-size:18px; border-bottom:1px dashed #EBEBEB;}
	.product .detail .desc ul li{height:39px; line-height:39px; border-bottom:1px dashed #EBEBEB; color:#999;}
	.product .detail .desc ul li span{width:90px; display:inline-block; zoom:1; *display:inline;}
	.product .detail .desc p{color:#999; padding:20px 0px;}

/*都市生活-品牌文化*/ .culture{padding:0px 0px;} .culture ul li{padding:30px 0px; border-bottom:1px dashed #EBEBEB;} .culture h3{height:40px; line-height:40px; font-size:20px; padding:0px 20px;} .culture h3 em{font-family:"华文中宋","宋体";} .culture p{padding:0px 43px;line-height:30px;} .culture dl{padding:20px 43px 10px 43px;} .culture dl dd{width:281px; height:174px; float:left; margin:0px 1px; *display:inline;} .culture dl dd img{width:281px; height:174px;}
	
/*都市生活-品牌故事*/ .story{padding:0px 10px;} .story .thumb{width:232px; height:240px; padding:45px 0px;} .story .thumb img{width:232px; height:240px;} .story .desc{line-height:30px; color:#666;} .story .desc p{padding:30px 0px;}

/*都市生活-品牌简介*/
.summary{padding:50px 15px 0px 15px;}
 .summary .thumb{text-align:center; height:310px;}
 .summary .thumb img{width:505px; height:310px;}
 .summary .desc{padding:20px 0px;}
 .summary .desc p{padding:15px 0px; line-height:30px; color:#666;}
 .summary .desc .pic{text-align:center; padding:70px 0px;}
.summary .desc .pic img{width:146px; height:164px; margin:0px 20px;}

/*都市生活-品牌历程*/
.process{background:url(../images/icon/line_04.png) repeat-y center 0px; padding:0px 15px; height:1500px; position:relative;}
.process h3{height:40px; line-height:40px; font-size:24px; font-family:"华文中宋","宋体";}
 .process p{line-height:30px; color:#666;}
 .process .arrow{width:17px; height:105px; background:url(../images/icon/line_03.png) no-repeat; position:absolute; left:50%; margin-left:-8px; bottom:-105px;}
 .process .lt,
 .process .rt{width:50%; position:relative;}
.process .lt{text-align:right;} .process .lt .box{padding:0px 40px 0px 0px; background:url(../images/icon/dot_01.png) no-repeat right 10px; position:absolute; right:-10px;} .process .rt .box{padding:0px 0px 0px 40px; background:url(../images/icon/dot_01.png) no-repeat left 10px; position:absolute; left:-8px;} .process .lt .box1{top:94px;} .process .lt .box2{top:227px;} .process .lt .box3{top:346px;} .process .lt .box4{top:500px;} .process .lt .box5{top:696px;} .process .lt .box6{top:890px;} .process .lt .box7{top:1228px;} .process .lt .box8{top:1440px;} .process .rt .box1{top:-10px;} .process .rt .box2{top:168px;} .process .rt .box3{top:287px;} .process .rt .box4{top:410px;} .process .rt .box5{top:600px;} .process .rt .box6{top:795px;} .process .rt .box7{top:976px;} .process .rt .box8{top:1310px;}

/*都市生活-视频中心*/ .video{padding:40px 132px 0px 132px;} .video .box{padding:22px 0px;} .video .thumb{width:680px; height:382px; position:relative;} .video .thumb img{width:680px; height:382px;} .video .thumb .icon1 a{width:41px; height:41px; display:block; background:url(../images/icon/icon_06.png) no-repeat; position:absolute; top:50%; margin-top:-20px; left:50%; margin-left:-20px;} .video .thumb .icon2 a{width:28px; height:28px; display:block; background:url(../images/icon/icon_07.png) no-repeat; position:absolute; top:50%; margin-top:-14px; right:50%; margin-right:-62px;} .video .thumb a:hover{opacity:.7; filter:alpha(opacity=70);} .video .desc{height:55px; line-height:55px; text-align:center; font-size:14px; color:#666;}

/*联系我们-企业信息*/
.inform{padding:95px 225px;}
.inform .thumb{width:452px; height:100px; padding:22px 64px; border:1px solid #EEE;}
 .inform .desc{padding:30px 0px 0px 65px; color:#666;} .inform .desc ul{padding:10px 8px;} .inform .desc ul li{height:48px; line-height:48px; font-size:16px;} .inform .desc .pic{width:133px; height:133px;} .inform .desc .pic img{width:133px; height:133px;} .inform .desc p{height:30px; line-height:30px; padding:10px;}
	
/*联系我们-在线留言*/ .message{padding:50px 140px;} .message ul li{line-height:40px; font-size:14px; color:#999; padding:9px 0px;} .message ul li.last{line-height:none;} .message label{display:block; width:110px; height:40px; line-height:40px; padding:0px 25px 0px 0px; float:left; text-align:right;} .message p{width:530px; float:right;} .message p em{padding:0px 25px 0px 5px;} .message p .text{width:364px; height:30px; line-height:30px; border:1px solid #E6E6E6; background:#FAFAFA; border-radius:5px; padding:4px 17px;} .message p .areatext{width:364px; height:90px; border:1px solid #E6E6E6; background:#FAFAFA; border-radius:5px; padding:4px 17px; resize:vertical;} .message p .button{width:205px; height:45px; background:#6eb83f; font-size:16px; color:#FFF; border:none; border-radius:5px;}

/*联系我们-公司地图*/ .map{padding:104px 71px; width:803px; height:454px;}

/*品牌服务-在线咨询*/
	.service .consult{padding:132px 170px;}
	.service .consult .thumb{height:341px; position:relative;}
	.service .consult .thumb img{width:341px; height:341px;}
	.service .consult .thumb .icon a{height:39px; display:block; padding:18px 80px; background:url(../images/icon/icon_08.png) no-repeat; color:#666; text-align:left; position:absolute;}
	.service .consult .thumb .icon h3{height:24px; line-height:24px; font-size:14px;}
	.service .consult .thumb .icon p{height:15px; line-height:15px; font-size:7px; -webkit-text-size-adjust:none;}
	.service .consult .thumb .icon1 a{background-position:0px 0px; left:268px; top:28px;}
	.service .consult .thumb .icon2 a{background-position:0px -75px; left:300px; top:133px;}
	.service .consult .thumb .icon3 a{background-position:0px -150px; left:268px; top:240px;}
	.service .consult .thumb .icon a:hover{text-decoration:none; opacity:.7; filter:alpha(opacity=70);}

/*品牌服务-养护指南*/
	.service .guide{padding:20px 0px;}
	.service .guide ul li{height:85px; padding:35px 45px 35px 176px; border-bottom:1px dashed #EBEBEB; position:relative;}
	.service .guide ul li em{width:85px; height:85px; display:block; background:url(../images/icon/icon_10.png) no-repeat; position:absolute; left:52px; top:35px;}
	.service .guide ul li em.i2{background-position:0px -85px;}
	.service .guide ul li em.i3{background-position:0px -170px;}
	.service .guide ul li em.i4{background-position:0px -255px;}
	.service .guide ul li em.i5{background-position:0px -340px;}
	.service .guide ul li em.i6{background-position:0px -425px;}
	.service .guide ul li .desc{padding:18px 0px; height:49px; line-height:24px; overflow:hidden;}

/*新闻中心-企业新闻*/
	.news .list .hd ul li{height:120px; padding:35px 20px 35px 15px; border-bottom:1px dashed #EBEBEB;}
	.news .list .hd .thumb{width:200px; height:120px;}
	.news .list .hd .thumb img{width:200px; height:120px;}
	.news .list .hd .desc{width:685px;}
	.news .list .hd .desc h3{height:50px; line-height:50px; font-size:18px;}
	.news .list .hd .desc h3 span{float:right; font-size:12px; color:#999;}
	.news .list .hd .desc p{line-height:24px; height:48px;}
	.news .list .bd{padding:60px 0px 0px 0px;}

/*新闻中心-详情*/
	.news .detail .title{text-align:center; height:auto; line-height:25px; padding:10px 0px}
	.news .detail .title h2{height:36px; line-height:36px; font-size:20px;}
	.news .detail .title span{font-size:12px; color:#999;}
	.news .detail .body{padding:0px 20px;}
	.news .detail .body p{line-height:30px; color:#999; padding:15px 0px;}
	.news .detail .body .thumb{text-align:center; padding:15px 0px;}
	.news .detail .body .thumb img{width:687px; height:408px;}

/*招商加盟-加盟政策*/
	.merchant .policy{padding:10px 0px;}
	.merchant .policy .hd h3{height:80px; line-height:80px; font-size:20px;}
	.merchant .policy h3 em{font-family:"华文中宋","宋体";}
	.merchant .policy .box1{padding:0px 10px 60px 10px; border-bottom:1px dashed #EBEBEB;}
	.merchant .policy .box1 .bd{padding:28px 15px; border:1px solid #EBEBEB; background:#FAFAFA;}
	.merchant .policy .box1 .bd ul li{width:420px; height:36px; line-height:36px; float:left; background:url(../images/icon/dot_02.png) no-repeat 0px center; padding:0px 10px;}
	.merchant .policy .box2{padding:10px 10px 60px 10px;}
	.merchant .policy .box2 ul li{line-height:36px; color:#666; padding:0px 0px 0px 25px;}
	.merchant .policy .box2 ul li span{width:110px; float:left; display:block;}
	.merchant .policy .box2 ul li em{width:780px; float:right;}

/*招商加盟-加盟流程*/
	.merchant .process .pic{width:830px; margin:0px auto; padding:50px 0px 0px 0px;}
	.merchant .process .pic1{height:358px;}
	.merchant .process .pic1 img{width:830px; height:358px;}
	.merchant .process .pic2{height:549px;}
	.merchant .process .pic2 img{width:830px; height:549px;}

/*招商加盟-终端展示*/
	.merchant .exhibition{padding:70px 15px; position:relative;}
	.merchant .exhibition img{width:915px; height:600px;}
	.merchant .exhibition .box{width:825px; height:126px; padding:0px 45px; background:url(../images/background/bg_07.png) repeat-x center center; position:absolute; bottom:110px; left:15px;}
	.merchant .exhibition .box .thumb{width:120px; height:80px; background:url(../images/background/bg_08.png) no-repeat; padding:23px 21px;}
	.merchant .exhibition .box .thumb select{width:120px; height:30px; margin:5px 0px;}
	.merchant .exhibition .box .desc{width:615px; height:50px; padding:28px 0px; color:#FFF;}
	.merchant .exhibition .box .desc h3{height:30px; line-height:30px; font-size:20px;}
	.merchant .exhibition .box .desc p{height:20px; line-height:20px;}


