.y_1 {
    width: 70px;
    height: 70px;
    background-position: -0px -0px;
}

.y_2 {
    width: 70px;
    height: 70px;
    background-position: -0px -70px;
}

.y_3 {
    width: 70px;
    height: 70px;
    background-position: -0px -140px;
}

.y_4 {
    width: 70px;
    height: 70px;
    background-position: -0px -210px;
}

.z_1 {
    width: 52px;
    height: 52px;
    background-position: -0px -280px;
}

.z_2 {
    width: 52px;
    height: 52px;
    background-position: -0px -332px;
}

.z_3 {
    width: 52px;
    height: 52px;
    background-position: -0px -384px;
}

.z_4 {
    width: 52px;
    height: 52px;
    background-position: -0px -436px;
}

.a {
    width: 50px;
    height: 50px;
    background-position: -0px -488px;
}

.b {
    width: 50px;
    height: 50px;
    background-position: -0px -538px;
}

.c {
    width: 50px;
    height: 50px;
    background-position: -0px -588px;
}

.d {
    width: 50px;
    height: 50px;
    background-position: -0px -638px;
}

.e {
    width: 50px;
    height: 50px;
    background-position: -0px -688px;
}

.f {
    width: 50px;
    height: 50px;
    background-position: -0px -738px;
}

.g {
    width: 50px;
    height: 50px;
    background-position: -0px -788px;
}

.h {
    width: 50px;
    height: 50px;
    background-position: -0px -838px;
}

.i {
    width: 50px;
    height: 50px;
    background-position: -0px -888px;
}

.j {
    width: 50px;
    height: 50px;
    background-position: -0px -938px;
}

.k {
    width: 50px;
    height: 50px;
    background-position: -0px -988px;
}

.l {
    width: 50px;
    height: 50px;
    background-position: -0px -1038px;
}

.cdr_15 {
    width: 45px;
    height: 45px;
    background-position: -0px -1088px;
}

.cdr_15-15 {
    width: 45px;
    height: 45px;
    background-position: -0px -1133px;
}

.cdr_16 {
    width: 45px;
    height: 45px;
    background-position: -0px -1178px;
}

.cdr_16-16 {
    width: 45px;
    height: 45px;
    background-position: -0px -1223px;
}

.cdr_17 {
    width: 45px;
    height: 45px;
    background-position: -0px -1268px;
}

.cdr_17-17 {
    width: 45px;
    height: 45px;
    background-position: -0px -1313px;
}

.cdr_18 {
    width: 45px;
    height: 45px;
    background-position: -0px -1358px;
}

.cdr_18-18 {
    width: 45px;
    height: 45px;
    background-position: -0px -1403px;
}

.cdr_19 {
    width: 45px;
    height: 45px;
    background-position: -0px -1448px;
}

.cdr_19-19 {
    width: 45px;
    height: 45px;
    background-position: -0px -1493px;
}

.cdr_20 {
    width: 45px;
    height: 45px;
    background-position: -0px -1538px;
}

.cdr_20-20 {
    width: 45px;
    height: 45px;
    background-position: -0px -1583px;
}

.cdr_21 {
    width: 45px;
    height: 45px;
    background-position: -0px -1628px;
}

.cdr_21-21 {
    width: 45px;
    height: 45px;
    background-position: -0px -1673px;
}

.cdr_1 {
    width: 45px;
    height: 45px;
    background-position: -0px -1718px;
}

.cdr_1-1 {
    width: 45px;
    height: 45px;
    background-position: -0px -1763px;
}

.cdr_2 {
    width: 45px;
    height: 45px;
    background-position: -0px -1808px;
}

.cdr_2-1 {
    width: 45px;
    height: 45px;
    background-position: -0px -1853px;
}

.cdr_3 {
    width: 45px;
    height: 45px;
    background-position: -0px -1898px;
}

.cdr_3-3 {
    width: 45px;
    height: 45px;
    background-position: -0px -1943px;
}

.cdr_4 {
    width: 45px;
    height: 45px;
    background-position: -0px -1988px;
}

.cdr_4-4 {
    width: 45px;
    height: 45px;
    background-position: -0px -2033px;
}

.cdr_5 {
    width: 45px;
    height: 45px;
    background-position: -0px -2078px;
}

.cdr_5-5 {
    width: 45px;
    height: 45px;
    background-position: -0px -2123px;
}

.cdr_6 {
    width: 45px;
    height: 45px;
    background-position: -0px -2168px;
}

.cdr_6-6 {
    width: 45px;
    height: 45px;
    background-position: -0px -2213px;
}

.cdr_7 {
    width: 45px;
    height: 45px;
    background-position: -0px -2258px;
}

.cdr_7-7 {
    width: 45px;
    height: 45px;
    background-position: -0px -2303px;
}

.cdr_8 {
    width: 45px;
    height: 45px;
    background-position: -0px -2348px;
}

.cdr_8-8 {
    width: 45px;
    height: 45px;
    background-position: -0px -2393px;
}

.cdr_9 {
    width: 45px;
    height: 45px;
    background-position: -0px -2438px;
}

.cdr_9-9 {
    width: 45px;
    height: 45px;
    background-position: -0px -2483px;
}

.cdr_10 {
    width: 45px;
    height: 45px;
    background-position: -0px -2528px;
}

.cdr_10-10 {
    width: 45px;
    height: 45px;
    background-position: -0px -2573px;
}

.cdr_11 {
    width: 45px;
    height: 45px;
    background-position: -0px -2618px;
}

.cdr_11-11 {
    width: 45px;
    height: 45px;
    background-position: -0px -2663px;
}

.cdr_12 {
    width: 45px;
    height: 45px;
    background-position: -0px -2708px;
}

.cdr_12-12 {
    width: 45px;
    height: 45px;
    background-position: -0px -2753px;
}

.cdr_13 {
    width: 45px;
    height: 45px;
    background-position: -0px -2798px;
}

.cdr_13-13 {
    width: 45px;
    height: 45px;
    background-position: -0px -2843px;
}

.cdr_14 {
    width: 45px;
    height: 45px;
    background-position: -0px -2888px;
}

.cdr_14-14 {
    width: 45px;
    height: 45px;
    background-position: -0px -2933px;
}

