@charset "utf-8";

/* global */
@import url("global.css");


.fckBody h1{font-size:1.5em;}
.fckBody h2{font-size:1.4em;}
.fckBody h3{font-size:1.3em;}
.fckBody h4{font-size:1.2em;}
.fckBody h5{font-size:1.1em;}
.fckBody h6{font-size:1em;}
.fckBody em{font-style:italic;}
.fckBody h1,.fckBody h2,.fckBody h3,.fckBody h4,.fckBody h5,.fckBody h6 {margin:10px 0;font-weight:700;}

