.index_top_body{background:url(../images/top_bg.jpg) center bottom no-repeat;
	padding:60px 0 70px;}
.index_top_body h3{font-size:58px;font-size:5.8rem;line-height:68px;line-height:6.8rem;
	color:#333;}
.index_top_body p{font-size:18px;font-size:1.8rem;line-height:26px;line-height:2.6rem;
	color:#333;margin-top:20px;}

.index_list_body{}
.index_list_body ul li .img_out{position:relative;overflow:hidden;}
.index_list_body ul li .img_out img{display:block;width:100%;transition:all ease 0.3s;}
.index_list_body ul li .img_out .mask{position:absolute;top:0;left:0;right:0;bottom:0;width:100%;
	height:100%;box-sizing:border-box;padding:30px;padding:3rem;}
.index_list_body ul li .img_out .mask h3{font-size:30px;font-size:3rem;color:#fff;margin-bottom:5px;line-height:30px;line-height:3rem;}
.index_list_body ul li .img_out .mask p{color:rgba(255,255,255,0.7);font-size:14px;font-size:1.4rem;
	line-height:18px;line-height:1.8rem;}
.index_list_body ul li:hover .img_out img{transform:scale(1.05);}
.index_list_body ul li .img_out .mask.black h3 {color:#333;}
.index_list_body ul li .img_out .mask.black p{color:rgba(0,0,0,0.7);}

.index_customer_body{background-color:#f8f8f8;padding:40px 0 60px;}
.index_customer_body h3.tit{font-size:32px;font-size:3.2rem;color:#ff0404;margin-bottom:35px;}
.index_customer_body ul li{float:left;margin-right:30px;width:160px;height:50px;}
.index_customer_body ul li:last-child{margin-right:0;}
.index_customer_body ul li img{display:block;width:100%;}
