#projects li.grid-item{width:33.3%;}
#projects .project-info{padding-top:0;}
#projects .project-info h1.grid-title{text-align:left;top:auto;bottom:16%;
	position:absolute;left:5%;}
#projects .project-info h6.project-cat{text-align:left;top:auto;bottom:8%;
	position:absolute;left:5%;}
#projects .project-info h6.project-type{text-align:left;top:10%;position:absolute;left:5%;
	color:#c2c2c2;font-size:px;}
	
.index_more{font-size:15px !important;}


.times-two li{background-color:#fff !important;}

.times-two li .content-block{display:none;}
.mobile_equals{display:none;}


.mobile_equals #about_us{padding:5%;}
.mobile_equals #about_us h2.block-heading{font-size:1.4em;}
.mobile_equals #about_us .method-field h2{font-size:1em;}
.mobile_equals #about_us .method-field p{font-size:0.8em;}
.mobile_equals #about_us .method-field h3{font-size:0.8em;}

.mobile_equals #about_us_b{background:url(../images/bg.jpg);background-size:cover;
	padding:10% 5%;}
.mobile_equals #about_us_b .img_out{width:70%;margin:0 auto 10px;}
.mobile_equals #about_us_b p{font-size:0.8em;margin:0;}

.mobile_equals #service{padding:5%;}
.mobile_equals #service h2.block-heading{font-size:1.4em;}
.mobile_equals #service .method-field table th{width:20%;}
.mobile_equals #service table thead th, table tbody td, table tr td{border:0;}
.mobile_equals #service .method-field h2{font-size:1em;}
.mobile_equals #service .method-field p{font-size:0.8em;}

.mobile_equals #service_b{background:url(../images/bg.jpg);background-size:cover;
	padding:10% 5%;}
.mobile_equals #service_b .img_out{width:70%;margin:0 auto 10px;}

.mobile_equals #cooperation{padding:5%;}
.mobile_equals #cooperation h2.block-heading{font-size:1.4em;}
.mobile_equals #cooperation .method-field h2{font-size:1em;}
.mobile_equals #cooperation .method-field p{font-size:0.8em;}
.mobile_equals #cooperation .method-field h3{font-size:0.8em;}
.mobile_equals #cooperation .method-field table th{width:20%;vertical-align:top;padding-top:20px;
	padding-right:10px;}
.mobile_equals #cooperation .method-field table th img{width:100%;padding:0;margin:0;}

.mobile_equals #cooperation_b{background:url(../images/bg.jpg);background-size:cover;
	padding:10% 5%;}
	
.about_body{background:url(../images/about_bg.jpg) center no-repeat;
	background-size:cover;padding:2% 0;}
.about_body *{transition:all 600ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s}
.about_body ul li{width:50%;float:left;}
.about_body ul li table{width:100%;height:100%;background:none;border:0;margin-bottom:0;}
.about_body ul li table td{height:100%;vertical-align:middle;}
.about_body ul li p{color:#fff;text-align:center;font-size:15px;}
.about_body ul li div.out{border-right:1px solid #5b5958;padding:50px 0;}
.about_body ul li div.out_1{padding:50px 0 50px 20px;}
.about_body ul li h3{color:#ff0600;padding-bottom:20px;}
.about_body ul li ul li p{text-align:left;}
.about_body .li_1{border-right:1px solid #5b5958;}
.about_body .li_1_div{border-top:1px solid #5b5958;margin:0 25px;padding:80px 0 40px;}
.about_body .li_1_div p{text-align:left;}
.about_body img{display:block;}
.about_body ul li.li_2 img{margin:0 auto;}


@media only screen and (max-width : 1024px) { 
.about_body .txt_2{width:80%;}
.about_body .li_1_div p img{width:100%;max-width:100%;}
}



@media only screen and (max-width : 769px) { 


#more_case h3{font-size:18px;}
#more_case .white.line-button{width:160px;margin:10px auto 0;
	height:35px;line-height:35px;}

.about_body ul{margin:0;}	
.about_body ul li{width:100%;float:none;}
.about_body ul li ul li{border:0;border-bottom:1px solid #5b5958;width:90%;margin:0 5%;}
.about_body .li_1_div{padding:20px 0 10px;border:0;border-bottom:1px solid #5b5958;
	margin:0 5%;}
.about_body p{font-size:14px !important;}
.about_body ul li div.out , .about_body ul li div.out_1{padding:10px 0 0;border:0;}
.about_body .txt_2{width:50%;}
.about_body ul li.li_2{margin:0 5%;width:90%;padding-top:10px;}
.about_body ul li.li_2 p{text-align:left;}
.about_body ul li.li_2 img{width:60%;margin:0;}
.about_body .li_1{border:0;}

#slides ul li img{margin-left:8% !important;}

}

