/* start reset */
 

/* end reset */

/* old */

/* color */
.red,a.red,a.red:hover{color:#c00;}
.blue,a.blue,a.blue:hover{color:#6994d9;}
.gray,a.gray,a.gray:hover{color:#999;}
.green,a.green,a.green:hover{color:green;}
.orange,a.orange,a.orange:hover{color:#f60;}
.black,a.black,a.black:hover{color:#333;}
.red_c00{color:#c00;}
.red_f11f1f{color:#f11d1d;}
.white{color:#fff;}

/* font-size */
.f10{font-size:10px;}.f12{font-size:12px;}.f14{font-size:14px;}.f16{font-size:16px;}.f18{font-size:18px;}.f20{font-size:20px;}.f22{font-size:22px;}
.fs9{font-size:9px;}.fs11{font-size:11px;}.fs12{font-size:12px;}.fs14{font-size:14px;}.fs16{font-size:16px;}.fs20{font-size:20px;}

input.txt{padding:2px;background:#fff;border:1px solid #dcd9d4;color:#888;}
input.txt_focus{border:1px solid #c00;}
input.btn{cursor:pointer;}
textarea.txt{padding:2px 0 2px 3px;vertical-align:middle;border:1px solid #ccc;background:#fff;color:#777;}
textarea.txt_focus{border:1px solid #c00;}

/* class */
.hand{cursor:pointer;}.tal{text-align:left;}.tac{text-align:center;}.tar{text-align:right;}.vam{vertical-align:middle;}.b{font-weight:bold;}.ajax_state{display:none;}.hand{cursor:pointer;}.strong{font-weight:600;}.hidden{display:none;}.price{font-family:tahoma;font-weight:800;color:#c00;}.captcha{cursor:pointer;}.fb{font-weight:600;}.b{font-weight:bold;}.dpn{display:none;}.ftl{float:left;}.ftr{float:right;}.post_error{padding-left:5px;color:#f00;}.post_notice{padding-left:5px;color:#84858a;}.clear{clear:both;height:0;overflow:hidden;}
input[type="text"].captcha{bblr:expression(this.onfocus=this.blur());ime-mode:disabled;}

/* pages box */
.page_all{width:960px;}
.page_all .location{padding-left:15px;color:#999;font-size:11px;padding-top:20px;padding-bottom:5px;}
.page_all .eventlocation{border-bottom:1px solid #ddd;}
.page_all .location a:link, .page_all .location a:visited{font-size:12px;}
.page_all .location span{font-size:10px;font-family:宋体;padding:0 3px;}
/* page loading */
#div_page_loading{padding:5px;width:180px;line-height:35px;background:#fff;border:1px solid #ddd;text-align:center;}
#container{width:960px;margin:0 auto;text-align:left;}

/* list */
.page_main{}
.page_main .left_box{width:195px;float:left;}
.page_main .left_box .catalog, .page_main .left_box .product{border:1px solid #EFEFEF;padding:18px 6px 11px 6px;}
.page_main .left_box .catalog dl{padding:7px 0 7px 0;}
.page_main .left_box .catalog dl dt{font-size:14px;font-weight:bold;padding:9px 0 0 25px;}
.page_main .left_box .catalog dl dd{padding-left:40px;line-height:24px;color:#999;}
.page_main .left_box .catalog dl dt a.on, .page_main .left_box .catalog dl dd a.on{color:#c00;}
.page_main .left_box .product div.pic{text-align:center;padding:14px 0 10px 0;}
.page_main .left_box .product div.pic img{border:1px solid #F1F1F1;}
.page_main .left_box .product div.box{width:160px;margin:0 auto;}
.page_main .left_box .product div.box div.title{line-height:1.6;}
.page_main .left_box .product div.box div.detail{line-height:20px;}
.page_main .left_box .product div.box div.detail span.price{color:#c00;font-weight:bold;font-size:14px;}
.left_boxs{border:1px solid #ddd;clear:both;margin-top:12px;}
.left_boxs h4{height:24px;line-height:24px;font-size:12px;padding-left:10px;color:#666;background:#eee;}
.left_boxs .adv_search_box{padding:0 10px 15px 10px;}
.left_boxs .adv_search_box span{padding-top:12px;display:block;}
.left_boxs .adv_search_box span select{background:#fff;color:#666;font-size:12px;width:173px;}
.left_boxs .adv_search_box span input.txtinput{width:45px;height:18px;color:#666;background:#fff;font:12px tahoma, arial, verdana, geneva, sans-serif;border:1px solid #c4c4c4;}
.left_boxs ul.viewed_products{width:192px;margin:0 auto;padding-top:10px;}
.left_boxs ul.viewed_products li{width:96px;text-align:center;height:115px;float:left;}
.left_boxs ul.viewed_products li img{border:1px solid #ddd;}
.left_boxs ul.viewed_products li div.pic{height:90px;}
.left_boxs ul.viewed_products li div.text{color:#c00;font-weight:bold;text-align:left;padding-left:8px;}
.page_main{padding-bottom:20px;}
.page_main .right_box{width:750px;float:right;}
.page_main .right_box .location{border-bottom:1px solid #ddd;padding-left:15px;color:#999;font-size:11px;padding-top:20px;padding-bottom:5px;}
.page_main .right_box .location a:link, .page_main .right_box .location a:visited{font-size:12px;}
.page_main .right_box .location span{font-size:10px;font-family:宋体;padding:0 3px;}
/* amend recommend.html from laba */
.page_main .center_box .location{border-bottom:1px solid #ddd;padding-left:15px;color:#999;font-size:11px;padding-top:20px;padding-bottom:5px;}
.page_main .center_box .location a:link, .page_main .center_box .location a:visited{font-size:12px;}
.page_main .center_box .location span{font-size:10px;font-family:宋体;padding:0 3px;}
/* order_categories */
.order_categories{border-bottom:1px solid #ddd;height:30px;clear:both;margin-top:20px;}
.order_categories div.left{float:left;}
.order_categories div.left span{float:left;}
.order_categories div.left span.txt{line-height:30px;padding-left:5px;}
.order_categories div.left span.btn{padding:7px 0 0 10px;}
.order_categories div.left span.slt{padding:5px 0 0 13px;}
.order_categories div.left span.slt select{background:#fff;color:#666;font-size:12px;}
.order_categories div.right{float:right;line-height:28px;padding-right:3px;}
.order_categories div.right a:link, .order_categories div.right a:visited{background:#c4c4c4;color:#fff;padding:2px 4px;font:12px tahoma, arial, verdana, geneva, sans-serif;}
.order_categories div.right a:hover{color:#c00;background:#ddd;}
.order_categories .turn_pages_top{float:right;line-height:28px;}
.turn_pages_top{}
.turn_pages_top a.box{background:#bbb;color:#fff;padding:2px 5px;font-weight:bold;font-size:14px;}
.turn_pages_top a:hover{background:#ddd;}
/* product list */
.product_list ul, .products_box, .products_box_bao, .products_box_v{width:748px;margin:0 auto;padding:20px 0 0 0;}
/* amend recommend.html from laba */
.page_main .center_box .product_list ul{width:935px;margin:0 auto;padding:20px 0 0 0;}
/* amend recommend.html from laba */
.product_list ul li, .product_list_all .product_box, .product_list_all .product_box_bao, .product_list .products_box_v .product_box{width:187px;height:320px;float:left;overflow:hidden;text-align:center;}
.product_list_all ul, .products_box{width:950px;}
.product_list_all ul li, .product_list_all .product_box{width:190px;}
.product_list_all .product_box{float:left;}
.product_list ul li div.pic, .product_list .product_box div.pic{height:170px;}
.product_list_all{width:960px;overflow:hidden;}
.products_box_bao{width:970px;margin-left:-6px;}
.product_list_all .product_box_bao{float:left;}
.product_list_all .product_box_bao{width:187px;padding-left:6px;}
 .product_list .product_box_bao div.pic img{border:1px solid #f1f1f1;width:185px;height:185px;}
.product_list .product_box_bao div.pic{height:195px;}
.product_list .product_box_bao div.text{line-height:20px;text-align:left;padding:0 8px;}
/* product list over */
.product_list ul li div.pic img, .product_list .product_box div.pic img{border:1px solid #f1f1f1;padding:1px;}
.product_list ul li div.pic a:hover img, .product_list .product_box div.pic a:hover img{border:1px solid #EA7B5A;}
.product_list ul li div.text, .product_list .product_box div.text, .product_list .product_box_bao div.text{line-height:20px;text-align:left;padding:0 8px;}
.product_list ul li div.text div.title,.product_list .product_box div.text div.title ,.product_list .product_box_bao div.text div.title{/*height:43px;overflow:hidden;*/min-height:43px;_height:43px;}
.product_list ul li div.text div.title span.promotion_red, .product_list .product_box div.text div.title span.promotion_red{color:#c00;}
.product_list ul li div.text span.price, .product_list .product_box div.text span.price{color:#c00;font-weight:bold;font-size:14px;}
.product_list_all ul li div.text div.title, .product_list_all .product_box div.text div.title{/*height:43px;overflow:hidden;*/min-height:43px;_height:43px;}
.product_list_all ul li div.text div.title span.promotion_red, .product_list_all .product_box div.text div.title span.promotion_red{color:#c00;}
.product_list ul li div.text span.buy, .product_list .product_box div.text span.buy{display:block;padding-top:6px;}
.product_list div.none{height:100px;line-height:100px;text-align:center;font-weight:bold;font-size:14px;color:#c00;}
.product_list_all ul.active_list{padding:0;}
.product_list_all ul.active_list li{height:320px;padding:0;}
/* turn pages */
.turn_pages, .turn_pages_search{text-align:center;clear:both;border-top:1px dashed #ccc;padding:20px 0;}
.turn_pages a.box{background:#c4c4c4;color:#fff;padding:2px 4px;}
.turn_pages a.num{padding:0 3px;font:12px tahoma, arial, verdana, geneva, sans-serif;font-weight:bold;}
.turn_pages span.num{color:#c00;padding:0 3px;font-weight:bold;}
.turn_pages a:hover{color:#c00;background:#ddd;}
.turn_pages_search a.box{background:#bbb;color:#fff;padding:2px 6px;font-size:14px;font-weight:bold;}
.turn_pages_search a.num{padding:0 3px;font:14px tahoma, arial, verdana, geneva, sans-serif;font-weight:bold;}
.turn_pages_search span.num{color:#c00;padding:0 3px;font-weight:bold;font-size:14px;}
.turn_pages_search a:hover{background:#ddd;}
/* left & right & main module */
h2.left_module, h2.right_module, h2.main_module{background:#eee;border-top:1px solid #ddd;border-left:1px solid #ddd;border-right:1px solid #ddd;font-size:12px;height:26px;line-height:25px;padding-left:10px;overflow:hidden;}
h2.left_module a, h2.right_module a, h2.main_module a{font-weight:bold;}
div.left_module, div.right_module, div.main_module{border-left:1px solid #ddd;border-right:1px solid #ddd;border-bottom:1px solid #ddd;}
/* member center */
.member_container{width:960px;}
/*error*/
.error{width:670px;margin:0 auto;padding-bottom:20px;}
.error div.left{padding-top:50px;width:135px;float:left;}
.error div.main{float:left;padding-top:40px;}
.error div.main a{color:#c00;text-decoration:underline;}
.error div.main h2{line-height:42px;color:#CE1919;font-size:16px;}
.error div.main span{background:#B7A99C;padding:2px 6px;}
.error div.main span a{color:#fff;text-decoration:none;}
.error div.main p{padding-top:20px;line-height:22px;}
.error div.main ul{line-height:22px;padding:5px 0 0 20px;}
/* checkout success */
.checkout{padding-top:30px;}
.checkout div.success{text-align:center;border:1px solid #ddd;padding:30px 0;}
.checkout div.success h2{color:#c00;font-size:16px;}
.checkout div.success p{padding-top:10px;font-size:14px;line-height:26px;}
.checkout div.success p span{text-decoration:underline;color:#c00;}
.checkout div.success p strong{color:#f90;}
/* common_form */
.common_form{width:786px;margin:0 auto;}
table.common{border-collapse:collapse;margin:0 auto;padding:0px;text-align:left;width:786px;}
table.common td{border:1px solid #ddd;padding:0 5px;}
table.common thead tr{background:#eee;height:28px;text-align:center;font-weight:bold;}
table.common tbody tr{height:25px;text-align:center;}
.bg_comment{height:17px;line-height:17px;}
.bg_comment span{padding:4px 5px 0 7px;float:left;}
/* 2009.11.10 page_links */
.page_links{border-top:1px solid #E6E6E6;margin-top:15px;padding:10px 0;line-height:1.6;color:#ccc;}
.page_links strong{color:#333;}
/* alpha50_png */
.alpha50_png, .alpha50_color{position:absolute;top:0;left:0;width:100%;height:100%;display:block;z-Index:5999;}
.alpha50_png{background-repeat:repeat;}
.alpha50_color{background-image:none;background-color:#000000;filter:alpha(opacity=50);-moz-opacity:0.50;opacity:0.5;height:768px;}
/* select_content */
.select_content table{margin:0 auto;}
/* tipshow */
.tipshow{margin:8px auto;}
.tipshow p{line-height:18px;padding:8px 10px;/* if ie:*/ _padding:10px;/* end if;*/ background-repeat:repeat-x;border:1px;border-style:solid;}
.tipshow p.error{background-color:#FAE7E7;border-color:#811B1B;}
.tipshow p.info {background-color:#D9FFD9;border-color:#008A00;}
.tipshow p.alert {background-color:#fefde2;border-color:#e5e181;}

/* old over */

/* sprite */
.ul_headquick .a_myquick,.ul_headquick .li_phone,
.p_head_search .btn,.span_mycart,.ul_subnav a,
.div_cart .a_gotocheck,.div_allhelpservice,
.dl_allhelp dt{}
.dotline_a1,.ul_subas li,.ul_mymbb li{}
.ul_mainnav,.ul_mainquicknav,.ul_mainnav .a_mainnav,
.ul_mainquicknav .a_mainquicknav{}
.ul_mymbb a,.dl_subact dd,.ul_list_a1 li,.dl_allhelp dd,.crumb{}
.subnavbox,.specialservice{}
.allhelpbox{}

/* form now on  */
.wrapper{width:960px;margin:0 auto;text-align:left;}
.h1_siteinfo{position:absolute;left:-999em;}

/* header */
 
.a_logo{position:absolute;top:13px;left:0;width:274px;height:47px;overflow:hidden;}

.ul_headquick{position:absolute;right:10px;top:10px;z-index:5;width:425px;line-height:18px;}
.ul_headquick li{float:left;color:#ccc;}
.ul_headquick a{margin:0 5px 0 6px;}
.ul_headquick .a_myquick{display:block;position:relative;z-index:6;width:61px;padding:0 12px 0 0;background-position:65px -153px;background-position:65px -155px\9;_background-position:65px -153px;}
.li_myquick_over .a_myquick{background-position:-135px -153px;background-position:-135px -155px\9;_background-position:-135px -153px;}
.ul_headquick .li_phone{color:#333;font-size:14px;font-weight:bold;padding:0 0 0 25px;background-position:6px -196px;}
.li_myquick{position:relative;}
.ul_mymbb{display:none;position:absolute;top:-5px;left:-5px;padding:25px 7px 7px;border:1px solid #adadad;width:75px;background:#fff;}
.li_myquick_over .ul_mymbb{display:block;}
.ul_mymbb li{background-position:0 100%;height:23px;line-height:22px;width:100%;}
.ul_mymbb a{display:block;margin:0;padding:0 0 0 13px;background-position:4px 8px;}

.head_logininfo{position:absolute;top:40px;right:20px;text-align:right;}
.head_logininfo a.a_login{color:#f60;font-weight:bold;}

/* mainnav */
.mainnav{position:relative;height:35px;z-index:50;}
.ul_mainnav{float:left;height:35px;width:630px;background-position:0 -3px;}
.ul_mainnav li{float:left;position:relative;}
.ul_mainnav a.a_mainnav{display:block;width:105px;height:35px;text-indent:-999em;overflow:hidden;background-position:999em 0;}
.ul_mainnav .now .a_mainnav_0,.ul_mainnav .over .a_mainnav_0{background-position:0 -40px;}
.ul_mainnav .now .a_mainnav_1{background-position:-105px -40px;}
.ul_mainnav .now .a_mainnav_2{background-position:-210px -40px;}
.ul_mainnav .now .a_mainnav_3{background-position:-315px -40px;}
.ul_mainnav .now .a_mainnav_4{background-position:-420px -40px;}
.ul_mainnav .now .a_mainnav_5{background-position:-525px -40px;}
.ul_mainnav .over .a_mainnav_1{background-position:-105px -80px;}
.ul_mainnav .over .a_mainnav_2{background-position:-210px -80px;}
.ul_mainnav .over .a_mainnav_3{background-position:-315px -80px;}
.ul_mainnav .over .a_mainnav_4{background-position:-420px -80px;}
.ul_mainnav .over .a_mainnav_5{background-position:-525px -80px;}

/* subnavbox */
.subnavbox{display:none;position:absolute;left:0px;top:35px;width:522px;height:300px;padding:5px 0 0;overflow:hidden;border:1px solid #aaa;border-top:none;background-position:-3000px 0;background-repeat:repeat-y;filter:alpha(opacity=98);opacity:0.98;}
.li_last .subnavbox{left:-89px;}
.over .subnavbox{display:block;}
.div_subnavbox{float:left;width:140px;overflow:hidden;margin-right:23px;_display:inline;}
.h3_navfocus{padding:7px 0 3px 10px;margin:0 3px 0 8px;font-weight:bold;color:#c00;}
.dotline_a1{margin:5px 8px 5px 12px;height:1px;font-size:0em;line-height:0;overflow:hidden;}
.ul_subnav{overflow:hidden;}
.ul_subnav li{width:140px;line-height:25px;}
.ul_subnav a{display:block;padding-left:18px;height:25px;background-position:10000px 0;}
.ul_subnav a:hover{background-position:-200px -92px;}
.ul_subas{float:left;width:135px;overflow:hidden;margin-right:32px;_display:inline;}
.ul_subas li{height:145px;background-position:0 100%;margin:4px 0 4px;}
.dl_subact{float:left;width:185px;height:278px;overflow:hidden;}
.dl_subact dt{height:28px;line-height:28px;text-indent:13px;font-weight:bold;color:#c00;border-bottom:1px solid #ddd;margin:0 0 8px;}
.dl_subact dd{background-position:-2395px 9px;padding-left:15px;height:22px;line-height:22px;}
.dl_subact dd a{float:left;width:160px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;zoom:1;}

.ul_mainquicknav{position:relative;top:-3px;height:39px;float:right;width:235px;background-position:100% 0;}
.ul_mainquicknav li{float:left;}
.ul_mainquicknav .a_mainquicknav{display:block;width:78px;height:39px;text-indent:-999em;overflow:hidden;background-position:999em 0;}
.ul_mainquicknav .a_mainquicknav_1:hover,.ul_mainquicknav .now .a_mainquicknav_1{background-position:-635px -40px;}
.ul_mainquicknav .a_mainquicknav_2:hover,.ul_mainquicknav .now .a_mainquicknav_2{background-position:-713px -40px;}
.ul_mainquicknav .a_mainquicknav_3:hover,.ul_mainquicknav .now .a_mainquicknav_3{background-position:-791px -40px;}

/* head_focus */
.head_focus{position:relative;height:45px;z-index:40;_margin-top:-5px;margin-bottom:10px;}
.p_head_search{float:left;padding:9px 0 0;width:247px;}
.p_head_search .txt{line-height:17px;padding:2px;border:1px solid #c7c3c4;color:#888;vertical-align:middle;overflow:hidden;width:180px;height:17px;}
.p_head_search .btn{margin:0 15px 0 0;width:45px;height:23px;border:none;background-position:0 -520px;font-size:0em;text-indent:-999em;text-align:center;overflow:hidden;color:#5b5b5b;vertical-align:middle;cursor:hand;cursor:pointer;}

.h2_keywords{float:left;line-height:40px;*line-height:44px;color:#666;}
.h2_keywords a{color:#666;font-weight:normal;margin:0 5px;}
.h2_keywords a:hover{color:#c00;}

/* div_quickbuy */
.head_quickbuy{position:absolute;width:180px;top:10px;right:0px;z-index:5;}
.span_mycart{display:block;width:180px;height:23px;line-height:23px;text-align:center;background-position:0 -100px;cursor:hand;cursor:pointer;}
.span_mycart b{margin:0 1px;color:#c00;font-weight:normal;}
#js_span_cart.over{background-position:0 -123px;}

/* div_cart */
.div_cart{display:none;position:absolute;top:25px;right:0px;width:200px;border:1px solid #d0707e;padding:10px;background:#fff;}
.dl_cartpro{position:relative;padding:0 0 0 62px;margin-bottom:8px;min-height:70px;_height:70px;background-position:0 100%;}
.dl_cartpro dt{line-height:1.5em;margin-bottom:7px;}
.dl_cartpro .b_num{font-weight:normal;color:#c00;margin-left:3px;}
.dl_cartpro .ddthumb{position:absolute;top:3px;left:0px;}
.dl_cartpro .ddthumb a{display:block;}
.dl_cartpro .ddthumb img{border:1px solid #dedede;}
.dl_cartpro .ddcont{color:#c00;font-weight:bold;padding:2px 0 0 0;line-height:1.5;}
.dl_cartpro .ddcont  a{color:#aaa;margin-left:4px;font-weight:normal;}
.div_cart .p_carttotal{text-align:right;}
.div_cart .p_gotocheck{padding:8px 0 0;}
.div_cart a.a_gotocheck{display:block;width:50px;height:18px;overflow:hidden;line-height:16px;line-height:20px\9;_line-height:16px;text-align:center;color:#fff;margin:0 0 0 auto;background-position:-60px -520px;}

/* top_banner */
.top_banner{margin-bottom:10px;font-size:0em;}

/* crumb */
.crumb{position:relative;padding:12px 0 12px 8px;height:18px;line-height:18px;background-position:-3200px 18px;font-family:"宋体";color:#aaa;}
.crumb a{margin:0 5px;}
.crumb a.now{color:#666;}

/* allhelpbox */
.allhelpbox{clear:both;overflow:hidden;zoom:1;padding-top:30px;background-color:#f9f9f9;}
.div_allhelpservice{float:left;width:160px;height:116px;background-position:0 -600px;}
.span_phonetitle{display:block;height:40px;text-indent:-999em;overflow:hidden;}
.strong_phone{display:block;line-height:38px;font-size:20px;color:#c00;text-align:center;font-weight:normal;}
.h3_alltomessage{line-height:38px;padding-left:35px;font-family:"宋体";font-weight:normal;}
a.a_alltomessage{margin:0 0 0 8px;color:#666;text-decoration:underline;}
a.a_alltomessage:hover{color:#c00;}

.dl_allhelp{float:left;width:140px;height:140px;margin:0 0 0 20px;display:inline;}
.dl_allhelp dt{height:25px;border-bottom:1px solid #ddd;padding:0 0 0 28px;line-height:22px;margin:0 0 10px;}
.dl_allhelp_1 dt{background-position:7px -235px;}
.dl_allhelp_2 dt{background-position:7px -285px;}
.dl_allhelp_3 dt{background-position:7px -335px;}
.dl_allhelp_4 dt{background-position:7px -385px;}
.dl_allhelp_5 dt{background-position:7px -435px;}

.dl_allhelp dd{line-height:20px;padding:0 0 0 28px;background-position:-783px 7px;}
.dl_allhelp a{color:#666;}
.dl_allhelp a:hover{color:#c00;}

.allfooter{background-color:#f9f9f9;padding:15px 0 0;zoom:1;}
.specialservice{clear:both;width:960px;height:70px;background-position:-2000px 0;margin:0 0 15px;text-indent:-999em;overflow:hidden;}
.p_footerlinks{height:36px;line-height:36px;background:#ededed;text-align:center;margin:0 0 10px;}
.p_footerlinks a{margin:0 5px;}
.p_copyright{text-align:center;color:#999;}
.p_copyright a{color:#999;}
.p_copyright a:hover{color:#c00;}

.ul_honor{text-align:center;padding:10px 0;}
.ul_honor li{display:inline;margin:0 5px;}

/* ohter */
/*global_notes*/
.global_notes {width:960px;text-align:center;border:2px solid #FFD0A8;padding:6px 0;background:#FFFFEE;color:#c00;margin:5px auto;}

/* rod */
.rod_a{border:0 solid #d7d7d7;overflow:hidden;zoom:1;}
.rod_1{border-top-width:1px;font-size:0;height:0;margin: 0 3px;}
.rod_2,.rod_3{font-size:0;height:1px;margin:0 1px;}
.rod_2{border-left-width:2px;border-right-width:2px;}
.rod_3{border-left-width:1px;border-right-width:1px;}
.rodbody{padding: 2px 2px 10px;border-left-width:1px;border-right-width:1px;}




