/* CSS Document */
.zpContent{overflow:hidden; background-color:#fff;width:1200px; margin:20px auto;}
.zp_map{ overflow:hidden; width:1150px; margin:0px auto;}
.zhaopin{ overflow:hidden; width:1150px; margin:0px auto;}
.zhaopin .zp_content{overflow: hidden; margin-bottom: 30px; margin-top: 60px;font-size: 15px;}

.xcflBox{ overflow:hidden; width:100%; margin-top:50px;}
.xcflBox .nyfl01{ width:100%; overflow:hidden;}
.xcflBox .nyfl01 li{ width:118px; height:60px;   border:1px solid #d1d1d1; float:left; font-size:14px; color:#555; text-align:center; line-height:60px; float:left; border-right:none;}
.xcflBox .nyfl01 li.last{ border-right:1px solid #d1d1d1; width:127px;}
.xcflBox .nyfl01 li:hover,.xcflBox .nyfl01 li.cur{ background-color:#EB2533; cursor:pointer; border-color:#EB2533; color:#fff; font-weight:bold;}

.xcflBox .nyfl02 { border:1px solid #cecece; padding-bottom:30px; border-top:none; overflow:hidden; position:relative; width:1198px; height:150px; margin-bottom:25px;}
.xcflBox .nyfl02 h3{ font-size:16px; color:#333; margin:20px auto; text-align:center;} 
.xcflBox .nyfl02  i{ display:block; width:30px; height:1px; background-color:#ff0d00; margin:0 auto; margin-bottom:15px;}
.xcflBox .nyfl02 p{ width:80%; text-align:center; margin:0 auto; font-size:14px; color:#666; line-height:24px;} 
.xcflBox .nyfl02 ul{ overflow:hidden; position:absolute; width:11980px; left:0; top:0;}
.xcflBox .nyfl02 li{ float:left; width:1198px; height:150px;}

.xcflBox .nynl03{ overflow:hidden; width:100%; height:225px; position:relative}
.xcflBox .nynl03 ul{ overflow:hidden; position:absolute}
.xcflBox .nynl03 li{ width:285px; float:left ; height:225px; margin-right:20px;}
.xcflBox .nynl03 li .tubox{ overflow:hidden; display:block; width:285px; height:185px;}
.xcflBox .nynl03 li img{ display:block;}
.xcflBox .nynl03 li a{ display:block; text-align:center; line-height:40px; color:#666; font-size:12px;}
.xcflBox .nynl03 li.last{margin-right:0;}

.rczpBox { overflow:hidden; width:100%;}
.rczpBox .zp_search{ overflow:hidden; margin-bottom:30px; margin-top:10px;}
.rczpBox .zp_search select{ display:block; float:left; width:348px; height:33px; line-height:33px; border:1px solid #cecece; margin-right:20px; font-size:12px; color:#999; padding-left:10px;}
.rczpBox .zp_search .sbox{ overflow:hidden; width:408px; height:33px; background-color:#fff; border:1px solid #cecece;float:right}
.rczpBox .zp_search input{ display:block; font-size:12px; color:#999; line-height:33px;  float:left; width:320px; height:33px; border:none; outline:none; line-height:33px; margin-left:10px;}
.rczpBox .zp_search i{ display:block; width:60px; height:33px; float:right; background:url(../../static/images/zhaopin01.png) no-repeat center; cursor:pointer;}
.rczpBox .zpList{ overflow:hidden; width:100%}
.rczpBox .zpList li{ width:100%; overflow:hidden; margin-bottom:5px;}
.rczpBox .zpList li .tkBox{url(Img/product/jrtz_wen.png) repeat center}
.rczpBox .zpList li .h5{ cursor:pointer; padding-left:20px;  line-height:50px; height:50px; background:url(../../static/images/zhaopin02.png) no-repeat 1100px center;background-color:#ebebeb;}
.rczpBox .zpList li .h5 span{font-size:16px;color:#333;font-weight:bold;display:block;width: 180px;white-space:nowrap;overflow:hidden;float:left;text-overflow:ellipsis;}
.rczpBox .zpList li .h5 em{font-size:14px;color:#666;display:block;width: 280px;float:left;}


.rczpBox .zpList li:hover .h5 span,.rczpBox .zpList li.cur .h5 span,
.rczpBox .zpList li:hover .h5 em,.rczpBox .zpList li.cur .h5 em{ color:#fff}
.rczpBox .zpList li:hover .h5,.rczpBox .zpList li.cur .h5{background-color:#EB2533;}

.rczpBox .zpList .zwjs{ overflow:hidden; width:1148px; border:1px solid #e7e7e7; margin-bottom:8px; display:none; background-color:#fff; padding-top:50px;}
.rczpBox .zpList .zwjs h4{ font-size:20px; color:#333; margin-bottom:20px;}
.rczpBox .zpList .zwjs table{ overflow:hidden; width:100%; margin-bottom:40px;}
.rczpBox .zpList .zwjs tr{ overflow:hidden; height:40px; font-size:12px; color:#777; width:100%; text-align:center; border-bottom:1px solid #e7e7e7}
.rczpBox .zpList .zwjs .trh{ overflow:hidden; background-color:#f0f0f0;}
.rczpBox .zpList .zwjs td{ border-right:1px solid #e7e7e7}
.rczpBox .zpList .zwjs td.last{ border:none}
.rczpBox .zpList .zwjs .rzzg{ overflow:hidden; width:1000px; margin:0 auto; padding-bottom:30px; border-bottom:1px solid #e7e7e7; margin-bottom:25px;}
.rczpBox .zpList .zwjs .rzzg h6{ font-size:12px; color:#555; margin-bottom:15px;}
.rczpBox .zpList .zwjs .rzzg p{ font-size:12px; color:#777; line-height:30px;}
.rczpBox .zpList .zwjs span{ display:block; margin-bottom:70px; font-size:12px; color:#777; margin-left:60px;}
.rczpBox .zpList .zwjs span em{ color:#ff0d00;}
.rczpBox .zpList .zwjs b{ display:block; cursor:pointer; font-weight: normal; font-size:14px; color:#fff; width:180px; height:40px; text-align:center; line-height:40px; background-color:#EB2533; margin-left:60px; margin-bottom:40px;}

.jtop{ overflow:hidden; padding-top:15px; padding-bottom:9px;border-bottom:1px solid #dbdbdb; }
.jtop h5{ float:left; padding-left:10px; border-left:3px solid #EB2533; font-weight:normal; line-height:16px; }
.jtop h5 a{ font-size:16px; color:#EB2533;}
.jtop span{ float:right;}
.jtop span em{ color:#999;}
.jtop span a{ color:#999;}


/*��ҳ���õ�Сģ��*/

/*��ͼ*/
 /*<![CDATA[*/body
        {
            margin: 0;
            padding: 0;
            font-family: Times New Roman, serif;
        }
        p
        {
            margin: 0;
            padding: 0;
        }
        html, body
        {
            width: 100%;
            height: 100%;
        }
        #map_container
        {
            height: 530px;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
        }
        @media print
        {
            #notes
            {
                display: none;
            }
            #map_container
            {
                margin: 0;
            }
        }
        .iw_poi_title
        {
            color: #CC5522;
            font-size: 14px;
            font-weight: bold;
            overflow: hidden;
            padding-right: 13px;
            white-space: nowrap;
        }
        .iw_poi_content
        {
            font: 12px arial,sans-serif;
            overflow: visible;
            padding-top: 4px;
            word-wrap: break-word;
        }
        .iw_poi_phone a:link
        {
            display: block;
            color: #fff;
            font-size: 16px;
            font-weight: bold;
         
            background-position: 20px center;
            background-repeat: no-repeat;
            background-size: 20px 20px;
        }
        .iw_poi_phone
        {
            border-radius: 3px;
            margin: 8px 0;
            text-indent: 50px;
            font: 14px arial,sans-serif;
            line-height: 23px;
            overflow: visible;
            padding-top: 4px;
            word-wrap: break-word;
            display: block;
            height: 25px;
            width: 100%;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#EB2533), to(#BB1E1E));
            background-image: -webkit-linear-gradient(top, #EB2533, #BB1E1E);
            background-image: -moz-linear-gradient(top, #EB2533, #BB1E1E);
            background-image: -o-linear-gradient(top, #EB2533, #BB1E1E);
            background-image: -ms-linear-gradient(top, #EB2533, #BB1E1E);
            background-image: linear-gradient(top, #EB2533, #BB1E1E);
        }
        .m-find
        {
            color: #4c4c4c;
            min-width: 250px;
            margin-top: 10px;
            font: 12px arial,sans-serif;
        }
        .m-find .select-box
        {
            min-width: 250px;
            height: 29px;
            border: 1px solid #dadada;
            border-bottom: 0;
        }
        .m-find .select-box li
        {
            float: left;
            display: inline;
            width: 50%;
            height: 28px;
            line-height: 28px;
            text-align: center;
            text-indent: 5px;
            color: #3d6dcc;
            border-bottom: 1px solid #dadada;
            position: relative;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f6f6f6));
            background-image: -webkit-linear-gradient(top, #ffffff, #f6f6f6);
            background-image: -moz-linear-gradient(top, #ffffff, #f6f6f6);
            background-image: -o-linear-gradient(top, #ffffff, #f6f6f6);
            background-image: -ms-linear-gradient(top, #ffffff, #f6f6f6);
            background-image: linear-gradient(top, #ffffff, #f6f6f6);
        }
        .m-find .select-box li span
        {
            display: block;
            position: absolute;
            width: 14px;
            height: 16px;
            background-image: url(../../static/images/map_icon.png);
            left: 50%;
            margin-left: -40px;
            top: 7px;
        }
        .m-find .select-box li:nth-child(1) span
        {
            background-position: 15px 0;
        }
        .m-find .select-box li:nth-child(2) span
        {
            background-position: 30px 0;
        }
        .m-find .select-box li:nth-child(3) span
        {
            background-position: 0 0;
        }
        .m-find .select-box li:nth-child(1):after
        {
            border-right: 1px solid #dadada;
            content: '';
            position: absolute;
            right: 0;
            height: 100%;
        }
        .m-find .select-box li.z-chose
        {
            background: #fcfcfc;
            border-bottom: 0;
            color: #4d4d4d;
        }
        .m-find .change-box
        {
            display: none;
            padding: 9px 5px;
        }
        .m-find .change-box#divId0 a
        {
            float: left;
            display: inline-block;
            height: 22px;
            line-height: 22px;
            color: #3D6DCC;
        }
        .m-find .change-box#divId0
        {
            display: block;
        }
        .m-find .change-box .u-des
        {
            margin-right: 10px;
        }
        .m-find .change-box .u-input
        {
            border: 1px solid #a5acb2;
            height: 23px;
            width: 120px;
            margin-right: 8px;
        }
        .m-find .change-box .u-inputsearch
        {
            border: 1px solid #a5acb2;
            height: 23px;
            margin-right: 8px;
            width: 50px;
        }
        .m-find .change-box .u-tran
        {
            width: 45px;
            height: 23px;
            border-radius: 3px;
            color: #000;
            text-align: center;
            border: 1px solid #b7b7b7;
            margin-right: 4px;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#efefef));
            background-image: -webkit-linear-gradient(top, #ffffff, #efefef);
            background-image: -moz-linear-gradient(top, #ffffff, #efefef);
            background-image: -o-linear-gradient(top, #ffffff, #efefef);
            background-image: -ms-linear-gradient(top, #ffffff, #efefef);
            background-image: linear-gradient(top, #ffffff, #efefef);
        }
        .drivingPanel
        {
            height: 530px;
            overflow: scroll;
            width: 80%;
            display: none;
            position: absolute;
            z-index: 0;
            left: 0;
            top: 0;
        }
        .g-mapbox
        {
            height: 530px;
            z-index: 0;
            position: relative;
            overflow: hidden;
        }
        
        .black_bg
        {
            width: 30%;
            height: 530px;
            position: absolute;
            top: 0;
            left: 80%;
            opacity: 0.6;
            background: #000;
            z-index: 200;
            display: none;
        }
        /*]]>*/
        

/*news_nav  ҳ���ڲ�inbanner�����һ������*/
.news_nav{ overflow:hidden; width:100%; height:70px; position:relative;}
.news_nav i{ display:block; width:100%; height:1px; background-color:#e9e9e9; position:absolute; left:0; bottom:0;}
.news_nav ul{ overflow:hidden; position:relative; z-index:2}
.news_nav li{ float:left; font-size:14px; margin-right:35px; height:68px; line-height:68px;}
.news_nav li a{ color:#666; display:block; text-decoration:none;}
.news_nav li.cur, .news_nav li:hover{ font-weight:bold; border-bottom:2px solid #EB2533;}

/*newslist_content �������ҳ�����ҽṹ*/
.newslist_content { overflow:hidden; width:1200px; margin:0 auto; margin-bottom:90px;}

.newslist_left { overflow:hidden; float:left; width:810px; padding-right:40px; border-right:1px solid #e9e9e9; padding-top:60px;}

.newslist_right { overflow:hidden; width:310px; float:right; margin-top:30px;}
.newslist_right>h4{ font-weight:normal; font-size:24px; color:#555; margin-bottom:20px;}
.newslist_right .zw_tu{ display:block; margin:0 auto;}

.newslist_right>a{display:block;}
/*���Ž������ҳ��*/
/*jtjs_nav ҳ���ڲ�inbanner����ڶ�������*/
ul.jtjs_nav { display:none; overflow:hidden; width:100%; text-align:center; margin:0 auto; z-index:10000000}
ul.jtjs_nav li{ width:160px; text-align:center; height:55px; line-height:55px; font-size:20px;font-weight:bold; background-color:#848282; float:left; border-right:1px solid #808080;}
ul.jtjs_nav li a{ color:#fff; display:block; text-decoration:none;}
ul.jtjs_nav li.cur,ul.jtjs_nav li:hover{ background-color:#EB2533;}


/*ҳ�浯�򣨳����³�ҳ�棩*/

.tkBox{ overflow:hidden; width:100%; height:100%; background:url(../../static/images/dsz06_tuwen.png) repeat center; position:fixed; left:0; top:0; display:none;}
	/*��Ƹ����*/
.tkBox .tk_zp_main { width:1200px; height:460px; position:absolute; left:50%; top:50%; margin-left:-600px; margin-top:-230px; background-color:#fff;}
.tkBox .tk_zp_main i{ display:block; width:50px; height:50px; background:url(../../static/images/in_ry_tk_close.png) no-repeat center; position:absolute;right:-50px; top:-10px;cursor:pointer; margin-left:620px;}
.tkBox .tk_zp_main h4{ font-weight:normal; text-align:center; font-size:24px; color:#555; margin-top:60px; margin-bottom:40px;position: relative;}
.tkBox .tk_zp_main .inBox{ overflow:hidden; width:740px; margin:0 auto; padding-top:5px;    position: relative;}
.tkBox .tk_zp_main input{ overflow:hidden; width:328px; height:33px; border:1px solid #cecece; left:33px; padding:0 10px; display:block; float:left; margin:0 10px; margin-bottom:10px; font-size:12px; color:#999;}
.tkBox .tk_zp_main textarea{ width:698px; display:block; padding:10px; margin:0 auto; margin-bottom:20px; height:100px; border:1px solid #cecece; font-size:12px; color:#999; resize:none;}
.tkBox .tk_zp_main b{ display:block; width:180px; height:40px; background-color:#EB2533; text-align:center; line-height:40px; font-size:14px; color:#fff; cursor:pointer; float:right; margin-right:10px; font-weight:normal}
.tkBox .tk_zp_main .file_up_lnk{position: absolute;  top: 63px;right:15px;}

.tankuang{ overflow:hidden; width:100%; height:100%; background:url(../../static/images/dsz06_tuwen.png) repeat center; position:fixed; left:0; top:0; display:none; z-index:100000001}
.tankuang .close{ display:block; width:50px; height:50px; background:url(../../static/images/in_ry_tk_close.png) no-repeat center;  position:fixed; right:0; top:0; border-radius:0 0 0 40px; cursor:pointer; background-size:40%}
.tankuang .tk_box{ width:1200px; height:700px; position:absolute; left:50%; top:50%; margin-left:-600px; margin-top:-350px;moz-user-select: -moz-none;
-moz-user-select: none;
-o-user-select:none;
-khtml-user-select:none;
-webkit-user-select:none;
-ms-user-select:none;
user-select:none;}
.tankuang .tk_box img{ display:block; height:100%; margin:0 auto;
moz-user-select: -moz-none;
-moz-user-select: none;
-o-user-select:none;
-khtml-user-select:none;
-webkit-user-select:none;
-ms-user-select:none;
user-select:none;

}
.tankuang .tk_box p{ text-align:center; font-size:14px; color:#fff; line-height:50px;}
.tankuang .tk_box span{ cursor:pointer; display:block; width:42px; height:72px; position:fixed; top:50%;margin-top:-36px; z-index:5}
.tankuang .tk_box span.btn01{ left:0; background:url(../../static/images/banner_btn01.png) no-repeat top center}
.tankuang .tk_box span.btn02{ right:0; background:url(../../static/images/banner_btn02.png) no-repeat top center}
.tankuang .tk_box span:hover{ background-position:bottom}