body,dl,dd,h1,h2,h3,h4,h5,h6,p,form,li,input {
	padding: 0;
	margin: 0
}

ul,ol {
	list-style: none;
	margin: 0;
	padding: 0
}

input {
	border: none;
	outline: none
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic
}

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}

.w100,.mod-main .bd ul .item .text,.mod-main .bd ul .item .suggset,.mod-main .bd ul .item .date-text,.mod-main .bd ul .item .tit input,.mod-main .bd ul .item .tit .text-main,.mod-main .bd ul .item .info,.mod-main .bd ul .item .more,.mod-main .bd ul .item .msg,.select-div,.analog {
	float: left;
	*display: inline
}

.mod-main .bd ul .item .tit .tit-count,.mod-main .bd ul .item .tit .text-count {
	float: right;
	*display: inline
}

.mod-main .bd,.mod-main .bd ul .item {
	zoom: 1
}

.mod-main .bd:before,.mod-main .bd ul .item:before,.mod-main .bd:after,.mod-main .bd ul .item:after {
	content: "";
	display: table
}

.mod-main .bd:after,.mod-main .bd ul .item:after {
	clear: both;
	overflow: hidden
}

.close {
	display: inline-block;
	*zoom: 1;
	*display: inline
}

.mod-formtip {
	width: 370px;
	height: 220px;
	background: #fff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	position: fixed;
	_position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -135px;
	margin-top: -110px;
	z-index: 9999;
	color: #757575;
	font-size: 20px;
	text-align: center
}

.mod-formtip p span {
	display: block;
	width: 100px;
	height: 20px;
	padding-top: 80px;
	margin: 45px auto 0 auto;
	background: url('../images/tip_icon.png') no-repeat;
	_background: url('../images/tip_icon.gif') no-repeat;
	background-position: 10px 0
}

.mod-formtip p span.error {
	background-position: 10px -132px
}

.mod-formtip-mask {
	width: 100%;
	height: 100%;
	position: fixed;
	_position: absolute;
	top: 0;
	left: 0;
	background: #000;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
	opacity: 0.5;
	z-index: 9998
}

.tu-calendar {
	padding: 20px 0 10px
}

.tu-calendar a:hover {
	text-decoration: none
}

.tu-calendar .hd {
	text-align: center;
	line-height: 30px;
	margin-bottom: 40px
}

.tu-calendar .hd span {
	line-height: 30px;
	margin: 0 8px
}

.tu-calendar .hd select {
	line-height: 30px;
	background: #ebebeb
}

.tu-calendar .hd .back-today {
	display: inline-block;
	width: 120px;
	height: 30px;
	margin-left: 44px;
	color: #fff;
	background: #3d5480;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px
}

.tu-calendar .table {
	margin: 0 10px
}

.tu-calendar table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	table-layout: fixed
}

.tu-calendar table th {
	font-size: 18px;
	color: #bdbdbd;
	font-weight: normal;
	padding-bottom: 40px
}

.tu-calendar table td {
	color: #757575;
	text-align: center;
	vertical-align: top;
	height: 60px
}

.tu-calendar .info {
	position: relative;
	height: 100%;
	margin: 0 5px
}

.tu-calendar .info a {
	display: block;
	height: 100%;
	color: #757575
}

.tu-calendar .info a:hover {
	text-decoration: none
}

.tu-calendar .info .current-month {
	color: #757575
}

.tu-calendar .info .prev-month,.tu-calendar .info .next-month {
	color: #bdbdbd
}

.tu-calendar .info .active {
	color: green
}

.tu-calendar .info .daynumber {
	font-size: 22px;
	display: block;
	cursor: pointer;
	font-family: 'Arial'
}

.tu-calendar .info .daynumber span {
	display: inline-block;
	width: 30px;
	line-height: 30px;
	height: 30px;
	padding-bottom: 10px;
	cursor: pointer
}

.tu-calendar .info .almanac {
	color: #bdbdbd;
	font-size: 14px;
	display: block;
	cursor: pointer
}

.tu-calendar .info .schedule .daynumber span {
	background-image: url('../images/date_icon.png');
	_background-image: url('../images/date_icon.gif');
	background-position: -45px -40px;
	color: #fff
}

.tu-calendar .info .other {
	color: #bdbdbd
}

.tu-calendar .info .holiday-rest {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 15px;
	height: 15px;
	color: #fff;
	background: #f43;
	text-align: left;
	text-indent: 1px;
	line-height: 14px;
	overflow: hidden;
	font-size: 12px
}

.tu-calendar .info .work {
	background: #f5f5f5
}

.tu-calendar .info .work .holiday-rest {
	background: #969799
}

.tu-calendar .info .rest {
	background: #fff0f0
}

.mod-main,.mod-main .bd ul .item .input-text,.mod-main .bd ul .item .count,.mod-main .bd ul .item .title,.mod-main .bd ul .item .tit .text-main,.analog,.analog .inner {
	border: 1px solid #ebebeb;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px
}

.mod-main .hd h1,.mod-main .bd ul .item,.mod-main .bd ul .item .input-text,.mod-main .bd ul .item .title,.mod-main .bd ul .item .tit input,.mod-main .bd ul .item .tit .tit-count,.mod-main .bd ul .item .tit .text-count,.mod-main .bd ul .item .tit .text-main,.mod-main .bd ul .item .btn input,.mod-main .bd ul .item .msg {
	font-family: "Microsoft YaHei", "SimSun" !important;
	font-size: 14px
}

.radius {
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important
}

.close {
	position: relative;
	top: -45px;
	left: 413px;
	width: 25px;
	height: 25px;
	background: url('../images/contact_icon.png') no-repeat;
	_background: url('../images/contact_icon.gif') no-repeat;
	background-position: 0 -172px;
	cursor: pointer
}

input::-ms-clear {
	display: none
}

.input-error {
	border: 1px solid red !important
}

.error {
	color: #c00
}

.z-index5 {
	z-index: 5
}

.disabled {
	border: 1px solid #ebebeb !important
}

.w100 {
	width: 100px !important;
	padding: 0 !important;
	text-align: center
}

.pd0 {
	padding: 0 !important
}

.pd20 {
	padding-bottom: 20px !important
}

.contact-div .box {
	padding-right: 0
}

.mod-main {
	background-color: #fff;
	margin-bottom: 50px
}

.mod-main .hd {
	text-align: center;
	padding-top: 34px;
	padding-bottom: 6px;
	position: relative
}

.mod-main .hd h1 {
	font-size: 36px;
	color: #192233;
	font-weight: normal
}

.mod-main .bd {
	width: 900px;
	margin: 0 auto
}

.mod-main .bd ul {
	position: relative
}

.mod-main .bd ul .item {
	position: relative;
	line-height: 40px;
	padding: 0 0 10px 0
}

.mod-main .bd ul .item label {
	display: block;
	margin: -5px 0
}

.mod-main .bd ul .item .text {
	padding: 0 10px
}

.mod-main .bd ul .item .txt-place {
	padding: 0 20px
}

.mod-main .bd ul .item .suggset,.mod-main .bd ul .item .date-text {
	position: relative
}

.mod-main .bd ul .item .date-text {
	position: relative;
	padding: 0 0 0 60px
}

.mod-main .bd ul .item .date-text .calendar {
	position: absolute;
	right: 10px;
	top: 16px;
	width: 20px;
	height: 19px;
	background: url('../images/date_icon.png') no-repeat;
	_background: url('../images/date_icon.gif') no-repeat;
	background-position: 0 0;
	cursor: pointer
}

.mod-main .bd ul .item .input-text {
	width: 160px;
	height: 40px;
	line-height: 40px;
	color: #757575;
	padding: 0 0 0 10px;
	vertical-align: middle
}

.mod-main .bd ul .item .input-text:focus,.mod-main .bd ul .item .input-text:hover {
	border: 1px solid #7688a9;
	color: #757575 !important
}

.mod-main .bd ul .item .mouse-click {
	cursor: pointer
}

.mod-main .bd ul .item .day {
	padding: 0 0 0 30px;
	width: 120px
}

.mod-main .bd ul .item .place {
	text-align: center;
	padding: 0
}

.mod-main .bd ul .item .count {
	width: 100px;
	height: 40px;
	line-height: 40px;
	color: #bdbdbd;
	text-align: center;
	vertical-align: middle
}

.mod-main .bd ul .item .title {
	width: 900px;
	height: 40px;
	line-height: 40px;
	color: #757575;
	padding: 0 0 0 10px;
	vertical-align: middle
}

.mod-main .bd ul .item .tit {
	width: 900px
}

.mod-main .bd ul .item .tit input {
	text-align: left;
	vertical-align: middle
}

.mod-main .bd ul .item .tit .tit-count,.mod-main .bd ul .item .tit .text-count {
	color: #bdbdbd;
	background: #fff
}

.mod-main .bd ul .item .tit .tit-count {
	margin: -41px 0 0 0
}

.mod-main .bd ul .item .tit .text-count {
	position: absolute;
	right: -10px;
	bottom: -40px
}

.mod-main .bd ul .item .tit .text-main {
	width: 900px;
	height: 180px;
	padding: 10px 0 0 10px;
	resize: none;
	color: #757575
}

.mod-main .bd ul .item .tit .text-main:focus,.mod-main .bd ul .item .tit .text-main:hover {
	border: 1px solid #7688a9
}

.mod-main .bd ul .item .info .way,.mod-main .bd ul .item .more .way {
	margin: 0 20px
}

.mod-main .bd ul .item .more {
	padding: 0 0 0 20px
}

.mod-main .bd ul .item .btn {
	text-align: center;
	padding: 0 0 20px 0
}

.mod-main .bd ul .item .btn input {
	width: 300px;
	height: 52px;
	line-height: 50px;
	color: #fff;
	background: #3d5480;
	text-align: center;
	font-size: 24px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer
}

.mod-main .bd ul .item .msg {
	display: none;
	position: absolute;
	width: 70%;
	z-index: 0;
	top: 16px;
	left: 10px;
	height: 20px;
	line-height: 20px;
	color: red;
	cursor: text;
	background: #fff
}

.mod-main .bd ul .item .ajaxmsg {
	height: 30px;
	line-height: 30px
}

.select-div select {
	display: none
}

.analog {
	width: 100px;
	text-align: center;
	position: relative;
	height: 40px;
	cursor: pointer;
	zoom: 1;
	z-index: 1
}

.analog .box {
	background: url('../images/select_icon.gif') no-repeat;
	background-position: 80px 18px;
	position: relative;
	text-align: center;
	z-index: 1;
	padding-right: 20px;
	height: 40px;
	overflow: hidden;
	color: #757575
}

.analog .inner {
	-moz-border-radius-topleft: 0;
	-webkit-border-top-left-radius: 0;
	border-top-left-radius: 0;
	-moz-border-radius-topright: 0;
	-webkit-border-top-right-radius: 0;
	border-top-right-radius: 0;
	visibility: hidden;
	overflow: hidden;
	border-top: none;
	position: absolute;
	width: 100%;
	left: -1px;
	z-index: 2
}

.analog .inner .list {
	background: #fff;
	border-top: none;
	overflow: auto
}

.analog .inner li {
	height: 40px;
	overflow: hidden
}

.analog .inner li:hover,.analog .inner li.active {
	background: #7688a9;
	color: #fff
}
