@font-face {
  /*font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");*/
  font-weight: normal;
  font-style: normal;
}
/* =======================================================
*
* 	Template Style 
*
* ======================================================= */
body {
  font-family: "Work Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #828282;
  background: #fff;
}

#page {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.offcanvas #page {
  overflow: hidden;
  position: absolute;
}
.offcanvas #page:after {
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.7);
  content: "";
}

a {
  color: #F36363;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #F36363;
  outline: none;
  text-decoration: none;
}

p {
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6, figure {
  color: #000;
  font-family: "Playfair Display", Arial, serif;
  font-weight: 400;
  margin: 0 0 20px 0;
}

::-webkit-selection {
  color: #fff;
  background: #F36363;
}
.copyrights{
	text-indent:-9999px;
	height:0;
	line-height:0;
	font-size:0;
	overflow:hidden;
}
::-moz-selection {
  color: #fff;
  background: #F36363;
}

::selection {
  color: #fff;
  background: #F36363;
}

.fh5co-nav {
  position: absolute;
  top: 2em;
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 40px 0;
  z-index: 1001;
}
@media screen and (max-width: 768px) {
  .fh5co-nav {
    padding: 20px 0;
    top: 0;
  }
  .about-content .about-tu{ margin-top:0px !important; }
}
.fh5co-nav .left-menu, .fh5co-nav .right-menu, .fh5co-nav .logo {
  display: inline-block;
  width: 40%;
  float: left;
}
.fh5co-nav .logo {
  width: 20%;
  float: left;
  margin-top: -20px;
}
.fh5co-nav #fh5co-logo {
  font-size: 26px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .fh5co-nav #fh5co-logo {
    font-size: 22px;
  }
 .fh5co-nav #fh5co-logo img{ width: 70% !important;} 
}
@media screen and (max-width: 510px) {
 
 .fh5co-nav #fh5co-logo img{ width: 100% !important;} 
}
.fh5co-nav a {
  padding: 5px 10px;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .fh5co-nav .menu-1 {
    display: none;
  }
.tu img{ width: 60% !important;}
	  .ding div:nth-child(2){ margin-top: 20px !important;}
}
@media screen and (max-width: 991px) {
	
	  .tupian{ display: none;}
	  .si .a:last-child{ display: none;}
	  .ding div:nth-child(2){ margin-top: 0px !important;}
	  .tu img{ width: 90%;}
	  .about-content p:last-child{ display: none; }
	  
}

.fh5co-nav ul {
  padding: 0;
  margin: 7px 0 0 0;
}
.fh5co-nav ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
}
.fh5co-nav ul li a {
  font-size: 16px;
  padding: 30px 15px;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.fh5co-nav ul li a:hover, .fh5co-nav ul li a:focus, .fh5co-nav ul li a:active {
  color: white;
}
.fh5co-nav ul li.has-dropdown {
  position: relative;
}
.fh5co-nav ul li.has-dropdown .dropdown {
  width: 130px;
  -webkit-box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
  z-index: 1002;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 40px;
  left: 0;
  text-align: left;
  background: #fff;
  padding: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}
.fh5co-nav ul li.has-dropdown .dropdown:before {
  bottom: 100%;
  left: 40px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 8px;
  margin-left: -8px;
}
.fh5co-nav ul li.has-dropdown .dropdown li {
  display: block;
  margin-bottom: 7px;
}
.fh5co-nav ul li.has-dropdown .dropdown li:last-child {
  margin-bottom: 0;
}
.fh5co-nav ul li.has-dropdown .dropdown li a {
  padding: 2px 0;
  display: block;
  color: #999999;
  line-height: 1.2;
  text-transform: none;
  font-size: 15px;
}
.fh5co-nav ul li.has-dropdown .dropdown li a:hover {
  color: #000;
}
.fh5co-nav ul li.has-dropdown:hover a, .fh5co-nav ul li.has-dropdown:focus a {
  color: #fff;
}
.fh5co-nav ul li.active > a {
  color: #fff !important;
  position: relative;
}
.fh5co-nav ul li.active > a:after {
  background: #fff;
  height: 2px;
  width: 50%;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  content: "";
  margin: 0 auto;
}

#fh5co-header,
#fh5co-counter,
.fh5co-bg {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}

.fh5co-bg {
  background-size: cover;
  background-position: center center;
  position: relative;
  width: 100%;
  float: left;
  position: relative;
}

#fh5co-header a {
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
#fh5co-header a:hover {
  color: white;
  border-bottom: 1px solid white;
}

.fh5co-cover {
  height: 800px;
  /*background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;*/
  position: relative;
  float: left;
  width: 100%;
}
.fh5co-cover .overlay {
  z-index: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  /*background: rgba(255, 62, 28, 0.5);
  background: -moz-linear-gradient(left, rgba(255, 62, 28, 0.5) 0%, rgba(255, 62, 28, 0.63) 26%, darkorange 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 62, 28, 0.5)), color-stop(26%, rgba(255, 62, 28, 0.63)), color-stop(100%, darkorange));
  background: -webkit-linear-gradient(left, rgba(255, 62, 28, 0.5) 0%, rgba(255, 62, 28, 0.63) 26%, darkorange 100%);
  background: -o-linear-gradient(left, rgba(255, 62, 28, 0.5) 0%, rgba(255, 62, 28, 0.63) 26%, darkorange 100%);
  background: -ms-linear-gradient(left, rgba(255, 62, 28, 0.5) 0%, rgba(255, 62, 28, 0.63) 26%, darkorange 100%);
  background: linear-gradient(to right, rgba(255, 62, 28, 0.5) 0%, rgba(255, 62, 28, 0.63) 26%, darkorange 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3e1c', endColorstr='#ff8c00', GradientType=1 );*/
}
.fh5co-cover > .fh5co-container {
  position: relative;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .fh5co-cover {
    height: 600px;
  }
}
.fh5co-cover .display-t,
.fh5co-cover .display-tc {
  z-index: 9;
  height: 900px;
  display: table;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .fh5co-cover .display-t,
  .fh5co-cover .display-tc {
    height: 600px;
  }
}
.fh5co-cover.fh5co-cover-sm {
  height: 600px;
}
@media screen and (max-width: 768px) {
  .fh5co-cover.fh5co-cover-sm {
    height: 400px;
  }
}
.fh5co-cover.fh5co-cover-sm .display-t,
.fh5co-cover.fh5co-cover-sm .display-tc {
  height: 600px;
  display: table;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .fh5co-cover.fh5co-cover-sm .display-t,
  .fh5co-cover.fh5co-cover-sm .display-tc {
    height: 400px;
  }
}

#fh5co-header .display-tc,
#fh5co-counter .display-tc,
.fh5co-cover .display-tc {
  display: table-cell !important;
  vertical-align: middle;
}
#fh5co-header .display-tc h1, #fh5co-header .display-tc h2,
#fh5co-counter .display-tc h1,
#fh5co-counter .display-tc h2,
.fh5co-cover .display-tc h1,
.fh5co-cover .display-tc h2 {
  margin: 0;
  padding: 0;
  color: white;
}
#fh5co-header .display-tc h1,
#fh5co-counter .display-tc h1,
.fh5co-cover .display-tc h1 {
  margin-bottom: 0px;
  font-size: 60px;
  line-height: 1.5;
  letter-spacing: 2px;
}
@media screen and (max-width: 768px) {
  #fh5co-header .display-tc h1,
  #fh5co-counter .display-tc h1,
  .fh5co-cover .display-tc h1 {
    font-size: 40px;
  }
}
#fh5co-header .display-tc h2,
#fh5co-counter .display-tc h2,
.fh5co-cover .display-tc h2 {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 30px;
}
#fh5co-header .display-tc .btn,
#fh5co-counter .display-tc .btn,
.fh5co-cover .display-tc .btn {
  padding: 15px 30px;
  background: #F36363;
  color: #fff;
  border: none !important;
  font-size: 18px;
  text-transform: uppercase;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
}
#fh5co-header .display-tc .btn:hover,
#fh5co-counter .display-tc .btn:hover,
.fh5co-cover .display-tc .btn:hover {
  background: #251f1f !important;
  -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
}
#fh5co-header .display-tc .form-inline .form-group,
#fh5co-counter .display-tc .form-inline .form-group,
.fh5co-cover .display-tc .form-inline .form-group {
  width: 100% !important;
  margin-bottom: 10px;
}
#fh5co-header .display-tc .form-inline .form-group .form-control,
#fh5co-counter .display-tc .form-inline .form-group .form-control,
.fh5co-cover .display-tc .form-inline .form-group .form-control {
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  border: none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
}

/*.fh5co-bg-section {
  background: rgba(0, 0, 0, 0.05);
}*/

#fh5co-services,
#fh5co-started,
#fh5co-testimonial,
#fh5co-blog,
#fh5co-project,
#fh5co-about,
#fh5co-contact,
#fh5co-footer {
  padding: 2em 0;
  clear: both;
}
@media screen and (max-width: 768px) {
  #fh5co-services,
  #fh5co-started,
  #fh5co-testimonial,
  #fh5co-blog,
  #fh5co-project,
  #fh5co-about,
  #fh5co-contact,
  #fh5co-footer {
    padding: 3em 0;
  }
}

.about-content {
  margin-bottom: 5em;
}
.about-content img {
  margin-bottom: 30px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}
.about-content .desc {
  margin-bottom: 3em;
}

.fh5co-staff {
  text-align: center;
  margin-bottom: 30px;
}
.fh5co-staff img {
  width: 170px;
  margin-bottom: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.fh5co-staff h3 {
  font-size: 24px;
  margin-bottom: 5px;
}
.fh5co-staff p {
  margin-bottom: 30px;
}
.fh5co-staff .role {
  color: #bfbfbf;
  margin-bottom: 30px;
  font-weight: normal;
  display: block;
}

.fh5co-social-icons {
  margin: 0;
  padding: 0;
}
.fh5co-social-icons li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.fh5co-social-icons li a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  color: #F36363;
  padding-left: 10px;
  padding-right: 10px;
}
.fh5co-social-icons li a i {
  font-size: 20px;
}

#fh5co-services{ padding: 0px;}
.fh5co-contact-info ul {
  padding: 0;
  margin: 0;
}
.fh5co-contact-info ul li {
  padding: 0 0 0 40px;
  margin: 0 0 30px 0;
  width: 74%;
  list-style: none;
  position: relative;
}
.fh5co-contact-info ul li:before {
  color: #F36363;
  position: absolute;
  left: 0;
  top: .05em;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fh5co-contact-info ul li.address:before {
  font-size: 30px;
  content: "\e9d1";
}
.fh5co-contact-info ul li.phone:before {
  font-size: 23px;
  content: "\e9f4";
}
.fh5co-contact-info ul li.email:before {
  font-size: 23px;
  content: "\e9da";
}
.fh5co-contact-info ul li.url:before {
  font-size: 23px;
  content: "\e9af";
}

.feature-center {
  padding-left: 60px;
  padding-right: 20px;
  float: left;
  width: 100%;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .feature-center {
    margin-bottom: 50px;
  }
}
.feature-center .desc {
  padding-left: 180px;
}
.feature-center .icon {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
}
.feature-center .icon i {
  font-size: 40px;
  color: #F36363;
}
.feature-center p, .feature-center h3 {
  margin-bottom: 30px;
}
.feature-center p:last-child {
  margin-bottom: 0;
}
.feature-center h3 {
  font-size: 22px;
  color: #5d5d5d;
}

#fh5co-project .fh5co-project {
  margin-bottom: 30px;
}
#fh5co-project .fh5co-project > a {
  display: block;
  color: #000;
  position: relative;
  bottom: 0;
  overflow: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#fh5co-project .fh5co-project > a img {
  position: relative;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#fh5co-project .fh5co-project > a:after {
  opacity: 0;
  visibility: hidden;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  -webkit-box-shadow: inset 0px -34px 98px 8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px -34px 98px 8px rgba(0, 0, 0, 0.75);
  -ms-box-shadow: inset 0px -34px 98px 8px rgba(0, 0, 0, 0.75);
  -o-box-shadow: inset 0px -34px 98px 8px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px -34px 98px 8px rgba(0, 0, 0, 0.75);
  z-index: 8;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#fh5co-project .fh5co-project > a h3, #fh5co-project .fh5co-project > a span {
  z-index: 12;
  position: absolute;
  right: 20px;
  left: 20px;
  bottom: 50px;
  color: #fff;
  margin: 0;
  padding: 0;
  opacity: 1;
  font-size: 30px;
  font-weight: 300;
  visibility: visible;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#fh5co-project .fh5co-project > a span {
  font-size: 14px;
  bottom: 20px;
}
#fh5co-project .fh5co-project > a:hover {
  -webkit-box-shadow: 0px 18px 71px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 18px 71px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 18px 71px -10px rgba(0, 0, 0, 0.75);
}
#fh5co-project .fh5co-project > a:hover:after {
  opacity: 1;
  visibility: visible;
}
@media screen and (max-width: 768px) {
  #fh5co-project .fh5co-project > a:hover:after {
    opacity: 0;
    visibility: hidden;
  }
}
#fh5co-project .fh5co-project > a:hover h3, #fh5co-project .fh5co-project > a:hover span {
  opacity: 1;
  bottom: 55px;
}
#fh5co-project .fh5co-project > a:hover span {
  bottom: 15px;
}
#fh5co-project .fh5co-project > a:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
@media screen and (max-width: 768px) {
  #fh5co-project .fh5co-project > a:hover img {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

.fh5co-blog {
  margin-bottom: 60px;
}
.fh5co-blog > a {
  display: block;
  position: relative;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.fh5co-blog > a img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .fh5co-blog {
    width: 100%;
  }
}
.fh5co-blog .blog-text {
  margin-bottom: 30px;
  position: relative;
  background: #fff;
  width: 100%;
  padding: 20px;
  float: left;
  margin-top: -5em;
  -webkit-box-shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.18);
}
.fh5co-blog .blog-text span {
  display: inline-block;
  margin-bottom: 20px;
}

.fh5co-blog .blog-text span.posted_on:before {
  position: absolute;
  top: -9px;
  left: 0;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 9px 9px;
  border-color: transparent transparent #F36363 transparent;
}
.fh5co-blog .blog-text span.comment {
  float: right;
}
.fh5co-blog .blog-text span.comment a {
  color: rgba(0, 0, 0, 0.3);
}
.fh5co-blog .blog-text span.comment a i {
  color: #F36363;
  padding-left: 7px;
}
.fh5co-blog .blog-text h3 {
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 1.5;
}
.fh5co-blog .blog-text h3 a {
  color: black;
}

.fh5co-heading {
  margin-bottom: 2em;
}
.fh5co-heading.fh5co-heading-sm {
  margin-bottom: 2em;
}
.fh5co-heading h2 {
  font-size: 40px;
  margin-bottom: 20px;
  line-height: 1.5;
  color: #000;
}
.fh5co-heading p {
  font-size: 18px;
  line-height: 1.5;
  color: #828282;
}

#fh5co-testimonial {
  position: relative;
}
#fh5co-testimonial .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
}
#fh5co-testimonial .fh5co-heading h2 {
  color: white;
}
#fh5co-testimonial .box-testimony {
  margin-bottom: 2em;
  float: left;
}
#fh5co-testimonial .box-testimony a {
  color: rgba(255, 255, 255, 0.5);
}
#fh5co-testimonial .box-testimony a:hover, #fh5co-testimonial .box-testimony a:focus, #fh5co-testimonial .box-testimony a:active {
  color: white;
  text-decoration: none;
}
#fh5co-testimonial .box-testimony blockquote {
  padding-left: 0;
  border-left: none;
  padding: 40px;
  background: #fff;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
#fh5co-testimonial .box-testimony blockquote:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 40px;
  border-top: 15px solid black;
  border-top-color: #fff;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}
#fh5co-testimonial .box-testimony blockquote .quote {
  position: absolute;
  top: 0;
  left: 10px;
  text-align: center;
  font-size: 30px;
  line-height: 0;
  display: table;
  color: #fff;
  width: 56px;
  height: 56px;
  margin-top: -30px;
  background: #F36363;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#fh5co-testimonial .box-testimony blockquote .quote > span {
  display: table-cell;
  vertical-align: middle;
}
#fh5co-testimonial .box-testimony blockquote p {
  letter-spacing: 1px;
  font-family: "Playfair Display", Arial, serif;
}
#fh5co-testimonial .box-testimony .author {
  line-height: 20px;
  color: white;
  font-size: 20px;
  margin-left: 20px;
}
#fh5co-testimonial .box-testimony .author .subtext {
  display: block;
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
}

#fh5co-started {
  background: #392f2f;
}
#fh5co-started .fh5co-heading h2 {
  color: #fff;
  margin-bottom: 20px !important;
}
#fh5co-started .fh5co-heading p {
  color: rgba(255, 255, 255, 0.5);
}
#fh5co-started .btn {
 /* height: 54px;*/
  border: none !important;
  background: #F36363;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px 19px;
  /*padding-left: 30px;
  padding-right: 30px;
  padding-top: 18px;*/
}
#fh5co-started .btn:hover {
  background: #f04242 !important;
  -webkit-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75) !important;
}
#fh5co-started .form-inline .form-group {
  width: 100% !important;
  margin-bottom: 10px;
}
#fh5co-started .form-inline .form-group .form-control {
  width: 100%;
}

#fh5co-footer {
  background: #efefef;
}
#fh5co-footer .fh5co-footer-links {
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 768px) {
  #fh5co-footer .fh5co-footer-links {
    margin-bottom: 30px;
  }
}
#fh5co-footer .fh5co-footer-links li {
  padding: 0;
  margin: 0;
  list-style: none;
  border-bottom: 1px dotted black;
  
}
#fh5co-footer .fh5co-footer-links li a {
  color: #000;
  text-decoration: none;
}
#fh5co-footer .fh5co-footer-links li a:hover {
  text-decoration: underline;
}
#fh5co-footer .fh5co-widget {
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  #fh5co-footer .fh5co-widget {
    text-align: left;
  }
}
#fh5co-footer .fh5co-widget h3 {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#fh5co-footer .copyright .block {
  display: block;
}

#map {
  width: 100%;
  height: 500px;
  position: relative;
}
@media screen and (max-width: 768px) {
  #map {
    height: 200px;
  }
}

#fh5co-offcanvas {
  position: absolute;
  z-index: 1901;
  width: 270px;
  background: black;
  top: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 45px 40px 40px 40px;
  overflow-y: auto;
  display: none;
  -moz-transform: translateX(270px);
  -webkit-transform: translateX(270px);
  -ms-transform: translateX(270px);
  -o-transform: translateX(270px);
  transform: translateX(270px);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  #fh5co-offcanvas {
    display: block;
  }
}
.offcanvas #fh5co-offcanvas {
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}
#fh5co-offcanvas a {
  color: rgba(255, 255, 255, 0.5);
}
#fh5co-offcanvas a:hover {
  color: rgba(255, 255, 255, 0.8);
}
#fh5co-offcanvas ul {
  padding: 0;
  margin: 0;
}
#fh5co-offcanvas ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}
#fh5co-offcanvas ul li > ul {
  padding-left: 20px;
  display: none;
}
#fh5co-offcanvas ul li.offcanvas-has-dropdown > a {
  display: block;
  position: relative;
}
#fh5co-offcanvas ul li.offcanvas-has-dropdown > a:after {
  position: absolute;
  right: 0px;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e921";
  font-size: 20px;
  color: rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#fh5co-offcanvas ul li.offcanvas-has-dropdown.active a:after {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.uppercase {
  font-size: 14px;
  color: #000;
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.gototop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.gototop.active {
  opacity: 1;
  visibility: visible;
}
.gototop a {
  width: 50px;
  height: 50px;
  display: table;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.gototop a i {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}
.gototop a:hover, .gototop a:active, .gototop a:focus {
  text-decoration: none;
  outline: none;
}

.fh5co-nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
}
.fh5co-nav-toggle.active i::before, .fh5co-nav-toggle.active i::after {
  background: #444;
}
.fh5co-nav-toggle:hover, .fh5co-nav-toggle:focus, .fh5co-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
.fh5co-nav-toggle i {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 2px;
  color: #252525;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #252525;
  transition: all .2s ease-out;
}
.fh5co-nav-toggle i::before, .fh5co-nav-toggle i::after {
  content: '';
  width: 25px;
  height: 2px;
  background: #252525;
  position: absolute;
  left: 0;
  transition: all .2s ease-out;
}
.fh5co-nav-toggle.fh5co-nav-white > i {
  color: #fff;
  background: #fff;
}
.fh5co-nav-toggle.fh5co-nav-white > i::before, .fh5co-nav-toggle.fh5co-nav-white > i::after {
  background: #fff;
}

.fh5co-nav-toggle i::before {
  top: -7px;
}

.fh5co-nav-toggle i::after {
  bottom: -7px;
}

.fh5co-nav-toggle:hover i::before {
  top: -10px;
}

.fh5co-nav-toggle:hover i::after {
  bottom: -10px;
}

.fh5co-nav-toggle.active i {
  background: transparent;
}

.fh5co-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.fh5co-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.fh5co-nav-toggle {
  position: absolute;
  right: 0px;
  top: 10px;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 44px;
  z-index: 2001;
  border-bottom: none !important;
}
@media screen and (max-width: 768px) {
  .fh5co-nav-toggle {
    display: block;
  }
}

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Work Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 8px 20px;
}
.btn.btn-md {
  padding: 8px 20px !important;
}
.btn.btn-lg {
  padding: 18px 36px !important;
}
.btn:hover, .btn:active, .btn:focus {
  box-shadow: none !important;
  outline: none !important;
}

.btn-primary {
  background: #F36363;
  color: #fff;
  border: 2px solid #F36363;
  padding: 5px 28px;
  border-radius: inherit;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: #f57b7b !important;
  border-color: #f57b7b !important;
}
.btn-primary.btn-outline {
  background: transparent;
  color: #F36363;
  border: 2px solid #F36363;
}
.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
  background: #F36363;
  color: #fff;
}

.btn-success {
  background: #5cb85c;
  color: #fff;
  border: 2px solid #5cb85c;
}
.btn-success:hover, .btn-success:focus, .btn-success:active {
  background: #4cae4c !important;
  border-color: #4cae4c !important;
}
.btn-success.btn-outline {
  background: transparent;
  color: #5cb85c;
  border: 2px solid #5cb85c;
}
.btn-success.btn-outline:hover, .btn-success.btn-outline:focus, .btn-success.btn-outline:active {
  background: #5cb85c;
  color: #fff;
}

.btn-info {
  background: #5bc0de;
  color: #fff;
  border: 2px solid #5bc0de;
}
.btn-info:hover, .btn-info:focus, .btn-info:active {
  background: #46b8da !important;
  border-color: #46b8da !important;
}
.btn-info.btn-outline {
  background: transparent;
  color: #5bc0de;
  border: 2px solid #5bc0de;
}
.btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {
  background: #5bc0de;
  color: #fff;
}

.btn-warning {
  background: #f0ad4e;
  color: #fff;
  border: 2px solid #f0ad4e;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
  background: #eea236 !important;
  border-color: #eea236 !important;
}
.btn-warning.btn-outline {
  background: transparent;
  color: #f0ad4e;
  border: 2px solid #f0ad4e;
}
.btn-warning.btn-outline:hover, .btn-warning.btn-outline:focus, .btn-warning.btn-outline:active {
  background: #f0ad4e;
  color: #fff;
}

.btn-danger {
  background: #d9534f;
  color: #fff;
  border: 2px solid #d9534f;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
  background: #d43f3a !important;
  border-color: #d43f3a !important;
}
.btn-danger.btn-outline {
  background: transparent;
  color: #d9534f;
  border: 2px solid #d9534f;
}
.btn-danger.btn-outline:hover, .btn-danger.btn-outline:focus, .btn-danger.btn-outline:active {
  background: #d9534f;
  color: #fff;
}

.btn-outline {
  background: none;
  border: 2px solid gray;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
  box-shadow: none;
}

.btn.with-arrow {
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn.with-arrow i {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -8px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.btn.with-arrow:hover {
  padding-right: 50px;
}
.btn.with-arrow:hover i {
  color: #fff;
  right: 18px;
  visibility: visible;
  opacity: 1;
}

.form-control {
  box-shadow: none;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 54px;
  font-size: 18px;
  margin-top: 5px;
}
.form-control:active, .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #F36363;
}

.row-pb-md {
  padding-bottom: 4em !important;
}

.row-pb-sm {
  padding-bottom: 2em !important;
}

.fh5co-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/loader.gif) center no-repeat #fff;
}

.js .animate-box {
  opacity: 0;
}

#fh5co-header-subscribe #email {
  padding-right: 9em;
}
#fh5co-header-subscribe button {
  position: absolute;
  top: 0;
  right: 10px;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

/*# sourceMappingURL=style.css.map */



.footer_wrapper{ background: rgba(0, 0, 0, 0.05);}


/*footer*/
.lianxi{
	background: rgba(0, 0, 0, 0.05);
	padding: 3rem 0;
	color: #8b939d;
	font-size: 0.875rem;
	text-align: center;
}

.b-nav{
       padding: 1rem 0;
       text-align: center;
  
  }
.b-nav a{
	display: inline-block;
	padding: 0 2rem;
	color: #8b939d;
	font-family: "微软雅黑";
	font-size:15px;
 }
.copy{
	font-family: "微软雅黑";
	font-size:15px;
	}
.b-nav a:hover{
	          color: #D80808;
	 }


.footer_bottom {
    border-top: 1px solid #3C3A3A;
    padding: 20px 0;
}

.footer_bottom span {
    display: block;
    font-size: 14px;
    color: #cccccc;
    text-align: center;
}

.footer_bottom span a {
    display: inline-block;
    color: #df0031;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.footer_bottom span a:hover {
    color: #fff;
}




/*æœåŠ¡é¡¹ç›®*/

.i_serList ul li {
	margin-bottom: 50px;
	list-style-type: none;


}
.i_serList ul li .kuang{
	border: 1px solid #f4f4f4;
	padding:45px 0px 10px 0px ;

}

.i_serList ul li .img {
	margin: 10px auto;
	width: 80px;
	height: 85px;
}
.i_serList ul li span h2 a {
	font-size: 18px;
	display: block;
	text-align: center;
	color: #464646;
padding-top: 1em;
}
.i_serList ul li span p {
	text-transform: uppercase;
	text-align: center;
	color: #464646;
	padding: 5px 40px;
}





/*新闻显示页面*/
.news_show {
  max-width: 1240px;
  width: 98%;
  margin: auto;
  color: #666666;
}
.news_show .show_t {
  font-size: 26px;
  text-align: center;
  display: block;
  margin: 10px auto;
  color: #81a849;
  white-space: nowrap;
  overflow: hidden;
}
@media (max-width: 480px) {
  .news_show .show_t {
    font-size: 18px;
  }
}
.news_show .fa_time {
  font-size: 14px;
  color: #999;
  text-align: center;
  display: block;
  white-space: nowrap;
  overflow: hidden;
}
.news_show p {
  margin: 30px auto;
  line-height: 30px;
  width: 100%;
  text-align: left;
}
.news_show .s_img {
  margin-bottom: 30px;
}
.news_show .s_img .pic {
  width: 48%;
  float: left;
  margin-right: 2%;
  position: relative;
}
.news_show .s_img .pic i {
  display: block;

}
.news_show .s_x {
  margin-top: 30px;
  margin-bottom: 70px;
  overflow: hidden;
}
.news_show .s_x a {
  display: block;
  width: 48%;
  float: left;
  border: 1px solid #cccccc;
  height: 32px;
  line-height: 32px;
  padding-left: 30px;
  color: #999;
  box-shadow: 0px 2px 0px #e6e6e6;
  -moz-box-shadow: 0px 2px 0px #e6e6e6;
  -webkit-box-shadow: 0px 2px 0px #e6e6e6;
  overflow: hidden;
  margin-bottom: 2px;
}
.news_show .s_x a:hover {
  border: 1px solid #81a849;
  box-shadow: 0px 2px 1px #a2bf78;
  color: #81a849;

}
.news_show .s_x .s_prev {
  margin-right: 4%;
}
@media (max-width: 480px) {
  .news_show .s_x {
    margin-bottom: 40px;
  }
  .news_show .s_x a {
    width: 100%;
    float: none;
    margin-bottom: 10px;
  }
}
.head_bar {
  max-width: 1240px;
  width: 98%;
  text-align: right;
  line-height: 35px;
  color: #999999;
  font-size: 14px;
  margin: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.head_bar a {
  color: #999999;
}
.head_bar a:hover {
  color: #81a849;
}
.head_bar .active {
  color: #81a849;
}



.travel_con {
  max-width: 1240px;
  width: 100%;
  margin: auto;
}
.travel_con .xianguan {
  height: 40px;
  background: #f2f3ed;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  color: #666666;
  margin: 20px auto;
}
.travel_con .tra_ul {
  width: 100%;
}
.travel_con .tra_ul ul {
  width: 100%;
  text-align: center;
  margin: auto;
  padding-top: 20px;
}
.travel_con .tra_ul ul li {
  float: left;
  width: 31.333%;
  position: relative;
  max-width: 392px;
  margin-left: 2%;
  margin-bottom: 40px;

  list-style-type: none;
}
.travel_con .tra_ul ul li a {
  display: block;
  position: relative;
  color: #666666;
  font-size: 17px;
  line-height: 30px;
  overflow: hidden;
}
.travel_con .tra_ul ul li a img {
  z-index: 9999;
  transition: 0.3s;
    position: relative;
    
height:16em; width: 22em;
}
.travel_con .tra_ul ul li a i {
  display: block;
  padding-bottom: 1em;
}
.travel_con .tra_ul ul li a:hover {
  color: #81a849;
  font-weight: bold;
}
.travel_con .tra_ul ul li a:hover img {
  transform: scale(1.1);
}
/*.travel_con .tra_ul ul li:after {
  content: "";
  padding-bottom: 71.05263157894737%;
  border: 1px solid #d9d9d9;
  position: absolute;
  width: 95%;
  top: -10px;
  left: -10px;
  z-index: 9;
}*/
.travel_con .tra_ul ul li:hover:after {
  border: 1px solid #81a849;
}
@media (max-width: 640px) {
  .travel_con .tra_ul ul {
    width: 80%;
  }
  .travel_con .tra_ul ul li {
    width: 100%;
    float: none;
    margin: auto auto 30px;
    margin-left: 4%;
  }
}
.travel_con .tra_ul .top_a {
  text-align: center;
  margin: 20px auto 10px;
}
.travel_con .tra_ul .top_a a {
  display: inline-block;
  color: #666;
  font-size: 14px;
  padding: 4px 20px;
  margin-bottom: 10px;

}
.travel_con .tra_ul .top_a a:last-child {
  background: none;
}
.travel_con .tra_ul .top_a a:hover {
  color: #81a849;
}
.travel_con .tra_ul .top_a .active {
  color: #81a849;
}
.travel_con .tra_ul .page {
  padding-top: 0px;
}
.travel_show .tra_con {
  max-width: 1240px;
  width: 100%;
  margin: auto;
}
.travel_show .tra_con .top_t {
  text-align: center;
  color: #81a849;
  font-size: 26px;
  margin: 10px auto;
}
.travel_show .tra_con .top_2 {
  font-size: 18px;
  color: #666;
  text-align: center;
}
.travel_show .tra_con .top_2 i {
  font-style: normal;
  color: #e3e3e3;
}
.travel_show .tra_con .tu_qie {
  width: 100%;
  margin: 40px auto;
}
.travel_show .tra_con .tu_qie .left {
  width: 61%;
  float: left;
}
.travel_show .tra_con .tu_qie .left .pic {
  width: 95%;
  position: relative;
  float: right;
  margin-top: 20px;
}
.travel_show .tra_con .tu_qie .left .pic img {
  z-index: 99999;
}
.travel_show .tra_con .tu_qie .left .pic i {
  display: block;
  /*padding-bottom: 70.83333333333334%;*/
}
.travel_show .tra_con .tu_qie .left .pic:after {
  content: "";
  padding-bottom: 71.05263157894737%;
  border: 1px solid #d9d9d9;
  position: absolute;
  width: 95%;
  top: -10px;
  left: -10px;
  z-index: 9;
}
.travel_show .tra_con .tu_qie .left .pic:hover:after {
  border: 1px solid #81a849;
}
.travel_show .tra_con .tu_qie .left a {
  display: block;
}
.travel_show .tra_con .tu_qie .right {
  width: 37%;
  float: right;
}
.travel_show .tra_con .tu_qie .right ul li {
  float: left;
  width: 48%;
  margin-bottom: 30px;
  margin-right: 2%;
}
.travel_show .tra_con .tu_qie .right ul li .pic_li {
  width: 90%;
  position: relative;
  float: right;
  margin-top: 20px;
  cursor: pointer;
}
.travel_show .tra_con .tu_qie .right ul li .pic_li img {
  z-index: 9999;

}
.travel_show .tra_con .tu_qie .right ul li .pic_li i {
  display: block;
  padding-bottom: 71.42857142857143%;
}
.travel_show .tra_con .tu_qie .right ul li .pic_li:after {
  content: "";
  padding-bottom: 71.05263157894737%;
  border: 1px solid #d9d9d9;
  position: absolute;
  width: 98%;
  top: -10px;
  left: -10px;
  z-index: 9;
}
.travel_show .tra_con .tu_qie .right ul li .pic_li:hover:after {
  border: 1px solid #81a849;
}
@media (max-width: 480px) {
  .travel_show .tra_con .tu_qie .right ul li {
    margin-bottom: 10px;
  }
  .travel_show .tra_con .tu_qie .right ul li .pic_li:after {
    content: "";
    padding-bottom: 71.05263157894737%;
    border: 1px solid #d9d9d9;
    position: absolute;
    width: 98%;
    top: -8%;
    left: -8%;
    z-index: 9;
  }
}
.travel_show .tra_con p {
  padding: 0px 30px;
  margin: 0px;
  line-height: 25px;
  color: #666666;
}
.travel_show .feedback_con {
  overflow: hidden;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
}

@media (max-width: 480px) {
  .page {
    margin: 0px 0px 40px 0px;
  }
}
.top_qie {
  height: 70px;
  margin-top: 10px;
  width: 100%;
  text-align: center;
}
.top_qie a {
  display: inline-block;
  font-size: 16px;
  color: #666;
  line-height: 35px;
  margin: auto 25px;
  border-style: solid;
  border-width: 1px;
  padding: 0px 30px;
  border-radius: 5px;
}
.top_qie a:hover {
  background-color: #81a849;
 color:#fff;
}

@media (max-width: 480px) {
  .top_qie a {
    margin: auto 10px;
  }
}
.top_qie a.active {
  background-color: #81a849;
  color: #fff;
}
.mod_pagination {
	display: block;
	width: 100%;
	overflow: hidden;
	text-align: right;
}

.mod_pagination li {
	display: inline-block;
}

.mod_pagination li a,
.mod_pagination li span {
	color: #646464;
}




#fh5co-project{ background-color: #F4F4F4;}



#fh5co-testimonial ul li{ color: #fff !important; /*position: relative; z-index: 11; */padding-top: 10px; }
#fh5co-testimonial .zi{float: left; }
#fh5co-testimonial ul li img{ width: 100%;}
@media (min-width: 992px){

.tou {
   margin-left: 0px ;
}
}
#fh5co-testimonial .tupian{ float: right;}
#fh5co-testimonial .tupian img{width: 100%;vertical-align: top; margin-top: -90px;}


#fh5co-project .fh5co-project h3{ font-size: 18px !important;}
#fh5co-project .fh5co-project span{ color: #fff !important;}


.tu{ margin-left: 0px;}
.tu h3{ color: #fff;}

.ding{ margin-top: 20px;}
.ding div:nth-child(2){ margin-top: 25px;}

.ding div:last-child{ margin-top: 25px !important; }

.si h3{
	/*white-space:nowrap;text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow: hidden;*/
}


@media screen and (min-width: 991px) {
.tu img{ width: 75%;}

}

@media screen and (max-width: 510px) {
.tu img{ width: 100% !important;}
.ding div:last-child{ margin-top: 0px !important; }
.ding div:nth-child(2) p{ display: none;}
}



.fh5co-nav #fh5co-logo img{ width: 44%;}




#fh5co-about{ padding-top:5em;}


.about-content .about-tu{ margin-top: 30px; text-align: -webkit-center;}



.siren{ width: 100%;text-align: center;}
.siren div{display: inline-block; margin-top: 20px; }
.siren div p{ text-align: left; padding-top: 20px; padding-bottom: 20px; padding-left: 20px;}
.siren div .p{ padding-left: 0px;}


/*æ–‡è‹‘ä¹‹æ—…*/
.travel_con {
  max-width: 1240px;
  width: 100%;
  margin: auto;
}
.travel_con .xianguan {
  height: 40px;
  background: #f2f3ed;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  color: #666666;
  margin: 20px auto;
}
.travel_con .tra_ul {
  width: 100%;
}
.travel_con .tra_ul ul {
  width: 100%;
  text-align: center;
  margin: auto;
  padding-top: 20px;
}
.travel_con .tra_ul ul li {
  float: left;
  width: 31.333%;
  position: relative;
  max-width: 392px;
  margin-left: 12px;
  margin-bottom: 40px;
}
.travel_con .tra_ul ul li a {
  display: block;
  position: relative;
  color: #666666;
  font-size: 17px;
  line-height: 30px;
  overflow: hidden;
}
.travel_con .tra_ul ul li a img {
  z-index: 9999;
  transition: 0.3s;
}
.travel_con .tra_ul ul li a i {
  display: block;
 /* padding-bottom: 71.05263157894737%;*/
}
.travel_con .tra_ul ul li a:hover {
  color: #81a849;
  font-weight: bold;
}
.travel_con .tra_ul ul li a:hover img {
  transform: scale(1.1);
}
/*.travel_con .tra_ul ul li:after {
  content: "";
  padding-bottom: 71.05263157894737%;
  border: 1px solid #d9d9d9;
  position: absolute;
  width: 95%;
  top: -10px;
  left: -10px;
  z-index: 9;
}*/
.travel_con .tra_ul ul li:hover:after {
  border: 1px solid #81a849;
}
@media (max-width: 640px) {
	.siren .ying{ display: none;}
  .travel_con .tra_ul ul {
    width: 80%;
  }
  .travel_con .tra_ul ul li {
    width: 100%;
    float: none;
    margin: auto auto 30px;
    margin-left: -4%;
  }
}
.travel_con .tra_ul .top_a {
  text-align: center;
  margin: 20px auto 10px;
}
.travel_con .tra_ul .top_a a {
  display: inline-block;
  color: #666;
  font-size: 14px;
  padding: 4px 20px;
  margin-bottom: 10px;
 
}
.travel_con .tra_ul .top_a a:last-child {
  background: none;
}
.travel_con .tra_ul .top_a a:hover {
  color: #81a849;
}
.travel_con .tra_ul .top_a .active {
  color: #81a849;
}
.travel_con .tra_ul .page {
  padding-top: 0px;
}


#fh5co-about{ background-image: url(../images/a-1.png);}


#fh5co-blog h3{ overflow: hidden;
 	text-overflow: ellipsis;
 	display: -webkit-box;
 	-webkit-line-clamp: 1;
 	-webkit-box-orient: vertical;}
#fh5co-blog p{ overflow: hidden;
 	text-overflow: ellipsis;
 	display: -webkit-box;
 	-webkit-line-clamp: 4;
 	-webkit-box-orient: vertical;}


.fh5co-blog .blog-text span.posted_on{
	color: white;
    font-size: 18px;
    padding: 2px 10px;
    padding-left: 23px;
    margin-left: -29px;
    background: #F36363;
    position: relative;
}


.siren-fenlei{ width: 100%;}

@media (max-width: 1200px) {
	.siren .ying{}
	.siren-fenlei div{ width: 24.5%;}
	.siren-fenlei div img{ width: 100px; height: 100px;}
	/*.siren div p{ text-align: center;}*/
	}
	@media (max-width: 992px) {
	
	.siren .ying{display: none;}
	.siren div p{ text-align: center;}
	}
	@media (max-width: 768px) {
			.siren div{width: 100%;}
	.siren-fenlei div{ width: 24%;}

	}
@media (max-width: 510px) {
			.siren div{width: 100%;}
	.siren-fenlei div{ width: 35%;}
.siren div p{ text-align: center; padding-right: 15px;}
.i_serList ul li{width: 100%;
    padding-right: 39px;
}
	}
	.ding div:last-child{ margin-top: 0px;}
	
	}	

	