



/**/
.tupian_ding{
	position: relative;
	border:solid #f57a12 3px;
}

.tupian_ding h1{
	position: relative;
	margin-left: -960px;
	left: 50%;

}

.dangq_luj{
	position: absolute;
	right: 0px;
	bottom:15px;
	color: #fff;
}
.dangq_luj p{
	display: inline-block;
}
.dangq_luj i{
	display: inline-block;
	width: 10px;
	height: 10px;
	background:no-repeat url(../images/sanjx.png);
}
.dangq_luj em{
	font-family: "宋体";
	margin:0 15px;
}
.dangq_luj a{
	color: #fff;
}
.dangq_luj a:hover{
	color: #f57a12;
}
.neir_beij{
	background: #0e4162;
}

.erj_daoh_b{
	height: 133px;
	margin-bottom: 30px;
	color: #fff;
	position: relative;
}
.erj_daoh_b .biaot{
	width: 247px;
	height: 133px;
	background: #f57a12;
	text-align: center;
	float: left;
}

.erj_daoh_b .biaot p{
	font-size: 24px;
	padding-top: 35px;
}
.erj_daoh_b .biaot i{
	width: 32px;
	height: 2px;
	display: inline-block;
	background: #fff;	
}
.erj_daoh_b .biaot span{
	display: block;
	text-transform: uppercase;
	font-size: 14px;
	font-family: "微软雅黑";
}
.erji_daoh{ 
	padding-bottom: 15px;
	border-bottom: solid 1px #7894a7;
	width: 928px;
	overflow: hidden;
	position: absolute;
	right: 0; 
	bottom: 0px;
}
.erji_daoh ul{
	float: right;
}
.erji_daoh li{
	float: left;
	width: 120px;
	height: 46px;
	line-height: 46px;
	background: #e7ecf0;
	text-align: center;
	margin-left: 15px;
	
}
.erji_daoh li:hover,.erji_daoh li:hover a{
	background:#f57a12;
	color: #fff
}

.erji_daoh li.no{
	background:#f57a12;
}
.erji_daoh li.no a{
	color: #fff; 
}
.erji_daoh li a{
	color: #353e43; 
	font-size: 16px;
	width: 100%;
	height: 100%;
	display: inline-block;
}

.jianjie_beij{
	padding-bottom: 10px; 
}

.jianjie_wank{ 
	margin-bottom:30px;
	background: #fff;

}

.jianjie_likuang{
	border-top: solid 3px #9f9f9f;
	padding: 25px 18px;
	text-align: center;
}
.jianjie_likuang img{ 
	display: inline-block;
	margin:10px 0;
}

.jianjie_likuang p{
	text-align: left;
	line-height: 30px;
	text-indent: 2em;
}

/*装修风格 开始了*/

.fengge_tu_k{
	width: 1200px;
	height: 150px;
	overflow: hidden;
	padding:20px 0 15px 0;
}

.dangq_luj_1{
	position: relative;
    font-size: 16px;
    padding: 0 0 15px 0;
    bottom: 0px;
}

.dangq_luj_1 i{
	background:no-repeat url(../images/yishu.jpg);
	width: 4px;
	height: 18px;
	position: relative;top: 3px;
	margin-right: 3px;
}

.shuaixuan_k{
	background: #fff;
	overflow: hidden;
}

.shuaixuan_k .zuob{
	float: left;
	width: 120px;
	text-align: center;
	border-right: solid 1px #dfdfdf;
	background: #f7f7f7;
}
.shuaixuan_k .zuob p{
	height: 53px;
	line-height: 53px;
	border-bottom:solid 1px #dfdfdf;
}

.shuaixuan_k .youb_neir{
	float:left;
}

.shuaixuan_k .youb_neir ul{
	height: 53px;
	line-height: 53px;
	padding: 0 10px;
	width:1059px;
	border-bottom:solid 1px #dfdfdf;
}
.shuaixuan_k .youb_neir ul li{
	    float: left;
    line-height: 33px;
    height: 33px;
    display: inline-block;
    padding: 0px 20px;
    margin: 0 2px;
    margin-top: 10px;
    cursor: pointer;

}
.shuaixuan_k .youb_neir ul li.no{
	background: #f57a12;
	color: #fff;
}
.shuaixuan_k .youb_neir ul li:hover{ 
	background: #f57a12;
	color: #fff;
}

.fengg_nali{
	padding: 11px 0px;
	width: 1200px;
	overflow: hidden;
}
.fengg_nali ul{
	width: 1211px; 
	overflow: hidden;
}
.fengg_nali ul li{
	width: 376px;
	height: 364px;
	background: #fff;
	border-radius: 2px;
	padding: 8px;
	position: relative; 
	margin:0 11px 11px 0;
	float: left;
}

.fengg_nali ul li h1{
	width: 376px;
	height: 262px;
	overflow: hidden;
}
.fengg_nali ul li h1 img{
	width: 100%;
}

.fengg_nali ul li .xiak{
	position: relative;
	height: 100px;
}
.fengg_nali ul li .xiak h2{ 
	width: 77px;
	height: 77px; 
	border-radius: 10px;
	overflow: hidden;
	position: absolute;
	left: 12px;
	top: -35px;
}

.fengg_nali ul li .xiak .anlibiaot{
	padding-left: 100px;
}
.fengg_nali ul li .xiak .anlibiaot h3{
	margin-top: 8px;
	color: #353e43;
	font-size: 18px;
}
.fengg_nali ul li .xiak h4{
	padding-top: 16px;
	font-size: 16px;
	color: #353e43;
	margin-left: 12px;
}
.fengg_nali ul li .xiak h4 span{
	font-size: 14px;
	color: #6f7476;
	margin:0 8px;
}

.fengg_nali ul li .xiak .cjkan{
	position: absolute;
	right: 0px;
	bottom: 8px;
	width: 120px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	background: #808181;
	border-radius: 10px;
}
.fengg_nali ul li .xiak .cjkan a{
	color: #fff;
	font-size: 16px;
	display: inline-block;
	width: 100%;
	height: 100%;
}
.fengg_nali ul li .xiak .cjkan em{
	font-family: "宋体";
}

.fengg_nali ul li:hover{
	background: #f57a12;
}
.fengg_nali ul li:hover .xiak .anlibiaot,.fengg_nali ul li:hover .xiak .anlibiaot h3,.fengg_nali ul li:hover .xiak h4 ,.fengg_nali ul li:hover .xiak h4 span{
	color: #fff;
} 
.fengg_nali ul li:hover .xiak .cjkan{
	background: #fff;
}
.fengg_nali ul li:hover .xiak .cjkan a{
	color: #f57a12;
}

.fanye{
	padding:15px 0;
	background: #fff;
	text-align: center;

}
.fanye a{
	padding: 3px 16px;
	border:solid 1px #e5e5e5;
	border-radius: 2px;
}
.fanye a.no{
	color: #f57a12;
	font-weight: 600;
	border:none;
}
.fanye a:hover{
	color: #f57a12;
}

/*设计风格详情*/
.anli_xiangq{
	background: #fff;
	padding:15px;
	overflow: hidden;
}
.anli_xiangq .zuo{
	width: 845px;
	float: left;
	
}
.anli_xiangq .you{
	float: right;
	min-height: 800px;
	width: 290px;
	padding-left: 20px;
	border-left: solid 1px #e0e0e0;
}

.anli_xiangq .you .shejis_biaot{
	text-align: center;
	margin-top:8px;

}

.anli_xiangq .you .shejis_biaot h1{
	font-size: 24px;


}
.anli_xiangq .you .shejis_biaot i{
	width: 35px;
	height: 2px;
	background: #f57a12;
	display: inline-block;
	
}
.anli_xiangq .you .shejis_biaot p{
	text-transform: uppercase;
}

.anli_xiangq .you .fengge_xq_shejs{
	width: 287px;
	height: 265px;
	overflow: hidden;
	padding-top: 20px;
	position: relative;
	text-align: center;
}
.anli_xiangq .you .fengge_xq_shejs a{
	display: inline-block;width: 112px;
	height: 35px;
	border-radius: 3px;
	position: absolute;
	right: 20px;
	bottom: 15px;
	line-height: 35px;
	background: rgba(245,122,18,.9);
	color: #fff;

}
.anli_xiangq .you .fengge_xq_shejs a:hover{
	text-decoration: underline;
}

.anli_xiangq .you .fenge_shej_zl{
	padding: 20px 0px;
	border-bottom: solid 1px #ebebeb;
}
.anli_xiangq .you .fenge_shej_zl p{
	line-height: 25px;
	font-size: 16px;
}
.anli_xiangq .you .fenge_shej_zl p:first-child{
	padding-bottom:15px;
}
.anli_xiangq .you .fenge_shej_zl p em{
	color: #f57a12;
	font-size: 24px; 
	padding-right: 8px;

}
.anli_xiangq .you .fenge_shej_zl p span{
	color: #686868;
}

.sheji_ln{ 
	padding-top: 20px; 
}
.sheji_ln .biaot{
	border-left: solid 3px #f57a12;
	height: 16px;
	font-size: 16px;
	line-height: 16px;
	padding-left: 6px;

}
.sheji_ln .neir{
	 height: 230px;
	 overflow: auto;
	 padding-top: 15px;
}
.sheji_ln .neir p{
	line-height: 25px;
	color: #686868;
}

.anli_xiangq .zuo .biaot{
	text-align: center;
	padding: 10px 0; 

}
.anli_xiangq .zuo .biaot h1{
	line-height:35px;
	font-size: 24px;
}
.anli_xiangq .zuo .biaot p{
	color: #8a8e90;
}
.anli_xiangq .zuo .biaot p em{
	padding-left: 10px; 
}
.anli_jb_xx{
	padding:13px 0;
	background: #fafafa;
	overflow: hidden;
}
.anli_jb_xx ul{
	float: left;
	padding-left:35px;
	width: 245px;
	border-right: solid 1px #dbdbdb
}
.anli_jb_xx ul:last-child{
	border-right: none;
}
.anli_jb_xx ul li{
	margin: 3px 0;
	font-size: 16px;
}
.anli_jb_xx ul li span{
	color: #6f767a;
}

.anli_xiangq .zuo .anli_tup{
padding: 35px 0;
}

/**/

.anlitu_k{
	position: relative; margin: 0 auto; top: 0px; left: 0px; width: 844px; height: 600px; overflow: hidden; visibility: hidden; background-color: #24262e;
}

/* jssor slider arrow navigator skin 05 css */
/*
.jssora05l                  (normal)
.jssora05r                  (normal)
.jssora05l:hover            (normal mouseover)
.jssora05r:hover            (normal mouseover)
.jssora05l.jssora05ldn      (mousedown)
.jssora05r.jssora05rdn      (mousedown)
*/
.jssora05l, .jssora05r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: url('../images/a17.png') no-repeat;
    overflow: hidden;
}
.jssora05l { background-position: -10px -40px; }
.jssora05r { background-position: -70px -40px; }
.jssora05l:hover { background-position: -130px -40px; }
.jssora05r:hover { background-position: -190px -40px; }
.jssora05l.jssora05ldn { background-position: -250px -40px; }
.jssora05r.jssora05rdn { background-position: -310px -40px; }

/* jssor slider thumbnail navigator skin 01 css */
/*
.jssort01 .p            (normal)
.jssort01 .p:hover      (normal mouseover)
.jssort01 .p.pav        (active)
.jssort01 .p.pdn        (mousedown)
*/
.jssort01 .p {
    position: absolute;
    top: 0;
    left: 0;
    width:130px;
    height:78px;
}

.jssort01 .t {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.jssort01 .w {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.jssort01 .c {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 126px;
    height: 74px;
    border: #000 2px solid;
    box-sizing: content-box;
    background: url('../images/t01.png') -800px -800px no-repeat;
    _background: none;
}

.jssort01 .pav .c {
    top: 2px;
    _top: 0px;
    left: 2px;
    _left: 0px;
    width: 126px;
    height:74px;
    border: #000 0px solid;
    _border: #fff 2px solid;
    background-position: 50% 50%;
}

.jssort01 .p:hover .c {
    top: 0px;
    left: 0px;
    width: 128px;
    height: 76px;
    border: #fff 1px solid;
    background-position: 50% 50%;
}

.jssort01 .p.pdn .c {
    background-position: 50% 50%;
    width: 130px;
    height: 78px;
    border: #000 2px solid;
}

* html .jssort01 .c, * html .jssort01 .pdn .c, * html .jssort01 .pav .c {
    /* ie quirks mode adjust */
    width /**/: 72px;
    height /**/: 72px;
}

/*详情页标题*/
.xiangq_y_biaot{
	padding: 25px 0 8px 0px;
	color: #fff;
	border-bottom:solid 1px #d5d5d5;
}
.xiangq_y_biaot p{
	border-left: solid 3px #f57a12;
	height: 16px;
	line-height: 16px;
	font-size: 16px;
	padding-left: 5px;
	font-weight: 600;
	display: inline-block;
}
.xiangq_y_biaot  span{
	padding-left: 10px;
	color: #afb4b8;
}
.xiangq_y_biaot  a{
	float: right;
	color: #afb4b8;
}
.xiangq_y_biaot a:hover{
	color:  #f57a12;
}

/*设计团队开始了*/

.sheji_tuand_ye{
	width: 1200px;
	overflow: hidden;
}
.sheji_tuand_ye ul{
	width: 1213px;
	overflow: hidden;
	padding: 25px 0 0 0;
}

.sheji_tuand_ye ul li{
	width: 274px;
	height: 356px;
	padding: 8px;
	background: #fff;
	float: left;
	margin:0 13px 13px 0;
}
.sheji_tuand_ye ul li:hover{
	background: #f57a12;
}
.sheji_tuand_ye ul li .shejis_tuand{
	width: 274px;
	height: 261px;
	overflow: hidden;
	position: relative;
}
.sheji_tuand_ye ul li .shejis_tuand>div{
	position: absolute;
	text-align: center;
	bottom: 15px;
	width: 274px;
	opacity:0;
	filter:Alpha(opacity=0);  
	transition:opacity 0.3s;
}
.sheji_tuand_ye ul li:hover .shejis_tuand>div{
	opacity:1;
	filter:Alpha(opacity=100); 
}
.sheji_tuand_ye ul li .shejis_tuand>div>div{
	display: inline-block;
}
.sheji_tuand_ye ul li .shejis_tuand>div>div a{
	display: inline-block;
	width: 110px;
	height: 36px;
	line-height: 36px;
	background: rgba(245,122,18,.9);
	color: #fff;
}
.sheji_tuand_ye ul li .shejis_tuand>div>div a:hover{
	background: #117dc2;
}

.sheji_tuand_ye ul li .tuand_text{
	margin-top: 10px;
}

.sheji_tuand_ye ul li .tuand_text h2{
	font-size: 20px;
	padding:8px 0;
	 

}
.sheji_tuand_ye ul li .tuand_text h2 em{
	color: #818587;
	font-size: 14px; 
	margin-left: 10px;
}
.sheji_tuand_ye ul li .tuand_text p{
	line-height: 23px;
}
.sheji_tuand_ye ul li .tuand_text em{
	padding-left: 20px;
}
.sheji_tuand_ye ul li .tuand_text p i{
	color: #f57a12;
}

.sheji_tuand_ye ul li .tuand_text p span{
	display: inline-block;
	width: 223px;
	float: right;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #818587;
}

.sheji_tuand_ye ul li:hover .tuand_text p span,.sheji_tuand_ye ul li:hover .tuand_text h2 em,.sheji_tuand_ye ul li:hover .tuand_text p i,.sheji_tuand_ye ul li:hover .tuand_text{
	color: #fff;
}

/**/
.shejis_jies_b{
	background: #fff;
	padding:20px;
	overflow: hidden;
	margin-bottom:13px;
}
.shejis_jies_b .zuo{
	float: left;
	width: 825px;
	padding-right:50px;
	border-right: solid 1px #e2e2e2; 
}

.shejis_jies_b .zuo .jibxinxi{
	overflow: hidden;
	
}
.shejis_jies_b .zuo .jibxinxi img{
	width: 274px;
	height: 261px;
	float: left;
}
.shejis_jies_b .zuo .jibxinxi>.zil{
	float: left;
	margin-left: 48px; 
	width: 500px;
	position: relative;
}
.shejis_jies_b .zuo .jibxinxi>.zil .mingz
{
	border-bottom: solid 1px #e2e2e2; 
	width: 500px;
	padding: 8px 0 10px 0; 

}
.shejis_jies_b .zuo .jibxinxi>.zil .mingz p{
	font-size:20px;
	line-height: 30px;
}
.shejis_jies_b .zuo .jibxinxi>.zil .mingz span{
	color: #727679;
}

.shejis_jies_b .zuo .jibxinxi>.zil .yuyueta{
	position: absolute;
	top: 25px;
	right: 0px;
	width: 93px;
	height: 34px;
	text-align: center;
	line-height: 34px;
	background: #f57a12;
	color: #fff;
	border-radius: 3px;
}

.shejis_jies_b .zuo .jibxinxi>.zil .shanc{
	padding: 18px 0;
}

.shejis_jies_b .zuo .jibxinxi>.zil .shanc p{
	line-height: 28px;
}
.shejis_jies_b .zuo .jibxinxi>.zil .shanc p em{
	color: #686868;
}

.tuand_xiangq_shej_lin{
	padding: 15px 0;
}

.tuand_xiangq_shej_lin h1{
	font-size: 18px;
	height: 18px;
	line-height: 18px;
	margin: 10px 0;
	padding-left: 8px;
	border-left: solid 2px #f57a12;
}
.tuand_xiangq_shej_lin p{
	text-indent: 2em;
	color: #686868;
	font-size: 16px;
	line-height: 28px;
}

.shejis_jies_b .you{
	width: 250px;
	float: right;
}

.shejis_jies_b .you .biaot{ 
	padding-bottom:12px; 
	border-bottom:solid #e2e2e2 1px;
}
.shejis_jies_b .you .biaot p{
	font-size: 16px;
	padding-left:8px;
	line-height: 16px;
	height:16px;
	border-left: 3px solid #f57a12; 
}

/**/
/* 本例子css */
.picScroll_shejis_you{  position:relative;   }
.picScroll_shejis_you .hd{ position: absolute; bottom: -35px; width: 248px;text-align: center;}  
.picScroll_shejis_you .hd .prevStop{ background-position:-60px 0; }
.picScroll_shejis_you .hd .nextStop{ background-position:-60px -50px; }
.picScroll_shejis_you .hd ul{ display: inline-block; overflow:hidden; zoom:1; margin-top:10px; zoom:1; }
.picScroll_shejis_you .hd ul li{ float:left; height:6px;width:19px; border-radius: 2px; overflow:hidden; margin:0 5px; text-indent:-999px; cursor:pointer;
 background:#333; }
.picScroll_shejis_you .hd ul li.on{ background:#f57a12; }
.picScroll_shejis_you .bd{ padding:10px 0;   }
.picScroll_shejis_you .bd ul{ overflow:hidden; zoom:1; }
.picScroll_shejis_you .bd ul li{ margin:0 1px; float:left; _display:inline; overflow:hidden; text-align:center;  }
.picScroll_shejis_you .bd ul li .pic{ text-align:center; }
.picScroll_shejis_you .bd ul li .pic img{ width:240px; height:229px; display:block;  padding:2px; border:1px solid #ccc; }
.picScroll_shejis_you .bd ul li .pic a:hover img{ border-color:#999;  }
.picScroll_shejis_you .bd ul li .title{ line-height:45px; background: #3a3b3d;height: 45px;color: #fff;   }
.picScroll_shejis_you .bd ul li .title a{
	font-size: 18px;
	color: #fff; 
}
.picScroll_shejis_you .bd ul li .title a span{
	color: #aaaaab;
	font-size: 14px;
	margin-left: 5px;
}


/*装修百科——开始了*/

.baik_neirk{
	padding: 15px 0;
}

.baik_neirk> ul> li{
	padding: 27px;
	height: 266px;
	background: #fff;
	border:solid 1px #fff;
	margin-bottom: 20px;
}
.baik_neirk> ul >li:hover{
	background: #f2f2f2;
	border:solid 1px #f57a12;
}
.baik_neirk ul li .img{
	width: 354px;
	height: 266px;
	overflow: hidden;
	display: block;
	float: left;
}
.baik_neirk >ul> li .img img{ 
	-webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out; 
}

.baik_neirk> ul> li .img:hover img{
	-webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.baik_neirk> ul> li .you_biaot_neir{
	float: right; 
	width: 760px;

}

.baik_neirk >ul> li .you_biaot_neir .biaot{
	border-bottom: solid #e5e5e5 1px;
	padding: 12px 0;
}
.baik_neirk >ul >li .you_biaot_neir .biaot a{
	font-size: 20px;
}
.baik_neirk >ul> li .you_biaot_neir .biaot a:hover{
	color: #f57a12;
}
.baik_neirk >ul >li .you_biaot_neir .biaot span{
	color: #a4a7a9;
	line-height: 35px;
}
.baik_neirk >ul >li .you_biaot_neir .neir{
	padding:20px 0;
	height: 90px;
	line-height: 28px;
	color: #6f7476;
}

.baik_neirk >ul> li .you_biaot_neir .anniu{
	overflow: hidden;
	padding-top: 10px;
}

.baik_neirk> ul >li .you_biaot_neir .anniu p{
	float: left;
	height: 43px;
	line-height: 43px;

}
.baik_neirk> ul >li .you_biaot_neir .anniu p em{
	padding: 5px 0px;
	color: #f57a12;
}

.baik_neirk> ul> li .you_biaot_neir .anniu .a{
	float: right;
}

.baik_neirk> ul> li .you_biaot_neir .anniu .a a{
	float: left;
	height: 43px;
	padding: 0 35px;
	background:#f57a12;
	line-height: 43px;
	margin-left: 15px;
	color: #fff;
	font-size: 16px;
	border:solid 1px #f57a12;

}

.baik_neirk> ul >li .you_biaot_neir .anniu .a a:hover{
	background: #117dc2;
	border:solid 1px #117dc2;
}


.baik_neirk >ul >li .you_biaot_neir .anniu .a a.ling{ 
	background:#fff; 
	color: #797979; 
	border:solid 1px #c9c9c9;
	
}


.baik_neirk >ul >li .you_biaot_neir .anniu .a a.ling:hover{ 
	background:#f57a12; 
	color: #fff; 
	border:solid 1px #f57a12;
}


/*详情*/
.xiangq_y{
	padding-bottom: 20px;
}

.xiangq_y_l {
	background: #fff;
	padding: 18px;
}
.xiangq_y_l .biaot{
	text-align: center;padding: 15px 0;
	border-bottom:solid 1px #dedede;
}
.xiangq_y_l .biaot span{
	line-height: 25px;
	color: #727272;
}

.xiangq_y_l .tuwen{
	padding: 20px 0;
}
.xiangq_y_l .tuwen p{
	line-height: 25px;
	font-size: 16px;
}


/**/
.baik_neirk_huod> ul> li{
	height: 318px;
}
.baik_neirk_huod > ul> li .img{
	width: 600px;
	height: 318px;
}
.baik_neirk_huod > ul> li .img.img_you{
	float: right;
}
.baik_neirk_huod> ul> li .you_biaot_neir {
    float: right;
    width:520px;
}
.baik_neirk_huod> ul> li .you_biaot_neir.zuo_biaot_neir{
	float: left;
}
.baik_neirk_huod >ul> li .you_biaot_neir .biaot{
	line-height: 30px;
	border:none;
	border-bottom: none;
}

.baik_neirk_huod >ul> li .you_biaot_neir .neir{
	height: 130px;
}

.baik_neirk_huod >ul >li .you_biaot_neir .anniu .a a.ling{ 
	background:#b5b5b5; 
	color: #353e43; 
	border:solid 1px #b5b5b5;
	
}
/**/
.daojis {
	float: left;
}
.daojis ul.countdown {
    list-style: none; 
    padding: 0;
    display: block;
    text-align: center;
}

.daojis ul.countdown li {
    display: inline-block;
}

.daojis ul.countdown li span {
    font-size:14px;
    font-weight: 300;
    line-height: 20px;
    color: #f57a12;
    float: left;
}

.daojis ul.countdown li.seperator {
    font-size: 14px; 
    vertical-align: top;
    color: #f57a12;
}
.daojis ul.countdown li p {
    color: #a7abb1;
    font-size: 14px;
    line-height: 20px;
    height:25px;
    display: inline-block;
}
.baik_neirk_huod .daojis ul.countdown li p {
    color: #a7abb1;
    font-size: 14px;
    line-height: 20px;
    height:25px;
}
 

 

.btn {
    background: #f56c4c;
    margin: 40px auto;
    padding: 12px;
    display: block;
    width: 100px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.btn:hover {
    text-decoration: none;
    opacity: .7;
}

.xiangq_huod .biaot{
	min-height: 68px;
	overflow: hidden;
}

.xiangq_huod .biaot .biaot_lik{
	float: left;
	width: 540px;
	text-align: left;
	line-height: 30px;
}


.xiangq_huod .you{
	float: right;
	width: 480px;
	overflow: hidden;
	text-align: right;

}
.xiangq_huod .daojis{
	float: right;
}

.xiangq_huod .countdown{
	float: left;
}

.xiangq_huod .you .baim_anniu{
	padding: 8px 25px;
	background: #f57a12;
	color: #fff;
	display:inline-block;
	margin-bottom: 8px;
}
.xiangq_huod .tuwen{
	text-align: center;
}
.xiangq_huod .tuwen p{
	text-align: left;
	color: #7c8183;
}
.xiangq_huod .tuwen img{
	padding: 15px;
}

.keh_fw_k{
	padding: 15px 0;

}

.keh_fuw_lik{
	position: relative;
	background:no-repeat url(../images/keh_fuw_beij.jpg);
	height: 539px;
}

.keh_fuw_lik .liuyan{
	text-align: center;
	background: #fff;
	border-radius:5px;
	width: 310px;
	height: 415px;
	position: absolute;
	top: 35px;
	right: 35px;
	padding: 25px;

}
.keh_fuw_lik .liuyan h2{
	color: #f57a12;
	line-height: 38px;
}
.keh_fuw_lik .liuyan p{
	margin-bottom:20px;
}

.keh_fuw_lik .liuyan input{
	width: 90%;
	height:40px;
	margin-top: 12px;
	border-radius: 3px;
	border:solid 1px #c0c0c0;
	padding: 0 5px;
}

.keh_fuw_lik .liuyan textarea{
	width: 90%;
	height:82px;
	margin-top: 12px;
	padding: 5px;
	border:solid 1px #c0c0c0;
}
.keh_fuw_lik .liuyan button{
	width: 93%;
	height: 45px;
	margin-top: 25px;
	background: #f57a12;
	border-radius: 3px;
	border:none;
	color: #fff;
	cursor: pointer; 
}

.keh_fuw_lik .liuyan h3{
	line-height: 55px; 
}

.keh_fuw_lik .liuyan h3 em{
	font-weight: 600;
	color: #f57a12;
}

.keh_banner{
	height: 175px;
	overflow: hidden;
	margin:15px 0;
}


/*视频展区开始了*/

.ship_zhans_k{
	width: 1200px;
	overflow: hidden;
}

.ship_zhans_k ul{
	width: 1212px;
	margin-bottom: 20px;
}

.ship_zhans_k ul li{
	width: 290px;
	height: 280px;
	float:left;
	background: #fff;
	margin:0 12px 12px 0;
	border-radius:6px;
	overflow: hidden;
}
 
.ship_zhans_k ul li .img{
	width: 290px;
	height: 202px;
	position: relative;
	border-radius:6px;
	overflow: hidden;
	position: relative;
}

.ship_zhans_k ul li .img a{
	width: 290px;
	height: 202px;
	position: absolute;
	display: inline-block;
	top: 0px;
	left: 0;
	background:no-repeat center center url(../images/bofang_anniu.png);
	z-index: 1;  
	opacity:0.5;
	filter:Alpha(opacity=50);  
	transition:opacity 0.3s;

}
.ship_zhans_k ul li .img a:hover{
	opacity:1;
	filter:Alpha(opacity=100);  
}

.ship_zhans_k ul li .neir{
	padding: 0 10px;
}
.ship_zhans_k ul li .neir .biaot{
	font-size:16px;
	line-height:40px;
	height: 40px;
	display: block;
	overflow: hidden;
	text-overflow:ellipsis;   
	white-space: nowrap;	 
}
.ship_zhans_k ul li .neir .biaot:hover{
	color: #f57a12;
}
.ship_zhans_k ul li .neir p{
	color: #737373;
	font-size: 16px;
}
.ship_zhans_k ul li .neir p a{
	float: right;
	color: #737373;
}
.ship_zhans_k ul li .neir p a:hover{
	color: #f57a12;
}

.ship_xiangq_b{
	background:no-repeat center center url(../images/ship_xiangq_beij.jpg);
	height: 648px;

}

.ship_xq_k{
	margin:20px 0;
	padding-top: 45px;
	overflow: hidden;
}

.ship_xq_k .ship{
	    width: 600px;
    padding:20px 30px;
    height: 410px;
    float: left;
    background: #fff;
    overflow: hidden;

}
.ship_xq_k .neir{
	width: 522px;
	height: 450px;
	background: #fff;
	float: right;
}

.ship_xq_k .neir .li{
	padding: 20px;
}

.ship_xq_k .neir .li .biaot{
	border-bottom: solid 1px #ababab;
	padding: 10px 0;
}
.ship_xq_k .neir .li .biaot h2{
	line-height: 35px;
}
.ship_xq_k .neir .li .biaot span{
	color: #acacac;
	line-height: 25px;
}
.ship_xq_k .neir .li .ship_jies_txt{
	padding: 5px 0;
}
.ship_xq_k .neir .li .ship_jies_txt h3{
	line-height: 35px;
	padding-top: 10px;
}
.ship_xq_k .neir .li .ship_jies_txt>div{
	height: 280px;
	line-height: 25px;
	overflow:auto;

}
.ship_xq_k .neir .li .ship_jies_txt>div p{
	text-indent: 2em;
	color: #747474;
}

/*联系我们开始了*/


.lianx_wom{
	padding: 30px;
	height: 358px;
	overflow: hidden;
	margin:38px 0;
	background: #fff;
}
.lianx_wom .ditu{
	float: left;
	width: 735px;
	height: 355px;
}
.lianx_wom .lianxi_xinxi{
	float: right;
	width: 350px;
}

.lianx_wom .lianxi_xinxi .lianxi{
	padding: 10px 0;
	line-height: 35px;
}