/*.responsive-visibility s*/
@media (max-width: 768px) {
    .twoBgGray{
        margin-top: -2px;
    }
    .threeBgGray{
        margin-top: -1px;
    }
    .identity .form-horizontal .col-sm-10{
        width: 100%;
    }
    .identity .uploadPhoto{
        display: block;
    }
    .progressAll .progressText{
        line-height: 30px;
        font-size: 14px;
        text-align: right;
    }
    .retrieve .retrieveForm .imgCmd{
        margin-left: 0;
    }
    .buttonClick{
        width: 100%;
    }
    .retrieve .retrieveForm .form-control{
        width: 78%;
    }
    .retrieve .retrieveForm .form-control.verification{
        width: 37%;
    }
    .twoGroup .btn-primary{
        width: 100px;
        font-size: 14px;
        height: 40px;
    }
    .selectMiddle{
        width: 182px;
        margin: 10px auto 50px;
    }
    .formTable{
        width: 100%;
        text-align: center;
    }
    .formTable .form-control{
        margin: 0 auto;
    }
    .infoProgressTwo{
        margin-top: 2px;
    }
    .infoProgressThree{
        margin-top: 1px;
        margin-left: -3px;
    }
    .infoProgress{
        width: 100%;
        background-size: 100%;
    }
    .infoProgress .hiddlePic{
        width: 25%;
    }
    .infoProgress .hiddlePic img{
        width: 100%;
    }
    .telBack{
        background-position: 20px 18px;
    }
    .telBackLeftText{
        margin-top: 8px;
    }
    .telBackRight{
        margin-left: 50px;
        margin-top: 12px;
        float: left !important;
    }
    .backPassWordList{
        padding: 1px 20px;
    }
    .authentiTitle{
        font-size: 28px;
        margin-top: 40px;
    }
    .downPic{
        margin-top: 45px;
        margin-bottom: 45px;
    }
    .headPortrait{
        width: 100%;
        text-align: center;
    }
    .headPortrait img{
    }
    .language{
        width: 100%;
    }
    .immediatelyListText .btn-block{
        width: 30%;
    }
    .crossBorderECommerce .crossBorderText{
        width: 95%;
        margin: 0 auto;
    }
    .crossBorderAccess .crossBorderPic,.crossBorderAcce .crossBorderTitle,.crossBorderAcce .crossBorderPic,.crossBorderAccess .crossBorderTitle,.demand .crossBorderPic,.demand .crossBorderTitle{
        text-align: center;
    }
    .crossBorderECommerce .crossBorderAccess{
        margin-top: 260px;
    }
    .mergePage .router .routerPic .routerPicBorder{
        width: 70%;
        margin: 20px auto;
    }
    .mergePage .router .routerPic .routerPicText{
        text-align: center;
    }
    .mergePage .crossBorderPic{
        width: 70%;
        margin: 0 auto;
    }
    .header {
        display: none;
    }
    .header.backPassWordHeader{
        display: block;
    }
    .site-nav .navbar-collapse {
        background: #f1f1f1;
        padding: 15px 0;
        position: relative;
        z-index: 9999;
    }
    .site-nav .navbar-collapse .navbar-nav {
        margin: 0;
    }
    .site-nav .navbar-collapse .navbar-nav li {
        text-align: center;
        padding: 8px 0;
    }
    .site-nav .navbar-collapse .navbar-nav li a {
        color: #333;
    }
    .site-nav .navbar-collapse .navbar-nav li.active a {
        color: #33adff;
    }
    .site-nav .navbar-collapse .navbar-nav li a:hover {
        color: #33adff;
    }
    .copyright .container .backtop {
        right: 15px;
    }
    .copyright .container p {
        padding: 0 40px;
        margin-top: 15px;
    }
    .comm-problem-page .page-banner {
        height: auto;
        background: url(../img/page-banner-sm-01.jpg) no-repeat top center;
        background-size: cover;
    }
    .comm-problem-page .page-banner .page-tl {
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left: 0;
    }
    .comm-problem-page .page-banner .page-tl em {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .comm-problem-page .page-banner .page-tl i {
        font-size: 14px;
    }
    .comm-problem-page .problem-search .search-box .search-ipt {
        width: 200px;
    }
    .mod-comm-problem .item .bd .answer {
        padding-left: 40px;
        padding-right: 40px;
        background: url(../img/ico-maohao-01.png) no-repeat 16px 19px;
    }
    .footer .footer-inner {
        padding: 0 35px;
    }
    .footer dl {
        height: 185px;
    }
    .footer dl dt {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .paging .nav {
        margin-bottom: 5px;
        margin-right: 0;
    }
    .paging .nav li {
        padding: 0 11px;
    }
    .comm-problem-page .paging {
        text-align: center;
    }
    .company-profile-page {
        background: url(../img/page-banner-sm-02.jpg) no-repeat top center;
        background-size: contain;
    }
    .company-profile-page .inner {
        padding: 0;
    }
    .company-profile-page .inner .page-tl {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .company-profile-page .inner .main {
        padding: 20px 30px;
    }
    .company-profile-page .inner .main p {
        margin-bottom: 10px;
    }
    .company-profile-page .inner .page-tl em {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .company-profile-page .inner .page-tl i {
        font-size: 14px;
    }
    .tech-support-page {
        background: url(../img/page-banner-sm-03.jpg) no-repeat top center;
        background-size: contain;
    }
    .tech-support-page .inner .main {
        margin-top: 125px;
        padding: 35px 25px;
        min-height: 400px;
    }
    .tech-support-page .inner {
        padding: 0;
    }
    .tech-support-page .inner .main .list li {
        margin-bottom: 15px;
    }
    .VDE-page .banner-img-lg {
        display: none;
    }
    .VDE-page .banner-img {
        display: block;
    }
    .VDE-page .main .flow-path {
        margin-bottom: 50px;
    }
    .scanCode-pay-page .page-banner {
        height: auto;
        background: url(../img/page-banner-sm-05.jpg) no-repeat top center;
        background-size: cover;
    }
    .scanCode-pay-page .page-tl {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .scanCode-pay-page .page-tl em {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .scanCode-pay-page .page-tl i {
        font-size: 14px;
    }
    .scanCode-pay-page .main {
        margin-bottom: 100px;
    }
    .scanCode-pay-page .main .pay-way {
        width: auto;
        margin-top: 54px;
    }
    .scanCode-pay-page .main .pay-way .item {
        float: none;
        width: 276px;
        margin-left: auto;
        margin-right: auto;
    }
    .scanCode-pay-page .main .pay-way .one {
        margin-bottom: 25px;
    }
    .refund-guarantee-page .page-banner {
        height: auto;
        background: url(../img/page-banner-sm-06.jpg) no-repeat top center;
        background-size: cover;
    }
    .refund-guarantee-page .page-banner .page-tl {
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left: 0;
    }
    .refund-guarantee-page .page-banner .page-tl em {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .refund-guarantee-page .page-banner .page-tl i {
        font-size: 14px;
    }
    .refund-guarantee-page {
        padding-bottom: 50px;
    }
    .refund-guarantee-page .customer-service-widget {
        margin-top: 50px;
    }
    .customer-service-widget .service-table {
        width: 100%;
    }
    .news-center-page .page-banner {
        height: auto;
        background: url(../img/page-banner-sm-07.jpg) no-repeat top center;
        background-size: cover;
    }
    .news-center-page .page-banner .page-tl {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .news-center-page .page-banner .page-tl em {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .news-center-page .page-banner .page-tl i {
        font-size: 14px;
    }
    .news-center-page .news-center .list .a-bk {
        padding-left: 20px;
    }
    .news-center-page .news-center .list .a-bk .desc-img {
        position: initial;
    }
    .news-center-page .news-center .list .a-bk .desc-img img {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .news-center-page .news-center .list .a-bk .cnt .tl {
        margin-bottom: 0;
        width: 65%;
    }
    .news-center-page .news-center .list .a-bk .cnt .brief {
        width: 100%;
    }
    .news-center-page .news-center .list .a-bk .arrow {
        top: 62px;
    }
    .news-center-page .paging {
        text-align: center;
    }
    .news-detail-page .news-detail {
        padding-left: 25px;
        padding-right: 25px;
    }
    .news-detail-page .news-detail .detail .bd .p {
        margin-bottom: 15px;
        line-height: 26px;
    }
    .news-detail-page .news-detail .detail .hd {
        margin-bottom: 20px;
    }
    .aptitude-page {
        background: url(../img/page-banner-sm-08.jpg) no-repeat top center;
        background-size: contain;
    }
    .aptitude-page .inner {
        padding: 0;
    }
    .aptitude-page .inner .main {
        padding: 20px 30px;
        margin-top: 125px;
    }
    .aptitude-page .main .list li {
        float: none;
        width: 100%;
    }
    .aptitude-page .main .list li .img {
        width: 100%;
        background-size: contain;
    }
    .aptitude-page .main .list {
        margin-top: 35px;
        margin-bottom: 35px;
    }
    .aptitude-page .main .list li .name {
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .index-carousel .swiper-pagination {
        bottom: 8px !important;
    }
    .index-carousel .swiper-pagination .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
    }
    .index-01 {
        background: none;
    }
    .index-01 .tl {
        font-size: 26px;
        line-height: 1.3;
    }
    .index-01 .list {
        margin-bottom: 0;
    }
    .index-01 .list .item {
        width: 100%;
        margin-right: 0 !important;
        margin-bottom: 60px;
    }
    .index-01 .list .item:last-of-type {
        margin-bottom: 0;
    }
    .index-02 .tl {
        font-size: 28px;
        line-height: 1.3;
    }
    .index-03 {
        height: auto;
        background: none;
        background-color: #64a4ec;
    }
    .index-03 .text {
        text-align: center;
    }
    .index-03 .text .one {
        font-size: 26px;
        line-height: 1.3;
        margin-top: 35px;
        margin-bottom: 15px;
    }
    .index-03 .text .two {
        font-size: 18px;
        line-height: 1.3;
    }
    .index-03 .desc-img {
        margin-top: 15px;
        margin-bottom: 15px;
        height: 210px;
    }
    .index-04 {
        padding: 0 10px;
        height: auto;
    }
    .index-04 .desc-img {
        height: 210px;
        margin-top: 20px;
    }
    .index-04 .text {
        text-align: center;
    }
    .index-04 .text .one {
        font-size: 26px;
        line-height: 1.3;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .index-04 .text .two {
        font-size: 18px;
        line-height: 1.3;
        margin-bottom: 20px;
    }
    .index-05 {
        -webkit-background-size: cover;
        background-size: cover;
    }
    .index-05 .tl {
        font-size: 26px;
        line-height: 1.3;
        margin-top: 35px;
        margin-bottom: 15px;
    }
    .index-05 .desc-img {
        padding: 0;
    }
    .index-06 {
        background-size: cover;
    }
    .index-06 .tl {
        font-size: 26px;
        line-height: 1.3;
        margin-top: 35px;
        margin-bottom: 15px;
    }
    .index-06 .brief {
        font-size: 18px;
        line-height: 1.3;
        margin-bottom: 45px;
    }
    .index-06 .list {
        padding: 0 10px;
        margin-bottom: 15px;
    }
    .index-06 .list .item {
        padding: 0 10px;
        margin-bottom: 20px;
    }
    .index-06 .list .item .name {
        margin-top: 10px;
    }
    .mod-feedback .bd .list .item .media-object {
        width: 60px;
    }
    .mod-feedback .bd .list .item .media-body {
        padding: 0 20px;
    }
    .mod-feedback .hd {
        font-size: 26px;
        line-height: 1.3;
        margin-top: 35px;
        margin-bottom: 30px;
    }
    .mod-feedback .bd .list .item {
        margin-bottom: 20px;
    }
    .pro-intro-01 a {
        height: auto;
    }
    .pro-intro-01 a img {
        display: block;
        width: 100%;
    }
    .pro-intro-02 {
        background-size: cover;
    }
    .pro-intro-02 .img {
        width: 90%;
    }
    .pro-intro-02 .brief {
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .pro-intro-02 .brief p {
        font-size: 20px;
        line-height: 1.3;
        margin-bottom: 10px;
    }
    .mod-purchase-reason {
        background: none;
    }
    .mod-purchase-reason .tl {
        font-size: 26px;
        line-height: 1.3;
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .mod-purchase-reason .list .media-object {
        width: 80px;
    }
    .mod-purchase-reason .list .media-body {
        padding-left: 5px;
    }
    .mod-purchase-reason .list .media-body .media-heading {
        margin-top: 0;
        font-size: 21px;
    }
    .mod-purchase-reason .list .item {
        margin-bottom: 20px;
    }
    .mod-purchase-reason .list {
        margin-bottom: 0;
    }
    .mod-step {
        background-size: cover;
    }
    .mod-step .tl {
        font-size: 26px;
        line-height: 1.3;
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .mod-step .step {
        margin-bottom: 50px;
    }
    .mod-step .step li {
        float: none;
        width: 100%;
    }
    .mod-step .step .arrow {
        display: none;
    }
    .mod-step .step li img {
        width: 100%;
    }
    .mod-step .step li em {
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .pro-intro-03 {
        height: auto;
        background: none;
    }
    .pro-intro-03 .tl {
        font-size: 26px;
        line-height: 1.3;
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .pro-intro-03 .img {
        display: block;
        width: 100%;
        margin: 25px 0;
    }
    .pro-intro-03 .list .item {
        margin-bottom: 10px;
    }
    .pro-intro-03 .list .item p {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .pro-intro-03 .list .item em {
        font-size: 16px;
    }
    .pro-intro-04 {
        background: url(../img/img-43.jpg) no-repeat;
        background-size: cover;
    }
    .pro-intro-04 .info {
        margin-left: 0;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 100px;
    }
    .pro-intro-04 .tl {
        font-size: 26px;
        line-height: 1.3;
    }
    .pro-intro-04 .desc {
        font-size: 16px;
        line-height: 1.3;
    }
    .pro-intro-05 .tl {
        font-size: 26px;
        line-height: 1.3;
        margin-top: 45px;
        margin-bottom: 20px;
    }
    .pro-intro-05 .img {
        margin-bottom: 30px;
    }
    .mod-VDE {
        -webkit-background-size: cover;
        background-size: cover;
        height: auto;
    }
    .mod-VDE .tl {
        font-size: 26px;
        line-height: 1.3;
        margin-top: 45px;
        margin-bottom: 20px;
    }
    .mod-VDE .desc {
        margin-bottom: 20px;
    }
    .mod-VDE .img {
        margin-bottom: 30px;
    }
    .mod-customer-service .title {
        font-size: 26px;
        line-height: 1.3;
        margin-top: 45px;
        margin-bottom: 20px;
    }
    .mod-customer-service .item .hd {
        margin-bottom: 20px;
    }
    .mod-customer-service .item .bd .service-time {
        margin-bottom: 10px;
    }
    .mod-customer-service .item .bd .service-list li {
        margin-bottom: 10px;
    }
    .pro-intro-06 {
        padding-bottom: 20px;
    }
    .pro-intro-08 {
        background: none;
        height: auto;
    }
    .pro-intro-08 .list {
        margin-top: 0;
        padding: 0 35px;
        margin-bottom: 20px;
    }
    .pro-intro-08 .list .item {
        margin-bottom: 20px;
    }
    .pro-intro-08 .list .item img {
        margin-bottom: 10px;
    }
    .pro-intro-08 .list .item span {
        font-size: 16px;
    }
    .pro-intro-08 .tl {
        display: block;
    }
    .pro-intro-09 {
        background: url(../img/img-58.jpg) no-repeat;
        background-size: cover;
        height: auto;
    }
    .pro-intro-09 .desc {
        margin-top: 50px;
        margin-bottom: 90px;
    }
    .pro-intro-09 .desc .tl {
        font-size: 26px;
        line-height: 1.3;
        margin-bottom: 15px;
        text-align: center;
    }
    .pro-intro-09 .desc .brief p {
        font-size: 18px;
        line-height: 1.5;
        text-align: center;
    }
    .pro-intro-10 {
        background: url(../img/img-60.jpg) no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        height: auto;
        padding-bottom: 90px;
    }
    .pro-intro-10 .tl {
        font-size: 26px;
        margin-bottom: 15px;
        text-align: center;
        margin-top: 47px;
        line-height: 1.3;
        color: #fff;
    }
    .pro-intro-10 .desc {
        font-size: 18px;
        line-height: 1.5;
        text-align: center;
        color: #fff;
    }
    .pro-intro-11 {
        background: url(../img/img-62.jpg) no-repeat;
        background-size: cover;
        height: auto;
        padding-bottom: 70px;
    }
    .pro-intro-11 .tl {
        font-size: 26px;
        line-height: 1.3;
        margin-bottom: 15px;
        text-align: center;
        margin-top: 50px;
    }
    .pro-intro-11 .desc {
        font-size: 18px;
        line-height: 1.5;
        text-align: center;
        color: #fff;
    }
    .pro-intro-12 {
        background: none;
        height: auto;
    }
    .pro-intro-12 a img {
        display: block;
        width: 100%;
    }
    .pro-intro-13 {
        background: none;
        height: auto;
    }
    .pro-intro-13 a img {
        display: block;
        width: 100%;
    }
    .pro-intro-14 {
        padding-bottom: 30px;
    }
    .pro-intro-14 .solution-plan {
        margin-bottom: 20px;
    }
    .pro-intro-14 .img {
        width: 100%;
    }
    .pro-intro-14 .point {
        margin-top: 20px;
    }
    .pro-intro-14 .point .tl {
        font-size: 22px;
        color: #fff;
        margin-bottom: 10px;
    }
    .pro-intro-14 .solution-plan .desc {
        font-size: 16px;
    }
    .pro-intro-14 .point .list li {
        font-size: 16px;
        line-height: 1.7;
    }
    .pro-intro-15 {
        background: none;
        height: auto;
    }
    .pro-intro-15 .img {
        display: block;
        width: 100%;
    }
    .pro-intro-16 .tl {
        font-size: 26px;
        line-height: 1.3;
        margin-top: 45px;
    }
    .pro-intro-16 .desc {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .pro-intro-16 .img {
        width: 100%;
    }
    .pro-intro-17 {
        padding-bottom: 20px;
    }
    .pro-intro-17 .tl {
        font-size: 26px;
        line-height: 1.3;
        margin-bottom: 15px;
        margin-top: 45px;
    }
    .pro-intro-17 .desc {
        margin-bottom: 10px;
    }
    .pro-intro-17 .list .item img {
        margin-bottom: 10px;
    }
    .pro-intro-17 .list .item {
        margin-bottom: 20px;
    }
    .pro-intro-18{
    height: auto;
    background-image: none;
    padding-bottom: 20px;
}
    .pro-intro-18 .tl {
        font-size: 26px;
        line-height: 1.3;
        margin-bottom: 15px;
        margin-top: 45px;
    }
    .pro-intro-18 .img{
        display: block;
        width: 100%;
        margin-top: 20px;
    }
    .slip-circle-01 .tl{
    font-size: 26px;
    line-height: 1.3;
    margin-top: 40px;
}
    .slip-circle-01 .line{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 182px;
}
    .slip-circle-01 .desc{
    margin-bottom: 20px;
}
    .slip-circle-02{
        padding-bottom: 20px;
    }
    .slip-circle-02 .tl{
    font-size: 26px;
    line-height: 1.3;
    margin-top: 40px;
    margin-bottom: 15px;
}
    .slip-circle-02 .desc{
    margin-bottom: 30px;
}
    .slip-circle-02 .list .item{
    padding: 0 15px!important;
    margin-bottom: 30px;
    }
    .slip-circle-03{
        -webkit-background-size: cover;
        background-size: cover;
    }
    .mod-comm-problem .head {
        font-size: 26px;
        line-height: 1.3;
        margin-top: 35px;
        margin-bottom: 15px;
    }
    .slip-circle-03 .more{
    margin-bottom: 50px;
}
    .mergePage .main .container .container_title{
        top: -20px;
    }
    .mergePage .main .container .container_title .chinese{
        font-size: 16px;
    }
    .mergePage .main .container .container_title .english{
        font-size: 12px;
    }
    .mergePage .crossBorderTitle{
        text-align: center;
    }
}
@media (min-width: 768px) {

    .allHave .allHavePic{
        width: 248px;
        height: 288px;
        margin: 0 auto;
    }
    .hacker{
        width: 256px;
        height: 232px;
        margin: 0 auto;
    }
    .Unlock{
        width: 337px;
        height: 242px;
        margin: 0 auto;
    }
    .language{
        height: 159px;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .backPassWordList{
        padding: 1px 20px;
    }
    .authentiTitle{
        margin-top: 50px;
    }
    .downPic{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .crossBorderAccess .crossBorderPic,.crossBorderAcce .crossBorderTitle,.crossBorderAcce .crossBorderPic,.crossBorderAccess .crossBorderTitle,.demand .crossBorderPic,.demand .crossBorderTitle{
        text-align: center;
    }
    .mergePage .router .routerPic .routerPicText{
        text-align: center;
    }
    .mergePage .router .routerPic .routerPicBorder{
        margin-bottom: 20px;
    }
    .site-nav .navbar-header {
        display: none;
    }
    .site-nav .navbar-nav {
        margin-left: 0;
    }
    .site-nav .navbar-nav > li > a {
        padding: 0 10px;
    }
    .index-01 {
        background: none;
    }
    .index-01 .list .item {
        width: 49.5%;
        margin-bottom: 60px;
        margin-right: 1% !important;
    }
    .index-01 .list .item:nth-of-type(2n) {
        margin-right: 0 !important;
    }
    .index-03 .text .one {
        font-size: 35px;
        margin-top: 127px;
    }
    .pro-intro-08 {
        height: auto;
        padding-bottom: 30px;
    }
    .pro-intro-08 .list .item img {
        margin-top: 10px;
    }
    .pro-intro-08 .list .item {
        margin-bottom: 15px;
    }

    .mergePage .crossBorderTitle{
        text-align: center;
    }
}
@media (max-width: 992px) {
    .allIdentity ul{
        margin-top: 7px;
    }
    .authenticmemberCenter .mHeaderPic,.authenticmemberCenter .lisa{
        float: none !important;
        text-align: center;
    }
    .authenticmemberCenter .impossible{
        text-align: center;
    }
    .authenticmemberCenter .mHeader{
        margin: 0 auto;
    }
    .personalHomePage .panel{
        position: relative;
    }
    .personalHomePage .panel-collapse{
        position: absolute;
        top: 46px;
        left: 0;
        z-index: 111;
    }
     .personalHomePage .panel-group .panel{
        width: 50%;
        float: left;
    }
    .personalHomePage{
        height: 40px;
        margin: 0 auto;
    }
    .personalHomePage .collapse{
        width: 100%;
    }
}
@media (min-width: 992px) {
    .mergePage .main .container{
        width: 1196px;
    }
    .headPortrait{
        width: 18%;
    }
    .headPortrait img{
        width: 100%;
    }
}
@media (min-width: 1365px){
    .authenticmemberCenter .lisa{
        margin-left: 15px
    }
}
@media (min-width: 992px) and (max-width: 1365px) {
    .identity .uploadPhoto .uploadPhotoAll .holdPhotoPic{
        width: 140px;
    }
    .identity .uploadPhoto .uploadPhotoAll .upload{
        width: 140px;
        height: 100%;
        line-height: 95px;
    }
    .identity{
        margin-left: 70px;
    }
    .fished{
        margin-left: 70px;
        width: 89%;
    }
    .progressAll{
        margin-left: 65px;
    }
    .retrieve .retrieveForm .form-horizontal{
        margin-left: 0;
    }
    .authenticmemberCenter{
        margin-left: 65px;
    }
}
@media (min-width: 768px) and (max-width: 1365px) {
    .site-nav .navbar-header {
        display: none;
    }
    .site-nav .navbar-nav {
        margin-left: 0;
    }
}
@media (max-width: 320px) {

    .memberCenter .allContainer{
        padding: 0;
    }
    .retrieve .retrieveForm .form-control,.retrieve .retrieveForm .imgCmd,.retrieve .retrieveForm .imgCmd img{
        width: 100%;
    }    .retrieve .retrieveForm .form-control.verification{
        width: 100%;
    }
    .site-nav .collect {
        display: none;
    }
    .tech-support-page .inner .main {
        margin-top: 100px;
    }
    .news-center-page .news-center .list .a-bk .arrow {
        right: 8px;
    }
    .aptitude-page .inner .main {
        margin-top: 105px;
    }
    .mergePage .crossBorderTitle{
        text-align: center;
    }
}
/*.responsive-visibility e*/