
ul,li{
	margin: 0;
	padding: 0;
	list-style:none;
}
img{
	max-width: 100%;
}
a:hover {
    color: #000;
}
.blue-text{
	color:#64A4EC;
}
.gray-text{
	color:#999999;
}
.ft-s26{
	font-size: 26px;
}
.orange-text{
	color:#F29B76;
} 
.sidebar-collapse, .sidebar-collapse .nav {
    background: none;
}
.sidebar-collapse > .nav > li {
    border-bottom: 1px solid rgba(107, 108, 109, 0.19);
}

.nav > li {
    position: relative;
    display: block;
}
.sidebar-collapse > .nav > li > a {
    /*padding: 15px 10px;*/
}
.sidebar-collapse .nav > li > a {
    color: #fff;
    background: transparent;
    text-shadow: none;
}
.sidebar-collapse .nav > li > a {
    color: #fff;
    background: transparent;
    text-shadow: none;
}
.sidebar-collapse .nav > li > a:hover, .sidebar-collapse .nav > li > a:focus {
    outline: 0;
}

.sidebar-collapse > .nav > li > a {
    /*padding: 15px 10px;*/
}
.nav > li > a > i {
    margin-right: 10px;
}
#main .col-left .fa{
	height: 46px;
	line-height: 46px;
}
.fa.arrow:before {
    /*content: "\f104";*/
    content:"\f0da";
    margin-right: 11px;
    color:#CCD2DB;
}
.collapse{
	display: none;
}
.active > a > .fa.arrow:before {
    /*content: "\f107";*/
    content:"\f0d7";
}
#main{
	padding-top: 29px;
	background-color: #F7F7F7;
	padding-bottom: 24px;
}
#main #main-menu{
	border-bottom:1px solid #EEEBEB;
}
#main .col-left{
	font-size: 14px;
}
#main .col-left,#main .col-right{
	background-color: #fff;
	padding: 0;
	padding-bottom: 57px;

}
#main .col-right{
	border:1px solid #EEEBEB;
	padding-top: 20px;
}
#main .col-left .personal{
	font-size: 16px;
	height: 80px;
	line-height: 80px;
	/*padding-left: 114px;*/
	background: url("../img/order_c_profile.png") no-repeat left center;
	background-size: 18px 24px;
	background-position-x:65px;
}
#main .col-left ul li li,#main .col-left ul li a{
	height: 46px;
	line-height: 46px;
	padding: 0;
}
#main .col-left>ul>li{
	border-top:1px solid #E9E9E9;
}
#main .col-left ul>li>a{
	color:#333;
}
.active-menu{
	background-color: #F3F3F3;
}
#main .col-right .top a{
	color:#666;
	margin: 0;
}
#main .col-right .top .active{
	color: #fff;
	background-color: #3C7FC2;
}
#main .col-right .top .btns a{
	display: block;
	width: 138px;
	height: 40px;
	line-height: 40px;
	border-right:1px solid #ECECEE;
}
#main .col-right .top .btns a:last-child{
	border:none;
}
#main .col-right .top {
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 20px;
}
#main .col-right .top .btns{
	padding: 0;
	border:1px solid #ECECEE;
}
#main .col-right .top .blue-text{
	color:#3C7FC2;
	padding-left: 5px;
}
#main .col-right .search .input-group{
	width: 300px;
	height: 40px;
	line-height:40px;
	border:1px solid #D2D2D2;
}
#main .col-right .search .input-group input {
	border:none;
	padding: 0;
	height: 100%;
	padding-left: 20px;
}
#main .col-right .search .input-group .input-group-addon {
	border:none;
	padding: 0;
	width: 84px;
	background: #E5E5E5 url("../img/order_c_search.png") no-repeat center center;
	background-size: 20px 19px;

}
#main .col-right .progress{
	width: 100%;
	background-color: #E5E5E5;
	box-shadow:none;
	height: 13px;
	margin: 0;
	margin-top: 13px;
}
#main .col-right .progress .progress-bar{
	border-radius: 5px;
	background-color: #F29B76;
	box-shadow: none;
}
#main .col-right table{
	vertical-align: middle;
	margin-bottom: 19px;
}
#main .col-right table thead{
	background-color: #F0F0F0;
}
#main .col-right table thead th{
	border:none;
	text-align: center;
}
#main .col-right table tr.tr1{
	border:1px solid #F0F0F0;
	margin-top: 20px;
}

#main .col-right table tr.tr1 td{
	width: 100%;
	background-color: #F5F8FA;
	padding: 10px;
}
#main .col-right table tr  td{
	border:none;
	text-align: center;
}
#main .col-right table tr.tr2{
	border:1px solid #F0F0F0;
	border-top: none;
}
#main .col-right table tr.tr2 td{
	/*padding-top: 15px;*/
	vertical-align: middle;
	border-right:1px solid #F0F0F0;
}
#main .col-right table tr.tr2 td:las-child{
	border:none;
}
#main .col-right table tr.tr2 td:first-child{
	padding-left: 14px;
}
#main .col-right table tr.tr2 .track{
	padding-left: 24px;
	background: #fff url("../img/order_c_track.png") 0 0 no-repeat;
	background-size: 27px 19px;
}
#main .col-right table tr.tr2 ul{
	padding-left: 10px;
	text-align: left;
}

#main .col-right table .btn.details{
	background-color: #64A4EC;
	color:#fff;
	width: 90px;
	height: 30px;
	line-height: 30px;
	padding: 0;
	border:none;
	margin: 0;
}
#main .col-right table tr.tr3 td{
	padding: 0;
	vertical-align: middle;
}
#main .col-right table tr.tr3{
	height: 36px;
	border:1px solid #F0F0F0;
	border-top:none;
	padding: 0;

}
.table-responsive{
	overflow-x:hidden;
}
#main .col-right table tr.tr3 td{
	padding-left: 14px;

}
#main .col-right table{
	margin: 0;
}
#main .col-right .tables{
	margin-bottom: 17px;
}
#main .col-right .pages{
	height: 40px;
	line-height: 40px;
}
#main .col-right .pages .go-page{
	display: block;	
	width: 43px;
	height: 23px;
	line-height: 23px;
	color:#fff;
	background-color: #4295E9;
	text-align: center;
	margin-top: 8px;
	margin-left: 5px;


}
#main .col-right .pages .input-page{
	width: 40px;
	height: 23px;
	line-height:23px;
	padding: 0;
	border:1px solid #EDEDED;
	text-align: center;
	margin-top: 8px;	

}
#main .col-right .pages .btn{
	width: 37px;
	height: 37px;
	border-radius: 0;
	border-color:#EFEFEF;
}
 
#main .col-right .pages .btn-default:hover,#main .col-right .pages .btn.on{
	background-color: #4295E9;
	color:#fff;
}
@media(max-width:400px){
	 
}
@media(min-width:1366px){
	#main .col-left{
		width: 283px;
		margin-right: 18px;
	} 
	#main .col-right{
		width: 899px;
		padding-left: 17px;
		padding-right: 20px;
	}
	#main .col-left{
		height: 752px;
	}
	#main .col-right .top .btns{
		width: 420px;
	}
	#main .col-right .progress{
		width: 549px;
	}
	#main .col-right table tr.tr2 td{
		height: 112px;
	}



}