
ul,li{
	margin: 0;
	padding: 0;
	list-style:none;
}
a:hover {
    color: #000;
}
.blue-text{
	color:#64A4EC;
}
.gray-text{
	color:#999999;
}
.ft-s26{
	font-size: 26px;
}
.orange-text{
	color:#F29B76;
}
#main{
	background-color: #F3F3F3;
}
#main .top .breadcrumb>li+li:before{
	content:">";
}
#main .top .breadcrumb{
	padding:20px 0 20px 0;
}

#main .core{
	border:1px solid #EEEBEB;
	padding:17px 50px 66px 46px;
	background-color: #fff;
}
#main .core .list{
	border:1px solid #F0F0F0;
	margin-bottom: 9px;
	margin-left: 0;
	margin-right: 0;
}
#main .core .list-1{
	
}
#main .list-1 .reminder{
	display: block;
	width: 130px;
	height: 40px;
	line-height: 40px;
	border:1px solid #F29B76;
	background-color: #fff;
	
	padding: 0;
	margin-top: 40px;

}
#main .list-1 .order-number{
	color:#999999;
	margin-bottom: 28px;
}
#main .core .list .col-left{
	border-right:1px solid #EEEBEB;
	 
}
#main .core .list .col-right{
	padding:40px  28px  0    28px;
}
#main .core .list .col-right p.title{
	margin-bottom: 28px;
}
#main .core .col-right .process dl{
	padding: 0;
	
}
#main .core .col-right .process dt{
	margin-bottom:10px;
	
}
#main .core .col-right .process dl img{
	max-width: 100%;
	height: 23px;
}
#main .core .col-right .process dl dd p{
	margin-bottom: 0;
	color:#666;
}
#main .core .col-right .process dl.blue-text dd p{
	color:#64A4EC;
}

#main .core .list-2 .col-left{
	padding-left: 17px;
	 
}
#main .core .list-2 .col-left img{
	width: 80px;
	height: 80px;
}
#main .core  .list-2 .col-left ul{
	padding-left: 12px;
}
#main .core .list-2  .col-right {
	padding-top: 14px;
	 
}
#main .core .list-2  .col-right li{
	padding-bottom: 8px;
	padding-top: 14px;
	padding-left: 20px;
	background:url("../img/order_center_01.png") no-repeat left center;
	/*background-size: auto 24px;*/
	background-position: 0 -23px;
	color:#666;
}
#main .core .list-2  .col-right li:nth-child(1){
	color:#333;
	font-weight: bold;
	background-position: 0 19px;
	
}

#main .core .list-3>div{
	padding-left: 20px;
}
#main .core .list-3 li{
	margin-bottom: 5px;
}
#main .order-center-table{
	margin-top: 30px;
	border:1px solid #F0F0F0;
	margin-bottom: 38px;
	
}
#main .order-center-table table{
	margin-bottom: 0;
	
}
#main .order-center-table thead tr{
	background-color: #F5F8FA;
	height: 38px;
	line-height: 38px;
}
#main .order-center-table  th,#main .order-center-table    td{
	border:none;
	text-align: center;
	padding: 0;
	vertical-align:middle;
}
#main .order-center-table  thead{
    border-bottom: 1px solid #F0F0F0;
}
#main .order-center-table  tbody td{
	height: 110px;
}
#main .order-center-table tbody td {
	border-right:1px solid #F0F0F0;
}
#main .bottom-details li{
	margin-bottom: 10px;
}

#main .bottom-details li:last-child{
	color:#E81C1C;
	font-size:18px;
	font-weight:bold;
	margin-bottom: 0;
}
#main{
	padding-bottom: 51px;
}
@media(max-width:400px){
	#main .core .list-2  .col-right li{
		background: #fff;
	}
}
@media(min-width:1366px){
	#main .core .list .col-left{
		width: 298px;
	}
	#main .core .list .col-right{
		width: 799px;
	}
	#main .core .col-right .process dl{
		width: 162px;
	}
	#main .core .col-right .process dl.last{
		width: 99px;
	}
	#main .core .col-right .process dl img{
		width: 100%;
	}
	#main .core .list .col-left{
		padding-top:40px;
		padding-bottom: 68px;
	}
	#main .core .list-2 .col-left{
		padding-top: 89px;
		padding-bottom: 88px;
	}
	#main .core .list-2  .col-right {
		padding-left: 68px;
	}
	#main .core .list-3 .border-right{
		border-right:1px solid #F0F0F0;
	}
	#main .core .list-3>div{
		padding-top: 44px;
		padding-bottom: 47px;
		min-height:241px;
	}
	#main .bottom-details ul{
		margin-right: 60px;
	}



}