input[type=checkbox] {
    -webkit-appearance: checkbox;
}

.form-horizontal .control-label {
    padding-top: 0;
}

.before:before {
    content: "";
    display: table;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

#header {
    background-color: #FFFFFF;
    padding-top: 28px;
    padding-bottom: 36px;
    height: 113px;

}

#main {
    padding-bottom: 100px;
}

#footer {
    background-color: #303030;
    text-align: center;
    color: #999999;
    height: 45px;
    line-height: 45px;
}

#header .col-right {
    float: right;
}

#main {
    background-color: #EFF4F7;

}

#main .nav {
    height: 61px;
}

#main .nav a {
    height: 61px;
    line-height: 61px;
    color: #F29B76;
}

#main .main-container {
    border: 1px solid #E5E5E5;
    box-shadow: 0px 10px 15px -5px #E5E5E5;
    -webkit-box-shadow: 0px 10px 15px -5px #E5E5E5;
    -moz-box-shadow: 0px 10px 15px -5px #E5E5E5;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fff;
}

#main .content {
    padding-top: 22px;
}

#main .tab-content {
    padding-top: 52px;
}

#main .tab-par {
    border-bottom: 1px solid #E5E5E5;
    width: 100%;
}

#main .tabs {

}

#main .tabs li {
    color: #333333;
    padding: 0;
}

#main .tabs a {
    height: 36px;
    line-height: 36px;
    text-align: center;
    display: block;
    width: 100%;
    color: #333333;
    position: relative;
    font-size: 18px;
}

#main .tabs li.active a {
    color: #64A4EC;
}

#main .tabs li.active a:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background: url(../img/sign_in2_tabline.png) no-repeat center center;
    background-size: 100% 100%;
    height: 6px;
    width: 100%;

}

/*第二个tab*/
#sign-in ,#main #register .step1{
    color: #666666;
    font-size: 14px;
}

#sign-in input::-webkit-input-placeholder {
    color: #999999;
}

#sign-in input::-o-input-placeholder {
    color: #999999;
}

#sign-in input::-ms-input-placeholder {
    color: #999999;
}

#sign-in input::-moz-input-placeholder {
    color: #999999;
}

#name, #inputPassword,#main #register .input-style {
    height: 52px;
    line-height: 52px;
    padding-left: 8px;
}

#main .label1, #main .label2 ,#main #register .step1 .control-label{
    line-height: 52px;
    padding-right: 21px;
    min-width: 67px;
}
#main #register .step1 .control-label{
    color:#666;
}

#main #sign-in {
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 auto;
}

#main #sign-in .form-group ,#main #register .step1 .form-group{
    margin-bottom: 29px;
}

#main #sign-in #ver-code ,#main #register #ver-code1,#main #register #ver-code2{
    height: 52px;
    padding-left: 44px;
    background: url("../img/sign_in2_01.png") no-repeat left center;
    background-size: 15px 20px;
    background-position-x: 13px;
}

#main #sign-in .code-img {
    height: 52px;
}

#main #sign-in .code-img img ,#main #register .step1 .code-img img{
    width: 100%;
    height: 52px;
}

#main #sign-in #ver-code::-webkit-input-placeholder ,
#main #register #ver-code1::-webkit-input-placeholder ,
#main #register #ver-code2::-webkit-input-placeholder {
    color: #C9C9C9;
}

#main #sign-in .sign-in-btn {
    border-radius: 5px;
    background-color: #64A4EC;
    color: #fff;
    text-align: center;
    font-size: 18px;
    height: 50px;
    line-height: 38px;

}

#main #register .progress-speed {
    margin-bottom: 50px;
}

#main #register .progress-speed .pro-1, #main #register .progress-speed .pro-2, #main #register .progress-speed .pro-3 {
    background: url("../img/sign_in2_pro1.png") no-repeat center center;
    background-size: 100%;
    min-height: 55px;
    line-height: 55px;
    color: #666666;
    text-align: center;
}

#main #register .progress-speed .pro-1 span, #main #register .progress-speed .pro-2 span, #main #register .progress-speed .pro-3 span {
    padding-left: 18px;

}
#main #register .progress-speed .pro-1 {
    color: #fff;
    background-image: url("../img/sign_in2_pro1b.png");
}
#main #register .progress-speed .pro-2 {
    background-image: url("../img/sign_in2_pro2.png");
    /*color: #fff;*/
}

#main #register .progress-speed .pro-3 {
    background-image: url("../img/sign_in2_pro3.png");

}

#main #register .prompt {
    color: #666666;
    border: 1px solid #F8BAD0;
    padding-left: 62px;
    background: #FEF4F7 url("../img/sign_in2_02.png") no-repeat left center;
    background-size: 21px 21px;
    background-position-x: 20px;
    line-height: 37px;
    margin-bottom: 71px;

}

#main #register .business-license {
    color: #333;
}
#main #register .step2 .business-license  .title1{
    padding-right: 32px;
    color:#333;
}
#main #register .step2 .business-license  .upload{
    padding: 0;
}
#main #register .step2 .business-license  .upload dl{
    width: 170px;
    height: 102px;
    border-radius:5px;
    border:1px solid #B5B5B5;
    padding-top: 21px;
    text-align: center;
    color:#999999;
}
#main #register .step2 .business-license  .upload dd{
    /*display: block;*/

    width: 30px;
    height: 30px;
    margin:0 auto;
    margin-top: 14px;
}
#main #register .step2 .business-license  .upload dd img{
    width: 100%;
    height: 100%;
}
#main #register .step2 .business-license .show-big-img{
    padding-right: 0;
    color:#5FC3F2;
}
#main #register .step2 .business-license .show-big-img img{
    width: 149px;
}
#main #register .step2 .business-license .show-big-img dd{
    margin-top: 17px;
}
#main #register .step2 .action{
    margin-top: 60px;
    padding-left:0;
}
#main #register .step2 .skip {
    background-color: #64A4EC;
    color:#fff;
    line-height: 46px;
    width: 50%;
    height: 46px;
    border-radius:8px;
}
#main #register .step2 .continue {
    width: 50%;
    height: 46px;
    line-height: 46px;
    color:#666;
    border:1px solid #E5E5E5;
    border-radius:8px;

}
#main #register .step2{
    padding-bottom: 20px;
    display: none;
}
#main #register .step3{
    display: none;
}
#main #register .step1 #ver-code1{
    background:none;
}
#main #register .step1 .get-ver-code{
    width: 192px;
    height: 52px;
    line-height: 52px;
    background-color: #F6F6F6;
    color:#666666;
}
#main #register .step1 .agree{
    margin-top: 30px;
    color:#666;
    margin-bottom: 24px;
}
#main label{
    font-weight: normal;
}
#main #register .step1 .step1-next{
    width: 100%;
    height: 50px;
    line-height: 50px;
    color:#fff;
    border-radius:5px;
    background-color: #64A4EC;
    border:none;
    padding: 0;
}
#main #register .step1 {
    padding-bottom: 53px;
}
#main #register .step1 .service-agreement:hover{
    color:#1e6db1;
}
#main #register .step3{
    padding-bottom: 434px;
}
#main #register .step3 .congratulations{
    margin-top: 79px;
    color:#F29B76;
    font-size:20px;
    padding-bottom: 21px;
    border-bottom:1px dashed #B4B4B4;
    margin-bottom: 45px;
}
/*TODO 媒体查询*/

@media (max-width:992px){
    #main #register .step2 .business-license{
        margin-left: 0;
        margin-right: 0;
    }
    #main #register .step1 .form-group{
        margin-left: 0;
        margin-right: 0;
    }
      #main #register .step1 .form-group .code-par2, #main #register .step1  .code-par3 {
        padding-left: 15px;
        padding-right: 15px;
     }
     

}
@media (max-width: 768px) {
    .progress-speed > .row {
        margin: 0;
    }
}

@media (max-width: 460px) {
    #header .col-right {
        float: left;
    }

    #header {
        padding-bottom: 100px;
    }
}

@media (min-width: 768px) {
    #main .sign-in-panel #name, #inputPassword,#main #register .input-style {
        border: 1px solid #C9C9C9;
        width: 462px;
    }

    #main .code-par {
        margin-left: 68px;
    }
    #main #register  .step1 .code-par{
        margin-left: 142px;
    }
    #main #register  .step1 .code-par2{
        margin-left: 157px;
    }

    #main #sign-in {
        padding-bottom: 391px;
    }

    #main #sign-in #ver-code,#main #register #ver-code1,#main #register #ver-code2 {
        width: 250px;
    }

    #main #sign-in .code-img ,#main #register .step1 .code-img{
        width: 192px;
        margin-left: 20px;
    }

  /*   #main #sign-in .code-img {
      margin-left: 20px;
  } */

    #main #sign-in .rem-pwd, #main #sign-in .sign-in-btn {
        margin-left: 68px;
    }

    #main #sign-in .sign-in-btn {
        width: 462px;
    }

    #main #register .prompt {
        width: 556px;
        height: 37px;
        line-height: 37px;
    }

}

@media (min-width: 992px) {
    #main .content {
        width: 823px;
    }

    #main .tabs {
        width: 480px;
    }

    #main .tabs li {
        width: 240px;
    }

    #main .tabs li.active a:before {
        width: 240px;
    }

    #main .sign-in-panel {
        width: 549px;
        margin-left: 0;
    }
    #main #register .step2{
        padding-bottom: 242px;
    }
    #main #register .step2 .business-license  .upload{
        width: 173px;
    }
    #main #register .step2 .action{
        padding-left: 213px;
    }
    #main #register .step2 .action{
        margin-top: 60px;
        padding-left: 213px;
    }
    #main #register .step2 .skip {
        width: 148px;
        margin-right: 10px;
    }
    #main #register .step2 .continue {
        width: 290px;
    }
    #main #register .step1 .get-ver-code{
        margin-left: 20px;
    }

}

@media (min-width: 1366px) {
    #main .main-container {
        padding-left: 189px;
        padding-right: 189px;
    }

    #main #sign-in {
        margin-left: 108px;
    }

    #main #register .progress-speed .pro-1, #main #register .progress-speed .pro-2, #main #register .progress-speed .pro-3 {
        width: 326px;
        margin-left: -68px;
    }

    #main #register .progress-speed .pro-2 {
        width: 325px;
        margin-left: -9px;

    }

    #main #register .progress-speed .pro-3 {
        width: 326px;
        margin-right: -47px;
        margin-left: -9px;
    }
    #main #register .step1 .step1-next{
        width: 462px;
    }      
    #main #register .step3 .congratulations{
        width: 689px;
    }

}
 