body,
html {
  width: 100%;
}
.common .top_bac {
  width: 100%;
  height: 379px;
}
.common .top_bac img {
  width: 100%;
  height: 100%;
}
.common .min_nav {
  width: 100%;
  height: 77px;
}
.common .min_nav .min_nav_content {
  height: 100%;
  padding-left: 10px;
  margin: 0 auto;
}
.common .min_nav .min_nav_content a {
  float: left;
  width: 132px;
  height: 49px;
  margin: 14px 5px;
  line-height: 49px;
  text-align: center;
}
.common .min_nav .min_nav_content a:hover {
  background-color: #016cbe;
  color: #fff;
}
.top_navbar .contarner .row .navbar-collapse .nav .dropdown {
  overflow: hidden;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .common .min_nav {
    height: 73px;
  }
  .common .min_nav .min_nav_content {
    padding-left: 0px;
    margin: inherit;
    text-align: center;
  }
  .common .min_nav .min_nav_content a {
    display: inline-block;
    float: none;
    width: 90px;
    margin-top: 14px;
    margin-bottom: 10px;
  }
}
/*工程案例 projectCase_son*/
.engin_content {
  background-color: #efefef;
  width: 100%;
  padding-bottom: 50px;
  padding-top: 20px;
}
.engin_content .engin_content_box {
  height: 100%;
}
.engin_content .engin_content_box .engin_style {
  width: 260px;
  height: 249px;
  margin-right: 30px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  float: left;
}
.engin_content .engin_content_box .engin_style img {
  width: 100%;
  height: 100%;
  transform-origin: top;
  transition: all 1s ease;
}
.engin_content .engin_content_box .engin_style img:hover {
  transform: scale(1.2);
}
.engin_content .engin_content_box .engin_style span {
  width: 100%;
  height: 44px;
  background-color: #2c3e52;
  position: absolute;
  bottom: 0;
}
.engin_content .engin_content_box .engin_style span a {
  display: block;
  text-align: center;
  color: #fff;
  line-height: 44px;
}
.engin_content .engin_content_box .engin_style:nth-child(4n) {
  margin-right: 0;
}
.engin_content .pagina {
  display: block;
  text-align: center;
  margin-top: 30px;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .projectCase_son .engin_content {
    padding-bottom: 30px;
  }
  .engin_content .engin_content_box .engin_style {
    width: 100%;
    height: 116px;
  }
  .engin_content .engin_content_box .engin_style a {
    width: 100%;
    height: 100%;
  }
  .engin_content .engin_content_box .engin_style a img {
    min-width: 90%;
    max-width: 100%;
    min-height: 90%;
    max-height: 100%;
  }
  .engin_content .engin_content_box .engin_style span {
    height: 25px;
  }
  .engin_content .engin_content_box .engin_style span a {
    line-height: 25px;
  }
  .engin_content .pagina {
    margin-top: 10px;
  }
}
/*联系我们contactUs*/
.contactUs_son .min_nav {
  width: 100%;
  height: 77px;
}
.contactUs_son .min_nav .min_nav_content {
  height: 100%;
  margin: 0 auto;
  padding-left: 0px;
}
.contactUs_son .min_nav .min_nav_content a {
  float: left;
  width: 132px;
  height: 49px;
  margin: 14px 5px;
  line-height: 49px;
  text-align: start;
}
.contactUs_son .min_nav .min_nav_content a:hover {
  color: #000;
}
.contactUs_son .contact_content {
  background-color: #efefef;
  width: 100%;
  height: 474px;
  overflow: hidden;
}
.contactUs_son .contact_content .contact_content_cen {
  height: 406px;
  margin: 35px auto;
}
.contactUs_son .contact_content .contact_content_cen .left {
  float: left;
  width: 55%;
  height: 100%;
  background-color: #B92C28;
}
.contactUs_son .contact_content .contact_content_cen .right {
  float: left;
  width: 45%;
  height: 100%;
  padding: 35px;
  line-height: 25px;
  color: #fff;
  font-size: 18px;
  background-color: #1f96d8;
}
.contactUs_son .contact_content .contact_content_cen .right .contact_title {
  padding: 10px 0;
  margin: 30px 0;
  font-size: 24px;
  font-weight: 700;
  position: relative;
}
.contactUs_son .contact_content .contact_content_cen .right .contact_title .line {
  position: absolute;
  width: 300px;
  height: 1px;
  border: 1px solid #fff;
  bottom: 0px;
  left: 0;
}
.contactUs_son .contact_content .contact_content_cen .right .address {
  margin-top: 20px;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .contactUs_son .min_nav {
    width: 100%;
    height: 73px;
    text-align: center;
  }
  .contactUs_son .min_nav .min_nav_content a {
    display: inline-block;
    width: 110px;
    margin: 14px 15px;
    font-size: 16px;
    text-align: center;
    float: none;
  }
  .contactUs_son .min_nav .min_nav_content a:hover {
    color: #000;
  }
  .contactUs_son .contact_content {
    background-color: #efefef;
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .contactUs_son .contact_content .contact_content_cen {
    height: 0px;
    min-height: 306px;
    margin: 35px auto;
  }
  .contactUs_son .contact_content .contact_content_cen .left {
    float: none;
    width: 100%;
    min-height: 300px;
    background-color: #B92C28;
  }
  .contactUs_son .contact_content .contact_content_cen .right {
    float: left;
    width: 100%;
    height: 60%;
    min-height: 350px;
    padding: 10px 35px;
    line-height: 25px;
    color: #000;
    font-size: 18px;
    background-color: #fff;
    text-align: center;
  }
  .contactUs_son .contact_content .contact_content_cen .right p {
    font-size: 14px;
    text-align: start;
  }
  .contactUs_son .contact_content .contact_content_cen .right .contact_title {
    display: inline-block;
    padding: 0px 0;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    position: relative;
  }
  .contactUs_son .contact_content .contact_content_cen .right .line {
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.25);
    width: 100%;
    margin-bottom: 35px;
  }
  .contactUs_son .contact_content .contact_content_cen .right .address {
    margin-top: 20px;
  }
}
/*公司新闻和动态companyDyanmicc*/
.companyDyanmicc_son .container .row .companyDyanmicc_cot {
  width: 100%;
  border: 1px solid #E2E2E2;
  margin-top: 15px;
  background-color: #fff;
}
.companyDyanmicc_son .container .row .companyDyanmicc_cot img {
  width: 100%;
  height: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
.companyDyanmicc_son .container .row .companyDyanmicc_cot .cont_p {
  color: #868686;
  padding-left: 20px;
  height: 75px;
  overflow: hidden;
  margin-top: 15px;
}
.companyDyanmicc_son .container .row .companyDyanmicc_cot a {
  display: block;
  position: relative;
}
.companyDyanmicc_son .container .row .companyDyanmicc_cot a span.rednew {
  position: absolute;
  top: -6px;
  left: -32px;
  display: inline-block;
  width: 63px;
  height: 40px;
  background: url(../images/news01.png) no-repeat center;
  background-size: 100% 100%;
}
.companyDyanmicc_son .container .row .companyDyanmicc_cot a span.bluenew {
  position: absolute;
  top: -6px;
  left: -32px;
  display: inline-block;
  width: 63px;
  height: 40px;
  background: url(../images/news02.png) no-repeat center;
  background-size: 100% 100%;
}
.companyDyanmicc_son .container .row .companyDyanmicc_cot a h4 {
  padding-left: 50px;
  margin-top: 20px;
}
.companyDyanmicc_son .container .row .companyDyanmicc_cot b {
  display: block;
  color: #868686;
}
.companyDyanmicc_son .container .row .pagina {
  display: block;
  text-align: center;
  margin-top: 30px;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  /*companyDyanmicc公司动态*/
  .companyDyanmicc {
    margin-bottom: 20px;
  }
  .companyDyanmicc .container .row .companyDyanmicc_top {
    margin: 20px auto;
    margin-top: 35px;
    width: 100%;
    text-align: center;
  }
  .companyDyanmicc .container .row .companyDyanmicc_top .companyDyanmicc_text {
    left: 17%;
    top: -55%;
    width: 200px;
    height: 60px;
  }
  .companyDyanmicc .container .row .companyDyanmicc_top .companyDyanmicc_text h3 {
    display: inline-block;
    font-size: 24px;
  }
  .companyDyanmicc .container .row .companyDyanmicc_top .companyDyanmicc_text p {
    font-size: 18px;
  }
  .companyDyanmicc .container .row .companyDyanmicc_cot {
    margin-top: -15px;
    border: none;
  }
  .companyDyanmicc .container .row .companyDyanmicc_cot p {
    height: 50px;
    overflow: hidden;
    font-size: 12px;
    color: #868686;
    padding-left: 5px;
    margin-top: 0px;
  }
  .companyDyanmicc .container .row .companyDyanmicc_cot a {
    display: block;
  }
  .companyDyanmicc .container .row .companyDyanmicc_cot a span {
    float: left;
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-top: 9px;
    margin-left: 5px;
    background-color: #016DC8;
  }
  .companyDyanmicc .container .row .companyDyanmicc_cot a h4 {
    padding-left: 5px;
    font-size: 14px;
    line-height: 24px;
    height: 24px;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 0px;
  }
  .companyDyanmicc .container .row .companyDyanmicc_cot b {
    padding-left: 0px;
  }
  .companyDyanmicc .container .row .companyDyanmicc_cot img {
    width: 80px;
    height: 80px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .companyDyanmicc .container .row .companyDyanmicc_cot .companyDyanmicc_mb {
    border-bottom: 1px solid #E5E5E5;
  }
}
/*公司简介和人才招聘companySynopsis_son*/
.companySynopsis_son .container .row .page_logo {
  margin: 0 auto;
  margin-top: 45px;
  margin-bottom: 15px;
  width: 265px;
  height: 80px;
}
.companySynopsis_son .container .row .page_logo img {
  width: 100%;
  height: 100%;
}
.companySynopsis_son .container .row .cnt_text {
  font-size: 18px;
  line-height: 30px;
  color: #333333;
}
.companySynopsis_son .container .row h2 {
  display: inline-block;
  font-size: 24px;
  font-width: 700;
  color: #028CCA;
}
.companySynopsis_son .container .row .cnt_item {
  font-size: 18px;
  line-height: 30px;
  color: #333333;
}
.companySynopsis_son .container .row .cnt_pj {
  margin-top: 30px;
  font-size: 20px;
  font-width: 700;
  color: #028CCA;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .companySynopsis_son .engin_content {
    padding-bottom: 25px;
  }
  .companySynopsis_son .engin_content .container .row .page_logo {
    margin-top: 5px;
    margin-bottom: 15px;
    width: 160px;
    height: auto;
  }
  .companySynopsis_son .engin_content .container .row .page_logo img {
    width: 100%;
    height: 100%;
  }
  .companySynopsis_son .engin_content .container .row .cnt_text {
    font-size: 12px;
    line-height: 20px;
    color: #333333;
  }
  .companySynopsis_son .engin_content .container .row h2 {
    display: block;
    text-align: center;
    font-size: 18px;
    font-width: 700;
    color: #028CCA;
    margin-bottom: 25px;
    margin-top: 25px;
  }
  .companySynopsis_son .engin_content .container .row .cnt_item {
    font-size: 12px;
    line-height: 20px;
    color: #333333;
  }
  .companySynopsis_son .engin_content .container .row .cnt_pj {
    margin-top: 30px;
    font-size: 14px;
    font-width: 700;
    color: #028CCA;
  }
}
/*详情页DetailPages*/
.companySynopsis_son .engin_content .container .row .DetailPages h2 {
  color: #000;
  font-size: 18px;
  text-align: center;
  display: block;
}
.companySynopsis_son .engin_content .container .row .DetailPages .content {
  color: #333333;
  text-align: center;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .companySynopsis_son .engin_content .container .row .DetailPages h2 {
    font-size: 14px;
  }
}
