/*focus*/
.focus {height:390px;width:100%;overflow:hidden;position:relative;z-index:99;}
.focus_m ul {width:100%;height:390px;overflow:hidden;}
.focus_m li {width:100%;height:390px;_float:left;}
.focus_s {height:0;position:relative;margin:0 auto;z-index:2;width:1200px;}
.focus_s ul {height:12px;overflow:hidden;position:absolute;left:33%;top:360px;}
.focus_s li {float:left;cursor:pointer;height:12px;width:12px;overflow:hidden;margin-right:10px;}
.focus_s li b {display:block;text-indent:-999em;background:url(../images/circle.png) 0 0 no-repeat;width:12px;height:32px;overflow:hidden;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=noscale, src='images/circle.png');_background:none;}
.focus_s li.active b {margin-top:-20px;}
.focus_l,.focus_r {position:absolute;display:block;width:50px;height:75px;overflow:hidden;z-index:2;top:150px;}
.focus_l {left:0;}
.focus_r {right:0;}
.focus_l b,.focus_r b {position:absolute;z-index:1;display:block;width:50px;height:75px;overflow:hidden;background:#000;opacity:0.3;filter:alpha(opacity=30);cursor:pointer;}
.focus_l span,.focus_r span {display:block;position:relative;z-index:2;width:22px;height:33px;top:21px;cursor:pointer;}
.focus_l span {left:12px;background:url(../images/l.png) 0 0 no-repeat;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=noscale, src='images/l.png');_background:none;}
.focus_r span {left:16px;background:url(../images/r.png) 0 0 no-repeat;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=noscale, src='images/r.png');_background:none;}
.focus_l:hover,.focus_r:hover {*zoom:1;}
.focus_l:hover b,.focus_r:hover b {opacity:0.5;filter:alpha(opacity=50);}
/*login*/
.login_box {height:0;position:relative;margin:0 auto;z-index:999;}
.login_box .login {position:absolute;width:304px;height:314px;overflow:hidden;top:35px;right:30px;background: rgba(255,255,255, 0.8);}
.login_box .login .title{
	width:270px;
	height:46px;
	text-align:center;
	font:20px/46px 'microsoft yahei';
	color:#434a54;
	margin:20px auto 0 auto;
}
.login_box .login .nllv{
	width:270px;
	height:60px;
	text-align:center;
	font:46px/60px 'microsoft yahei';
	color:#f04d4e;
	margin:8px auto 0 auto;
	text-shadow:#999 0px 1px 0px;
}
.login_box .login .txt{
	width:270px;
	height:24px;
	margin:0px auto 0 auto;
	font:15px/24px 'microsoft yahei';
	text-align:center;
	color:#666;
}
.login_box .login .jiabut{
	display:block;
	width:160px;
	height:46px;
	font:15px/46px 'microsoft yahei';
	color:#FFF;
	text-align:center;
	background-color:#f04d4e;
	margin:20px auto 0 auto;
	transition-duration:0.2s;
	cursor:pointer;
}
.login_box .login .jiabut:hover{background-color:#ec383a;}


/*Notice*/
.in-motice{
	width:1200px;
	height:70px;
	margin:0 auto;
	border-bottom:1px solid #EBEBEB;
}
.in-motice .conmain{
	height:70px;
	margin:0 auto;
}
.in-motice .conmain i{
	float:left;
	font:20px/70px 'microsoft yahei';
	color:#f37200;
}
.in-motice .conmain a.title{
	display:block;
	height:70px;
	overflow:hidden;
	float:left;
	margin-left:30px;
	font:16px/70px 'microsoft yahei';
	color:#535353;
	transition-duration:0.2s;
}
.in-motice .conmain a:hover.title{
	margin-left:36px;
	color:#000;
}
.in-motice .conmain .more{
	display:block;
	padding:0 20px;
	border: 1px solid #C6C6C6;
	height:38px;
	float:right;
	border-radius:19px;
	margin-top:15px;
	transition-duration:0.2s;
}
.in-motice .conmain .more:hover{
	border: 1px solid #F60;
}
.in-motice .conmain .more span{
	font:14px/38px 'microsoft yahei';
	color:#535353;
	float:left;
	transition-duration:0.2s;
}
.in-motice .conmain .more:hover span{
	color:#F60;
}
.in-motice .conmain .more i{
	font:20px/38px 'microsoft yahei';
	color:#535353;
	float:left;
	margin-left:6px;
	transition-duration:0.2s;
}
.in-motice .conmain .more:hover i{
	color:#F60;
}



/*数据导航*/
.datanav{
	height:70px;
	background-color:#fff;
	margin:20px auto;
	padding-bottom:20px;
}
.datanav .txt{
	width:25%;
	height:70px;
	float:left;
	text-align:center;
}
.datanav .txt span{
	font:16px/70px 'microsoft yahei';
	color:#666;
}
.datanav .txt em{
	font:35px/70px 'microsoft yahei';
	text-align:center;
	color:#F60;
}


/*为什么选择我们*/
.way-title{
	width:1200px;
	height:60px;
	font:34px/60px 'microsoft yahei';
	margin:30px auto;
	color:#666;
	text-align:center;
}
.way-main{
	height:100px;
	margin:0px auto 0 auto;
}
.way-main .item{
	display:block;
	float:left;
	width:300px;
	height:100px;
}

.way-main .item i{
	display:block;
	width:100px;
	height:100px;
	float:left;
}
.way-main .item .ico1{
	background-image: url(img/way-ico1.png);
}
.way-main .item .ico2{
	background-image: url(img/way-ico2.png);
}
.way-main .item .ico3{
	background-image: url(img/way-ico3.png);
}
.way-main .item .ico4{
	background-image: url(img/way-ico4.png);
}
.way-main .item .tit{
	display:block;
	width:180px;
	height:100px;
	float:left;
	margin-left:10px;
}
.way-main .item .tit span{
	display:block;
	width:100%;
	height:60px;
	font:22px/75px 'microsoft yahei';
	color:#666;
}
.way-main .item .tit dl{
	display:block;
	width:100%;
	height:60px;
	font:13px/15px 'microsoft yahei';
	color:#999;
}


/*项目*/
.invest-title{
	width:1200px;
	height:60px;
	font:24px/60px 'microsoft yahei';
	text-align:center;
	margin:50px auto 20px auto;
	color:#2f353d;
}
.invest-title .tx{
	display:inline-block;
	vertical-align: middle;
	width:14%;
	font:24px/60px 'microsoft yahei';
	text-align:center;
}
.invest-title dl{
	display:inline-block;
	vertical-align: middle;
	width:42%;
	height:2px;
	background-color:#f87c29;
}
.invest-list{
	display:block;
	height:auto;
	overflow:hidden;
	margin:0 auto;
	text-align:center;
}
.invest-list .item{
	display:inline-block;
	width:376px;
	height:310px;
	background-color:#fff;
	margin:9px;
	overflow:hidden;
	border:1px solid #E0E0E0;
	position:relative;
}
.invest-list .item .mask{
	display:block;
	width:376px;
	height:246px;
	background: rgba(0,0,0, 0.4);
	position:absolute;
	top:-376px;
	left:0;
	z-index:12;
	transition-duration:0.2s;
}
.invest-list .item:hover .mask{
	top:0;
	left:0;
}
.invest-list .item .nhl{
	display:block;
	width:376px;
	height:100px;
	position:absolute;
	top:-100px;
	left:0;
	z-index:13;
	transition-duration:0.6s;
	font:16px/100px 'microsoft yahei';
	color:#FFF;
	text-align:center;
}
.invest-list .item:hover .nhl{
	top:60px;
	left:0;
}
.invest-list .item .nhl span{font:26px/100px 'microsoft yahei';color:#FFF;}
.invest-list .item .pic{
	width:360px;
	height:230px;
	margin:8px 8px 0 8px;
	background-color:#3FF;
	overflow:hidden;
	position:absolute;
	top:0;
	left:0;
	z-index:10;
}
.invest-list .item .pic img{
	width:360px;
	height:230px;
}
.invest-list .item .joinbut{
	display:block;
	width:160px;
	height:48px;
	border-radius:24px;
	background-color:#F27B0F;
	position:absolute;
	top:-60px;
	left:50%;
	margin-left:-80px;
	font:18px/48px 'microsoft yahei';
	color:#fff;
	z-index:15;
	text-align:center;
	transition-duration:0.4s;
	cursor:pointer;
}
.invest-list .item .joinbut:hover{background-color:#1392C1;}
.invest-list .item:hover .joinbut{
	top:215px;
}
.invest-list .item .title{
	display:block;
	width:360px;
	height:48px;
	margin:8px 8px 0 8px;
	font:18px/48px 'microsoft yahei';
	color:#333;
	overflow:hidden;
	text-align:center;
	position:absolute;
	top:240px;
	left:0;
	transition-duration:0.4s;
}
.invest-list .item:hover .title{
	top:250px;
}
.invest-list .item .con{
	width:350px;
	height:50px;
	background-color:#fff;
	margin:8px 13px 0 13px;
	position:absolute;
	top:290px;
	left:0;
	transition-duration:0.4s;
}
.invest-list .item:hover .con{
	top:300px;
}
.invest-list .item .con span{
	display:block;
	font:14px/50px 'microsoft yahei';
	color:#666;
}
.invest-list .item .con em{
	display:block;
	float:left;
	font:24px/44px 'microsoft yahei';
	color:#F60;
}
.invest-list .item .con dl{
	display:block;
	float:right;
	font:14px/50px 'microsoft yahei';
	color:#1392C1;
}
.invest-list .item .con .ok{
	color:#666;
}


