@media screen and (min-width:1366px) and (max-width:1680px){
body{min-width:1366px;}
.block2{width:1300px;margin:0 auto;}

.index3 .block{width:100%;}
.about .right .form .input{width:251px;}
.about .right .form .input input{width:183px;}

}
@media screen and (min-width:1024px) and (max-width:1365px){
body{min-width:1000px;}
.block{width:auto;padding:0 20px;}
.block2{width:auto;padding:0 20px;margin:0 auto;}
.index3 .block{width:auto;}
}
@media screen and (min-width:750px) and (max-width:1023px){
.service4.show .text{max-width:65%;}
}

@media screen and (max-width:1023px){
/*------------------global------------------*/
input,textarea,select,button{-webkit-appearance:none;}
img{max-width:100%;}
.block{width:auto;}
.block2{width:auto;}
.page{display:none;}
.page_m{display:block;padding:20px 0;text-align:center;}
.page_m .btn{height:40px;display:inline-block;line-height:40px;color:#fff;font-size:12px;padding:0 25px;background:#27bec9;border-radius:20px;}

.nav_float{display:none;}
.service_m{display:block;background:#2cbdc5 url(../image/icon6_2.png) center center no-repeat;height:40px;width:40px;border-radius:5px;position:fixed;right:5px;top:50%;margin-top:-20px;background-size:70% auto;z-index:10;
animation:svm 5s ease-in 0s infinite;-webkit-animation:svm 5s ease-i 0s infinite;}
#header .tel{display:none;}
@-webkit-keyframes svm{
0%{-webkit-transform:translateY(0);}
5%{-webkit-transform:translateY(-16px);}
9%{-webkit-transform:translateY(0);}
13%{-webkit-transform:translateY(-9px);}
17%{-webkit-transform:translateY(0);}
20%{-webkit-transform:translateY(-3px);}
24%{-webkit-transform:translateY(0);}
100%{-webkit-transform:translateY(0);}
}
@keyframes svm{
0%{transform:translateY(0);}
5%{transform:translateY(-16px);}
9%{transform:translateY(0);}
13%{transform:translateY(-9px);}
17%{transform:translateY(0);}
20%{transform:translateY(-3px);}
24%{transform:translateY(0);}
100%{transform:translateY(0);}
}


#header{height:42px;overflow:visible;}
#header .logo{left:10px;top:5px;width:60px;height:45px;background-size:contain;}
#header .logo .s1{width:58px;height:16px;background-size:contain;}
#header .logo .s2{width:32px;height:16px;background-size:contain;margin-left:5px;}
#header .menu{position:absolute;right:15px;top:15px;background:url(../images/ico_menu.png) center center no-repeat;width:30px;height:16px;background-size:contain;display:block;z-index:4;}
#header .menu.act{background:url(../images/ico_arrow.png) center center no-repeat;}
#header .nav_main{position:fixed;right:-60%;top:0;width:60%;height:100%;background:#1f323f;box-sizing:border-box;padding-top:50px;
transform:none;-webkit-transform:none;
transition:all 0.4s ease-out 0s;-webkit-transition:all 0.4s ease-out 0s;}
#header .nav_main.show{right:0;box-shadow:0 0 10px rgba(0,0,0,0.2);}
#header .nav_main a{display:block;padding:0 25px;height:54px;line-height:54px;font-size:14px;margin:0;float:none;}
#header .nav_main a:hover{font-size:14px;}
#header .nav_main a.now{border-left:3px solid #27bec9;padding-left:22px;}
#header .nav_main .t{padding:0 25px;height:40px;line-height:40px;font-size:20px;color:#fff;}
#header .nav_main .t a{padding:0;}

#footer{padding:30px 0;}
#footer .block2{padding:0 10px;}
#footer h1{font-size:30px;}
#footer .left{float:none;width:auto;}
#footer .left h3{font-size:11px;margin-bottom:10px;}
#footer .left p{font-size:11px;}
#footer .d2{margin-top:10px;}
#footer .d2 p{margin:0;line-height:150%;}
#footer .share{margin-top:10px;}

#focus{height:190px;}
#focus .frame .child h1{font-size:20px;margin-top:-15px;font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
transform:none;-webkit-transform:none;opacity:1;}
#focus .frame .child h2{font-size:13px;margin-top:10px;
transform:none;-webkit-transform:none;opacity:1;}
#focus .nav{bottom:10px;}
#focus .nav .prev{display:none;}
#focus .nav .next{display:none;}

.index1 .block{padding:40px 0 20px;}
.index1 .item{width:50%;padding-top:30%;}

.index2{height:auto;}
.index2 .left{float:none;width:auto;height:320px;}
.index2 .right{float:none;width:auto;height:auto;padding:40px 0;}
.index2 .circle{width:270px;height:270px;margin:-135px 0 0 -135px;left:50%;}
.index2 .circle .c{width:290px;height:290px;margin:-10px 0 0 -10px;
transform:scale(0.8);-webkit-transform:scale(0.8);}
.index2 .circle .inner{transform:scale(0.5) translate(-150px,-150px);}
.index2.show .circle .c1{margin:-15px 0 0;transform:scale(0.8);-webkit-transform:scale(0.8);}
.index2.show .circle .c2{margin:0 0 0 0;transform:scale(0.8);-webkit-transform:scale(0.8);}
.index2.show .circle .c3{margin:-10px 0 0 -15px;transform:scale(0.8);-webkit-transform:scale(0.8);}
.index2 .list{position:static;margin:0;height:auto;padding:0 20px;width:auto;transform:none;-webkit-transform:none;}
.index2 .list .item{margin-bottom:20px;}
.index2 .list .item h3{font-size:14px;}
.index2 .list .item p{font-size:11px;margin-top:3px;padding-left:40px;}
.index2 .list .item i{width:30px;height:30px;background-size:contain !important;}

.index3 .block{padding:30px 0;width:auto;}
.index3 .tabs a{font-size:15px;margin:0 20px;}
.index3 .tabs a i{height:2px;margin-top:5px;}
.index3 .list{padding:0 5px;margin-top:20px;}
.index3 .list .item{width:50%;margin:0 0 10px 0;box-sizing:border-box;}
.index3 .list .item:nth-child(odd){padding-right:5px;}
.index3 .list .item:nth-child(even){padding-left:5px;}
.index3 .list .item a{display:block;height:100%;}
.index3 .list .item .mask img{width:50%;margin-top:12px;}

.index3 .list2{padding:0 5px;margin-top:20px;}
.index3 .list2 .item{width:50%;margin:0 0 10px 0;box-sizing:border-box; background:none;}
.index3 .list2 .item:nth-child(odd){padding-right:5px;}
.index3 .list2 .item:nth-child(even){padding-left:5px;}
.index3 .list2 .item .pic{width:100%;}
.index3 .list2 .item .code{display:none;}


.index4{height:auto;padding:30px 0;}
.index4 h1{font-size:30px;}
.index4 .list{margin-top:20px;}
.index4 .item{float:none;width:auto;transform:none;-webkit-transform:none;opacity: 1;margin:0 0 20px;}
.index4 .item .date{float:none;width:auto;}
.index4 .item .date span{font-size:11px;text-indent:0;}
.index4 .item .date strong{display:none;}
.index4 .item p{display:none;}
.index4 .item h3{font-size:14px;}
.index4 .more{height:38px;line-height:38px;font-size:12px;width:140px;margin-top:30px;}


.banner .title{margin-top:-20px;}
.banner .title .bar{height:4px;}
.banner.show .title .bar{width:70px;}
.banner .title h1{font-size:30px;margin-top:10px;}

.case .tabs{line-height:25px;}
.case .tabs a{font-size:9px;padding:0 10px;}
.case .item{width:50%;box-sizing:border-box;padding-top:30%;}
.case .item a{margin:0;}
.case .item a .mask{display:none;}

.case_arc1{padding:50px 0;}
.case_arc1 .title h1{font-size:14px;}
.case_arc1 .title h2{font-size:14px;margin-top:5px;}
.case_arc1 .content{width:320px;margin:20px auto 0;}
.case_arc1 .title p{font-size:9px;padding:0 20px;line-height:150%;}
.case_arc1 .pc{background-size:100% auto;width:260px;margin:0 0 0 20px;height:210px;padding-top:10px;}
.case_arc1 .pc .mask{width:30%;background-size:100% auto;height:100%;}
.case_arc1 .pc .inner{margin-left:10px;width:240px;height:136px;}
.case_arc1 .pc .inner .prev{display:none;}
.case_arc1 .pc .inner .next{display:none;}
.case_arc1 .phone{right:20px;top:80px;background-size:100% auto;width:55px;height:130px;}
.case_arc1 .phone .mask{width:30%;background-size:100% auto;height:100%;}
.case_arc1 .phone .inner{width:49px;height:86px;margin-left:3px;padding-top:14px;}
.case_arc3{padding:30px 0;}
.case_arc3 .list{padding:0 10px;}

.service .text h1{font-size:20px;}
.service .text h2{font-size:18px;margin-bottom:15px;}
.service .text h3{font-size:16px;}
.service .text p{font-size:14px;}
.service .text .list h3{margin-bottom:10px;}
.service .text .link{margin-top:20px;font-size:12px;}
.service .text .link a{margin:0 10px;}

.service1{padding:30px 0;height:auto;background-position:left center;}
.service1 .text{margin:30px 0 0;width:100%;box-sizing:border-box;position:static;padding:0 20px;
-webkit-transition:none;-webkit-transform:none;transition:none;transform:none;}
.service1 .pic{position:static;margin:0px auto 0;width:80%;display:block;}

.service2{padding:0 0 30px;height:auto;background-position:right center;}
.service2 .text{margin:30px 0 0;width:100%;box-sizing:border-box;position:static;padding:0 20px;
-webkit-transition:none;-webkit-transform:none;transition:none;transform:none;}
.service2 .pic{position:static;margin:0px auto 0;width:100%;display:block;}

.service3{padding:30px 0 0;height:auto;background-position:left center;}
.service3 .text{margin:20px 0 0;width:100%;box-sizing:border-box;position:static;padding:0 20px;
-webkit-transition:none;-webkit-transform:none;transition:none;transform:none;}
.service3 .pic{position:static;margin:auto;width:80%;display:block;max-width:none;}

.service4{padding:30px 0;height:auto;background-position:left center;}
.service4 .text{margin:0;width:100%;box-sizing:border-box;position:static;padding:0 20px;
-webkit-transition:none;-webkit-transform:none;transition:none;transform:none;}
.service4 .pic{position:static;margin:0px 0 -50% -50%;width:200%;display:block;max-width:none;}

.service5{padding:30px 0;height:auto;background-position:left center;}
.service5 .text{margin:30px 0 0;width:100%;box-sizing:border-box;position:static;padding:0 20px;
-webkit-transition:none;-webkit-transform:none;transition:none;transform:none;}
.service5 .pic{position:static;margin:30px auto 0;width:100%;display:block;}

.service .text{opacity:1;transform:none;-webkit-transform:none;}
.service .pic{opacity:1;transform:none !important;-webkit-transform:none !important;top:auto;max-width:80%;}

.service7{padding:30px 10px;height:auto;}
.service7 h1{color:#17abb6;font-size:20px;text-align:center;text-transform:uppercase;font-weight:bold;}
.service7 h1 strong{font-size:25px;display:block;font-weight:bold;}
.service7 h2{font-size:15px;text-align:center;margin-top:8px;}
.service7 .list{width:auto;float:none;}
.service7 .list ul{padding:0 10px;position:relative;margin-top:20px;}
.service7 .list ul:before{content:"";position:absolute;left:18px;top:0;height:100%;width:1px;background:#ddd;}
.service7 .list ul li{transform:none;-webkit-transform:none;opacity:1;position:relative;margin:0 0 15px 0 !important;font-size:11px;padding-left:25px;}
.service7 .list ul li strong{font-size:11px;min-width:75px;display:inline-block;}
.service7 .circle{display:none;}

.about{height:auto;}
.about .left{float:none;width:auto;height:360px;background-size:cover;}
.about .circle{width:270px;height:270px;margin:-135px 0 0 -135px;}
.about .circle .c{width:290px;height:290px;margin:-10px 0 0 -10px;}
.about.show .circle .c1{margin:-15px 0 0;}
.about.show .circle .c2{margin:0 0 0 0}
.about.show .circle .c3{margin:-10px 0 0 -15px;}
.about .circle .inner{background-size:contain;}
.about .circle .inner h1{padding-top:80px;font-size:30px;}
.about .circle .inner h2{font-size:14px;margin-top:5px;}
.about .circle .inner p{font-size:11px;margin-top:15px;}
.about .right{width:auto;height:auto;float:none;}
.about .right .inner{padding:40px 20px;}
.about .right .inner h1{font-size:30px;}
.about .right .form{margin-top:10px;}
.about .right .form .input{height:36px;line-height:36px;float:none;font-size:11px;position:relative;width:auto;padding:0 10px 0 50px;}
.about .right .form .input:first-child{margin-right:0;margin-bottom:10px;}
.about .right .form .input span{ position:absolute;left:0;top:0;}
.about .right .form .input input{width:100%;float:none;}
.about .right .form .textarea{font-size:11px;}
.about .right .form .textarea p{line-height:36px;}
.about .right .button{height:38px;line-height:38px;font-size:14px;}

.news{padding:50px 0 20px;}
.news .list{padding:0 10px;}
.news .item{padding:0;height:80px;margin-top:20px;}
.news .item .pic{width:105px;height:80px;margin-right:15px;}
.news .item h3{padding-top:5px;}
.news .item h3 a{font-size:14px;line-height:120%;}
.news .item .date{display:none;}
.news .item .date2{margin-top:5px;font-size:10px;font-family:Arial;display:block;}
.news .item p{display:none;}
.news .item .more{position:absolute;left:0;top:0;width:100%;height:100%;
transform:none;-webkit-transform:none;}
.news .item .more:hover{opacity:0;}

.news_arc{padding:30px 10px 0;}
.news_arc .title .date{width:80px;height:70px;padding-left:10px;box-sizing:border-box;}
.news_arc .title .date span{font-size:10px;}
.news_arc .title .date strong{font-size:50px;}
.news_arc .title h1{height:70px;line-height:70px;font-size:14px; text-indent:20px;}
.news_arc .title .back{display:none;}
.news_arc .content{padding:10px;}
.news_arc .list .item{float:none;width:auto;margin-top:20px;}
.news_arc .list .item h2{float:none;font-size:14px;}
.news_arc .list .item span{float:none;display:block;font-size:11px;}
.news_arc .list .item:first-child{float:none;margin-top:0;}

.p404 .block{height:350px;}
.p404 .pic{background-size:auto 100%;height:180px;}
.p404 h1{font-size:12px;margin-top:10px;padding:0 20px;line-height:150%;}
.p404 h1 strong{display:inline;font-weight:normal;font-size:inherit;margin:0;}
.p404 .btn a{height:28px;line-height:28px;width:85px;margin:0 5px;font-size:12px;}

}
