/* AB模版网 做最好的织梦整站模板下载网站 Www.AdminBuy.Cn */
/* QQ：9490489 */
/* 仿站：Fang.AdminBuy.Cn */
/* 素材：Sc.AdminBuy.Cn */
body{
	background: #fff;
	font-family: "微软雅黑";
}
.header{
	width: 100%;
	height: 120px;
	overflow: hidden;
	display: flex;
	padding-top:29px;
	box-sizing: border-box;
	justify-content: space-between;
}
.header .logo2{
	width: 20%;
	text-align: center;
	display: flex;
    align-items: center;
}
.header .logo2 img{
	margin: 0 auto;
}
.header .tel{
	width: 15%;
	text-align: center;
	display: flex;
    align-items: center;
}
.header ul{
	width: 65%;
	display: flex;
	justify-content: space-around;
}
.header ul li{
	float: left;
	font-size: 18px;
	color: #333;
	line-height: 85px;
	width: 79px;
	text-align: center;
}
.header ul li.active{
	color: #00c56b;
}
.header ul li .underLine{
	display:block;
	width:0;
	height: 4px;
	margin-top: 2px;
	background: #00C56B;
}
.header ul .logo{
	float: left;
}
.header ul .logo img{
	position: absolute;
	margin-left: -38px;
	z-index: 999;
}
.banner{
	width: 100%;
	height: auto;
	overflow: hidden;	
	overflow: hidden;
}
.banner>img{
	width: 100%;
	display: block;
}
.banner .swiper-container3{
	width: 100%;
	height: 100%;
}
.swiper-container3{
    width:100%;
    height: auto;
    position: relative;
    z-index: 0;
}  
.swiper-container3 .swiper-slide{
	margin-left: 0px;
}
.swiper-container3 .swiper-slide img{
	display: block;
	width: 100% !important;
	height: auto !important;	
}
.banner .swiper-pagination2{
	text-align: center;
	margin-top: 10px;
}
.cont1{
	width: 1120px;
	height: auto;
	overflow:hidden;
	margin: 80px auto;	
	text-align: center;
}
.title{
	width: auto;
	margin: 0px auto;
	display: inline-block;
}
.title .p1{
	color: #00c56b;
	font-size: 60px;
	float: left;
	margin-right: 10px;
}
.title .p2{
	float: right;
}
.title .p2 .pp1{
	color: #333333;
	font-size: 26px;
	font-weight: bold;
	margin-top: 10px;
	text-align: left;
}
.title .p2 .pp2{
	color: #666666;
	font-size: 18px;
	text-align: left;
}
.cont1 .cont1_box{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-top: 35px;
}
.cont1 .cont1_box .cont1_left{
	width: 48%;
	height: auto;
	float: left;
	text-align: left;
}
.cont1 .cont1_box .cont1_left .p1{
	color: #333;
	font-size: 24px;
	margin-bottom: 25px;
}
.cont1 .cont1_box .cont1_left .p2{
	color: #333;
	font-size: 16px;
	line-height: 34px;
	text-indent: 2em;
}
.cont1 .cont1_box .cont1_right{
	width: 48%;
	height: auto;
	float: right;
}
.cont1 .cont1_box .cont1_right img{
	width: 100%;
}
.cont1 .moreP{
	width: 110px;
	height: 40px;
	border: 1px #393836 solid;
	border-radius: 22px;
	text-align: center;
	line-height: 40px;
	color: #333;
	font-size: 20px;
	margin: 0px auto;
	position: relative;
	margin-top: 80px;
}
.line{
	width: 100%;
	height: 6px;
	background: #ECEBF0;
}
.cont2{
	width: 100%;
	height: 800px;
	overflow:hidden;
	margin: 60px auto;	
	text-align: center;
	position: relative;
}
.cont2>img{
	position: absolute;
	bottom: 0px;
	left: 0;
	width: 100%;
}
.cont2 .moreP{
	width: 110px;
	height: 40px;
	border: 1px #393836 solid;
	border-radius: 22px;
	text-align: center;
	line-height: 40px;
	color: #333;
	font-size: 20px;
	margin: 0px auto;
	position: relative;
}

.cont3{
	width: 1124px;
	height: auto;
	overflow:hidden;
	margin: 80px auto;	
	text-align: center;
}
.cont3 .moreP{
	width: 110px;
	height: 40px;
	border: 1px #393836 solid;
	border-radius: 22px;
	text-align: center;
	line-height: 40px;
	color: #333;
	font-size: 20px;
	margin: 0px auto;
	margin-top: 80px;
}
.cont3 .news_li{
	width: 530px;
	height: 340px;
	float: left;
	text-align: left;
}
.cont3 .news_li .p1{
	font-size: 36px;
	color: #333;
}
.cont3 .news_li .p1 span{
	font-size: 16px;
	color: #666;
}
.cont3 .news_li .p2{
	font-size: 20px;
	color: #333;
	margin: 25px 0;
}
.cont3 .news_li .p3{
	width:100%;
}
.cont3 .news_li .p3 img{
	width:100%;
}
.cont3 .news_li .p4{
	font-size: 14px;
	color: #333;
	margin-top: 15px;
	line-height: 25px;
}
.cont3 .swiper-container1 {
    width:1120px;
    height: 390px;
    position: relative;
    z-index: 0;
}  
.cont3 .swiper-pagination span{
	width: 10px !important;
	height: 10px !important;
	opacity: 1 !important;
}
.cont3 .swiper-pagination-bullet-active{
	width: 16px !important;
	height: 16px !important;
	background:#fff !important;
	border: 2px #17C978 solid;
}
.cont3 .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
	    margin: 0 15px !important;
}
.cont4{
	width: 100%;
	height: auto;
	overflow:hidden;
	margin: 80px auto;	
	text-align: center;
}
.cont4 .moreP{
	width: 110px;
	height: 40px;
	border: 1px #393836 solid;
	border-radius: 22px;
	text-align: center;
	line-height: 40px;
	color: #333;
	font-size: 20px;
	margin: 0px auto;
	margin-top: 80px;
}
.cont4 .cont4_box{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.cont4 .cont4_box .cont4_left{
	width: 36%;
	float: left;
}
.cont4 .cont4_box .cont4_left li{
	width: 50%;
	float: left;
	overflow: hidden;
}
.cont4 .cont4_box .cont4_left li img{
	width: 100%;
	display: block;
	transition: all 0.5s;
}
.cont4 .cont4_box .cont4_left li:hover img{
    transform: scale(1.5);
}

.cont4 .cont4_box .cont4_center{
	width: 28%;
	float: left;
	height: 450px;
	background: url(../img/cont4_pic1.jpg);
	padding: 0px 20px;
	box-sizing: border-box;
	background-size:cover;
	background-repeat: no-repeat;
}
.cont4 .cont4_box .cont4_center .p1{
	color: #333333;
	font-size: 20px;
	font-weight: bold;
	margin: 25px 0;
}
.cont4 .cont4_box .cont4_center .p2{
	color: #333333;
	font-size:14px;
	text-align: left;
	line-height: 27px;
}
.cont4 .cont4_box .cont4_right{
	width: 36%;
	float: right;
}
.cont4 .cont4_box .cont4_right li{
	width: 50%;
	float: left;
	overflow: hidden;
}
.cont4 .cont4_box .cont4_right li img{
	width: 100%;
	display: block;
	transition: all 0.5s;
}
.cont4 .cont4_box .cont4_right li:hover img{
    transform: scale(1.5);
}
.cont5{
	width: 1116px;
	height: auto;
	overflow:hidden;
	margin: 80px auto;	
	text-align: center;
}
.cont5 .moreP{
	width: 110px;
	height: 40px;
	border: 1px #393836 solid;
	border-radius: 22px;
	text-align: center;
	line-height: 40px;
	color: #333;
	font-size: 20px;
	margin: 0px auto;
	margin-top: 80px;
}
.cont5 .cont5_box{
	width: 100%;
	height: auto;
	overflow: auto;
}
.cont5 .cont5_box table tr td{
	border: 1px #DEDEDF solid;
	box-sizing: border-box;
}
.cont5 .cont5_box table tr td img{
	width: 100%;
	display: block;
}
.footer{
	width: 100%;
	height: 220px;
	background: #242D4A;
}
.footer .footer_box{
	width: 1116px;
	height: auto;
	overflow:hidden;
	margin: 0 auto;
	padding-top: 35px;
	box-sizing: border-box;
}
.footer .footer_box .footer_left{
	float: left;
}
.footer .footer_box .footer_left p{
	color: #f2f2f2;
	font-size: 14px;
	line-height: 24px;
}
.footer .footer_box .footer_left p a{
	color: #f2f2f2;
}
.footer .footer_box .footer_right{
	float: right;
}
.footer .footer_box .footer_right p{
	float: left;
	text-align: center;
}
.footer .footer_box .footer_right p img{
	display: block;
	width: 111px;
	height: 111px;
	margin: 0 auto;
	margin-bottom: 8px;
}
.footer .footer_box .footer_right p span{
	color: #f2f2f2;
	font-size: 20px;
}
/*关于*/
.ab_cont2{
	width: 100%;
	height: 723px;
	overflow:hidden;
	margin: 80px auto;	
	text-align: center;
	padding: 60px 0;
	box-sizing: border-box;
	background: url(../img/about_pic2.jpg);
}
.ab_cont2 ul{
	width: 1120px;
	height: 437px;
	margin: 0px auto;
}
.ab_cont2 ul li{
	float: left;
	width: 300px;
	height: 437px;
	background: #fff;
	margin-right: 110px;
	overflow:hidden;
}
.ab_cont2 ul li:last-child{
	margin-right: 0;
}
.ab_cont2 ul li .ab_top{
	width:300px;
	height: 280px;
	background: #40BE5D;
	display: flex;
	align-items: center;
	text-align: center;
}
.ab_cont2 ul li .ab_top img{
	margin: 0px auto;
}
.ab_cont2 ul li .ab_bottm{
	width:300px;
	height: auto;
	text-align: left;
	padding: 0 30px;
	box-sizing: border-box;
}
.ab_cont2 ul li .ab_bottm .p1{
	font-size: 36px;
	color: #333;
	font-weight: bold;
	margin: 15px 0;
}
.ab_cont2 ul li .ab_bottm .p2{
	font-size: 18px;
	color: #333;
}
.ab_cont2 ul li .ab_bottm .p2 span{
	display: block;
	border-bottom: 4px #40BE5D solid;
	width: auto;
	height: 40px;
	float: left;
	margin-right: 15px;
	margin-bottom: 10px;
}
.ab_cont2 ul li .ab_bottm .p3{
	font-size: 16px;
	color: #333;
	line-height: 27px;
	clear: both;
	margin-top: 15px;
	display: none;
}

.cont5 .ab_cont5{
	width: 100%;
	height: auto;
	overflow: auto;
}
.cont5 .ab_cont5 table tr td{
	width: 12.5%;
	border: 1px #F3CF05 solid;
	box-sizing: border-box;
	background: #ECFFF0;
}
.cont5 .ab_cont5 table tr td .p1{
	font-size: 18px;
	color: #333333;
	margin-bottom: 10px;
}
.cont5 .ab_cont5 table tr td .p2{
	font-size: 14px;
	text-align: left;
	padding: 0px 8px;
	box-sizing: border-box;
	color: #333333;
	line-height: 23px;
}
.cont5 .ab_cont5 table tr td img{
	width: 100%;
	display: block;
}
.about_conLeft{
	height: 258px !important;
	overflow-y:hidden;
}
.open{
	color: #40be5d;
	margin-left: 30px;
	cursor: pointer;
}
.stop{
	color: #40be5d;
	text-align: right;
	margin-right: 30px; 
	cursor: pointer;
}
/*新闻中心*/
.new_box{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.new_box ul{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-top: 40px;
}
.new_box ul li{
	width: 100%;
	height: 224px;
	background: #EEEDF1;
	margin-bottom: 10px;
}
.new_box ul li.active{
	background: #53C46D;
}
.new_box ul li.active .new_p .p1,
.new_box ul li.active .new_p .p1 span,
.new_box ul li.active .new_p .p2,
.new_box ul li.active .new_p .p3{
	color: #fff ;
}
.new_box ul li>img{
	float: left;
	display: block;
}
.new_box ul li .new_p{
	width: 866px;
	float: right;
	text-align: left;
	margin-left: 25px;
}
.new_box ul li .new_p .p1{
	font-size: 36px;
	color: #333;
	margin-top: 35px;
	margin-bottom: 20px;
}
.new_box ul li .new_p .p1 span{
	font-size: 16px;
	color: #666;
}
.new_box ul li .new_p .p2{
	font-size: 20px;
	color: #333;
	margin-bottom: 10px;
}
.new_box ul li .new_p .p3{
	font-size: 14px;
	color: #333;
	line-height: 30px;
}
/*分页*/
.paging{
	width: auto;
	display: inline-flex;
	margin-top: 90px;
}
.paging p{
	width: 56px;
	height: 32px;
	background: #53C46D;
	border-radius: 20px;
}
.paging p img{
	margin-top: 5px;
}
.paging a{
	display: inline-block;
	width: 32px;
	height: 32px;
	border-radius: 100%;
	border:1px #C1C1C1 solid;
	line-height: 32px;
	text-align: center;
	margin-left: 35px;
	font-size: 14px;
	color: #333;
}
.paging a.active{
	background: #53C46D;
	color: #fff;
	border-color: #53C46D;
}
/*新闻详情*/
.new_info{
	width: 100%;
	height: auto;
	overflow:hidden;
	background: #ECEBF0;
}
.new_info .new_info_box{
	width: 1124px;
	height: auto;
	overflow:hidden;
	background: #fff;
	margin: 0 auto;
	margin-top: 10px;
	padding: 0px 50px;
	box-sizing: border-box;
}
.new_info .new_info_box .ni_title{
	text-align: center;
	font-size:18px;
	color: #333333;
	font-weight: bold;
	margin: 40px 0;
}
.new_info .new_info_box .ni_title .span1{
	font-size: 36px;
	color: #00c56b;
	font-weight: normal;
}
.new_info .new_info_box .ni_title .span2{
	font-size: 16px;
	color: #00c56b;
	font-weight: normal;
}
.new_info .new_info_box .ni_in{
	font-size: 14px;
	color: #333;
	margin-bottom: 25px;
	line-height: 28px;
	text-indent: 2em;
}
.new_info .new_info_box .ni_pic{
	text-align: center;
	margin-bottom: 30px;
}
.new_info .new_info_box .other{
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}
.new_info .new_info_box .other a{
	font-size: 14px;
	color: #333;
}
.new_info .new_info_box .other a.active{
	color: #00c56b;
}

/*产品中心*/
.product{
	width: 100%;
	height: auto;
	overflow: hidden;
	background: #ECEBF0;
	text-align: center;
	padding: 75px 0;
}
.product .product_box{
	width: 1120px;
	height: auto;
	margin: 0 auto;
	margin-top: 50px;
}
.product .product_box ul{
	width: 100%;
	height: auto;
}
.product .product_box ul li{
	width: 270px;
	height: 450px;
	float: left;
	background: #fff;
	margin-right: 13px;
	margin-bottom: 13px;
	color: #333;
	position: relative;
}
.product .product_box ul a:nth-child(4n) li{
	margin-right:0px;
}
.product .product_box ul li .p_img{
	width: 100%;
}
.product .product_box ul li .p_img img{
	width: 100%;
}
.product .product_box ul li .p_info{
	width: 100%;
	padding: 0px 12px;
	box-sizing: border-box;
}
.product .product_box ul li .p_info .p1{
	font-size:20px;
	margin: 20px 0;
}
.product .product_box ul li .p_info .p2{
	text-align: left;
	font-size:14px;
	line-height: 25px;
}
.product .product_box ul li .pb_box .p_info img{
	float: right;
	margin-top: 10px;
	display: none;
}
.product .product_box ul li .pb_box.active{
	position: absolute;  
    left: -17px;  
    top: -25px;  
    z-index: 1;  
    background: #00C56B;
    color: #fff;
    -webkit-box-shadow:0 0 10px #656565;  
  	-moz-box-shadow:0 0 10px #656565;  
  	box-shadow:0 0 10px #656565; 
}
.product .product_box ul li .pb_box.active .p_info img{
	display:block;
}
/*产品详情*/
.productInfo{
	width: 1100px;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 30px;
}
.productInfo .prI_left{
	width:520px;
	float: left;
	position: relative;
}
.productInfo .prI_left .big_img{
	width: 520px;
	height: 416px;
	margin-bottom: 20px;
}
.productInfo .prI_left .big_img img{
	width: 520px;
	height: 416px;
}
.productInfo .prI_right{
	float: right;
	width: 528px;
	height: auto;
	text-align: left;
}
.productInfo .prI_right .p1{
	font-size: 18px;
	color: #00c56b;
	margin-bottom: 15px;
}
.productInfo .prI_right .p2{
	font-size: 14px;
	color: #666666;
	margin-bottom: 20px;
	line-height: 25px;
}
.swiper-container {
    width: 440px;
	height: 100px;
    box-sizing: border-box;
} 
.swiper-slide{
	width: 100px;
	height: 100px;
	margin-left: 13px;
}
.swiper-slide img{
	width: 100px;
	height: 100px;
}
.swiper-button-prev,
.swiper-button-next{
	background:none !important;
	top: 90% !important;
}
/*联系我们*/
.contact_box1{
	width: 1120px;
	height: 260px;
	margin: 30px auto;
	margin-bottom: 50px;
}
.contact_box1 li{
	width: 260px;
	height: 260px;
	float: left;
	margin-right: 26px;
}
.contact_box1 li:nth-child(1){
	background: #F9E0E0;
}
.contact_box1 li:nth-child(2){
	background: #DDF2F4;
}
.contact_box1 li:nth-child(3){
	background: #EBF3DA;
}
.contact_box1 li:last-child{
	margin-right: 0px;
	background: #D5ECF9;
}
.contact_box1 li>img{
	margin-top: 50px;
}
.contact_box1 li .p1{
	font-size:18px;
	color: #333333;
	margin: 15px 0;
}
.contact_box1 li .p2{
	font-size:16px;
	color: #333333;
	line-height: 30px;
}
.contact_box2{
	width: 1000px;
	height: auto;
	margin: 40px auto;
}
.contact_box2 .cb2_left{
	float: left;
	width: 480px;
	height: auto;
	overflow: hidden;
}
.contact_box2 .cb2_left .list{
	width: 100%;
	height: 40px;
	background: #ECEBF0;
	margin-bottom: 8px;
}
.contact_box2 .cb2_left .list span{
	width: 80px;
	display: inline-block;
	float: left;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.contact_box2 .cb2_left .list input{
	float: left;
	width:380px;
	height: 37px;
	margin-top: 1px;
	border: none;
	background: none;
	outline: none;
	font-size: 14px;
}
.contact_box2 .cb2_right{
	width: 480px;
	height: 279px;
	background: #ccc;
	float: right;
}
.contact_box2 .cb2_left .list2{
	width: 100%;
	height: 135px;
	background: #ECEBF0;
	margin-bottom: 8px;
}
.contact_box2 .cb2_left .list2 .span1{
	width: 80px;
	display: inline-block;
	float: left;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.contact_box2 .cb2_left .list2 textarea{
	float: left;
	width:380px;
	height:100px;
	margin-top: 10px;
	border: none;
	background: none;
	outline: none;
	font-size: 14px;
	resize: none;
}
.contact_box2 .cb2_left .list2 .span2{
	float: right;
	margin-right: 20px;
	width: auto;
	font-size: 14px;
	color: #999;
}
.contact_box2 .cb2_left .btn{
	width: 100px;
	height: 30px;
	color: #40be5d;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	background: #ECEBF0;
} 
/*項目案例*/
.product .project_box{
	width: 1120px;
	height: auto;
	margin: 0 auto;
	margin-top: 50px;
}
.product .project_box ul{
	width: 100%;
	height: auto;
}
.product .project_box ul li{
	width:550px;
	height: 720px;
	float: left;
	background: #fff;
	margin-right: 20px;
	margin-bottom: 20px;
	color: #333;
	position: relative;
}
.product .project_box ul li:nth-child(2n){
	margin-right:0px;
}
.product .project_box ul li>img{
	width: 100%;
}
.product .project_box ul li .p1{
	font-size: 24px;
	color: #333;
	margin:15px 0;
	text-align: left;
}
.product .project_box ul li .p2{
	font-size: 16px;
	color: #333;
	line-height: 26px;
	text-align: left;
}
.product .project_box ul li .p3{
	text-align: left;
	margin-top: 15px;
}
.product .project_box ul li .p3 .span1{
	display:block;
	float: left;
	width: 26px;
	height: 26px;
	border-radius: 100%;
	border: 1px #C3C3C3 solid;
	text-align: center;
	line-height: 21px;
	color: #C3C3C3;
	font-size: 34px;
}
.product .project_box ul li .p3 .span2{
	display:block;
	float: left;
	font-size: 18px;
	color: #333;
	margin-top: 2px;
    margin-left: 10px;
}
.product .project_box ul li.active .p3 .span1{
	background: #53C46D;
	color: #fff;
	border-color: #53C46D;
}
.product .project_box ul li.active .p3 .span2{
	color: #51c26b;
}
/*首页右边*/
.right_box{
	width: 64px;
	height: 207px;
	position: fixed;
	right: 10px;
	top:45%;
	background: #fff;
	border: 1px #00C56B solid;
}
.right_box ul li{
	width: 100%;
	height: 68px;
	text-align: center;
	display: flex;
	align-items: center;
	border-top: 1px #00C56B solid;
	background: #FFFFFF;
}
.right_box ul li img{
	display: block;
	margin: 0px auto;
}
.right_box ul li img.img2{
	display: block;
}
.right_box ul li img.img1{
	display: none;
}
.right_box ul li.active img.img1{
	display: block;
}
.right_box ul li.active img.img2{
	display: none;
}
.right_box ul li:first-child{
	border-top: none;
}
.right_box ul li.active{
	background: #00C56B;
}
.right_box .erweima{
	display: none;
	width: 210px;
	height: 253px;
	background: #fff;
	position: absolute;
	top: 69px;
	right:70px;
	padding-top: 22px;
	padding-left: 20px;
	box-sizing: border-box;
	background:url(../img/erweimaBG.png);
	z-index: 999;
}
.right_box .erweima p{
	font-size: 18px;
	color: #000;
	margin-top: 20px;
}
.moreP:hover{
	background: #00C56B;
	border-color: #00C56B;
	color: #fff;
}

.poster-main {
	position: relative;
	width: 1110px;
	height: 500px;
	left: 50%;
	margin-left: -555px;
	margin-top: 25px;
	margin-bottom:40px;
}
.poster-main a,
.poster-main img {
	display: block;
}
.poster-main .poster-list{
	width: 1110px;
	height: 500px;
}
.poster-main .poster-list .poster-item {
	position: absolute;
	left: 0;
	top: 0px;
}
.poster-main .poster-btn {
	position: absolute;
	top: 51%;
	width: 27px !important;
	height: 49px !important;
	z-index: 10;
	cursor: pointer;
	opacity: 0.8
}
.poster-main .poster-prev-btn {
	left: 9%;
	background: url(../img/arrow_left.png) no-repeat center center;
}
.poster-main .poster-next-btn {
	right: 9%;
	background: url(../img/arrow_right.png) no-repeat center center;
}

.cont2 .pb_box{
	width: 100%;
	height:100%;
	float: left;
	background: #fff;
	/*margin-right: 13px;
	margin-bottom: 13px;*/
	color: #333;
	position: relative;
	overflow: hidden;
}
.cont2 .pb_box .p_img{
	width: 100%;
}
.cont2 .pb_box .p_img img{
	width: 100%;
}
.cont2 .pb_box .p_info{
	width: 100%;
	padding: 0px 12px;
	box-sizing: border-box;
}
.cont2 .pb_box .p_info .p1{
	font-size:20px;
	margin: 20px 0;
}
.cont2 .pb_box .p_info .p2{
	text-align: left;
	font-size:14px;
	line-height: 25px;
}
.cont2 .cont2_box{
	width: 1110px;
	height: auto;
	margin: 0px auto;
	overflow: hidden;
	position: relative;
	margin-top:30px;
	z-index: 0;
}
.cont2 .cont2_box .pb_box.active{
	position: absolute;  
    left: -17px;  
    top: -25px;  
    z-index: 1;  
    background: #00C56B;
    color: #fff;
    -webkit-box-shadow:0 0 10px #656565;  
  	-moz-box-shadow:0 0 10px #656565;  
  	box-shadow:0 0 10px #656565; 
}
.index2{
	background:#00C56B !important;
	color:#fff !important;
	-webkit-box-shadow:0 0 15px #5E5E5A;  
	-moz-box-shadow:0 0 15px #5E5E5A;  
	box-shadow:0 0 15px #5E5E5A;  
}




