@media screen and (max-width:1030px){
.header .head ,.i_box_a,.i_news,.i_box_b,.f_bg .foot,.scd,.userbox {width:740px; margin:0px auto;}
.nav_bg .nav li{ float:left;}
.nav_bg .nav li a{ font-size:15px; padding:0px 13px;}


.scd_r .editpwo p span{text-align:left;}
.scd_r .editpwo p input {width: 290px;}
.scd_r .huser{padding-top:10px;}
.scd_r .huser dd span{text-align:left;width:150px;margin-right:0;}
.scd_r .huser dd input{width:330px;border-radius: 5px;border: 1px solid #c9c9c9;}
.scd_r .huser dd select{width:162px;}

.userbox .left{ width:300px; float:left}
.userbox .left img{width:240px; float:right;margin-top:130px;}
.userbox .right{ float:right;width: 380px;}


.i_pl li{ margin-right:50px; margin-bottom:30px;}
.i_news .i_nr{ width:100%; margin-top:30px;}
.i_news .i_nl{ width:100%;}
.i_news .i_nl dd{ width:465px;}
.i_box_b .i_about dt img{ width:297px; height:212px;}
.i_box_b .i_about dt{ width:301px; height:216px;}
.i_about dd{ width:430px;}
.contact dt, .contact dt img{ width:401px; height:231px;}
.scd .scd_r{ width:485px;}
.scd .scd_l{ width:235px;}
.news dl dd{ width:280px;}
.news dl dd .des{ height:98px;}
.pro_d dl dt{ float:left; margin-bottom:20px;}
.pro_d dl dd{ width:100%;}
.scd_r .pro_l li{ margin-right:26px !important;}
}
@media screen and (max-width:770px) {
.header .head ,.nav_bg .nav,.i_box_a,.i_news,.i_box_b,.f_bg .foot,.scd,.nav_m,.userbox {width:480px; margin:0px auto;}
.head .logo{ float:left;}
.head .head_r{ width:100%; text-align:left;}
.head .top_nav{ text-align:right;}
.head_r .search{ margin-top:0px;}
.nav_m .n_icon{ display:block;}
.nav_m .nav{ display:none;}
.nav_bg{ height:auto;margin: 0px;}
.nav_m{ min-height:50px; position:relative;}
.nav_m .nav{ width:100%; padding-top:50px;}
.nav_m .nav li , .nav_m .nav li a{ width:100%; height:30px; line-height:30px;}
.nav_bg .nav li.now a,.nav_bg .nav li:hover a{ background:#E71F19;color:#fff;}
.f_bg .foot_r p img{width:25px;}

.scd_r .editpwo p span{margin-right:0px;}
.scd_r .editpwo p span{text-align:left;}
.scd_r .huser{padding-top:10px;}
.scd_r .huser dd span{text-align:left;width:120px;margin-right:0;}
.scd_r .huser dd input{width:330px;border-radius: 5px;border: 1px solid #c9c9c9;}
.scd_r .huser dd select{width:162px;}

.userbox{height:550px;}
.userbox .left{ width:100%; float:left;text-align:center;}
.userbox .left img{height:100px;float:none;margin-top:10px;}
.userbox .right{ float:right;width: 100%;}


.i_pl li{ margin:20px  24px 0 !important;}
.i_news .i_nl dt , .i_news .i_nl dt img{ width:207px; height:177px;}
.i_news .i_nl dd{ width:255px;}
.i_box_b .i_about dt{ width:478px; height:343px;}
.i_box_b .i_about dt img{ width:474px; height:339px;}
.i_about dd{ width:100%; margin-top:20px;}
.contact dt, .contact dt img{ width:480px; height:276px; margin-bottom:20px;}
.contact dd,.scd .scd_l ,.scd .scd_r{ width:100%;}
.scd_r .pro_l li{ margin:10px 5px !important;}
.scd_r .pro_l{ padding:30px 0;}
.pro_d dl dt, .pro_d dl dt img{ width:478px; height:332px;}
.news dl dt, .news dl dt img{ width:184px; height:139px;}
.scd_r .pst{ height:auto; padding:10px 0; line-height:160%;}
}
@media screen and (max-width:500px) {
.header .head ,.nav_bg .nav,.i_box_a,.i_news,.i_box_b,.f_bg .foot,.scd,.nav_m,.userbox {width:320px; margin:0px auto;}
.head .logo img,.head .logo{ height:50px;}
.head_r .top_nav{ width:320px; float:right; margin-top:20px;}
.head .top_nav .user{ margin:0;}
.head .top_nav .shop{margin:0;}
.head .top_nav .red{margin:0;}
.head_r .search{ width:320px; float:none; margin-top:0px;}
.head_r .search .text{ width:283px;}
.f_bg .foot_r p img{width:25px;}

.scd_r .editpwo{padding-top:10px;}
.scd_r .editpwo p span{text-align:left;}
.scd_r .editpwo p input{width:314px;border-radius: 5px;border: 1px solid #c9c9c9;}

.scd_r .huser{padding-top:10px;}
.scd_r .huser dd span{text-align:left;width:80px;margin-right:0;}
.scd_r .huser dd input{width:230px;border-radius: 5px;border: 1px solid #c9c9c9;}
.scd_r .huser dd select{width:113px;}



.pro_d dl dt, .pro_d dl dt img{ width:318px; height:220px;}
.i_pl li{ width:100%; margin:0px !important; margin-bottom:20px !important; height:auto;}
.i_pl li img{ width:318px; height:259px;}
.i_news .i_nl{ height:auto;}
.i_news .i_nl dt, .i_news .i_nl dt img{ width:318px; height:271px;}
.i_news .i_nl dd{ width:100%;}
.i_box_b .i_about dt{ width:318px; height:228px;}
.i_box_b .i_about dt img{ width:314px; height:224px;}
.scd_r .pro_l li{ width:100%; margin:0px !important; margin-bottom:20px !important;}
.scd_r .pro_l li .img{ width:318px; height:318px;}
.pages a, .pages span, .pages input{ margin-bottom:10px;}
.contact dt, .contact dt img{ width:318px; height:182px;}
.news dl dt, .news dl dt img{ width:318px; height:240px;}
.news dl dd{ width:100%; margin-top:10px;}
}
