/*--	css reset	--*/
html, body, h1, h2, h3, h4, h5, h6, div, ol, ul, li, dl, dt, dd, table, caption, tr, th, td, span, p, a, b, u, i, em, img, iframe, fieldset, form, label, legend, input, button, select, textarea { margin: 0; padding: 0; }
body { font: 14px/1.5 "Microsoft YaHei", Arial, Tahoma, Helvetica, sans-serif; -webkit-text-size-adjust: 100%; -webkit-font-smoothing: antialiased !important; max-width: 1920px; margin: 0 auto; color:#474747; min-width:1000px; }
input, button, textarea, select { font: 14px/100% "Microsoft YaHei", Arial, Tahoma, Helvetica, sans-serif; outline: 0; border: 0; background: none; color:#707070; }
input:focus, textarea:focus { color:#474747;}
h1, h2, h3, h4, h5, h6 { font-weight: normal; line-height: 1.2; }
ol, ul, li { list-style: none; }
select { appearance: none; -moz-appearance: none; -webkit-appearance: none; }
textarea { overflow:auto; resize:none; }
table { border-collapse: collapse; border: 0; }
caption, th { font-weight:normal; }
img { border: 0; vertical-align: middle; max-width:100%; max-height:100%;}
i, em { font-style:normal; }
a { text-decoration: none; color:#474747; }
a:focus { outline:0; }
#map img{ max-width:none; max-height:none;}



.home{}
.home .focus{position:relative;overflow:hidden;}
.home .focus .frame{position:relative;overflow:hidden;}
.home .focus .frame .child{float:left;width:100%;}
.home .focus .boxnav{text-align:center;}
.home .focus .boxnav{position:absolute;left:0;bottom:45px;width:100%;}
.home .focus .nav{position:relative;height:35px;line-height:35px;padding:0 16px;display:inline-block;}
.home .focus .nav .bg{background:url("../images/nav1.png") repeat;height:35px;line-height:40px;width:100%;}
.home .focus .nav .l{background:url("../images/navl.png") no-repeat 0 0;height:35px;width:16px;position:absolute;left:0;top:0;}
.home .focus .nav .r{background:url("../images/navr.png") no-repeat 0 0;height:35px;width:16px;position:absolute;right:0;top:0;}
.home .focus .nav a{width:14px;height:14px;background:url("../images/nav2.png") no-repeat -14px center;display:inline-block;margin:10px 4px;}
.home .focus .nav a.now{background-position:0 center;}
.home .bannar{ position:relative; background:url("../image/bannar.jpg") center top no-repeat; height:846px;}
.home .bannar .flash{ background:url("../image/flash.png") no-repeat; width:339px; height:190px; position:absolute; left:50%; top:50%; margin-left:52px; margin-top:-238px; display:none;
	-webkit-animation:light 3s linear infinite;
	-moz-animation:light 3s linear infinite;
	animation:light 3s linear infinite;
}

