@charset "utf-8";
/*
@media screen and(-webkit-min-device-pixel-ratio:0){} chrome
filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#99000000', EndColorStr='#99000000');
pointer-events:none;//鼠标穿透
filter:Alpha(opacity=50);
*/

/*--	css reset	--*/
html, body, h1, h2, h3, h4, h5, h6, div, ol, ul, li, dl, dt, dd, table, caption, tr, th, td, span, p, a, b, u, i, em, img, iframe, fieldset, form, label, legend, input, button, select, textarea { margin: 0; padding: 0; }
body { font: 14px/1.5 "Microsoft YaHei", Arial, Tahoma, Helvetica, sans-serif; -webkit-text-size-adjust: 100%; -webkit-font-smoothing: antialiased !important; max-width: 1920px; margin: 0 auto; color:#474747; min-width:1000px; }
input, button, textarea, select { font: 14px/100% "Microsoft YaHei", Arial, Tahoma, Helvetica, sans-serif; outline: 0; border: 0; background: none; color:#707070; }
input:focus, textarea:focus { color:#474747;}
h1, h2, h3, h4, h5, h6 { font-weight: normal; line-height: 1.2; }
ol, ul, li { list-style: none; }
select { appearance: none; -moz-appearance: none; -webkit-appearance: none; }
textarea { overflow:auto; resize:none; }
table { border-collapse: collapse; border: 0; }
caption, th { font-weight:normal; }
img { border: 0; vertical-align: middle; max-width:100%; max-height:100%;}
i, em { font-style:normal; }
a { text-decoration: none; color:#474747; }
a:focus { outline:0; }
#map img{ max-width:none; max-height:none;}

/*-- 通用 --*/
#header, #footer, #content{ min-width:1000px;}
.clear:after{ content:""; display:block; height:0; visibility:hidden; clear:both;}
.clear{ *zoom:1; }
.middle{ font-size:0; letter-spacing:-1.5em;}
.middle:after{ content:''; display:inline-block; vertical-align:middle; width:0; height:100%; overflow:hidden;}
.justify{ text-align:justify;}
.justify:after{ content:''; padding-left:100%;}
.wrap{ width:1000px; height:100%; margin:0 auto; position:relative;}

#header{ position:relative; z-index:1; background-color:#fff; height:112px;}
#header .logo{ width:112px; height:82px; overflow:hidden; position:absolute; left:98px; top:14px;}
#header .logo img{ width:100%;}
#header .nav{ position:absolute; right:110px; top:0;}

#header .nav ul{ float:left; margin-right:57px;}
#header .nav li{ float:left; position:relative;}
#header .nav li a{ display:block; font-size:18px; border-top:2px solid #ffffff; color:#595959; padding:40px 0px; margin:0px 35px; text-align:center;}
#header .nav li.cur a{ border-color:#0cb4ea; color:#a3c50f;}
#header .nav .subnav{ display:none; position:absolute; left:0; top:100%; width:150px; float:none; padding:22px 0px 16px 0px; text-align:center; background:url('../images/opacity-60.png'); margin:0px;}
#header .nav .subnav a{ font-size:16px; line-height:40px; color:#0cb4ea; padding:0; border:none;}
#header .nav .subnav a:hover{ color:#0cb4ea;}



#header .nav .wb{ display:block;width:auto;height:28px;float: left; font-size:16px; color:#a3c50f; font-family:Arial; line-height:30px;}



#header .nav .wx{ display:block; background:url('../images/en.png') no-repeat center center; width:28px; height:28px; float:right; vertical-align: middle; text-align:center; line-height:28px;font-family:Arial; color:#ffffff; font-size:14px; margin-left:15px;}


#header a{ color:#474747;}
#header a:hover{ color:#ddd;}
#header .wbsearch{float:left;width:auto;margin-top:44px;}























