/*公共部分*/
.wc960 { margin: 0px auto; width: 1400px; }
.fl { float: left; }
.fr { float: right; }
.mt20 { margin-top: 40px; }
.icon { background: url(../images/icon.png) no-repeat 0 0; }
.warp-pic-list li { float: left; display: inline; }
.warp-pic-list .img_wrap { display: block; font-size: 0; }
.warp-pic-list .text-area { line-height: 24px; }
.wrapBox { overflow: hidden; }
/*全局板块*/
.row .hd { height: 190px; }
.row .hd .title { font: 26px/40px "微软雅黑", "Microsoft YaHei", "黑体", "SimHei"; }
/*全局页签*/
.tab-T-3 { width: 66px; }
.tab-T-3 li { width: 12px; height: 12px; font-size: 0; background-color: #dfdfdf; float: left; margin-left: 10px; cursor: pointer; display: inline; }
.tab-T-3 li.cur { background-color: #d81c1b; }
/*热门车型*/
.rowE .warp-pic-list { position: relative; width: 1400px; height: 448px; overflow: hidden; }
.rowE .count li { margin-right: 20px; width: 313px; height: auto; margin-left: 17px; }
.rowE .count .img_wrap { width: 313px; height: 217px; }
.rowE .count li img:hover { cursor: pointer; transition: all 0.9s; }
.rowE .count li img:hover { transform: scale(1.1); }
.rowE .count li .text-area { padding: 10px 0 10px 0px; margin-top: 5px }
.rowE .count li .text-area p { line-height: 24px; height: 24px; background-image: url(../images/jindu.jpg); background-repeat: no-repeat; background-position: left bottom; padding-bottom: 10px; color: #666; }
.rowE .count li:hover .text-area, .rowE .count li.hover .text-area { color: #000; }
.rowE .count .p-num { font-family: "Tahoma"; font-weight: bold; }
.rowE .btn { display: block; height: 55px; position: absolute; top: 308px; width: 35px; z-index: 200; cursor: pointer; }
.rowE .prev { background-position: 0 -88px; left: 45%; padding-left: 0px; }
.rowE .prev:hover { background-position: 0 -144px; }
.zhong { width: 62px; height: 42px; position: absolute; left: 47.7%; padding-top: 37px; }
.zhong a { background-position: 0 -88px; left: 45%; padding-left: 0px; margin-left: 600px; }
.zhong img { opacity: 0.5; filter(alpha=50)
}
.zhong img:hover { opacity: 1; filter(alpha=100);
transition: linear; }
.rowE .next { background-position: 0 -200px; right: 45%; }
.rowE .next:hover { background-position: 0 -256px; }
.pic_con { width: 1400px; padding: 10px; position: relative; margin-top: 100px; overflow: hidden; }
.pic_lists { float: left; width: auto; height: 400px; overflow: hidden; position: absolute; top: 0px; left: 0px }
.btn_change { width: 40px; height: 60px; position: absolute; text-indent: -9999px; cursor: pointer; }
.left_btn { background: url(../images/leftstop.jpg) no-repeat; top: 160px; left: 8px }
.right_btn { background: url(../images/rightstart.jpg) no-repeat; top: 160px; right: 10px }
.pic_content { overflow: hidden; height: 400px; width: 1300px; padding: 10px; position: relative; margin: 50px auto 0px }
.pic_content ul li { float: left; width: 312px; height: 400px; padding: 3px; text-align: center; margin: 0 0 0 8px; position: relative; overflow: hidden; }
.pic_content ul li p { height: 24px; line-height: 24px; color: #000; width: 313px; position: absolute; bottom: 2px; left: 2px; text-align: center; }
.pic_content ul li a img { width: 313px; height: 217px; cursor: pointer; transition: all 0.6s; z-index: -9999; clear: right; }
.pic_content ul li img:hover { transform: scale(1.1); }
.pic_content ul li span { width: 315px; height: 40px; line-height: 30px; background-image: url(../images/jindu.jpg); background-repeat: no-repeat; background-position: left bottom; font-size: 16px; color: #333; float: left; margin-top: 5px; text-align: left; }
.pic_content ul li span a { color: #494949; }
.pic_content ul li span .contact2 { font-size: 12px; line-height: 25px; color: #666; width: 315px; overflow: hidden; height: 44px; margin-top: 20px; }
/*固定的悬浮窗*/
.yb_conct { position: fixed; z-index: 9999999; top: 500px; right: -127px; cursor: pointer; transition: all .3s ease; }
.yb_bar ul li { width: 180px; height: 53px; font: 16px/53px 'Microsoft YaHei'; color: #fff; text-indent: 54px; margin-bottom: 3px; border-radius: 3px; transition: all .5s ease; overflow: hidden; }
.yb_bar .yb_top { background: #FE7D01 url(../images/fixCont.png) no-repeat 0 0; }
.yb_bar .yb_phone { background: #FE7D01 url(../images/fixCont.png) no-repeat 0 -57px; }
.yb_bar .yb_QQ { text-indent: 0; background: #FE7D01 url(../images/fixCont.png) no-repeat 0 -113px; }
.yb_bar .yb_ercode { /*height:200px;*/

background: #FE7D01 url(../images/fixCont.png) no-repeat 0 -169px; }
.hd_qr { padding: 0 29px 25px 29px; }
.yb_QQ a { display: block; text-indent: 54px; width: 100%; height: 100%; color: #fff; }
* { padding: 0; margin: 0; border: none; }
ul, ol, li { list-style: none; }
em, i { font-style: normal; }
a { text-decoration: none; color: #333; }
img { display: inline-block; border: 0 none; }
body { color: #333; font-family: 'Microsoft YaHei', Verdana, Arial, Helvetica, sans-serif; line-height: 20px; overflow-x: hidden; width: 100%; height: auto; font-size: 14px; }
.clear:after { content: '\20'; display: block; height: 0; clear: both; visibility: hidden; }
/*固定的悬浮窗*/
